[2018-09-16 10:02] CyberShadow opened #2 "urxvt very slow after d7cff56cad779ee30769ec6b1a78ebb0c23281b8"
Hi,

The commit d7cff56cad779ee30769ec6b1a78ebb0c23281b8 seems to have introduced a regression: urxvt font drawing becomes very slow. More specifically, urxvt with the font 7x13 and window size of about 1920x2160 takes about 300-500ms to draw its contents with `mc` running in it.

### Platform
Arch Linux (x64)

### GPU, drivers, and screen setup
RX Vega 64, AMDGPU drivers (Linux 4.18.7)

[2018-09-17 12:58] yshui commented on #2
@CyberShadow I do suspect that change can add overhead, but didn't expect it to be this bad.

I will look into it.

[2018-09-17 13:05] yshui commented on #2
@CyberShadow BTW, what is your compton configuration? I can't seem to directly reproduce the problem on my side.

[2018-09-17 13:06] CyberShadow commented on #2
Hmm, I use a shader for transparency, but I did not think it was important. I will try to reduce the configuration to a minimal one in which the problem manifests.

[2018-09-18 02:52] CyberShadow commented on #2
Hi,

I can reproduce the problem with the default (no arguments) configuration for Compton and urxvt.

If it helps, here's what urxvt's stack trace looks like while it's repainting:

[code]

Let me know if I can do anything to help diagnose this.

[2018-09-18 10:43] yshui commented on #2
@CyberShadow By default, do you mean you have an empty `~/.config/compton.conf`? Is urxvt transparent? Is the background blurred?

I tried `compton --config /dev/null` and nothing in my xrdb, but I can't reproduce this problem.

[2018-09-18 10:55] CyberShadow commented on #2
Yes, I just tested again with an empty `compton.conf` and the problem still happens.

I don't know if it matters, but I use i3 (i3-gaps).

Did you test with `mc`? The redraw speed seems to depend on what's in urxvt's window.

[2018-09-18 11:38] yshui commented on #2
@cybershadow yes, I tested mc.

I wonder if enabling vsync would help, is vsync previously enabled?

[2018-09-18 11:40] CyberShadow commented on #2
Sorry, I don't know. I'm using completely default video/X11 configuration (I don't have an Xorg.conf).

[2018-09-18 11:52] CyberShadow commented on #2
Sorry, if you mean the Compton setting, I just tried all 6 listed in the configuration and saw the same result.

[2018-09-18 13:32] yshui commented on #2
@CyberShadow I tried to make urxvt transparent and blur the background, but I still can't reproduce this.

I will leave this open in case someone has something to add. If you want to sink some time into debugging this, that will be much appreciated. I will provide support if you want.

[2018-09-18 13:49] CyberShadow commented on #2
Okay, I know a little bit about X11 programming so I could have a look.

Could you tell me a bit more for why d7cff56cad779ee30769ec6b1a78ebb0c23281b8 is needed? And, is there a test case for it? Maybe I can find a way to fix it that doesn't result in slowness on my machine.

[2018-09-18 13:56] yshui commented on #2
@CyberShadow Basically, compton uses the damage event to determine when to update the screen. To detect damage of a window (or rather, a drawable), you create a damage attached to the drawable. There are several event report mechanism. Before d7cff56, the one used is "NonEmpty", which generates event when damaged region goes from empty to non empty. After getting this event, compton will clear the

[2018-09-18 14:27] CyberShadow commented on #2
I will have a look.

In the worst case, we can add an option.

But, if it is a problem in the X server, it should be fixed there...

[2018-09-18 21:40] yshui commented on #2
Indeed. But X is a much larger and scarier project to get into... I have made inquiries on xorg mailing list. I have yet to receive a reply.

[2018-09-19 07:31] CyberShadow commented on #2
Thanks for the explanation. With it, and after reading the code and Damage protocol spec, I think I understand the situation.

Here is what I found so far:

- Before the patch, I only get a few DamageNotify events per repaint.
- After the patch, I get a LOT (about 3220 with mc). What about you?
- Looking at the CPU usage while urxvt is repainting, I see Xorg is busy using 100% CPU on one core.
- H

[2018-09-19 09:59] yshui commented on #2
I tried removing those calls, but didn't get any error regarding DamageSubtract

Interesting how sending packets to the client needs to involve the GPU driver...

I guess it probably has to be ..

[2018-09-19 10:04] yshui commented on #2
@CyberShadow urxvt is somewhat an outlier nowadays. most program does their rendering and won't generate so many damage reports.

[2018-09-19 12:10] CyberShadow commented on #2
Should I make a PR to add the option?

We could even go as far as make it a per-window rule (`XDamageReportRawRectangles` for mpv, `XDamageReportNonEmpty` for urxvt)... but that's probably too much.

[2018-09-19 12:43] yshui commented on #2
@CyberShadow I'm looking for an alternative work around. It's not that nice to ask the user to choose between screen freeze and laggy windows.

[2018-09-19 12:44] CyberShadow commented on #2
Thanks, let me know if you find something.

[2018-09-19 21:08] yshui commented on #2
@CyberShadow Can you test this branch: https://github.com/yshui/compton/tree/lotta-damage ?

Probably won't work, but worth a try.

[2018-09-20 02:58] CyberShadow commented on #2
That is MUCH better (I can no longer see `mc` repaint), but it's still more sluggish than before d7cff56cad779ee30769ec6b1a78ebb0c23281b8.

Also, as I keep switching desktops in i3, it seems to randomly bug out and windows become invisible.

[2018-09-22 00:54] fungible commented on #2
@CyberShadow Have you tried using the options `--xrender-sync` and `--xrender-sync-fence`. I had the same issue running urxvt on Arch Linux. Setting these options seemed to have solved it for me.

[2018-09-22 06:26] CyberShadow commented on #2
Still slow with `xrender-sync = true; xrender-sync-fence = true;` in my `compton.conf`, though the redraws seem to be batched together a bit more.

[2018-09-22 13:45] yshui commented on #2
I investigated the original problem a bit more, and I thinking I am getting close to the real cause.

[2018-09-22 22:53] yshui commented on #2
@CyberShadow Can you try the `next` branch? I implemented the proper fix for screen freeze there.

(This branch also has some extra changes that might contain bug).

[2018-09-23 11:08] CyberShadow commented on #2
Wow, nice work finding the root of the problem and porting to XCB!

If I suspected the problem was in the communication between the X server and Compton I [could have lent a hand](https://github.com/CyberShadow/hax11).

As expected, the `next` branch works perfectly for me. Thanks!

[2018-09-23 16:51] yshui commented on #2
@CyberShadow Beware that that branch could crash quite often.

[2018-09-23 16:51] CyberShadow commented on #2
No problem. No crashes so far. I'll run it in gdb and get some stack traces if I run into any.

[2018-09-26 13:09] yshui commented on #2
Closing as this is fixed both in `next` and upstream.

[2018-09-26 13:10] #2 closed

[2018-09-28 09:46] yshui opened #4 "Shadow on bars"
Shadow of fullscreen window is drawn over docks and bars. This is unlikely what the user wants.

[2018-09-28 09:47] yshui opened #5 "Shadow across screen edge"
Shadow of window bleeds into adjacent screen, this looks wrong.

[2018-09-30 15:21] yshui opened #8 "Lag in glx backend"
### Platform

ArchLinux

### GPU, drivers, and screen setup

GTX 1060, single monitor

### Compton version

v1-57-g97cd342

### Compton configuration:

Reproducible with /dev/null

### Steps of reproduction

1. Start compton `--config /dev/null --backend glx`
2. Move a transparent window around

### Current Behavior

Xorg CPU usage shots up, and there is visible lag.

### Other details

Xrender do

[2018-10-01 02:37] dikiaap opened #9 "Disable shadow in i3wm tab mode"
### Platform
Ubuntu 18.04

### Compton version
git-v2-7-g038b07e-2018-09-30

### Expected behavior
I want to disable compton shadow in i3wm tab mode

![y](https://user-images.githubusercontent.com/8542502/46267081-7d52aa00-c55d-11e8-8d94-74d783040fb8.png)

### Current Behavior

![x](https://user-images.githubusercontent.com/8542502/46267079-7cba1380-c55d-11e8-9963-ca41d6c12d6d.png)

[2018-10-01 03:09] dikiaap commented on #9
I just doing `xrop` in i3wm tab mode and the wm class name shows `i3-frame`

By adding this config, it fixes this issue

[code]
I'm not sure this is the correct way to disable it, I don't know if this will have an impact on the performance.

[2018-10-01 03:17] #9 closed

[2018-10-02 09:21] Psykopear commented on #5
Have you tried the 'xinerama-shadow-crop' flag? https://github.com/chjj/compton/issues/137

[2018-10-02 10:02] yshui commented on #5
@Psykopear It works, thanks

[2018-10-02 10:02] #5 closed

[2018-10-02 22:42] yshui opened #11 "Noticeable lag when opening/closing windows"
### Compton configuration:

`--config /dev/null --backend glx`

### Steps of reproduction

1. Start compton
2. Go to Firefox
3. Start to play some video on webpage
3. Right click to open popup menu
4. Click to close popup menu

### Expected behavior

Video play smoothly

### Current Behavior

There is a noticeable frame loss when the popup menu opens/closes

[2018-10-02 23:22] yshui opened #12 "`--sw-opti` is broken when used together with `--benchmark`"
Use these two together without any `--vsync`, and with a low `--refresh-rate` can cause screen to be updated more frequent than the refresh-rate.

In `swopti_handle_timeout`, the timeout calculation is flawed. It can't handle the case when it's called with little time in between. Because `SWOPTI_TOLERANCE` makes it think those two calls are in the same refresh slot.

[2018-10-03 08:16] OrdinaryMagician commented on #4
I used to work around this with shadow-exclude-reg so it wouldn't cover my tint2, but it doesn't seem to have any effect anymore.

[2018-10-03 12:47] OrdinaryMagician opened #13 "--shadow-exclude-reg no longer works"
### Platform
Arch Linux x86_64

### GPU, drivers, and screen setup
NVidia GTX 1060, nvidia 410.57, single monitor, openbox + tint2

### Compton version
git-vNext-10-ge58de49-2018-10-02

### Compton configuration:
[code]

### Expected behavior

Shadows don't draw over the 20 top pixels of the screen (where my tint2 is)

### Current Behavior

Shadows still draw there (note: that's a shadow, my tint2

[2018-10-03 14:39] yshui commented on #13
Thanks for reporting! I will look into it ASAP.

[2018-10-03 20:53] OrdinaryMagician commented on #13
It works now, thanks.

[2018-10-04 13:12] l3nn4rt opened #15 "MATE+Compton badly move Gnome apps with keyboard shortcuts"
I submitted a bug at https://github.com/mate-desktop/marco/issues/414, but it may be related to compton, so I'll leave this here.

### Platform
Arch Linux x86_64

### GPU, drivers, and screen setup
Intel HD Graphics 630, i915 driver, one monitor

### Compton version
v2.0

### Compton configuration:
[code]

### Steps of reproduction
1. install MATE 1.20
2. check mate-desktop issue above

### Expect

[2018-10-04 13:40] yshui commented on #15
@l3nn4rt Did you check if this problem still happens without compton?

[2018-10-08 13:06] wooque opened #16 "Background flashes when switching to Chromium"
### Platform
Arch Linux amd64
i3-gaps 4.15

### GPU, drivers, and screen setup
Intel HD Graphics 5500
mode-setting driver, but it's the same with xf86-video-intel
one 1920x1080 monitor

### Compton version
v2.0

### Compton configuration:
Default one that comes with Arch except no-fading-openclose = true

backend = "glx";
glx-no-stencil = true;
glx-copy-from-front = false;
glx-swap-method = "undef

[2018-10-08 15:49] arcolinuxz opened #17 "compton.desktop reported to be broken?"
### Platform
ArcoLinux Xfce

### Compton version
v2.0

### Steps of reproduction
// If you can reliably reproduce this bug, please describe the quickest way to do so
// This information will greatly help us diagnosing and fixing the issue.

You can right menu click on the whiskermenu (once installed) and open menulibre to open/change the menu.
Out all applications only Compton.desktop is reported

[2018-10-09 21:56] yshui commented on #17
This is a packaging problem of your distro. They shouldn't change the `TryExec` value is the desktop file. Please report this bug to your distro.

[2018-10-09 21:56] #17 closed

[2018-10-10 04:38] arcolinuxz commented on #17
You are right this is your .desktop files
[code]

and this the one coming from Arch Linux
I suppose it is the  --xrender-sync-fence that triggers the message
[code]

[2018-10-10 08:57] l3nn4rt commented on #15
it happens with `compton` and `marco (adaptive compositor)` , but not with `compiz` 0.9 nor without compositor.

[2018-10-10 09:28] yshui commented on #17
@arcolinuxz I reported the bug on Arch bug tracker. Hopefully it will propagate to Arco as well.

[2018-10-10 09:31] yshui commented on #15
@l3nn4rt I think this is a window manager (macro) bug. compiz replaces your window manager so of course that works.

I will leave this open until it is confirmed upstream.

[2018-10-10 16:41] yshui commented on #17
@arcolinuxz https://bugs.archlinux.org/task/60363

[2018-10-10 16:43] tuyenpm9 opened #18 "terminal flicking when opened"
### Platform
archlinux latest

### GPU, drivers, and screen setup
intel

### Compton version
latest from aur compton-git 2:Next.r3.g9654d0b_2018.10.04-1

### Compton configuration:
[code]

### Steps of reproduction
I just want to disable compton on urxvt or exterm for example, completely.

[2018-10-10 16:50] yshui commented on #18
That's not possible, you either composite all windows or non of them.

Maybe I ask why do you want to do that?

[2018-10-10 17:20] tuyenpm9 commented on #18
I need compton to address tearing but it causes flick when I start wm with terminal, terminal has a flick when it appears.

Is there any options that can address flick?

[2018-10-10 17:30] yshui commented on #18
@tuyenpm9 it would be nice if you can provide a recording of the flickering

[2018-10-10 17:34] tuyenpm9 commented on #18
Fixed by adding this option `--unredir-if-possible false`,

Documented in archwiki but I ignored it. closed and remove refer linked.

[2018-10-10 17:34] #18 closed

[2018-10-10 17:38] yshui commented on #18
@tuyenpm9 `unredir-if-possible` is false by default, you must have that enabled somewhere in your configuration file.

[2018-10-10 17:43] tuyenpm9 commented on #18
@yshui I didn't use `.config/compton.conf`, are you sure it `false` by default with latest patches in https://aur.archlinux.org/packages/compton-git/?

[2018-10-10 17:45] tuyenpm9 commented on #18
Just test again and it still works perfect only explicitly has this in `.xinitrc`: `compton --unredir-if-possible false <other options>`

[2018-10-10 18:42] tuyenpm9 commented on #18
I think I should use "one time blink" instead of flick.

[2018-10-10 20:59] yshui commented on #18
@tuyenpm9 I see. That is odd, I will look into this.

[2018-10-11 02:54] tuyenpm9 commented on #18
For more information, I start terminal in fullscreen mode. So archwiki does help.

[2018-10-11 19:20] tuyenpm9 commented on #18
`--unredir-if-possible false` is wrong parameter in command line, so it failed and compton weren't invoked.

I incured blink when invoke compton in `.xinitrc`, it happened less with this command `compton --backend glx` and strong blink/flick when add more options.

Does we have solution for this issue, flick when invoke compton in terminal, calling in wm would help?

[2018-10-16 15:21] BurhanDanger opened #19 "Visual Artifacts on certain gtk window"
### Platform
Archlinux

### GPU, drivers, and screen setup
GPU, drivers, and screen setup: i915 (intel i5-4210U CPU @ 1.70GHz)
modsettings
i3 on xorg(xorg-server 1.20.1-1), mesa 18.2.2-1

### Compton version
v3-rc1-3-gf84336a ( compton-git 2:566_Next.1.gf84336a_2018.10.16-1 )

### Compton configuration:
N/A

### Current Behavior
On **Floating mode** in **i3** windows xp like Visual Artifacts can b

[2018-10-16 15:31] OrdinaryMagician opened #20 "Flickering trails when dragging windows"
### Platform
Arch Linux x86_64

### GPU, drivers, and screen setup
NVidia GTX 1060, nvidia 410.57, single monitor.

### Compton version
git-v1-103-gaa2098e-2018-10-13

### Compton configuration:
[code]

### Steps of reproduction
1. Build from any commit since aa2098e
2. Drag a window around

### Expected behavior
No artifacts or trails on window dragging

### Current Behavior
Window leaves a flick

[2018-10-16 15:47] yshui commented on #20
Possibly a duplicate of #19

[2018-10-16 16:09] OrdinaryMagician commented on #20
Ah, I guess that issue got opened while I was writing mine, oops.

[2018-10-16 16:20] yshui commented on #20
@OrdinaryMagician Can you try `v3-rc2`?

[2018-10-16 16:21] yshui commented on #19
@BurhanDanger Can you try `v3-rc2`?

[2018-10-16 16:32] BurhanDanger commented on #19
It look ok with that.

[2018-10-16 16:32] #19 closed

[2018-10-17 08:11] Anthony25 opened #21 "Ask chjj to be the new maintainer of compton"
Hi @yshui,
As your fork seems to be really active and fixes a lot of bugs and performance issues that compton has, did you have asked @chjj to be the new maintainer of compton?

If you want to continue to maintain compton in the near future, it would be really beneficial for the community, as his repo has more users than yours.

Thanks a lot for your work!

[2018-10-17 08:33] OrdinaryMagician commented on #20
That fixed it, thank you.

[2018-10-17 08:33] #20 closed

[2018-10-17 09:14] yshui commented on #21
@Anthony25 One good thing of the open source community is that you don't need someone's permission to become the "maintainer" of something ;)

[2018-10-17 09:15] #21 closed

[2018-10-18 04:53] tuyenpm9 opened #22 "Leave images in spaces when moving window using sxhkd"
### Platform
newest archlinux system, up-to-date

### GPU, drivers, and screen setup
intel hd630

### Compton version
`compton --version`:
v3-rc1-3-gf84336a

### Compton configuration:
I tested with:
[code]

### Steps of reproduction
setup sxhkd with `wmv` and you will see images saved in background of spaces that the window is just moved out, like not respond of windows xp when you moving not res

[2018-10-18 08:11] yshui commented on #22
Duplicate of #19 #20. Fixed is v3-rc2.

[2018-10-18 08:11] #22 closed

[2018-10-20 12:33] ubone opened #23 "[Feature Request] Dim all background"
[from](https://github.com/chjj/compton/issues/470)

Compton version: v0.1_beta2.5

[Compton configuration](https://git.archlinux.org/svntogit/community.git/tree/trunk/compton.conf?h=packages/compton)

### Current Behavior
Compton dims inactive windows and does not dim:
* the root X window
* the active window if a new window is invoked from it

#### Example
1. open Leafpad
1. click Help > About

##

[2018-10-20 14:03] yshui commented on #16
Can you try setting `unredir-if-possible` to false?

[2018-10-20 14:17] yshui commented on #17
@arcolinuxz Arch updated its package.

[2018-10-20 14:49] arcolinuxz commented on #17
yes thanks - have seen it - I can report that it works now - no more errors

[2018-10-20 15:02] yshui commented on #16
@wooque OK, just want to be 100% sure. Can you run `compton --config /dev/null --backend glx`, and see if it still happens?

[2018-10-20 15:29] wooque commented on #16
@yshui yes, it still happens

[2018-10-20 16:34] wooque commented on #16
@yshui
I have disabled titlebars and borders if there is only one app in workspace, so app fills whole screen except status bar which is on top.
Relevant i3 config
[code]
Try this

[2018-10-20 16:36] wooque commented on #16
Also I noticed the same in the past when switching workplaces in XFCE

[2018-10-20 16:55] yshui commented on #16
I have tried setting the chromium window fullscreen, and didn't notice the flash.

I have `smart_borders on`, but chromium still have a title bar when it's the only window.

[2018-10-20 16:58] wooque commented on #16
default_border pixel 1, will get rid of titlebar.

[2018-10-20 17:40] wooque commented on #16
https://drive.google.com/open?id=1irB1a3PxDJo_-CyPSw6KRQSqKD6uFB8Z

[2018-10-20 17:48] wooque commented on #16
Without fading
https://drive.google.com/file/d/1uc-RODLyVdi2jBpsOQMStsODDncG-yJe/view
With fading
https://drive.google.com/file/d/1K6sshHi36FK9t7uc5HJhqjvz5_RRLFbT/view

[2018-10-20 18:13] yshui commented on #16
@wooque I see. However this is somewhat unavoidable. Performance improvements might make this less obvious, though.

Also, the xrender backend might work a little bit better.

[2018-10-20 21:45] anonaii opened #24 "Error on compilation"
### Platform
Kubuntu Desktop 18.04 amd64

### Expected behavior
After installing all the dependencies, it would take a little bit and compile fine

### Current Behavior
It spits out the this [error](https://pastebin.com/raw/daqzBnfx)

[2018-10-20 22:12] yshui commented on #24
It seems to compile fine. Were you not able to find the binary?

[2018-10-20 23:48] anonaii commented on #24
Oh wait, I'm dumb. I thought the warnings were straight up errors, plus the binary was in build/src rather than build/bin

[2018-10-20 23:48] #24 closed

[2018-10-21 19:01] Anthony25 commented on #21
Of course, but it wasn't the meaning on my issue. Here you are in a situation where all distributions base their packaging on the @chjj repository, which already has a quite big community. I can't say for sure that @chjj would accept to give you his repository, but as it seems to be unmaintained, I doubt he wouldn't regarding the work you already did on compton.

I don't really understand your ans

[2018-10-21 19:28] yshui commented on #21
@Anthony25 I got your point, but let me ensure you there is no need to do that. Some distros have already picked up this repo, among them, most notably, is Arch Linux. And I fully expect others to follow suit.

[2018-10-21 19:35] Anthony25 commented on #21
Ok, thanks for you answer ;)

If I can help to contribute, I certainly will.

[2018-10-22 08:45] Streetwalrus opened #25 "Poor performance when vsync is enabled"
### Platform
Arch Linux

### GPU, drivers, and screen setup
Radeon RX580, amdgpu

### Environment
i3-git

### Compton version
Latest -git (v3-rc2-3-ga47f112 as of this writing)

### Compton configuration:
[code]

### Testing
The following vsync modes were tested, with `GALLIUM_HUD=fps` to have real numbers to compare:
- `opengl-swc`/`opengl-mswc`: massive stutter when dragging windows even though

[2018-10-22 11:46] yshui commented on #25
So opengl-swc **does** work? I will file this under performance problems.

Also, do you still get tearing with openly vsync?

[2018-10-22 12:11] Streetwalrus commented on #25
opengl and drm vsync do work for the most part but there is a consistent tear near the top of the screen that is noticeable if you really look for it. swc/mswc give me perfect vsync but terrible performance.

[2018-10-22 12:43] yshui commented on #25
I am aware of the performance problem with moving windows in opengl, and am actively trying to solve it.

Although that might take a long while given the manpower we currently have or lack thereof.

[2018-10-22 12:47] Streetwalrus commented on #25
It doesn't make sense though, like I said without vsync I'm seeing near 1000 fps figures.
I appreciate the effort you're putting in to fix things up, I've looked into it myself and decided it'd be less trouble to write a new compositor from scratch, but I don't have the motivation to work on it.

[2018-10-22 12:51] yshui commented on #25
I agree with you on that one. That's why I'm trying very hard to refactor the code so it could be easier to contribute to this project.

[2018-10-24 05:31] jm33-m0 opened #26 "windows lag behind mouse cursor when being dragged"
### Platform
Arch Linux

### GPU, drivers, and screen setup
Intel UHD Graphics 620, two monitors configured side-by-side with xrandr

### Compton version
v2.0

### Steps of reproduction
1. drag a window
2. noticable window lag

### Expected behavior
windows should follow mouse cursor without too much lag

[2018-10-24 09:38] yshui commented on #26
What is your configuration?

[2018-10-24 09:56] jm33-m0 commented on #26
[code]

[2018-10-24 09:57] jm33-m0 commented on #26
this issue disappears if i set backend to xrender, so i guess it's because of glx backend

[2018-10-24 10:17] yshui commented on #26
This is probably a duplicate of #25. Can you try disabling vsync?

Also, if you have time, can you try to reduce the config file to a minimal one?

If my guess is right, then this config should be enough to trigger the problem:

[code]

[2018-10-24 13:37] jm33-m0 commented on #26
using no vsync makes things even worse, the culprit is glx without doubt (whatever vsync i use, with glx it just lags)

[2018-10-24 14:02] yshui commented on #26
That is interesting. Can you try `vblank_mode=0 compton --config /dev/null --backend glx`?

[2018-10-24 14:05] jm33-m0 commented on #26
yes, `vblank_mode=0` works, but just like using xrender, it brings back tearing

[2018-10-24 14:06] yshui commented on #26
So that means the problem indeed comes from vsync

[2018-10-24 14:09] yshui commented on #25
According to @jm33-m0, this also happens on intel card. Refer to #26 for details about his hardware and configuration.

[2018-10-24 14:09] #26 closed

[2018-10-25 05:57] tuyenpm9 opened #27 "[Q] Options to have window's appearance as windows10's window?"
`compton`'s options to have same effects as window on windows10 professional ver 1803?

[2018-10-25 08:46] tuyenpm9 commented on #27
Specific to have same `border` and `shape` settings.

![](https://i.imgur.com/Awg67Yw.png)

[2018-10-25 10:37] yshui commented on #27
I don't see how this is different from what compton looks like right now.

[2018-10-29 05:26] clapbr opened #28 "GTK window on KDE doesnt update when focus is lost"
### Platform
Manjaro Linux x86_64 unstable
### GPU, drivers, and screen setup
AMD RX 580 with latest mesa-git
### Environment
KDE Plasma with Compton as compositor
### Compton version
git-master and git-next have the issue
v2.0-2 (from official manjaro repo) doesn't
### Compton configuration:
Tried switching every config possible and bug still triggers, even with default everything
### Steps of re

[2018-10-29 08:58] dikiaap opened #29 "Build compton without asciidoc"
### Platform
Ubuntu 18.04

### Compton version
Master build

### Steps of reproduction
asciidoc has a lot require packages (800+ mb). So I went to install via `apt-get --no-install-recommends install asciidoc` for smaller packages. The log from ninja-build

[code]

[2018-10-29 11:55] #29 closed

[2018-10-29 11:55] yshui commented on #29
Fixed in `next`. You can set `build_docs` build option to false to disable docs.

[2018-10-29 12:19] ChrisLahaye opened #30 "Screen becomes empty"
Thank you for your great work. Please let me know if I can help by providing any additional information or performing tests.

### Platform
Linux arch 4.18.16-1-ck-skylake #1 SMP PREEMPT Sat Oct 20 08:37:58 EDT 2018 x86_64 GNU/Linux

### GPU, drivers, and screen setup
[code]

### Environment
XFCE4

### Compton version
v3 and v3-rc2-16-g06d8792

### Compton configuration:
Default configuration and /

[2018-10-29 12:29] yshui commented on #28
Does compton print out anything when you do that?

[2018-10-29 12:36] yshui commented on #30
Have you tried the glx backend?

[2018-10-29 12:59] yshui commented on #30
OK, there seems to be some problem in the window stacking code. I will look into it.

[2018-10-29 13:03] ChrisLahaye commented on #30
Yes, same results

Thank you, well appreciated

[2018-10-29 13:10] yshui commented on #30
What happens when you have more windows open? What window manager are you use? (I was assuming xfwm4).

[2018-10-29 13:30] ChrisLahaye commented on #30
I am indeed using xfwm4. I get the same results independent of the number of windows or screens.

In the screen recording, the first part is without configuration, here it disappears instantly (same as with the shipped configuration sample). The second part is with my own configuration (https://gist.github.com/ChrisLahaye/1f11ce1d1748889064df1010254984ce), here it disappears when opening an overla

[2018-10-29 13:53] yshui commented on #30
I cannot reproduce this on a new xfce4 install. So I'm afraid you will have to help me debugging this issue.

Can you run `xwininfo -root -tree` before running `compton --config /dev/null`, and paste the output here? Please also include compton's output.

[2018-10-29 13:58] dikiaap commented on #29
Awesome. Thank you!

Is this the correct way to disable it?
`meson --buildtype=release . build -Dbuild_docs=false`

[2018-10-29 14:09] ChrisLahaye commented on #30
Output of `xwininfo -root -tree`: [tree.txt](https://github.com/yshui/compton/files/2525548/tree.txt)
Output of `compton --config /dev/null`: `restack_win(0x03e00eea, 0x02e08277): Failed to found new above window.` and then the screen becomes empty.

[2018-10-29 14:51] yshui commented on #30
A wild guess, but if you kill `xfce4-panel` (which will kill your panel) before starting `compton`, does it still happen?

Also what happens if you kill `redshift` before starting `compton`?

[2018-10-29 14:57] clapbr commented on #28
nope, 0 errors

Electron-based apps and chromium seems unaffected. They use GTK indeed, but they are a ultra special case considering how complex their rendering engine is.

All interactions between KDE look normal. I use a few simple GTK3 apps and they all have the issue. I can test gnome soon but I am a bit busy atm.

**Important update:** Not sure why when I tested a couple days ago both backen

[2018-10-29 15:00] yshui commented on #29
@dikiaap yes.

[2018-10-29 15:01] yshui commented on #28
This is a very useful information, thanks.

[2018-10-29 15:50] ChrisLahaye commented on #30
Same results with xfce4-panel and redshift killed.

[2018-10-29 16:33] yshui commented on #28
I can reproduce this locally now.

It does trigger, it's just when the preview window closes, the gtk window is refreshed.

[2018-10-29 16:50] clapbr commented on #28
Hmm true, just tested it.

Btw, maybe you can bisect it against the version that doesnt show this bug (v2), not familiar with the code to know how much changed since that.

[2018-10-29 17:15] #28 closed

[2018-10-29 17:15] yshui commented on #28
@clapbr The head of `next` should fix this problem. Can you test?

[2018-10-29 17:33] clapbr commented on #28
Fixed indeed. Thanks a lot, that was fast as the new compton!

[2018-10-29 21:50] ChrisLahaye commented on #30
[log.txt](https://github.com/yshui/compton/files/2527223/log.txt)
As attachment the log. Thanks again

[2018-10-30 10:09] aufkrawall commented on #25
Perhaps you are experiencing this bug?
https://bugs.freedesktop.org/show_bug.cgi?id=106175
It needs to be fixed in amdgpu kernel driver, as it's a general problem with xorg pageflipping + hardware cursor and amdgpu.dc.

As a workaround, you can set "amdgpu.dc=0" as kernel parameter, unless you have Vega or Raven Ridge GPUs that aren't supported by old legacy dc.
It should work normally with GLX ba

[2018-10-30 10:18] aufkrawall commented on #11
Is this with Nvidia driver? It has a broken Xorg performance "by design" which makes its stutter every time some new window element appears. That even happens completely without any compositor, and doesn't happen with AMD or Intel Mesa drivers.

[2018-10-30 11:20] yshui commented on #11
@aufkrawall I am using Nvidia, but I didn't notice this stutter without compton running.

[2018-10-30 11:56] yshui commented on #30
@ChrisLahaye from the log file I can see compton did try to paint something, somehow nothing is painted on screen....

You said this happen on GLX as well, right? So if you are familiar with [apitrace](https://github.com/apitrace/apitrace), could you use that to capture a trace of compton with the GLX backend? (It will capture all window content, so don't open too many windows to minimize the size

[2018-10-30 12:03] aufkrawall commented on #11
It gets very obvious when having this site opened in browser
https://www.vsynctester.com/
and then open some dialogues etc. With Nvidia, I even get stuttering when I hover the mouse cursor over elements of my shell which show next pop ups etc.

[2018-10-30 12:14] ChrisLahaye commented on #30
[compton-next.trace.log](https://github.com/yshui/compton/files/2529542/compton-next.trace.log)
[compton-debug.trace.log](https://github.com/yshui/compton/files/2529543/compton-debug.trace.log)

As attachment the traces. Did my best to minimize the size.

[2018-10-30 13:42] yshui commented on #30
Sorry, do you happen to capture `compton`'s output when you captured these traces?

[2018-10-30 14:17] xyproto opened #31 "Message is printed repeatedly: 'delayed_draw_callback(): 0.000000'"
Hi,

I'm maintaining the compton package for Arch Linux, and someone reported this bug: https://bugs.archlinux.org/task/60647

Feature request:

Could the `delayed_draw_callback()` messages be less verbose, or silenced?

The default Arch Linux configuration for compton does not trigger the message, but many people will upgrade compton and continue to use their old configuration which does trigger

[2018-10-30 15:03] yshui commented on #31
This is fixed in `next` branch.

For time being I would suggest you to not use `swopti`. Sorry for the inconvenience.

[2018-10-30 15:03] #31 closed

[2018-10-30 15:38] yshui commented on #30
If you are going to do the capture again, could you do the following things at the same time:

* Run under `apitrace` and get the trace
* `--config /dev/null --backend glx`
* Build from `debug-30` (it is updated with a few more commits)
* Capture the outputs of `compton`

Thanks!

[2018-10-30 16:30] xyproto commented on #31
And thanks for maintaining compton! :)

[2018-10-30 16:40] yshui commented on #31
@xyproto Hmmm. The bug report is a bit confusing. Is he complaining about the flickering (sounds like a bug), or is he complaining about the debug message?

The latter should definitely be solved by disabling `swopti`, the former needs more investigation....

[2018-10-30 16:48] xyproto commented on #31
When testing here, the debug message is gone and things look ok (at least to me) when using the next branch.

The experiences are guaranteed to differ depending on the system configuration, though.

[2018-10-30 17:29] yshui commented on #31
@xyproto it would be really nice if you can get him to file a bug here for the flickering problem, so we can get more details on that.

[2018-10-30 18:12] osleg opened #32 "Kawase blur"
Is it possible to have kawasi blend mode with your fork?
https://github.com/tryone144/compton

[2018-10-30 18:17] piperfw opened #33 "Flickering and rendering issues; non-functional (Nouveau)"
### Platform
Arch Linux (4.18.16-arch1-1-ARCH)

### GPU, drivers, and screen setup
- NVidia GTX 670,
- xf86-video-nouveau and mesa (OpenGL)
- Two monitors configured side-by-side with xrandr

### Environment
- i3-wm

### Compton version
v3-rc2-18-gc0d7f9d

### Compton configuration:
Default

### Steps of reproduction
1. Start compton

### Expected behaviour
composite manager runs and provides comp

[2018-10-30 18:45] tryone144 commented on #32
My latest code (the [improved_fbo](https://github.com/tryone144/compton/tree/improved_fbo) branch) is based on commit 316eac0613bf342ff91cc645a6c3c80e6b9083fb and already includes some rendering changes.

I will look into your `next` branch when I find some time. It looks like you moved some opengl related code around, so rebasing might take a while. Once this is done I can post a pull-request.

[2018-10-30 18:48] piperfw commented on #33
I am using the default configuration file, `compton.conf`, that comes with the arch linux package, and am running compton with either `compton` or `compton -b` (daemon) from a terminal.

I have tried `--sw-opti` and `--unredir-if-possible`, to no effect.

[2018-10-30 18:51] yshui commented on #32
@tryone144 So I am in the process of moving all backend related code into separate modules, but that is coming along slowly. Apparently that is going to cause more conflicts. So for users' best interesting it is better to merge your code in first. But that will make my job harder.

What do you think is the better way to do this?

[2018-10-30 18:54] yshui commented on #33
What happens when you start compton with `compton --config /dev/null`, `compton --config /dev/null --backend glx` ?

[2018-10-30 19:09] piperfw commented on #33
The issue is not present when using `compton --config /dev/null`.

`compton --config /dev/null --backend glx` immediately blacks out the entire display, and then the flickering appears to return.

[2018-10-30 19:30] yshui commented on #33
If that is the case, a workaround for now will be using the xrender backend.

Did this issue happen with earlier version of compton (v2 for example)? Are you familiar with git enough to do a bisect?

When you test earlier versions of compton, remember to use `--backend glx --config /dev/null`,

[2018-10-30 19:32] yshui commented on #33
Sorry for closing, didn't mean to.

[2018-10-30 19:52] tryone144 commented on #32
@yshui Currently my fork contains both blur methods, which will result in at least twice the amount of work needed when you start refactoring more opengl stuff. I basically duplicated most of the shader generation and rendering code.
Furthermore, I changed both blur methods to use one or more global screensize fbos to improve performance in the *dual kawase* mode. This meant some changes to the gl

[2018-10-30 19:53] piperfw commented on #33
This issue has never occurred before with v2. I am not familiar with bisect, but can tell you the last good/first bad commit on the arch community repository ([packages/compton View Changes])(https://git.archlinux.org/svntogit/community.git/log/trunk?h=packages/compton): upgpkg: compton 2.0-2 (10 days ago) was fine, upgpkg: compton 3.0-1 (24 hours ago) was bad.

I can downgrade and test v2 with `-

[2018-10-30 20:20] yshui commented on #33
Yes, that would be useful.

[2018-10-30 20:29] piperfw commented on #33
v2.0 worked with `--backend glx --config /dev/null` no issues.

[2018-10-30 20:42] osleg commented on #32
If I might suggest...
AFAIK the old blur method is not used by majority of people since it kind bad -ish.
So removing the old blurring method sounds like a good idea to me.

Just my few cents.
Unfortunately I'm supper rusty in C and don't have much free time to help :(

[2018-10-30 21:20] clapbr commented on #25
The situation on this issue for me (on a RX580) is improved a lot with the latest AMD kernel https://cgit.freedesktop.org/~agd5f/linux/log/?h=drm-next-4.21-wip and mesa-git - So even if you cant or dont want go unstable the improvements might hit stable in a few months when kernels 4.20-4.21 and mesa 18.3 release.

[2018-10-30 21:50] jeLee6gi opened #34 "Flickering and rendering issues (intel)"
### Platform
Archlinux 4.18.16-arch1-1-ARCH

### GPU, drivers, and screen setup
Intel HD 5500, xf86-video-intel 1:2.99.917+853+g0932a6b3-1, mesa 18.2.3-1

### Environment
qtile-python3

### Compton version
v3-rc2-18-gc0d7f9d

### Compton configuration:
[code]

### Steps of reproduction
1. Run compton v3 with my config

### Expected behavior
Compton fades windows in and out and does vsyncing

### C

[2018-10-30 22:02] yshui commented on #34
Can you confirm whether `backend = "xrender"` works fine?

[2018-10-30 22:04] yshui commented on #34
And, if you are able to build from source and run, can you test commit 56f7dd36, and see if that works?

[2018-10-30 22:07] jeLee6gi commented on #34
I get no artifacts with my config and `backend = "xrender"`

[2018-10-30 22:22] jeLee6gi commented on #34
I'm sorry but I'm confused, how do you build https://github.com/yshui/compton/commit/56f7dd36f618daf0b38ae37f489e6a3c2d3e1655? It does not contain meson.build files.

[2018-10-30 22:24] yshui commented on #34
@jeLee6gi That commit is before the meson conversion. You build it by running `make`.

[2018-10-30 22:51] hertzhaft commented on #33
I can confirm the same issue. Occurred first with last Arch Linux update, v. 3.0.1, created 2018-10-29. Returning to --backend xrender fixes the issue.
Linux version 4.18.16-arch1-1-ARCH
lspci -k | grep -A 2 -E "(VGA|3D)"
01:00.0 VGA compatible controller: NVIDIA Corporation GT218M [GeForce G210M] (rev a2)
	Subsystem: Acer Incorporated [ALI] GT218M [GeForce G210M]
	Kernel driver in use: nouveau

[2018-10-30 22:57] aufkrawall commented on #25
I already tried drm-next-4.21-wip a few days ago and it unfortunately didn't help with my issue.

[2018-10-30 23:05] ChrisLahaye commented on #30
`apitrace trace compton --config /dev/null --backend glx > output.log`
[output.txt](https://github.com/yshui/compton/files/2531987/output.txt)
[compton.trace.txt](https://github.com/yshui/compton/files/2531988/compton.trace.txt)

Thanks again for your efforts

[2018-10-30 23:06] yshui commented on #33
I have some guesses. Can you record a trace of `compton --config /dev/null --backend glx` use apitrace? Thanks.

[2018-10-30 23:06] yshui commented on #34
I have some guesses. Can you record a trace of compton --config /dev/null --backend glx use apitrace? Thanks.

[2018-10-30 23:28] yshui commented on #33
And if you can, can you record a trace of compton v2 as well? So we can compare.

[2018-10-30 23:29] yshui commented on #34
And if you can, can you record a trace of compton v2 as well? So we can compare.

[2018-10-30 23:36] jeLee6gi commented on #34
I made a mistake earlier, https://github.com/yshui/compton/commit/56f7dd36f618daf0b38ae37f489e6a3c2d3e1655 still has artifacts for me. I don't get flickering but windows are not redrawn. I accidentally ran it with the `xrender` backend before, my bad.

Here are the logs for v2 and v3, I tried to keep them short, I hope they are long enough

[compton_v2.trace.log](https://github.com/yshui/compton/f

[2018-10-30 23:41] yshui commented on #34
@jeLee6gi As long as the flickering happened when you were capturing the trace, it is good.

[2018-10-30 23:50] yshui commented on #34
That seems to be a different issue. I will take that as 56f7dd3 fixes the flickering, but has another bug (which is likely to have been fixed by now).

[2018-10-31 00:00] aufkrawall commented on #25
Thanks for your help. Yes, I tried that in the past. It looks fine at first and also has less input lag.
But: After some time I noticed that there is a very small stripe of tearing at the very top of the screen. It basically leads to the same result as turning off pageflipping in xorg config.

One other ugly workaround would be to turn off the hardware cursor. Then we can move windows without stut

[2018-10-31 00:09] yshui commented on #30
No, thank you for sticking with me.

But sorry, I wasn't clear enough. You need to capture the output with `>output.log 2>&1`, otherwise you loss everything printed on stderr.

[2018-10-31 00:15] yshui commented on #25
This blows my mind. How is hardware cursor involved in this?

[2018-10-31 00:34] clapbr commented on #25
I think I know which small stripe you're talking about, it indeed used to happen for me after some time specially if you open/close/open some windowed videos but in this current setup it hasnt happened for me yet. I think our best option is to make AMD fix it entirely since other compositors that used to work fine are also in a bad state (kwin comes to mind, which for me is not even as tweakable t

[2018-10-31 00:46] jeLee6gi commented on #34
Looking at my xorg.conf again was a good lead, I had modified mine according to https://wiki.archlinux.org/index.php/intel_graphics#Tearing and https://wiki.archlinux.org/index.php/intel_graphics#DRI3_issues so it looked like this.

[code]

I took out the fallback to DRI 2 and it seems like it fixes the visual glitches and redraw issues with compton v3 on my end. I do see the problems I had with D

[2018-10-31 00:52] yshui commented on #34
Hmmm. So you trace of v2 and v3 looks basically the same. Plus using DRI 2 instead of DRI 3 fixes the problem. I would call this a hardware/driver problem.

Instead of fiddling with how compton uses opengl to find a workaround, I suggest you rise this issue with intel developers, and see if they have better ideas. (And you should report the DRI 3 issue too)

I will keep this issue open in the mean

[2018-10-31 00:57] yshui commented on #33
Got a lead from #34. What do your xorg.conf/xorg.conf.d look like?

[2018-10-31 01:28] jeLee6gi commented on #34
I agree, it sounds like a driver problem now. Thank you for helping me debug this issue, it works for me and from my side this issue is resolved. If I learn more about this issue I will reply in this thread.

[2018-10-31 03:03] clapbr commented on #25
Comment from dev about the HW cursor issue https://bugs.freedesktop.org/show_bug.cgi?id=106446#c2

[2018-10-31 07:10] piperfw commented on #33
Aside from a keyboard config file (`00-keyboard.conf`), I believe that I am using the default configuration files supplied by arch, which I've attached for reference (`10-quirks.conf `,  `40-libinput.conf` - the only files in `/usr/share/X11/xorg.conf.d/`). I start the Xorg server using xinit.

[00-keyboard.conf.txt](https://github.com/yshui/compton/files/2533109/00-keyboard.conf.txt)
[10-quirks.c

[2018-10-31 08:57] ChrisLahaye commented on #30
Oops

`apitrace trace compton --config /dev/null --backend glx 2>&1 > output.log`
[output.txt](https://github.com/yshui/compton/files/2533391/output.txt)
[compton.trace.txt](https://github.com/yshui/compton/files/2533392/compton.trace.txt)

[2018-10-31 10:34] yshui commented on #30
@ChrisLahaye Sorry, but the order of redirection is important. It has to be `>output.log 2>&1`, not `2>&1 > output.log`

[2018-10-31 10:58] yshui commented on #33
OK. Hmm, I don't see anything suspicious in those config...

Were you able to get a apitrace though?

[2018-10-31 12:33] ChrisLahaye commented on #30
Ugh didn't know the difference, should have just followed the instructions :+1:

`apitrace trace compton --config /dev/null --backend glx >output.log 2>&1`
[compton.trace.txt](https://github.com/yshui/compton/files/2534282/compton.trace.txt)
[output.txt](https://github.com/yshui/compton/files/2534283/output.txt)

[2018-10-31 13:08] piperfw commented on #33
Let me know if these are what you want. I wasn't sure how to pass `--config /dev/null --backend glx` to compton when using apitrace. If this is important let me know how and I will re-do them.

[comptonV2.trace](https://drive.google.com/open?id=1LXiB3UILc8m6yQd0ENmittgFDBi7SoDN)
[comptonV3.trace](https://drive.google.com/open?id=1DeucwKW8HbjhAJ6a1WoehB4CK4DQQb42)

[2018-10-31 13:48] hiciu commented on #33
I'm having the same issue. It looks like this: https://a.uguu.se/6ldCwZGaMQyq.mkv.

i3, nouveau, nvidia gtx760, two monitors configured with xrandr. Doesn't happen with only 1 monitor.

At the same time xcompmgr works just fine. Starting git bisect now.

[2018-10-31 13:56] yshui commented on #33
@hiciu The bad commit you find will probably be 28a2cc62fa7d

[2018-10-31 14:02] hiciu commented on #33
I might be doing something wrong, but compton built from source works just fine..? I have no issues with 46a6a39, db700f9, and other commits up until d7b5104.

I'm testing with:

[code]

[2018-10-31 14:14] hiciu commented on #33
I just rebuild this package: https://www.archlinux.org/packages/community/x86_64/compton/ with makepkg and it works just fine, I have no issues... It looks like only binary package in arch repos is broken?

@piperfw, could you confirm? You can rebuild that package with:

[code]

@yshui sorry for wasting your time, I'll follow up on that with our package maintainers.

[2018-10-31 15:22] hiciu commented on #33
OK, after second git bisect I have 967d9f32eaadb64961ec6638cc478ca3403b0329 as a last good commit and 7af815a0aaaffc02e114e1d0adccb5f87dcc3548 as a first bad one. This time I rebooted and tested it again, to be sure.

[2018-10-31 15:53] yshui commented on #33
@hiciu So you are saying the head of `next` works just fine? Or is `v3` working just fine?

That is really weird, since that commit changes nothing about what compton does, it just switched to xcb for event handling.

[2018-10-31 16:09] y-salnikov opened #35 "Fluxbox submenus missing."
### Platform
Archlinux 4.18.16-arch1-1-ARCH

### GPU, drivers, and screen setup
NVIDIA GTX1050Ti NVIDIA Driver Version:410.66

### Environment
Fluxbox

### Compton version
v3-rc2-18-gc0d7f9d
### Compton configuration:
[code]

### Steps of reproduction
1. Place line ```compton &``` in ./fluxbox/startup
2. After boot open fluxbox menu (right click)

### Expected behavior
Opens menu with submenus.
##

[2018-10-31 16:33] yshui commented on #35
Can you test the latest `next` branch and see if it works?

[2018-10-31 16:59] hiciu commented on #33
Sorry about the confusion. Head of `next` was working for a while - I'm not sure why / how - but the issue came back after a reboot. I posted that one comment when I though it was working, before a reboot.

Right now d7b5104fd4d3e224ad56920fa5aca91762f9ff17 (current head of next) again works for me. But I'm 100% sure that if I reboot, it will break.

Yeah, that and fact that the issue is not occur

[2018-10-31 17:09] y-salnikov commented on #35
Compton from ```next ``` branch behaving the same. With xrender backend it work OK with minor artifacts like horizontal lines in menu.

[2018-10-31 17:16] hiciu commented on #33
And here, after a reboot: https://a.uguu.se/YpbGJqFOTo5l.mkv

1. I'm running d7b5104 (current head) - there are rendering issues,
2. I'm switching to 967d9f3 - no issues,
3. I'm switching to 7af815a - there again are issues.

I can't explain why it behaves the way it does. At this point I'm pretty sure this has nothing to do with compton.

[2018-10-31 17:43] yshui commented on #33
The way compton uses opengl has only very slightly changed. So if compton is using opengl wrong, it has being using opengl wrong all along. The fact it worked before, and works now with probably most of the drivers makes me think the way it uses opengl is fine.

OTOH, the communication pattern between X and compton has changed a bit, since we moved to xcb and eliminated the use of Xfixes. So, this

[2018-10-31 17:57] yshui commented on #35
@y-salnikov I tried your config file and can't reproduce the problem. What video driver are you using?

[2018-10-31 18:58] y-salnikov commented on #35
NVIDIA Driver Version:410.66 from repository.

[2018-10-31 19:58] y-salnikov commented on #35
![_2018-10-31_23-53-40](https://user-images.githubusercontent.com/5237022/47815073-c4080f80-dd68-11e8-9993-c07195bf37b4.png)
![_2018-10-31_23-56-12](https://user-images.githubusercontent.com/5237022/47815074-c4080f80-dd68-11e8-91d8-a8a64308a164.png)

[2018-10-31 20:21] yshui commented on #35
Ok, could you post your fluxbox config as well? I'll try to reproduce again.

[2018-10-31 20:37] clapbr commented on #25
Tried this xorg conf with glx and all --vsync options and it gets SIGNIFICANTLY better. at the cost of a little bit of input lag. HW cursor is definetely messed up somehow

Section "Device"
        ### Available Driver options are:-
        ### Values: <i>: integer, <f>: float, <bool>: "True"/"False",
        ### <string>: "String", <freq>: "<f> Hz/kHz/MHz",
        ### <percent>: "<f>%"
        #

[2018-10-31 21:05] y-salnikov commented on #35
[.fluxbox.tar.gz](https://github.com/yshui/compton/files/2536396/default.fluxbox.tar.gz)

[2018-10-31 22:17] ChrisLahaye commented on #30
@yshui cool thanks, let me know when you have updated the branch

[2018-10-31 22:38] yshui commented on #30
I updated the branch. This time you *don't* need to run `apitrace`

[2018-10-31 23:03] yshui commented on #35
So I unpack your .tar.gz into ~/.fluxbox, and then starts fluxbox. It looks different from you screen shot, and I still have trouble reproducing this bug.

It does look like a bug though, but not being able to reproduce it makes it harder for me to debug and fix... If you are willing to look into it I will provide all help I can.

[2018-11-01 03:31] tuyenpm9 commented on #34
I use integrated intel graphics too, I don't find any issue, no tearing at all.

[2018-11-01 03:44] tuyenpm9 commented on #11
I think this is kind of urgent issue, I have lag on `glx` driver:

steps:
1. open chrome
2. right click on empty space to open chrome pop-up --> feel no lag
3. open a url, right click on hyperlink --> feed lag/delay.

expected behavior:
right click on hyperlink on browser should not have any delay/lag.

[2018-11-01 06:37] osleg commented on #34
Integrated intel here as well, using modesetting driver instead of intel. No tearing, vsync works like a charm, also i <3 your config :)

[2018-11-01 08:50] y-salnikov commented on #35
There is absolute paths in init file. You need to replace /home/jarik/ to your home directory in couple of places.
I could try to look into but my knowledge of opengl limited to opengl 1 and X11 not better.

[2018-11-01 09:10] y-salnikov commented on #35
In tar.gz there is startup file in which  you should replace ```/home/jarik/bin/compton &``` to ```compton &```.
And i notice one more thing. When i place sleep before compton in startup file like ```sleep 10 && compton &``` all submenus become collapsed. So i think bug related to fluxbox startup process.

[2018-11-01 10:41] yshui commented on #35
@y-salnikov So, this does not happen if you start compton outside the fluxbox startup script?

[2018-11-01 11:55] tuyenpm9 commented on #34
@osleg : any benefits of using `modesettings` driver over `intel`?

[2018-11-01 11:57] ChrisLahaye commented on #30
[output.log.txt](https://github.com/yshui/compton/files/2538403/output.log.txt)

[2018-11-01 13:14] osleg commented on #34
Iirc Intel driver is deprecated long time ago by Intel

On Thu, Nov 1, 2018, 19:55 Tuyen Pham <notifications@github.com wrote:

[2018-11-01 14:38] y-salnikov commented on #35
It's seems  more weird than that. Bug happen when i start compton before accessing menu even outside of fluxbox script, but if i open menu before starting compton all works fine.

[2018-11-01 15:16] tuyenpm9 commented on #34
@osleg : I have hd630 but enable `modesetting` driver in /etc/x11... causing much tearing than intel, and according to packages page of archlinux, latest update of xf86-video-intel is 26-Oct-2018: https://www.archlinux.org/packages/extra/x86_64/xf86-video-intel/

Don't know what to think, even upsteam stop contribute, it seems opensource project and still something relevant and work for me.

@jeLe

[2018-11-01 15:53] osleg commented on #34
Yeah tearimg happens, there are some keys to fix that but tbh the only thing I use to prevent tearing is compton and it works like a charm 😉

[2018-11-01 15:56] y-salnikov commented on #35
No not fine, it display only submenus which was accessed before compton.

[2018-11-01 18:04] yshui commented on #30
Hmm, do you have any idea why all your window is considered transparent. Can't seems to find a reason why compton would do that...

[2018-11-01 18:14] yshui commented on #35
Ah, I can reproduce it now.

[2018-11-01 18:21] ChrisLahaye commented on #30
No idea, I generated the log and tried without any programs running. I will try later with another GTK theme, maybe the theme uses transparency?

[2018-11-01 18:30] yshui commented on #35
I think I understand what is the problem here.

[2018-11-01 18:55] tuyenpm9 opened #36 "[Q] exlucde nitrogen from compton"
While starting and it's setting desktop wallpaper, without no issue but with compton wallpaper splash in background before setting picture.

Like pixels been saved in between moving.

[2018-11-01 19:20] tuyenpm9 commented on #36
Just make nitrogen run before compton with `&&` operator.

[2018-11-01 19:20] #36 closed

[2018-11-01 20:52] yshui commented on #30
I don't think that is the case. This will be much easier if I can reproduce this bug, but now I guess I will have to add more debug prints.

I am going to implement proper logging and stuff so future bug reporters won't need to go through this again.

[2018-11-01 21:07] yshui commented on #35
@y-salnikov Current `next` should fix this bug, could you try it?

[2018-11-01 21:07] #35 closed

[2018-11-01 21:14] y-salnikov commented on #35
Yes, bug no longer present!

[2018-11-01 21:56] ChrisLahaye commented on #30
Checked if I used any transparency which was not the case and changing themes also didn't work.

[2018-11-02 11:20] yshui commented on #30
@ChrisLahaye I pumped the `debug-30` branch with more debug messages. Please give it a run when you got time.

[2018-11-02 12:30] ChrisLahaye commented on #30
@yshui

`compton --config /dev/null --backend glx >output.log.txt 2>&1`
[output.log.txt](https://github.com/yshui/compton/files/2542405/output.log.txt)

[2018-11-02 13:59] yshui commented on #30
You can either remove things like `-ffast-math` or `-Ofast` from your CFLAGS, or you can try the current head of `next`. That should fix you problem.

[2018-11-02 14:08] ChrisLahaye commented on #30
@yshui you are right, my compiler options enabled fast math, adding `-fno-fast-math` fixed it. How did you figure this out? Thanks a lot though I really appreciate your efforts to help me and the work you are doing.

[2018-11-02 14:12] yshui commented on #30
@ChrisLahaye So in the logs I see windows get opacity of `nan` even if I have `!isnan` guards in place. And that is usually related to `-ffast-math`.

[2018-11-02 14:12] #30 closed

[2018-11-03 10:07] aufkrawall opened #37 "Discussion of technical config settings"
At first: Thanks a lot for maintaining Compton, yshui. I don't know what I would do without it with free drivers and an Xorg session.

`glx-no-rebind-pixmap` It doesn't do any harm for me with proprietary Nvidia drivers and Mesa (RadeonSI). It doesn't increase performance in my benchmarks either. Perhaps it's only measurable with really slow GPUs? Safe to activate it by default, though?

`vsync` M

[2018-11-03 10:54] BurhanDanger commented on #23
Did I miss something? https://ptpb.pw/QazX

[2018-11-03 13:31] yshui commented on #37
First, thank you for sharing this information, it is very useful.

Problem is `opengl` does not seem to work for everyone, especially for those using the xrender backend. I agree we want vsync by default, but that would require some work.

Yes, `buffer-age` is the best option here. But some users have encountered problem with `buffer-age` before. I want to put in some kind of blacklisting based on

[2018-11-03 15:09] xversion1 opened #38 "Opacity-rule doesn't work"
// The template below is for reporting bugs. For feature requests and others, feel free to delete irrelevant entries.

### Platform
Arch Linux

### GPU, drivers, and screen setup
Intel, don't know, two monitors configured side-by-side with xrandr

### Environment
Openbox

### Compton version
// You can run `compton --version` to get that
v3-rc2-18-gc0d7f9d

### Compton configuration:
[code]

### S

[2018-11-03 16:16] yshui commented on #38
I can't seem to reproduce this issue. I tried your config, start vlc and then switch to another window, vlc is totally opaque.

[2018-11-04 10:02] xversion1 commented on #38
Could you try gthumb?

[2018-11-04 12:01] yshui commented on #38
@xversion1 You should use `100:class_i *= 'gthumb'` or `100:class_g *= 'Gthumb'` or `100:class_g *?= 'gthumb'`

[2018-11-04 12:01] #38 closed

[2018-11-04 20:33] yshui commented on #33
@hiciu Does this problem happen when you have only one monitor connected?

[2018-11-04 20:41] piperfw commented on #33
@yshui I just saw your comment and decided to try v3 after disconnecting my second monitor... No change - the rendering/flickering issue is still present with only one monitor connected, for me at least.

[2018-11-04 20:42] yshui commented on #33
@piperfw OK, at least we ruled out one of the possibilities.

[2018-11-04 20:50] yshui commented on #33
@piperfw BTW, was your screen flickering when you made the traces?

[2018-11-04 20:52] piperfw commented on #33
@yshui For v3, most definitely. I can re-do to confirm if necessary.

[2018-11-04 21:08] yshui commented on #33
@piperfw That is fine. Just to confirmed, you had terminal windows and firefox open when you were recording. And they are flickering, is that right? Do you have to scroll the page in firefox to make it flicker, or did it flicker without you doing anything?

Also, how much time did you record in the traces?

[2018-11-04 21:28] piperfw commented on #33
@yshui I believe I had terminal windows, a text editor and chromium open (I don't have firefox on my system). All were flickering severely. No scrolling, or interaction of any form for that matter, required.

For the v2 trace, I must have left it on for at least 30 secs-min. Then I saw how large the file was and ended up doing the v3 trace for probably less than 10 seconds.

It's possibly some rar

[2018-11-04 21:33] yshui commented on #33
@piperfw Ah, also, when you disabled your second monitor, did you just disconnect it? Did you actually disable it with xrandr?

[2018-11-05 09:46] yshui commented on #33
@piperfw can you try disabling it too?

Also, what is the version of Mesa you and @hiciu use?

[2018-11-05 17:20] tiiiecherle opened #40 "Very bad performance and lag in VirtualBox"
### Platform
archlinux in virtualbox

### GPU, drivers, and screen setup
vboxvideo

### Environment
openbox and mate

### Compton version
v3 with additional commits
[https://git.archlinux.org/svntogit/community.git/commit/trunk?h=packages/compton&id=611a4d7d3012745b7243df25e1036f0e50ec7f78](https://git.archlinux.org/svntogit/community.git/commit/trunk?h=packages/compton&id=611a4d7d3012745b7243df25

[2018-11-05 17:53] tiiiecherle commented on #40
Thanks for the fast answer. Yes, I just rechecked that `3.0-1` is working fine and `3.0-2` is not. Both with empty config file.

[2018-11-05 18:06] yshui commented on #40
@tiiiecherle OK, can you do a bisect between c0d7f9d915cb621 (bad) and 16f202f4a0fa6a4a1af6a0b1c519cf3758027c63 (good) then?

[2018-11-05 18:10] yshui commented on #40
@tiiiecherle BTW, do you have a video of what the lag looks like?

[2018-11-05 18:42] tiiiecherle commented on #40
sorry, I don`t know what that means or how to do that.

[2018-11-05 18:44] tiiiecherle commented on #40
No, I don`t. But for example you click on the openbox background and you can not use the opening window as it is selected not fast enough. moving around windows or opening apps is very slow.

[2018-11-05 19:11] yshui commented on #40
OK, then. Can you try 5694e759328e519ee4d48dfca8cd5f805c4ac671 and see if that works?

[2018-11-05 19:35] yshui commented on #40
@tiiiecherle can you try checking out compton from this repository at that commit, build it and run it?

[2018-11-05 20:19] piperfw commented on #33
@yshui Just tried disabling the second monitor (as well as disabling _and_ disconnecting). The issue persists.

`pacman -Qs mesa` tells me

[code]

[2018-11-05 20:36] yshui commented on #33
@piperfw Thanks a lot for the information.

[2018-11-05 23:42] tiiiecherle commented on #40
It would be very nice if you could give me the exact steps / commands how to do that.
Then I will try it out and report back tomorrow. Thanks

[2018-11-05 23:47] Anthony25 commented on #40
If you're running on Archlinux, install `compton-git` in AUR but edit the PKGBUILD to replace the source by this one:

[code]

[2018-11-06 17:26] jrudess opened #41 "Performance decrease from arch 2.0 -> 3.0 packages in vbox"
I use arch in a virtualbox VM on my work laptop.   With the chjj official repo, I can not get 3D acceleration working, and leave compton disabled at any resolution past 1920x1200 due to very low performance.   But starting with compton-2.0-1-x86_64.pkg.tar.xz acceleration started working, and my CPU usage dropped way down to 8% at 2560x1600 and no visual keyboard lag.

But with compton 3.0-1-x86_6

[2018-11-06 18:34] yshui commented on #41
Not sure what you mean by "get 3D acceleration working"? I don't think I did anything in compton-2 to fix non-working 3D acceleration. Maybe it is because of some other software update?

Are you sure it is compton 3.0-1, not 3.0-2? If it is the case, I can rule out one of the possibilities, which is good.

To rule out another possibility, can you try compton 2.0 and 3.0 with the xrender backend, a

[2018-11-06 18:49] jrudess commented on #37
One of the reasons I don't use `glx-swap-method=buffer-age` is that it doubles CPU utilization on my system compared to `glx-swap-method=1`

This slowdown only happens for me with compton underneath virtualbox, and not on my native-desktop with nvidia (gtx980).

[2018-11-06 19:00] yshui commented on #37
@jrudess Yes, that is why I was talking about adding some kind of blacklisting functionality. Honestly, the vboxvideo driver is probably not one of the best video drivers.

[2018-11-06 19:05] jrudess commented on #41
Sorry, poor wording on my part.  Using backend=glx was not functioning properly in vbox for me until 2.0, so I was using xrender.   But starting with 2.0 I was able to switch to backend=glx and there was a huge performance gain.

Yes, I can reproduce the lag with both 3.0-1 and 3.0-2

Unfortunately, underneath virtualbox, xrender with the posted-config is having massive performance issues in both

[2018-11-06 19:16] yshui commented on #41
Hmm, this is one (semi-unrelated) thing I want verify with this opportunity. Can you run compton 2 with your posted config, but with xrender instead, and `--xrender-sync-fence` on the command line? That **might** solve your xrender lag.

[2018-11-06 19:20] jrudess commented on #41
I don't see a performance difference when enabling --xrender-sync-fence.   The xrender slowdown was one of the reasons I had tried switching back to glx and found it to work now.

There were known GL/mesa issues for arch in vbox on the arch bug tracker at one point (older sighting from 2016 I think).   Will find it again to see if there was any status change that might identify other changes.

[2018-11-06 19:33] yshui commented on #41
Thanks for confirming! I'm always worried about whether removing xrender-sync is a good idea..

[2018-11-06 19:37] jrudess commented on #41
The vbox/GL issue I was remembering is here:  https://bugs.archlinux.org/task/49752

[2018-11-06 19:47] yshui commented on #41
Thanks. I will wait for your bisect results.

[2018-11-06 19:54] jrudess commented on #41
If I understand the arch bug correctly, I'm not actually running with hardware acceleration in vbox, and
 the LLVM gallium mentioned is a software render pipe for glx. The decrease in performance from 2.0->3.0 is not massive, just perceivable, and I bet that I would not be able to see if it I was using true hardware acceleration.

When using the LD_PRELOAD hack mentioned in the arch-bug, compton 2

[2018-11-07 10:57] Streetwalrus opened #42 "[Discussion] Getting rid of GLX"
I've noticed your notes on trying out Vulkan and EGL. Here are my personal findings on the matter.

The DRI3 extension can export X Pixmaps as kernel dma-buf objects. This is very useful, as you can use a pair of extensions in EGL and Vulkan to import those objects easily.
This is the same mechanism that is used by PRIME for multi-GPU systems (eg integrated + discrete graphics) to share buffers be

[2018-11-07 11:31] yshui commented on #42
Right, I remember there was some controversy regarding the EGLStream extension. I don't think it is implemented by any of the open source drivers.

[2018-11-07 13:57] yshui commented on #41
Do you think your issue is somehow related to #40 ?

[2018-11-07 17:30] jrudess commented on #41
My bisect results point to 28a2cc62 being the culprit.   I did not see a v2 tag in the repo, so I started with the v1 tag.

[2018-11-07 17:31] BurhanDanger opened #43 "[Feature Request] Full Desktop Zoom"
https://github.com/chjj/compton/issues/188

[2018-11-07 17:33] jrudess commented on #40
Would you mind also trying source=(git+"https://github.com/yshui/compton.git#commit=56f7dd36") ?

I'm also seeing vbox perf issues in #41 and that commit is the last one with the higher performance for my setup.

[2018-11-07 17:39] BurhanDanger commented on #41
Did you try omor1's patch from https://bugs.archlinux.org/task/49752 ?

[2018-11-07 17:45] jrudess commented on #41
I tried omor1's patch around a year ago but did not have too much success with compton.   I believe where I ended up was that after rebuiling compton gave the same errors I was getting with just the LD_PRELOAD hack (pasted in https://github.com/yshui/compton/issues/41#issuecomment-436386848 )

[2018-11-07 17:51] yshui commented on #41
@jrudess It is entirely possible 28a2cc6 can change opengl performance. Maybe it is not as visible when you have proper hardware acceleration. I will investigate.

BTW, did `buffer-age` swap method help? I remember you said it made the performance worse?

[2018-11-07 18:04] jrudess commented on #41
I'm seeing something suspicious now related to my glx-swap-method setting that makes me suspect I have a minor syntax problem in my .conf

If I use quotes, performance with v2 is good:  ```glx-swap-method= "1";```
If I get rid of the quotes ```glx-swap-method = 1;``` then performance reduces to the same speed I'm seeing with v3.

What's the correct syntax to get 'copy'?   Should it be the literal

[2018-11-07 18:10] kschat opened #44 "Removal of xrender-sync-fence causing screen to not update on input"
### Platform
Arch Linux

### GPU, drivers, and screen setup
Nvidia GTX 1080 ti, nvidia-drivers 410.66, mesa 18.2.4-1

[code]

### Environment
AwesomeWM

### Compton version
[code]

### Compton configuration:
[code]

### Steps of reproduction
1. Start compton
2. move between lines in `vim` and notice that the screen will stop updating

### Expected behavior

The screen is always updated on input

#

[2018-11-07 18:31] jrudess commented on #41
With v2 performance decreases when switching from copy to buffer-age to about the same performance I see with v3.

With v3, I'm don't observe any performance difference between copy or buffer-age.

[2018-11-07 18:33] yshui commented on #41
@jrudess The behavior of `glx-swap-methods="1"` did change from v2 to v3, so that might be why.

[2018-11-07 18:38] yshui commented on #44
From what you said, it sounds like you tested compton v3-rc2-18-gc0d7f9d with and without `xrender-sync-fence`, is that correct?

[2018-11-07 19:12] kschat commented on #44
Correct. When I enable `xrender-sync-fence` I get the following message:
[code]

[2018-11-07 19:31] yshui commented on #44
So does v3-rc2-18 have this problem both with and without xrender-sync-fence? Or are you saying v3-rc-18 works fine when you gave it `--xrender-sync-fence`?

[2018-11-07 19:57] kschat commented on #44
Sorry for the confusion, let me rephrase the issue:

I have been using `xrender-sync-fence` since [August 2017](https://github.com/kschat/dotfiles/commit/a126d072b7e2afc6c1526715c86c7bfb3b02ee96#diff-7b583426513f31c185e4c6799a9cac35) to fix the issue I'm reporting here. Today I updated my system  and with it came the removal of this property. Since I can't set this property (I get `parse_config():

[2018-11-07 20:05] yshui commented on #44
Thanks for the clarification! For now I suggest to downgrade to 3.0-1 and stay there. I think you should also raise this issue to nvidia, probably in their forums.

[2018-11-07 20:06] yshui commented on #44
Or, if this problem does not happen with the xrender backend, you can try switching to that.

[2018-11-07 20:29] yshui commented on #44
BTW, what terminal emulator do you use to run vim? Does the lag happen in other windows as well? If the lag is obvious visually, can you record a video of it?

[2018-11-07 20:45] tiiiecherle commented on #40
Sure, I tried, but it gives me an error during building...

[code]

[2018-11-07 20:49] Streetwalrus commented on #44
I can repro on Intel integrated graphics when using the xf86-video-intel DDX and its SNA renderer. No problem at all with Glamor on both Intel and AMD graphics.

[2018-11-07 21:12] WernerFP opened #45 "clear-shadow is removed as an option, and is always enabled now"
### Platform
Arch Linux, Kernel: 4.18.16-arch1-1-ARCH x86_64

### GPU, drivers, and screen setup
NVIDIA GM204 [GeForce GTX 970] driver: nvidia v: 410.66

### Environment
Openbox 3.6.1

### Compton version
v2/v3
### Issue
Removing this option has an unpleasant side effect.
### Compton configuration snippet:
[code]
### Expected behavior (v2)
![clear-shadow-false](https://user-images.githubuserconten

[2018-11-07 21:29] yshui commented on #44
@Streetwalrus Does it happen with both backends?

[2018-11-07 21:29] Streetwalrus commented on #44
I haven't done much testing with the xrender backend but I think it's unaffected.

[2018-11-07 21:30] yshui commented on #44
@Streetwalrus And does `--xrender-sync-fence` fix this problem in older version of compton?

[2018-11-07 21:30] Streetwalrus commented on #44
Yes.

[2018-11-07 21:36] yshui commented on #44
I have both discrete Nvidia card running with proprietary driver, and intel card running with xf86-video-intel and SNA, and I cannot reproduce this problem.

I also did more digging on why x sync fence is used. I found some old forum threads and bug reports on this issue, but still can't find info of the rational behind using sync fence.

This is annoying.

[2018-11-07 21:40] yshui commented on #45
The proper solution is to handle shaped window properly. That will hopefully be implemented soon.

[2018-11-07 22:03] yshui commented on #45
Looks like the firefox menu does not set its shape. I reported this to upstream: https://bugzilla.mozilla.org/show_bug.cgi?id=1505588

[2018-11-07 22:17] yshui commented on #44
@xyproto By the way, the removal of sync fence isn't really supposed to be in any kind of releases yet. Can you update the arch package to instead cherry pick the fixes you need? Thanks a lot!

[2018-11-07 22:37] jrudess commented on #40
Ah I forgot.  You'll need to checkout an older version of the PKGBUILD:
[code]
And then comment out a license install line:
[code]

[2018-11-07 22:46] yshui commented on #41
@jrudess In my test, the opengl calls compton v2 and v3 made with `glx-swap-methods="1"` are essentially the same...

[2018-11-07 23:19] kschat commented on #44
I'll try switching backends.

I'm using `URxvt`

The only other window I've been able to reproduce it in is `rofi`

[Here](https://photos.app.goo.gl/pCfTcBKfJFDhtLMT8) is a video. Sorry for the phone video, I tried using `screenkey` to show what keys I was pressing but I wasn't able to reproduce the issue with it running.

[2018-11-08 05:04] clapbr commented on #42
There is this https://github.com/ilia-glushchenko/VulkanCompositor but I couldnt make it work yet, its really new

[2018-11-08 07:52] tiiiecherle commented on #40
Thanks for the heads-up. I did this and indeed with this build everything is working fine. Hope this helps.

[2018-11-08 09:00] Streetwalrus commented on #42
It looks like there isn't even any X code or proper rendering in there yet.

[2018-11-08 09:15] yshui commented on #42
I think that probably isn't meant to be a X compositor.

[2018-11-08 13:54] WernerFP commented on #45
Thank you yshui. It's like you said - clear-shadow has a negative effect on semi-transparent windows (IMHO acceptable with soft shadows):
[code]
`clear-shadow = false` is not ideal and `clear-shadow = true` is not ideal either. So I plead for retention of the individual option until there is a better solution.

By the way, many thanks for your work on compton!

[2018-11-08 14:16] yshui commented on #45
@WernerFP I want to at least make `clear-shadow` a `wintypes` option, but I don't want to risk releasing it in v4, so you might need to stay on `next` for a bit.

I will get to it ASAP.

[2018-11-08 15:07] yshui commented on #44
OK, I reverted the commit, the head of `next` should working fine again.

[2018-11-08 15:15] xyproto commented on #44
@yshui I wish to use the latest release version of `compton`, but for cases where a fix in the pipeline and will appear in the next release, I may use a specific commit. Patching or cherry-picking may occur in Arch Linux packages, but is generally against the current Arch Linux packaging policy, and to be avoided.

[2018-11-08 15:19] yshui commented on #44
@xyproto OK, thanks for the clarification.

[2018-11-08 17:31] jrudess commented on #41
I'll do some more rigorous testing.  I possibly changed more than one variable between cases as I was running through them while slightly distracted in a work meeting.   And I'd like to pair down my giant  conf file to something more default as well to make sure one of the other switches isn't influencing the results.

But based on the commit where I see a small performance drop, I don't know that

[2018-11-08 18:51] tiiiecherle commented on #40
Thank you. But I´m sorry to tell you that neither compton-git-next nor compton-3.0-3 are solving the issue. It still persists with both of them.

[2018-11-08 19:05] yshui commented on #40
@tiiiecherle Did you pass `--xrender-sync-fence` to compton?

[2018-11-08 19:38] tiiiecherle commented on #40
Just tried, the issue still persists with or without using the option.

[2018-11-08 21:43] Exagone313 commented on #33
I have a similar issue but it happens right after starting my i3 session, every ~300 ms (or every time I press a key in a text input) it switches back and forth between the first frame ever shown at session startup (black screen when starting from startx, or display manager's wallpaper) and the current real frame.

I'm not sure if I should create a new issue, I think the root cause it the same. I'

[2018-11-08 22:06] yshui commented on #33
@Exagone313 Sounds like the same issue. 7bdebbe is not relevant to this issue. I'm still waiting for more info from nouveau developers.

[2018-11-08 23:14] hiciu commented on #33
Well, for me it depends. In current setup I have two monitors: one connected via DP and one connected via DVI-D (not sure if that matters, DP-1 is configured as `primary`).

So, for me, there are 3 possible configurations:

1. both DVI-D-1 and DP-1 are active (`xrandr --output DP-1 --primary --left-of DVI-D-1 --auto`),
2. only DP-1 is active, DVI-D-1 is turned off,
3. only DVI-D-1 is active, DP-1

[2018-11-09 14:02] yshui commented on #44
@kschat @Streetwalrus Can you please test the latest `next` and see if it works again?

[2018-11-09 14:50] kschat commented on #44
I just updated via `pacman` and I'm still seeing that `xrender-sync-fence` is removed. It looks like the version is the same `v3-rc2-18-gc0d7f9d`.

[2018-11-09 15:02] yshui commented on #44
@kschat Are you able to git clone this repo and build compton from source?

[2018-11-09 15:47] kschat commented on #44
Building from source works.

[2018-11-09 17:47] xyproto commented on #44
Re-enabled `xrender-sync-fence` by default in the compton package too.

[2018-11-10 00:31] jlindgren90 opened #47 "Using XCB event processing is incompatible with GLX on DRI2"
### Platform
Arch Linux

### GPU, drivers, and screen setup
Intel graphics (Skylake), modesetting driver, mesa 18.2.4

name of display: :0.0
display: :0  screen: 0
direct rendering: Yes
Extended renderer info (GLX_MESA_query_renderer):
    Vendor: Intel Open Source Technology Center (0x8086)
    Device: Mesa DRI Intel(R) HD Graphics 520 (Skylake GT2)  (0x1916)
    Version: 18.2.4
    Accelerated:

[2018-11-10 00:32] jlindgren90 commented on #47
Note: skipped commit 43f3744fea075e5fdc6e01a0e66a00b15833cddb because it fails to build:

[code]

[2018-11-10 00:57] jlindgren90 commented on #47
Here is a video in case it's not obvious what horrible flickering looks like:
https://share.mailbox.org/ajax/share/087aa4490975e54f861e77e975e547e9b7380de25d1890f3/1/8/NDA/NDAvNjI

[2018-11-10 04:05] yshui commented on #47
@jlindgren90 Duplication of #34

[2018-11-10 04:16] jlindgren90 commented on #47
@yshui Maybe, seems very similar to https://github.com/yshui/compton/issues/33 as well (that one is with nouveau but reports exactly the same issue with the same bisect result).

This part is interesting, it's exactly the same as what I see:

[2018-11-10 10:59] tiiiecherle commented on #40
As I have to give my macbook into repairs for a not-working usb-c port on monday I took some time to filter out the commit causing my issue. I don`t know if it was the right way to do it but I took the old PKGBUILD as decribed in [this](https://github.com/yshui/compton/issues/40#issuecomment-436803607) comment and tried all of these sources...

[code]

As it turned out that the last working commit

[2018-11-10 11:58] yshui commented on #40
@tiiiecherle Thanks for your effort at diagnosing this problem. Based on your finding, I have some hypothesis about what might be the problem.

Can you test  a4d351f and see if that fixes your problem?

[2018-11-10 12:39] yshui commented on #40
@tiiiecherle If you can confirm that works, I will update the branch to include that commit.

[2018-11-10 12:57] tiiiecherle commented on #40
Yes, using this in the PKGBUILD works without the issue.

`source=git+"https://github.com/yshui/compton.git#commit=a4d351f051a039112babe5883eff6ca3da97a6aa")`

Thanks for looking into it.

[2018-11-10 12:57] yshui commented on #40
@tiiiecherle Merged into `next` now

[2018-11-10 12:58] yshui commented on #41
@jrudess #40 is fixed in `next`. I don't know if this issue is related or not, but can you give `next` a test and see if that helps?

[2018-11-10 13:04] tiiiecherle commented on #40
Perfect, thanks for alle the help, just tried next and the issue is solved. Have a good day and a nice weekend ;)

[2018-11-10 13:08] tiiiecherle commented on #40
Would be really nice to see an updated stable version in archlinux including the fix. Thanks in advance

[2018-11-10 16:48] yshui opened #50 "Visual artifacts when using blur with use-damage"
### GPU, drivers, and screen setup
NVIDIA GTX 1060, driver version: 410.73

### Compton version
git-v0.1_beta2-87-g316eac0-2017-04-30

### Compton configuration:
[code]

### Steps of reproduction
Start compton, place a transparent window on top of another window that updates frequently

### Expected behavior
No artifacts

### Current Behavior
Artifacts, see attached clip

### Other details
This bu

[2018-11-10 16:51] yshui commented on #50
This is not very hard to fix, except when multi-pass blur is used. Therefore I think it is probably better to remove the multi-pass blur feature.

Object here if you want to keep the feature.

[2018-11-10 17:01] yshui commented on #47
@jlindgren90 This is likely to be different from #33. In #33 the flickering seems to happen even when compton is not rendering (compton only renders a frame when contents of the screen is updated). While in #34 and here, the flickering happens when compton renders a frame.

[2018-11-10 17:59] yshui commented on #47
Yes, That is consistent with #34

Excellent observation.

I guess one have to use the Xlib event processing to use GLX then... This is quite annoying.

I wonder if we can push rendering into its own thread, but that will also make things much more complicated.

[2018-11-10 18:17] yshui commented on #47
Of course, I wish to make compton compatible with as many setups as reasonably possible. We switched from Xlib event processing to xcb because there is a bug in Xlib that caused screen freeze in compton. And I have no faith in Xlib to believe this won't happen again.

But then this bug happened. Now I'm not sure what is the best thing to do here.

[2018-11-10 18:30] yshui commented on #47
I think #33 is probably also related, since nouveau by default doesn't have dri3

[2018-11-10 18:32] yshui commented on #33
@hiciu Can you try add `Option "DRI" "3"` to the `Device` section of your xorg.conf, see if that works?

[2018-11-10 18:33] jlindgren90 commented on #47
I was about to say that requiring DRI3 might be a reasonable option -- but if nouveau is still on DRI2 by default, that's less than ideal.

I am not sure what to suggest here either.  Maybe it would be good to start be at least filing a bug/feature request against Mesa (to update DRI2 to work properly with xcb), and see what the response is.

[2018-11-10 18:50] yshui commented on #47
@jlindgren90 Found a workaround in mesa bugzilla: https://bugs.freedesktop.org/show_bug.cgi?id=35945#c4

Will try it out later today.

[2018-11-10 19:06] hiciu commented on #33
@yshui

Before changing to DRI 3:
[code]

After:
[code]

The issue is still present with `Option "DRI" "3"`.

Also after some testing I've found that this combination of xrandr commands:

[code]

fixes the issue for me until I restart my X server again.

[2018-11-10 19:06] jlindgren90 commented on #47
Ugh, it gets worse than that.  Here is the full workaround in Qt:
https://github.com/qt/qtbase/blob/0dae641331bbd21207f6c74a7a34e0c74103d61e/src/plugins/platforms/xcb/gl_integrations/xcb_glx/qxcbglxintegration.cpp#L128

It would be much better for this to be fixed on the mesa side.

[2018-11-10 19:16] hiciu commented on #33
At the same time the issue is not present if I use `Option "NoAccel" "true"` or if I start compton with `env LIBGL_ALWAYS_SOFTWARE=1 compton --config /dev/null --backend glx`. (It's obviously a bit slow, but the issue is gone).

[2018-11-10 19:32] yshui commented on #47
@jlindgren90 This has been known for at least 6 years, and isn't fixed yet...

Fix this in Mesa might require some coordinated effort from both libxcb and Mesa, I don't know how hard it is.

BTW, we don't need most of the Qt workaround code, since they are just dealing with Qt internal event handling.

[2018-11-10 21:57] yshui commented on #47
I added the hack in the `dri2-hack` branch, can you test?

[2018-11-10 21:58] yshui commented on #34
@jeLee6gi Hi, can you test the `dri2-hack` branch, see if it works without DRI3?

[2018-11-10 21:58] yshui commented on #33
@piperfw @hiciu Can you test the `dri2-hack` branch, see if it fixes your problem?

[2018-11-10 22:01] hiciu commented on #33
I'm getting an error during compilation here:

[code]

[2018-11-10 22:14] hiciu commented on #33
I got it to build with meson. It works! It's gone with `3aa490a`.

I've also checked previous commit to make sure and the issue is still present on `45a260b` - so `3aa490a` fixed it.

Thank you!

[2018-11-10 22:15] yshui commented on #44
@kschat Hi, can you also test the `glx-sync-removal` branch?

You do `git fetch --all; git checkout glx-sync-removal` in the git repo, then build from source.

[2018-11-10 22:34] yshui commented on #44
Hmm, I think I might have broken the glx backend for anyone who doesn't have a nvidia card.

`glx-sync-removal` should fix it.

[2018-11-11 00:54] jlindgren90 commented on #47
Fixes the flickering here.  Thank you for your work on compton and for addressing this so quickly!

[2018-11-11 02:06] yshui commented on #47
Great!

But I think we still need to follow up on Mesa side to get a proper fix.

[2018-11-11 06:48] piperfw commented on #33
I've just built and tested `47377df` on `dri2-hack`.

The problem is still present for me with `compton --config /dev/null --backend glx`, but not when
'compton --config /dev/null' alone is used (as before).

[2018-11-11 12:06] yshui commented on #33
@piperfw you are on the wrong commit, head of dri2-hack is bcab5d15

[2018-11-11 12:50] piperfw commented on #33
Oops! @yshui pulled the correct commit now and the bug appears to have gone! Will run for a while now to check.

[2018-11-11 13:12] #47 closed

[2018-11-11 13:13] #33 closed

[2018-11-11 14:16] jeLee6gi commented on #34
Your hack fixes the flickering under DRI2 on my end too, thanks for investigating and fixing it so quickly!

[2018-11-11 19:32] yshui commented on #44
@xyproto BTW, can you enable the building of man pages in Arch packages?

[2018-11-11 20:00] xyproto commented on #44
@yshui Sure, updated the package to include the man pages.

[2018-11-11 21:02] yshui commented on #44
@xyproto Thanks!

[2018-11-12 19:13] yshui commented on #41
@jrudess When you say "CPU usage", do you mean the cpu usage of compton, or X?

[2018-11-12 22:02] jrudess commented on #41
CPU usage of compton, and also a slight lag on text appearing when typing in terminals.

[2018-11-12 22:30] kschat commented on #44
@yshui do you want me to test that branch with `xrender-sync-fence`?

[2018-11-13 00:37] yshui commented on #44
@kschat Yes, that is correct.

[2018-11-13 00:38] yshui commented on #41
I wonder if doing some profiling will help... Are you familiar with `perf`?

[2018-11-13 12:30] kschat commented on #44
Tested, issue is resolved in that branch.

[2018-11-13 13:33] yshui commented on #44
@kschat Thanks. Closing this issue for now.

[2018-11-13 13:33] #44 closed

[2018-11-13 16:45] frebib commented on #32
I've been using the improved blur for a couple of weeks now and it not only looks better, it performs a lot faster than the equivalent blur level on intel integrated.

Just to keep track of this, @tryone144 you don't have issues enabled so I'm mentioning this here:
The `blur-background-fixed = false` option seems to be broken with this update which makes blurred shadows jump in and out instead of

[2018-11-15 14:38] tryone144 commented on #32
@frebib Changing the "blur strength" on the fly is currently not implemented. The old code actually hacked this effect by giving the center pixel more weight. The new algorithm works differently and would require some major changes in the render passes to implement a strength-fade effect.

[2018-11-15 14:52] yshui commented on #32
@tryone144 we could simply paint the blurred picture with alpha, right?

That's what the new xrender backend will do.

[2018-11-15 14:57] tryone144 commented on #32
This may work. I'll take a look into it.Is the new xrender code already up somewhere?On 15 Nov 2018 15:52, yshui <notifications@github.com> wrote:@tryone144 we could simply paint the blurred picture with alpha, right?
That's what the new xrender backend will do.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-11-15 15:07] yshui commented on #32
@tryone144 it's in the `split-backends` branch.

[2018-11-15 19:37] frebib commented on #32
It seems to be doing the opposite, strangely. I can't quite tell if the background is still blurred but I can clearly read text through transparent windows. Thanks for looking into it!

Before:
![](https://frebib.net/s/screenshot-2018-11-15-193424.png)

After:
![](https://frebib.net/s/screenshot-2018-11-15-193554.png)

Windows also disappear almost immediately whereas before they faded out slowly.

[2018-11-15 20:14] tryone144 commented on #32
Hmm, interesting...

Fading speed should not be changed at all, only opacity of the blur itself will change at the same rate as window opacity. The difference is, that a window with opacity 0 is not blurred at all and one with 1 is blurred as before. At a lower `blur-strength` level (e.g. 2) the result looks like the current `xrender` backend.

Your screenshots look exactly like expected: The bott

[2018-11-15 20:53] aufkrawall commented on #44
I can definitely say that setting both `xrender-sync-fence` and `xrender-sync`to `false` works without issues for `xf86-video-amdgpu` driver.

[2018-11-16 06:13] alex47 commented on #32
strength-fade effect is sadly not possible with this blur (or it would require extreme level of hacking)
it would work for a certain amount but then it would suddenly jump in quality, kinda like changing gears while driving a car

[2018-11-16 09:22] tryone144 commented on #8
I cannot reproduce the lag on my Arch laptop with integrated *Intel HD Graphics 5500*. Although Xorg CPU usage is still rising (from about 1% to about 12%) when moving a transparent window.
IIRC, my desktop Arch with the proprietary Nvidia driver has a similar problem, but I can't test that now.
I guess, this might be related to the nvidia driver and pixmap copy of the transparent window backgroun

[2018-11-17 16:11] yshui commented on #32
Sorry but I will have to mark these discussions off-topic @alex47 @frebib

[2018-11-18 03:58] clapbr opened #53 "Steam wine systray menu doesn't show up with compon enabled"
~ >>> inxi -bM                                                                                                                                                     [1]
System:    Host: mjb Kernel: 4.19.2-1-MANJARO x86_64 bits: 64 Desktop: KDE Plasma 5.14.3 Distro: Manjaro Linux
Machine:   Type: Desktop System: Gigabyte product: N/A v: N/A serial: <root required>
           Mobo: Gigabyte model: B15

[2018-11-18 13:08] yshui commented on #53
Sounds more like a plasma problem...

This is expected behavior of steam.

[2018-11-19 12:31] #45 closed

[2018-11-20 01:52] clapbr commented on #53
Yeah, its plasmas fault, this can be closed. Guys on reddit helped a lot https://www.reddit.com/r/wine_gaming/comments/9y3lpk/wine_steam_on_kde_plasma_no_systray_menu/
thanks

[2018-11-20 01:52] #53 closed

[2018-11-20 10:03] aufkrawall opened #54 "Excluding transparent autoscroll cursor in Firefox automatically?"
With `shadow = true`, Compton draws a shadow below the transparent autoscroll cursor of Firefox, which looks really ugly. This not just because it is undesired, it's also because the shadow is a perfect square, while the cursor has the shape of a circle.

This can be easily worked around by using `shadow-exclude =  "class_g = 'Firefox' && argb"` or `shadow-exclude =  "class_g = 'Nightly' && argb"`

[2018-11-20 10:56] aufkrawall commented on #54
Imho it's generally hard to decide what is one's personal taste and what common sense. But I think for rare and evident cases like this, we could have a default list of excluded elements.

Often it is recommended to exclude aspects of the desktop environment's shell from shadowing, but e.g. I personally quite like the shadows of taskbar menus for Plasma shell, to make them appear popped out when I

[2018-11-20 11:11] yshui commented on #54
Right, it might help if we ship some helpful rules in the sample config (there are already a couple there), but I don't think it is a good idea to hardcode a set of default rules.

That's probably just what firefox does, I don't think that is a bug.

[2018-11-20 15:06] ghost opened #55 "Tearing when back from sleep/screensaver"
### Platform
Archlinux - latest

### GPU, drivers, and screen setup
intel - hd630

### Environment
just X and minimal wrapper to call X

### Compton version
v4-rc1-14-gf834cf2

### Compton configuration:
Really doesn't matter.

### Steps of reproduction
1. put pc to sleep or let it fall into screensaver mode (black screen), I use slcock to lock screen
2. press any key to bring it back
3. check xor

[2018-11-20 15:21] yshui commented on #55
What is in your `compton.conf`?

[2018-11-20 15:51] tuyenpm9 commented on #55
I use exactly compton.conf from here: https://github.com/yshui/compton/issues/34#issue-375708445

At first I also believe this is hardware/driver issue, that's why I removed most kernel options relative to intel driver.

I have to admit with few tests with modesettings driver I don't have the issue but need more tests, but I don't have consistent compton.conf of modesettings driver to completely e

[2018-11-20 16:05] tuyenpm9 commented on #55
Should we listen of socket of X to start placeholder xorg.service then put hook into suspend@.target like https://wiki.archlinux.org/index.php/Power_management#Suspend/resume_service_files to restart compton.service after suspend. Haven't implemented.

[2018-11-21 23:02] clapbr commented on #55
I am not sure it's the same problem I have but sometimes when my pc sleeps/wake everything stutters hard, specially chromium, until I restart compton. Maybe the solution above would solve those kinds of problems. I have an AMD gpu though, not an Intel one.

[2018-11-22 00:10] jrudess commented on #41
I'm not familiar with perf, but I will read up on it and see if there is anything I can discover and let you know.

[2018-11-22 07:11] tuyenpm9 commented on #55
If it `stutters`, all X apps will be affected, video tearing etc..

[2018-11-22 20:33] aufkrawall commented on #25
This is truly great. :)

However, I just noticed another amdgpu.dc bug which introduces stuttering in mpv when at least Compton is active. *partyruined*

[2018-11-22 21:12] clapbr commented on #25
Interesting, I also had mpv stuttering today on specific videos (i showing constant output frame drops), but it was unrelated to compton (but maybe related to dc=1 as you said). I solved it switching hwdec from vdpau-copy to vaapi-copy. If you want to try reproduce, this is my mpv.conf

- profile=gpu-hq
- gpu-api=vulkan
- gpu-context=x11vk
- spirv-compiler=auto
- hwdec=vaapi-copy
- hwdec-codecs=al

[2018-11-24 21:43] aufkrawall commented on #25
Ok, seems to be some very specific problem of amdgpu.dc=1, xf86-video-amdgpu + Compton + mpv video-sync=display-resample + playback in fullscreen, or in short: It doesn't stutter with Gnome-Mutter.

But I found a nice workaround: TearFree works well with amdgpu.dc=1 + the patch provided in the bugtracker ticket.
So I enable both (patched) amdgpu.dc=1 and TearFree, set Vsync=none in Compton config

[2018-11-25 17:40] zischknall opened #56 "crash because of failed refresh rate detection after screen blanking with 144Hz monitor"
### Platform
Arch Linux kernel 4.19.2

### GPU, drivers, and screen setup
Radeon RX 560 driving two monitors configured in xconf (main running on 144Hz and other on 60Hz).
xf86-video-amdgpu 18.1.0-1 and mesa 18.2.5-1
Output of `glxinfo -B`:
[code]

### Environment
I'm running i3-gaps with a polybar instance

### Compton version
compton v4
Output of `compton --diagnostics`:
[code]

### Compton conf

[2018-11-25 21:42] yshui commented on #50
There is a _undocumented_ option `resize-damage` that makes the damage area bigger to hack around this problem.

This is not an ideal solution, please don't use that.

[2018-11-25 21:44] yshui commented on #56
Thanks for reporting. I guess right now you could avoid this problem by disabling `sw-opti`

[2018-11-25 21:44] yshui commented on #56
Can you get a stack trace of compton when it crashes?

[2018-11-26 12:39] zischknall commented on #56
Strack trace of what looked relevant:
[code]

Tell me if you need more.
Btw, you can force the screen blanking with `xset dpms force standby`

[2018-11-26 13:07] yshui commented on #56
@zischknall Sorry, I meant a _stack trace_. e.g. can you run `compton` under `gdb`, wait for it to crash, and run `bt` in `gdb`?

[2018-11-26 13:44] yshui commented on #56
@zischknall That's fine, the screen will stop updating, but you can still type in stuff. So you need to keep your gdb window focused, and when xserver locks up, you can blindly type in `bt`, enter. Then type `q`, enter, `y`, enter to quit gdb.

[2018-11-26 14:01] zischknall commented on #56
@yshui here it goes:
[code]

[2018-11-26 15:41] yshui commented on #56
@zischknall Sorry, but your compton is built without debug symbols, can you rebuild it with debug info?

You can do that by passing `--buildtype=debug` to meson

[2018-11-26 16:33] zischknall commented on #56
@yshui
[code]

[2018-11-26 16:56] yshui commented on #56
@zischknall Can you test the `refresh0` branch, see if that works?

[2018-11-26 16:57] yshui commented on #56
@zischknall BTW, does `swopti` really have visible effect on your system?

[2018-11-26 17:17] zischknall commented on #56
@yshui strange behaviour it didn't crash 5/5 when run in gdb but it still crashed when i ran it alone.

What would be suitable to measure the performance of swopti?

[2018-11-26 17:20] zischknall commented on #56
In gdb it throws:
`ev_screen_change_notify(): Refresh rate detection failed.swopti will be temporarily disabled`
but standalone it crashes with the error from the initial comment

[2018-11-26 17:31] yshui commented on #56
@zischknall

CPU usage, maybe? What prompted you to enable `swopti` in the first place?

This means the fix is working.

[2018-11-26 17:40] zischknall commented on #56
@zischknall it was enabled by default i didn't change it

[2018-11-26 17:42] zischknall commented on #56
@yshui must have been a default at some point on my distro.

[2018-11-26 17:42] yshui commented on #56
@zischknall Hmm, it is not in the default config anymore: https://git.archlinux.org/svntogit/community.git/tree/trunk/compton.conf?h=packages/compton

Anyway, is there any noticeable difference with/without `swopti`?

[2018-11-26 17:48] zischknall commented on #56
@yshui after quick testing i can only conclude that without `swopti` compton is using less cpu

[2018-11-26 17:52] yshui commented on #56
@zischknall Thanks for the information. I guess it is better to stop using it then.

I will close this issue since it's fixed.

[2018-11-26 17:52] #56 closed

[2018-11-27 22:40] aufkrawall commented on #37
Could it be that the latest changes have fixed the flicker of `unredir-if-possible`?

[2018-11-27 23:04] yshui commented on #37
@aufkrawall I don't think so? Why?

Maybe the latest changes might have just broken `unredir-if-possible` entirely.

[2018-11-28 16:08] aufkrawall commented on #37
It still nicely disables compositing. Anyhow, for some reason I can't reproduce the "missing" flickering anyway. Really weird, I was absolutely certain.

But: I think the "old" Compton didn't re-enable compositing when on top of a fullscreen window something transparent is rendered. E.g. the volume overlay when pressing my media keyboard buttons wasn't treated as transparent and thus there was no

[2018-11-28 17:08] yshui commented on #37
Hmm, I think that need to be configurable. Can you open a new issue for that?

[2018-11-28 17:29] aufkrawall commented on #37
Sure.

[2018-11-28 23:28] aufkrawall opened #58 "feature request: Implement an option to ignore certain overlay windows when screen is not redirected"
`unredir-if-possible` shows brief flickering when switching compositing on and off. This is harmless when exiting or entering to a fullscreen window e.g. via alt + tab.

But when an overlay of the desktop environment is shown while in fullscreen, e.g. KDE Plasma volume slider evoked via a keyboard button, the brief flickering is very obvious and ugly.

The user may find it's the lesser evil to los

[2018-11-29 00:02] yshui commented on #58
I changed the title to better reflect what I think you want.

My plan is to add a wintype option that lets compton ignore certain windows (meaning: not redirect the screen again just for them, but they will still pop up normally) when the screen is not redirected.

[2018-11-30 21:58] ncmprhnsbl opened #59 "frame opacity setting not working in openbox"
frame opacity setting not working in openbox
(other opacity settings seems to be ok ..ie inactive, menu etc)

### Platform
Arch (Obarun)

### GPU, drivers, and screen setup
NVIDIA Corporation GT218 [GeForce 210]
nvidia-340xx 340.107-43 and mesa 18.2.5-1
[code]

### Environment
openbox

### Compton version
 compton --diagnostics
**Version:** v4

### Extensions:

* Name Pixmap: Yes
* Shape: Yes
* XR

[2018-12-01 13:12] WernerFP commented on #45
Just to finish off:
`full-shadow` works very well on my computers and I can't see any side effects.
Only the Firefox toolbar menu "_Bookmarks Menu_" is a different window type: `popup_menu` instead of `utility`.
[code]

[2018-12-02 19:01] aufkrawall commented on #25
Good news: I found out that `--vsync=drm`doesn't suffer the stutter issue with mpv + amdgpu.dc=1, unlike the other offered vsync methods (apart from TearFree).

Thus, could you please activate it again by default for compiling, @yshui ?

[2018-12-03 03:48] clapbr commented on #25
I dont had mpv problems but I was curious to see how vsync=drm performs and it seems to be very good on every scenario I tried. Def worthy including it by default unless there is a known big issue with it.

[2018-12-03 08:37] aufkrawall commented on #25
Uhm, now that you say it: It seems to crash Xorg each time I minimize a window with `unredir-if-possible = true`. :(

[2018-12-03 11:58] yshui commented on #25
@aufkrawall `--vsync=drm` is a pretty terrible hack and I am reserved about enabling it even if it works for some users.

[2018-12-03 16:43] aufkrawall commented on #25
Yeah, I wouldn't have posted it if I discovered the crash issue earlier.

Talking about vsync: Since you evaluate to restructure a lot of Compton, could you also take a look at vsync? `vsync = opengl` has the lowest input lag of the available modes, but it's still significantly higher than Gnome-Mutter.

[2018-12-03 17:39] yshui commented on #25
There are also people reporting `vsync = opengl` not working for them. Honestly, I think `opengl-swc` is the best option in terms of compatibility. Do you have a bad experience with that option?

I'm not very sure what you mean by input lag. Do you mean the delay between input (say, key press) and the reaction? Is there a concrete way to measure that? Is it the same for all applications?

[2018-12-03 18:14] clapbr commented on #25
Simplest way is dragging windows, but even by just moving the cursor I can feel more lag with opengl-swc/mswc/oml than with opengl or drm

[2018-12-03 18:14] aufkrawall commented on #25
Yes, latency of render output because of vsync frame queue length.
Vsync queue latency (which of course affects input latency) can be tested relatively well by dragging windows with a mouse with a proper sensor, disabled cursor acceleration (libinput flat profile) and not too high sensitivity. You can see how far the window is lagging behind the cursor when doing so.

`opengl` and `drm` have the s

[2018-12-03 18:58] aufkrawall commented on #25
amdgpu + radeonsi of mesa for Polaris GPU (recent git versions). I think the same applies to Intel i915 + i965 of mesa.

[2018-12-03 23:57] yshui commented on #25
@aufkrawall If I understand correctly, what you observe is that when you move window around using your pointer, the window will lag behind the pointer for about 2 frames?

Correct me if I'm wrong, but I think there is not such thing as a "vsync queue". If we use double buffer, the number of queued frames should be exactly 1. However, it is possible there are queued _render commands_ in the GPU, an

[2018-12-04 00:00] Streetwalrus commented on #25
Yeah, I can confirm the latency issues. I think it's noteworthy that vsync=drm and vsync=opengl have much lower latency, but they both show a consistent tear near the top of the screen (kinda hard to see under most circumstances).

[2018-12-04 10:40] aufkrawall commented on #25
@Streetwalrus

Are you sure that DRI3 is working correctly for you? At least `opengl` (haven't tested `drm` that much) definitely doesn't show any tearing here with AMD & DRI3.

@clapbr

Are you sure? To me it feels like it reduces input latency to that of `opengl`.

Can confirm that.

It looks like `vsync = opengl-swc` doesn't show the stutter in mpv afterall, and thanks to `--vsync-use-glfinish`

[2018-12-04 11:04] Streetwalrus commented on #25
Absolutely certain.

[2018-12-04 11:21] aufkrawall commented on #25
Huh, weird. I once checked it on my Haswell / Broadwell (?) Atom and it seemed to work normally. That was quite some time ago though, and I guess it doesn't matter much if that vsync API isn't recommended in the first place.

[2018-12-04 11:30] Streetwalrus commented on #25
It could be related to my 4k monitor. Looking at the timings, the vblank interval is relatively shorter compared to 1080p modes, so it's not unlikely that the overhead of waiting for vblank, and then performing a full screen copy on a buffer that is 4x larger misses it consistently. I'm pretty sure the Present extension is smarter than that, and copies the buffer before vsync comes in.

[2018-12-04 13:08] yshui commented on #25
Yes, because it is not a config option, only a command line option. Not sure why the original developers didn't document it.

[2018-12-04 15:54] yshui commented on #58
@aufkrawall Can you try this: https://github.com/yshui/compton/pull/60? Or branch `redir-ignore`.

[2018-12-04 16:05] yshui commented on #25
@Streetwalrus @aufkrawall I can confirm `vsync = opengl` indeed cause tearing on my intel graphics card.

[2018-12-04 16:10] aufkrawall commented on #58
Thanks!
I added it to my config and Compton didn't complain about an unkown entry. Though Wine DXVK games still flicker in fullscreen when an opaque volume OSD is rendered on top.
I also tried starting Compton with `--redir-ignore`, but it doesn't recognize this option.

[2018-12-04 16:37] yshui commented on #58
@aufkrawall Can you make sure you added `redir-ignore` to the correct `wintypes`? You can find out by using `xprop` on the OSD window.

BTW, I updated the branch, you might need to checkout again.

[2018-12-04 17:13] aufkrawall commented on #58
Could you please provide me with a config template? I tried to extract what I need from `compton.1.asciidoc` but failed.

[2018-12-04 18:20] yshui commented on #58
Assuming the osd window is of type `utility`, you need to put

[code]

Into your config file.

Is the description in man page confusing?

[2018-12-04 18:37] aufkrawall commented on #58
Thanks a lot, `wintype: normal` works. :+1:

I'm not really good in anything script alike, so I probably can't judge if the man page is confusing. I'll reread it and try to comprehend it better with the example you provided. I think it wouldn't hurt to frequently have a few concrete examples in between.

[2018-12-04 19:01] yshui commented on #58
@aufkrawall Hmm, are you sure `normal` is the right type? Because setting `redir-ignore` on `normal` might cause the screen to stay unredirected even when it shouldn't

[2018-12-04 19:09] aufkrawall commented on #58
Yes, I tried every category and only `normal` worked. Probably non-optimal declaration of the KDE Plasma window?
The volume slider "window2 btw. can't be grabbed via xprop, cursors clicks right through it.

(I personally prefer to make a fullscreen window always stay unredirected anyway unless the application or Compton config tells the compositor otherwise.)

[2018-12-04 19:11] aufkrawall commented on #25
If it turns out that it doesn't produce any trouble, perhaps it would be good to automatically enable it when at least `vsync = opengl-swc` is used? It definitely helps in my case.

Of course it would still be fantastic if you could manage to reduce latency even further. :)

Can `vsync = opengl-mswc` be considered redundant?

[2018-12-04 20:37] yshui commented on #58
Might be the case.

Hmm, looks like xprop is not the best tool for this. Might be a good idea to create a specialize tool for generating matching rules and getting window type...

[2018-12-05 04:47] dubbadubbadubbacha opened #61 "Disabling blur radius does not produce sharp shadows."
I set my blur radius to '0' and I still have fizzy edges to the shadows. Is there any way to make them sharp like xcompmgr?

[2018-12-05 20:51] yshui commented on #25
`--vsync-use-glfinish` causes compton to use 100% CPU here (nvidia driver). So I guess no, can't enable it by default. But I think I need to investigate what is happening.

[2018-12-05 20:54] yshui commented on #58
@aufkrawall I will merge that and close this for now. If anything unexpected comes up, fell free to reopen.

[2018-12-05 20:54] #58 closed

[2018-12-05 21:18] yshui commented on #25
Looks like nvidia driver uses busy wait for `glFinish()` :(

[2018-12-05 23:17] yshui commented on #25
I think I might be able to do something about this. This will make the drawing logic a bit more complicated, but maybe it will be worth it.

[2018-12-06 01:06] dikiaap opened #62 "Add new XDG config location"
While now config detection can read `~/.compton.conf` and `~/.config/compton.conf`, adding `~/.config/compton/compton.conf` to the order list is very helpful for some users who prefer to put config in a `~/.config/$x` folder.

[2018-12-06 13:34] pushqrdx opened #63 "Fading doesn't affect window decorators."
### Platform
Fedora 29

### GPU, drivers, and screen setup
Graphics:
  Device-1: Intel Xeon E3-1200 v3/4th Gen Core Processor Integrated Graphics
  driver: i915 v: kernel
  Display: x11 server: Fedora Project X.org 1.20.3 driver: modesetting
  unloaded: fbdev,vesa resolution: 1920x1080~60Hz
  OpenGL: renderer: Mesa DRI Intel Haswell Desktop v: 4.5 Mesa 18.2.4

### Environment
XFCE 4.12

### Compto

[2018-12-06 20:22] yshui commented on #25
I made a page explaining why the lag happens: https://github.com/yshui/compton/wiki/Vsync-Lag-Explained

Conclusion is the glFinish is not good enough, some other way is needed for waiting on SwapBuffers

[2018-12-06 21:02] aufkrawall commented on #25
Funny, there is similar (not saying it would be related) issue with Nvidia Vulkan driver & mpv:
https://github.com/mpv-player/mpv/issues/6172
It's so hurtful, I'm so glad I sold my Nvidia card...

[2018-12-07 16:40] pushqrdx commented on #63
@yshui after reading the issue I don't think they'r related.. _maybe i am mistaken_

[2018-12-08 06:16] ncmprhnsbl commented on #63
well, i don't think i'm seeing this in openbox (with compton  v4)
tested with fade-in-step = 0.01;

[2018-12-09 01:06] yshui commented on #61
I looked into the shadow code, and found that it has been there since forever (i.e. since original xcompmgr days). Apparently nobody has ever had a problem with it being wrong (yes, if radius = 0, the shadow should be sharp) until now.

Looking into how to fix this.

[2018-12-09 02:10] yshui commented on #61
@dubbadubbadubbacha the latest `next` branch should fix this, can you test?

[2018-12-09 02:20] dubbadubbadubbacha commented on #61
Hi, thanks. I tried building on FreeBSD but I get:

<code>
src/meson.build:1:0: ERROR:  C library 'ev' not found
</code>

[2018-12-09 02:29] yshui commented on #61
@dubbadubbadubbacha You need `libev`, I am not sure but you can probably install that using whatever package manager FreeBSD uses.

FYI, you can find the whole list of dependencies you need in the [README](README.md).

[2018-12-09 02:35] dubbadubbadubbacha commented on #61
Would it be possible to provide a patch?

[2018-12-09 02:35] dubbadubbadubbacha commented on #61
It still fails on FreeBSD with libev installed

[2018-12-09 02:39] yshui commented on #61
What do you mean.

It would help if you can provide more information. Like how it fails.

[2018-12-09 02:42] dubbadubbadubbacha commented on #61
A .diff file to patch whichever file you edited.

Here is a more detailed error message:

<code>
Code:
 int main(int argc, char **argv) { return 0; }
Compiler stdout:

Compiler stderr:
 /usr/bin/ld: cannot find -lev
cc: error: linker command failed with exit code 1 (use -v to see invocation)

Running compile:
Working directory:  /tmp/tmpqzdtntnp
Command line:  cc /tmp/tmpqzdtntnp/testfile.c -pipe

[2018-12-09 02:49] yshui commented on #61
@dubbadubbadubbacha Are you sure libev is correctly installed? Is there a `libev.so` or `libev.a` in `/usr/lib`?

[2018-12-09 02:52] dubbadubbadubbacha commented on #61
Yup. libs are installed at /usr/local/lib in FreeBSD

[2018-12-09 02:55] yshui commented on #61
Ah, I don't think meson looks there for libraries by default...

[2018-12-09 02:57] dubbadubbadubbacha commented on #61
Naturally, the compilers on FreeBSD will look in their proper locations I guess. Is there anything I can edit in the build or Makefile?

[2018-12-09 03:01] yshui commented on #61
@dubbadubbadubbacha I don't have a FreeBSD system, so I don't know how much help I can provide. But reading meson's code (if you know python) to figure out where it finds the libraries, might be useful.

[2018-12-09 03:03] yshui commented on #61
Also, try compile a simple program with `-lev` and see if that compiles.

[2018-12-09 03:07] dubbadubbadubbacha commented on #61
OK thanks. That's a bit advanced for me but I'll give it a try.

[2018-12-09 21:04] yshui opened #64 "Ctrl-C cause screen to freeze up"
The `sigint_handler` calls `exit()`, which calls some exit hooks. The NVIDIA driver registers some exit hooks that calls Xlib functions. Some of the Xlib functions are not reentrant, so if you press Ctrl-C at an unfortunate timing, it will cause compton to freeze.

Solution is to use an `ev_async`.

[2018-12-09 21:48] ncmprhnsbl commented on #59
yep, all good now, thank you (:
closing...

[2018-12-09 21:48] #59 closed

[2018-12-13 12:13] aufkrawall commented on #25
Good news: The fix for the initially reported issue will be in 4.21 kernel:
https://cgit.freedesktop.org/~agd5f/linux/commit/?h=drm-next-4.21-wip&id=0e65ba74dbd61f54f2dc74035d07490d5fd99a38

However, I've noticed that `vsync = opengl-swc` doesn't get entirely rid of the stutter problem in mpv with amdgpu.dc=1. It's basically gone with hardware video decoding, but not with software decoding. This l

[2018-12-13 12:16] Streetwalrus commented on #25
@aufkrawall does mpv report the jitter (shift+i)? Or is it compton itself that's stuttering?

[2018-12-13 12:35] aufkrawall commented on #25
The issue doesn't exist for the performance metrics, Compton fps are stable and vsync jitter in mpv very low. It's also quite hard to perceive, it's a sporadic micro stutter (not caused by e.g. RedShift, this is another issue).  The issue happens only with amdgpu.dc=1 + Compton vsync + mpv.

It doesn't happen (aka is totally smooth) with:
Gnome-Mutter
Compton + TearFree instead of Compton vsync
mp

[2018-12-13 14:17] Streetwalrus commented on #25
This is mesa's fault, it enables vsync by default unless you set vblank_mode in which case it ignores the application's preference. The proper fix for this would be to explicitly disable vsync on startup (same as swc/mswc but you set the swap interval to 0).

[2018-12-13 14:53] aufkrawall commented on #25
Ok, but why is it not enabled by default in games? I don't think they all take that particular mesa behavior into account.

[2018-12-13 14:55] Streetwalrus commented on #25
Games probably do their own thing, you would have to trace execution to see what's going on. Firefox also seems like it's disabling vsync (at least youtube videos show substantial tearing without a compositor or tearfree).

[2018-12-13 15:14] aufkrawall commented on #25
Is that in fullscreen mode? Xorg windows can't be free of tearing without pageflipping, which is enabled either by TearFree, a compositor or a fullscreen window.

[2018-12-13 16:55] Streetwalrus commented on #25
Both with and without full screen. Under compton, you need to exclude Firefox from or disable unredir-if-possible.

[2018-12-13 23:40] yshui commented on #25
@Streetwalrus Interestingly, the document [here](https://dri.freedesktop.org/wiki/ConfigurationOptions/) says `vblank_mode=1` defaults to 0 swap interval.

[2018-12-14 09:18] Streetwalrus commented on #25
Yep, that's pretty much what's happening.

[2018-12-14 09:35] Streetwalrus commented on #25
Nevermind that, Firefox doesn't seem to use opengl to paint the main window unless you're using webrender (which sadly has a breaking bug with idle repaints at the moment).

[2018-12-14 12:16] yshui commented on #25
@Streetwalrus Would you like to make a pull request for explicitly setting swap interval?

[2018-12-14 14:50] Streetwalrus commented on #25
Looks like that does enable opengl for the main window and fixes tearing, good to know. Last time I checked it was enabled by default, but that might have been webrender forcing it on.

It's pretty annoying for me, especially because I use keynav which leaves grid trails behind in this case. I've opened a bug for that [here](https://bugzilla.mozilla.org/show_bug.cgi?id=1514148).

I can take a look

[2018-12-14 15:46] yshui commented on #25
@Streetwalrus If you are sure that everything that supports `GLX_MESA_swap_control` also supports `GLX_SGI_swap_control`, then I'm fine with removing mswc.

[2018-12-14 15:48] Streetwalrus commented on #25
I know for certain that mesa itself supports both, I don't think anything else does.

[2018-12-14 15:57] yshui commented on #25
@Streetwalrus Good ahead then. But don't remove the `opengl-mswc`, just make it do the same thing as `opengl-swc`

[2018-12-14 16:00] The-King-of-Toasters opened #65 "Remove redundant CMake files"
Since CMake has been tossed, we can remove these files:
[code]

[2018-12-14 16:13] Streetwalrus commented on #25
Yeah that's the plan.

[2018-12-14 17:13] #65 closed

[2018-12-15 15:58] yshui commented on #61
@dubbadubbadubbacha Any luck building compton?

[2018-12-15 19:53] #62 closed

[2018-12-16 22:35] pushqrdx commented on #63
@yshui The issue was with the latest `next` branch. Simply minimizing, unminimizing or opening new windows have their borders appear first before the actual window content itself. The issue appears if you have fading. Try setting a longer fading duration.

[2018-12-17 00:06] dubbadubbadubbacha commented on #61
Nah. That libev is the culprit. I'll have to either wait for the maintainer to update or figure out how to port it properly myself. I may do the latter.

[2018-12-17 01:07] yshui commented on #63
@pushqrdx Interesting, I can reproduce it now, but only during fade out, and not reliably.

I will look into this.

[2018-12-17 22:07] yshui commented on #63
@pushqrdx The direct cause seems to be that the body of the window disappeared from the pixmap when it is unmapped. Maybe xfwm4 is doing something that clears the body of window when it is unmapped.

[2018-12-17 22:08] yshui commented on #63
There is _probably_ no much we can do.

I will look a bit more into this

[2018-12-19 02:41] pushqrdx commented on #63
@yshui yeah I am pretty sure it happened regardless of backend used

[2018-12-19 14:11] yshui commented on #63
Observation: I can only reproduce this during fading out of some opengl windows (my example is alacritty).

[2018-12-19 20:06] yshui commented on #63
@pushqrdx I think this is somewhat related to how xfwm4 does thing. Could you also raise this issue to XFCE? They might have more information on this.

[2018-12-21 00:54] aufkrawall commented on #25
Wouldn't it be a good idea to automatically use `--vsync-use-glfinish` when `GLX_MESA_swap_control` is used? That way latency of `vsync = swc` could be reduced for mesa users while not affecting Nvidia users badly.

[2018-12-21 06:18] Avi-D-coder opened #70 "Worse screen tearing with recent versions"
### Platform
Arch Linux 4.19.10-arch1-1-ARCH
Compton built from git.

### GPU, drivers, and screen setup
Intel Corporation HD Graphics 620 (rev 02)
[code]
### Environment
i3

### Compton setup
[code]
### Compton configuration:
[code]

### Steps of reproduction
1. Built from latest commit on next branch at `Wed 05 Dec 2018 04:42:36 PM EST`  small amount of tearing in random locations in chrome when

[2018-12-21 10:16] aufkrawall commented on #25
I'm absolutely certain that the distance between cursor and moving window is smaller with it, so imho it's a viable workaround until we got something better.

[2018-12-21 10:17] Streetwalrus commented on #25
And that's exactly why I think it shouldn't be enabled by default. :)

[2018-12-21 10:45] Streetwalrus commented on #25
4.20-rc7, with hw cursor and dc. If it's broken on this, it's likely also broken on 4.19. It'd be a very stupid idea to break the current stable release, so I would at least wait until 4.21 actually hits stable.

[2018-12-21 10:49] aufkrawall commented on #25
What I wanted to say was that it shouldn't make any difference if `--vsync-use-glfinish` is used or not regarding the DC cursor issue. DC + any compositor is totally unusable here with <= 4.20, no matter the vsync setting (as long as vsync is enabled at all).

[2018-12-21 11:13] tuyenpm9 opened #71 "[Q] Keep border of window?"
// The template below is for reporting bugs. For feature requests and others, feel free to delete irrelevant entries.

### Platform
Archlinux

### GPU, drivers, and screen setup
Intel 620

### Environment
Just X

### Compton version
v4-rc1-68-g46b50b4

### Compton configuration:
Default one

### Steps of reproduction

1. open mpv at specific region of screen, not fullscreen --> windows has border

[2018-12-21 11:41] dikiaap commented on #70
There are some changes at #66 and I have screen tearing when using glx backend with the vsync flag is "none"

Try by adding `--vsync vsync-method` to the command has fixed my issue

List of V-sync method:
https://github.com/yshui/compton/commit/de1cce21badc436bf501e1f865536688c34a4693#diff-a21d418da0483bb78bcc4380d067ff7fL134

[2018-12-21 13:59] yshui commented on #70
@dikiaap @Avi-D-coder Yep. compton has started explicitly disabling vsync when `vsync` is set to `none`. Previously vsync might be enabled by default by your video drivers, and is causing people who don't want vsync some unwanted lag.

[2018-12-21 14:01] yshui commented on #71
What is the window manager you are using? Can you attach a screenshot before and after the border disappears?

[2018-12-21 23:48] Avi-D-coder commented on #70
### So I did some experimenting.

The two least tearing configs with either `xf86-video-intel or the `modesetting` driver are:
1. ##### opengl-swc:
    `compton -CG --config /dev/null --backend glx --vsync opengl-swc --glx-swap-method -1  --glx-no-stencil --sw-opti`

2. ##### opengl drm:
    `compton -CG --config /dev/null --backend glx --vsync drm --glx-swap-method -1`

With `xf86-video-intel`  `

[2018-12-22 00:13] yshui commented on #70
Can you explain what you meant by "many small tears"? That sounds like some kind of visual artifact to me. If you have screenshots/recordings, that will be great.

[2018-12-22 01:32] Avi-D-coder commented on #70
With the `modesetting` driver and drm: https://youtu.be/jM9KHHYsNT8

The tearing did not record very well.
The other configs produce similar tearing, but more evenly spread-out around the screen.

[2018-12-22 01:55] yshui commented on #70
@Avi-D-coder So it is not a horizontal line that goes across the entire screen?

Can you try not setting `glx-swap-method`?

[2018-12-22 02:34] Avi-D-coder commented on #70
+ `modesetting` + `drm` = tear line across whole chrome window at least partially at a diagonal.
+ Without compton = horizontal tear line across whole chrome window.
+ With any other driver config combination varying amount of small tears not across the whole window usually.
These tear lines don't stay in the same area like the bigger tears, but do make it hard to read text if I am scrolling. It a

[2018-12-22 02:58] heelsleeh opened #77 "x_print_error WARN ] X error 151 XCB_DAMAGE_BAD_DAMAGE request 143 minor 2 serial 44107: "151""
// The template below is for reporting bugs. For feature requests and others, feel free to delete irrelevant entries.

### Platform
// Example: Ubuntu Desktop 17.04 amd64
openSUSE 15
### GPU, drivers, and screen setup
// Example: NVidia GTX 670, nvidia-drivers 381.09, two monitors configured side-by-side with xrandr
// Please include the version of the video drivers (xf86-video-*) and mesa.
// Ple

[2018-12-22 13:31] jrudess opened #78 "XCB_DAMAGE_BAD_DAMAGE errors print when deleting words in neovim"
// The template below is for reporting bugs. For feature requests and others, feel free to delete irrelevant entries.

### Platform
ArchLinux

### GPU, drivers, and screen setup
Nvidia GTX 980, nvidia-drivers 415.25-3, 3 monitors
mesa 18.3.1-1

[code]

### Environment
KDE plasma replacing kwin with i3wm

### Compton version
commit 6f0daf8076e3bfaa582f7009339219c163786123 and newer
[code]

[code]

[2018-12-22 14:19] jrudess commented on #78
That commit didn't really seem related, so I started my bisect from scratch assuming I marked bad/good wrong at some point.   2nd bisect ended at 833eb966f14ef6cdf8ef4908509e161b082361ba but it also only looks to be printout related.

[2018-12-22 14:31] yshui commented on #78
@jrudess FYI, I lowered the log level of this to DEBUG, so you won't normally see it anymore.

[2018-12-22 14:31] yshui commented on #77
@heelsleeh FYI, I lowered the log level of this to DEBUG, so you won't normally see it anymore.

[2018-12-22 14:52] jrudess commented on #70
I'm also seeing new tearing issues with Nvidia.  My test case is amazon video in chromium (not full screen).  Bisect led to e2182bb00bb418d616dc047d1f2c280e952f8df3

But sometimes the tearing takes a while to observe, so there is some chance I've marked a bad commit as good during the bisect.

[2018-12-22 14:58] jrudess commented on #70
The following patch appears to resolve the tearing issues with head of next branch:

[code]

[2018-12-22 15:17] yshui commented on #70
@jrudess Are you sure you explicitly enabled vsync in your config file?

[2018-12-22 18:12] yshui commented on #70
can you try vsync = opengl-swc?

[2018-12-22 18:38] jrudess commented on #70
opengl-swc appears to resolve tearing for me

[2018-12-22 19:32] yshui commented on #70
I guess this is evidence that "vsync = opengl" never worked. People got vsync just because it was enabled by default by Mesa.

[2018-12-22 19:51] aufkrawall commented on #70
Well, it definitely worked for me some time ago. :)
But since it's bugged nowadays and users usually want vsync, perhaps `swc` should be the default setting?
I also wonder if `opengl-oml` is actually beneficial for any cases.

[2018-12-22 21:58] yshui commented on #70
That is my plan too.

It is useful for something, but not as a reliable vsync method.

[2018-12-23 14:13] onodera-punpun opened #79 "-C/--no-dock-shadow has been set, yet lemonbar has shaddows"
### Platform
// CRUX version 3.4

### GPU, drivers, and screen setup
AMD with AMDGPU

### Environment
Openbox

### Compton version
Git master

### Compton configuration:
`compton -b --backend xrender -cCG -l -12 -t -10 -o 0.15`

### Expected behavior
No shadows on lemonbar

### Current Behavior
Shadows on lemonbar

### Other details
This didn't happen with the before-fork compton

[2018-12-23 14:40] onodera-punpun commented on #79
Sorry, I don't have compton compiled with libconfig, I'll try this later tonight.

[2018-12-24 18:30] yshui commented on #79
@onodera-punpun Can you try the `wintypes` branch? It should fix your problem.

[2018-12-24 19:49] yshui commented on #79
@onodera-punpun Have you tried put it in the config file?

[2018-12-24 19:59] yshui commented on #79
@onodera-punpun OK, _now_ it should fix your problem

[2018-12-24 21:36] onodera-punpun commented on #79
This indeed fixes it, thanks a lot!

[2018-12-24 21:36] #79 closed

[2018-12-26 11:41] #71 closed

[2018-12-26 13:04] tuyenpm9 commented on #70
unfortunately, opengl-swc doesn't work well with intel HD 620 with xf86-video-intel driver. If I use `opengl` and try to record video using ffmpeg, result a good video quality - no tearing. But same ffmpeg command but compton using `opengl-swc` result a bad tearing video - frames are broken and images totally tear out.

If I don't record a video using ffmpeg, I barely can see the difference, just

[2018-12-27 20:14] Baerbeisser opened #81 "frame-opacity just partially opaque"
Platform: Manjaro, Artix
GPU: Pentium Sandbridge iGPU, Vega 56
Compton version: 4.0-1
Confirmed on Manjaro & Manjaro Live on both systems and Artix on Vega with different Themes and Frame Styles, with and without nocsd-Patch, with and without blurring.
This issue appeared with the last update 1 - 2 Months ago. `compton-tryone-git` from AUR works.

### Simple config for testing:
[code]

### Steps o

[2018-12-28 00:36] yshui commented on #81
This should've been fixed in the latest `next` branch

[2018-12-28 01:42] ncmprhnsbl commented on #81
hint: aur: compton-git builds yshui/next ;)

[2018-12-29 22:09] yshui commented on #81
@Baerbeisser Yes, the next update should fix this.

If the performance is a concern, you can open another issue.

Closing.

[2018-12-29 22:09] #81 closed

[2018-12-30 11:01] Streetwalrus commented on #70
`opengl-swc` is the same as what mesa previously enabled by default with _all_ vsync methods, including `none`. Leaving it enabled with other methods would be detrimental to performance (can result in dropped frames).
If you experience tearing with SWC then it's most likely not compton's fault.
All other methods use non-atomic sync+swaps which is prone to breakage and can be detrimental to perform

[2019-01-01 17:30] aufkrawall commented on #25
I tried `--vsync-use-glfinish` with Linux 4.20 & RX 580 again, my impression is it definitely doesn't make things worse than they already are. I also gave it a try on a Gemini Lake IGP and it seemed to work nicely there as well with `vsync = opengl-swc`. I really don't see any objections from enabling it by default for `GLX_MESA_swap_control` until yshui casts some vsync magic out of his sleeves.

[2019-01-02 00:17] yshui opened #82 "VSync for xrender backend"
I want vsync for the xrender. And I want it to actually work, and doesn't involve OpenGL. The only options that meet the criteria seems to be the Present extension.

However, based on my experiment, this doesn't work under the NVIDIA driver. The Present extension is supported, but there is still tearing when using the extension.

This issue will be used to tracking my progress on investigating thi

[2019-01-02 00:45] yshui commented on #82
I got vsync to work on intel driver with this method. Also I asked about this on NVIDIA's forum.

Still waiting for reply.

[2019-01-02 01:06] yshui commented on #82
Using Present with NVIDIA also seems to drastically increase the CPU usage of X server.

[2019-01-02 01:07] yshui commented on #82
NVIDIA users might _have_ to use the GLX backend, I guess.

[2019-01-02 20:01] Streetwalrus opened #83 "Build fails with "new backends" disabled"
### Compton version
34eb14f

### Steps of reproduction
Build without passing `-Dnew_backends=true` to meson

### Expected behavior
Build succeeds

### Current Behavior
Build fails with the following because `src/backend/backend.c` is not included.
[code]

[2019-01-02 20:05] Streetwalrus commented on #82
Using the Present extension directly could have some nice benefits for the OpenGL backend as well, as it could enable implementation of custom vsync modes, in particular one similar to Vulkan's mailbox mode which should help minimize latency and improve performance (but could increase the number of rendered frames per presented frame).
See [this](https://lists.freedesktop.org/archives/xorg-devel/2

[2019-01-02 20:34] yshui commented on #83
Thanks for reporting

[2019-01-02 20:36] #83 closed

[2019-01-02 20:39] yshui commented on #82
@Streetwalrus When we use OpenGL, we try to use it idiomatically, instead of poking into the internals and doing weird stuff.

If we want Vulkan, we _can use_ Vulkan.

[2019-01-03 06:53] 3N4N opened #84 "Screen freezes when video players are made fullscreen"
### Platform

    enan@elariel:~$ lsb_release -d
    Description:    Ubuntu 18.04.1 LTS
    enan@elariel:~$ uname -psr
    Linux 4.15.0-43-generic x86_64

### GPU, drivers, and screen setup
`lscpi | grep -i vga` only shows `00:02.0 VGA compatible controller: Intel Corporation HD Graphics 620 (rev 02)`. But I have a Radeon R7 M445 also installed. I don't have any idea about video drivers in linux.

[2019-01-03 08:16] yshui commented on #84
Thanks for reporting!

Does this still happen if you `unredir-if-possible = false;`?

[2019-01-03 08:33] Streetwalrus commented on #82
I can understand sticking to idioms, but the interface for this is standardized, so it's not really "poking around with the internals and doing weird stuff". I'll let you be the judge on this though.

[2019-01-03 09:08] yshui commented on #82
@Streetwalrus How do you use the Present extension directly with OpenGL? I know Mesa is already using Present for buffer swapping if you have DRI3, if we start doing Present ourselves, that will definitely cause some conflicts.

[2019-01-03 09:19] Streetwalrus commented on #82
It won't be a problem as long as you don't call glxSwapBuffers. Getting the right pixmap is the tricky bit and will require some digging, but I think it should be possible.

[2019-01-03 12:48] enanajmain commented on #84
If I use `uredir-if-possible = false;` it doesn't happen whereas with true option I get the crash nearly every time. Thanks.

[2019-01-03 13:18] yshui commented on #84
@enanajmain Are you sure it's a crash? Cause from your description it sounds like compton doesn't actually crash.

[2019-01-03 13:23] yshui commented on #84
@enanajmain Can you run compton in a terminal with `compton --log-level=trace`, and post the output here?

[2019-01-03 13:45] yshui commented on #84
@enanajmain It is `compton --log-level=trace`, not `compton --log-level=trash`

[2019-01-03 15:23] enanajmain commented on #84
Sorry. The output:

[code]

[2019-01-03 16:40] yshui commented on #84
@enanajmain Is this the log you get _after_ the screen freeze?

[2019-01-03 18:57] enanajmain commented on #84
No, that was when everything runs ok and with `unredir-if-possible = false;`.

With `unredir-if-possible = true;` and after the screen freezes, the output:
[code]

[2019-01-03 19:19] yshui commented on #84
@enanajmain So, is that the output you get after you:
* run `compton --log-level=trace`, in terminal
* make the screen freeze
* kill compton
?

Because that is way less output than you should get.

[2019-01-03 19:32] enanajmain commented on #84
The output after doing step by step what you told me:
[code]

[2019-01-03 22:15] yshui commented on #84
So I started i3 with its default configuration, ran compton with your config file, then repeatedly fullscreen/un-fullscreen a video player window (I tried firefox and mpv). But I cannot reproduce this problem. Therefore I probably couldn't help.

If you want to look into this problem, I will provide all the help I can. If someone else has the same problem, you are welcomed to add more details.

[2019-01-04 03:42] enanajmain commented on #84
Thanks for the help. I will close the issue now since with `unredir-if-possible = false;` I don't experience any freeze. But I will keep an eye on the issue tracker of the official repository if anyone has the same problem in the future.

[2019-01-04 10:09] Streetwalrus commented on #42
Ah yes I remember that being a thing. I'll check out how it works.

[2019-01-04 11:50] yshui commented on #82
@aufkrawall The new backend is not enabled in `next`, they are in `split-backends`. But for vsync, you need to use the `tmp` branch (which, as you can tell by the name, is temporary).

[2019-01-04 12:05] aufkrawall commented on #82
Thanks. It just freezes for me and I have to abort via Ctrl + c:
https://pastebin.com/xcxC78x6

[2019-01-04 12:37] yshui commented on #82
@aufkrawall yeah, I'm not surprised.

[2019-01-06 00:08] Catvert opened #85 "Weird artifacts when resizing (AMDGPU)"
### Platform
Archlinux - 4.20 kernel

### GPU, drivers, and screen setup
Amd Vega 56 | mesa 18.3.1 | xf86-video-amdgpu 18.1.0 | two monitors s-b-s one at 144hz and the other at 60hz.
Glx info :
 name of display: :0
display: :0  screen: 0
direct rendering: Yes
Extended renderer info (GLX_MESA_query_renderer):
    Vendor: X.Org (0x1002)
    Device: Radeon RX Vega (VEGA10, DRM 3.27.0, 4.20.0-arch1-1-

[2019-01-06 10:50] yshui commented on #85
I don't think compton is doing anything wrong here per se. I think resizing the window invalidates the windows' content, and compton is just painting the window when the content is invalid.

Hmm, can you maybe try `--xrender-sync-fence`? I don't really think it will help, but it's worth trying.

[2019-01-06 11:32] Catvert commented on #85
Hum it's really strange. That's really ugly as you can see in the video. And this issue only happen in compton with glx. I've tried xcompmgr, the xrender backend, mutter, kwin.. and this problem does not occur with them. Note that the problem is less noticeable with a vsync method but still there.

[2019-01-06 11:52] yshui commented on #85
@Catvert Interesting... I can't reproduce this problem on NVIDIA or intel. Maybe other amdgpu users can chime in.

I will have a look into this.

[2019-01-06 11:52] yshui commented on #85
@Catvert Does compton print out anything when this happens?

[2019-01-06 12:00] Catvert commented on #85
Two months ago, I also had an NVIDIA card and I didn't have this problem. No nothing is printed with the "info" log level. The "trace" level does print some informations but nothing that seems relative to it.
Here is the log when I resize a window in "trace" level : https://pastebin.com/Dv2NZPNM

[2019-01-06 16:57] yshui commented on #85
@Catvert Can you test the `resize-hack` branch, it _might_ help.

[2019-01-06 18:38] Catvert commented on #85
I just tried this branch, with the following command to launch compton : "./compton --conf /dev/null --backend glx --vsync none" and with my configuration posted in this post and I didn't notice any changes unfortunately :/

[2019-01-06 18:52] yshui commented on #85
@Catvert alright, can you record a trace of compton with `apitrace`?

[2019-01-06 19:03] Catvert commented on #85
Wow it's really weird. I didn't know how to use apitrace, this is the command I have launched : "apitrace trace compton --conf /dev/null --backend glx". The problem **disappears** when I launch compton with apitrace. I don't know if that's the function of this application but I doubt it.
The trace file is join in a zip(I only let the application run for a few seconds because the file gets very lar

[2019-01-06 19:06] yshui commented on #85
@Catvert I was kind of expecting that. Although I still don't have an idea how to fix the problem :/

[2019-01-06 19:20] Catvert commented on #85
I don't know if it can help you, but I have this warning sent by apitrace when I launch it with compton: "apitrace: warning: glXCreatePixmap: unknown key 0x20D5, interpreting value as int". If you have any questions or want to run tests, I am at your disposal.

[2019-01-06 19:45] GoingFast commented on #85
Amd cards have always been fucked with compton. So many issues. Polaris cards have some driver issue which is still not fixed when you use compton then the scrolling is very slow stuttery like 10fps feeling.

[2019-01-06 19:52] Catvert commented on #85
@GoingFast Personally, the only issue I get is that weird rendering when resizing. I even have the right to have 2 screens with different refresh rates without "any problem" (which is not the case with all composers, only Kwin and xcompmgr offer me this possibility). And the scroll is extremely smooth on my 144hz screen (the only composer with xcompmgr who offers it to me).

[2019-01-06 20:49] ChrisLahaye commented on #82
Great work you are doing. Can you maybe do a small write up and what the differences are between the backends, and which should be preferred under which circumstances?

[2019-01-06 20:51] yshui commented on #85
@Catvert I don't think having you run more tests is going to be helpful. And I think this issue might involve knowledge of inner workings of the driver, which I don't have. So I will send an email to Mesa developers asking about this, maybe they will have some ideas.

[2019-01-06 21:06] yshui commented on #82
@ChrisLahaye Great idea. I think now is probably not the right time, since some big changes to the backends are coming up. But I will keep that in mind.

[2019-01-06 21:18] yshui commented on #85
If you want to, you can keep an eye on [this](https://bugs.freedesktop.org/show_bug.cgi?id=109235)

[2019-01-07 00:31] Anthony25 commented on #85
Weirdly, I don't have the issue on Arch, with a vega 64. Same mesa and xorg version, same kernel version but I'm using zen (though it shouldn't change anything). Although, I only have 60hz screens. Maybe the glitches are only present in > 60Hz?

[2019-01-07 09:57] aufkrawall commented on #85
Vega might also not show this issue since it's modernized GPU vs. Polaris, which also means differences between drivers.
I don't think that this is a Compton issue, I've seen such artifacts various times before with Polaris, even very rarely on Windows. I especially encountered them when I had 100% CPU usage during compiling and then pin windows to parts of the screen etc.
However, I just tried to

[2019-01-07 14:47] yshui commented on #82
@aufkrawall If you have time, can you try the `tmp` branch again? You should start it with `compton --config=/dev/null --backend=xrender --vsync=opengl` (`vsync` can be anything other than `none`)

[2019-01-07 16:34] Catvert commented on #85
@Anthony25 I have tried with only 1 60hz monitor and the problem still persist.
@aufkrawall I have tried the 4.21 too and with the xf86-video-amdgpu-git and it doesn't solve my issue. It does seem to be a problem with the driver and not compton. Thank you for your feedback!

[2019-01-07 16:39] aufkrawall commented on #85
@Catvert Yeah, I was just compiling linux 5.0-rc1 and saw it again. As a layman, I would guess this might be some timing related corruption of data in video memory, which gets provoked more easily when the CPU is busy.

[2019-01-07 17:12] aufkrawall commented on #82
It doesn't crash anymore and vsync seems to be fully functional. Input latency seems to be the same as with GLX swc + glfinish. Also CPU usage looks normal.
However, windows which don't have focus are constantly flickering for me, they are turning black for some moments. This is on KDE Plasma. This is increasing when switching between different windows as active ones.

[2019-01-07 17:35] aufkrawall commented on #25
The fix for the problem originally discussed is now in linux 5.0-rc1.

[2019-01-07 17:38] Streetwalrus commented on #25
I'll try it asap, currently stuck with no monitor for my desktop.

[2019-01-07 17:40] yshui commented on #82
@aufkrawall Thanks for the feedback!

[2019-01-07 18:10] aufkrawall commented on #82
Gladly. Good news is it also doesn't show the stutter problem with amdgpu.dc=1 + radv + mpv.
It also solves a minor stutter when stopping autoscroll in Firefox (which I haven't mentioned yet, as afair even Gnome-Mutter shows this behavior).

[2019-01-07 18:44] yshui commented on #82
@aufkrawall I suspect those stutters are OpenGL specific problems, so they don't show up in xrender.

[2019-01-07 18:49] aufkrawall commented on #82
The Firefox autoscroll stutter (it really happens only once when stopping it, not in between) also happens with xrender + TearFree. And the mpv stutter doesn't happen with glx + TearFree (instead of Compton's own vsync). Makes me curious to see what will happen with Compton's future GLX vsync rework. :)

[2019-01-07 20:21] Anthony25 commented on #85
Sure, but @Catvert said in its 1st post that he has a vega 56. I also have some artifacts during high CPU consumption, but it's the same on my laptop with an intel card.

[2019-01-08 18:19] yshui commented on #25
@Streetwalrus Interesting. What is different about this monitor?

[2019-01-08 18:21] Streetwalrus commented on #25
Oh the monitor is unrelated to the issue, I was just without one for a few days (RMA'd the old one and was waiting for the refund), so I was unable to test on my amdgpu system.

[2019-01-09 20:17] aufkrawall commented on #85
Thanks for the hint. I applied the patch and started compiling with GCC on all available threads. So far I haven't encountered the issue again.

[2019-01-09 21:51] yshui commented on #85
You can confirm to them that their patch works, [here](https://bugs.freedesktop.org/show_bug.cgi?id=109235)

[2019-01-09 22:00] aufkrawall commented on #85
I'm rather being a bit more careful than the last time before thinking it's really gone, so I'll wait a day or two with this.

[2019-01-09 22:14] Catvert commented on #85
It works !!
Thanks a lot for opening this ticket and for your help in general!

[2019-01-09 22:45] yshui commented on #85
@Catvert You should thank the person who actually fixed this problem!

[2019-01-09 22:58] aufkrawall commented on #85
Well, that was really quick by AMD then. :clap:

[2019-01-14 15:55] Hi-Angel opened #87 "[REGRESSION, BISECTED] Compton draws windows very slowly"
### Platform
Archlinux, x86_64

### GPU, drivers, and screen setup
Intel(R) HD Graphics 620 (Kaby Lake GT2), two monitors configured side-by-side with xrandr

modesetting/xorg-server 1.20.3, mesa-git from 28 November 2018.
[code]

### Environment
i3wm + compton.

### Compton configuration:
[code]

### Steps of reproduction
1. Run compton built from e2182bb00bb418d616dc047d1f2c280e952f8df3 commit.

[2019-01-14 16:22] yshui commented on #87
@Hi-Angel You need to explicitly enable `vsync`

[2019-01-14 18:37] Hi-Angel commented on #87
Bug vsync would probably hurt performance, wouldn't it?

[2019-01-14 18:38] Hi-Angel commented on #87
Either way, I'll try tomorrow when I get to the PC in question.

[2019-01-15 08:18] Streetwalrus commented on #42
This isn't directly relevant, it would maybe make writing a Vulkan renderer a little easier, but it's not very likely to change the initial problem which is gaining meaningful access to the framebuffer of other applications.

[2019-01-15 15:37] aufkrawall commented on #25
Looks like my amdgpu.dc=1 + mpv vulkan + Compton vsync stutter issue is gone, I tried it several times with several restarts in between.
I'm suspecting changes in Mesa for this pleasant change, but can't yet pin it down to it as I would have to recompile llvm-git after switching to llvm stable for mesa stable, which would be quite inconvenient.
At least I tried older kernels and amdgpu DDX driver,

[2019-01-15 22:42] aufkrawall commented on #25
Mystery (partially) solved: The Vulkan stutter disappeared because I switched from mpv-master to @haasn 's repository, so it apparently contains a commit improving my situation. I suppose it will land in the main repo at some point, and if not it's a starting point for further investigation.

[2019-01-17 11:58] yshui commented on #85
Closing as this is resolved upstream.

[2019-01-17 11:58] #85 closed

[2019-01-18 23:42] yshui commented on #70
@Avi-D-coder A couple of things here:

1. Are you sure, that `compton --config /dev/null --vsync opengl-swc --backend glx` doesn't solve your problem.
2. If a screen capture doesn't record the tearing well, maybe you can point a camera to your screen.
3. Were you able to do a bisect to find the offending commit?

[2019-01-18 23:45] yshui commented on #61
@dubbadubbadubbacha As a follow up, did you get any luck building compton since last time?

[2019-01-19 15:38] pushqrdx commented on #63
@yshui Sorry for the delayed response, No i didn't as i thought it's compositor related.

[2019-01-19 16:48] yshui commented on #63
@pushqrdx OK, I will do it myself then.

[2019-01-19 17:48] Avi-D-coder commented on #70
Sorry I haven't gotten a chance to bisect yet. `compton -CG --config /dev/null --backend glx --vsync opengl-swc --glx-swap-method -1  --glx-no-stencil --vsync-use-glfinish` seems to be good enough for now.

There is still an occasional tear when playing a video and scrolling, but the situation improved drastically around the time I updated to linux 4.20.
Thank you.

[2019-01-19 17:48] #70 closed

[2019-01-23 11:01] bitshiftnetau opened #90 "Feature request: Wallpaper setter fade-in. (Access root window???)"
I'm not sure what this would entail, as I'm super green on how X and window classes work in Linux.

Anyway, a way to fade in a wallpaper setter like feh, nitrogen or hsetroot upon startup would be awesome. Fade setting does not currently affect this.

[2019-01-23 11:17] yshui commented on #90
I believe this is out of scope for compton. But I won't object if someone open a pull request for this.

[2019-01-24 19:16] yshui opened #91 "Don't use libxdg-basedir"
## Rational

libxdg-basedir seems to be mostly unmaintained. The latest release has a buffer overflow bug that's really easy to trigger (the bug is fixed in master but no release of libxdg-basedir has been made since then).

## Solution Candidates

* Fork it:
    * Pros: potentially useful for other projects
    * Cons: Getting distros to adopt that is not straightforward, and we have to keep a co

[2019-01-24 21:37] siyia2 opened #92 "Compton 90% cpu usage at blank screen idle"
### Platform
gentoo/debian

### GPU, drivers, and screen setup
ryzen 2200u vega 3 single screen laptop

### Environment
xfce4 4.12.5

### Compton version
latest from git

### Compton configuration:
[code]

### Steps of reproduction
Let lightdm lock screen at idle after a few minutes compton gets at 90% cpu usage
### Expected behavior
1-2% cpu usage at idle
### Current Behavior
90% cpu usage at idl

[2019-01-24 22:09] yshui commented on #92
@siyia2 Does this only happen when you are at the lock screen?

[2019-01-24 22:32] siyia2 commented on #92
no it happens after screen is blank and goes to sleep

[2019-01-24 23:05] yshui commented on #92
@siyia2 I might know where the problem is. In you config file, can you try change `sw-opti=true` to `sw-opti=false`, and see if that solves your problem?

[2019-01-24 23:05] siyia2 commented on #92
ok will do and post back

[2019-01-24 23:17] siyia2 commented on #92
wow i think that did the trick!i also changed opacity = 0.75; to opacity = true; in my wintypes,compton cpu usage at idle is 1% now, is this a bug?

[2019-01-24 23:33] yshui commented on #92
@siyia2 Yep, this is a bug. Might still take some time for me to find the root cause. In the meantime, just avoid using `sw-opti`. I doubt the option actually does anything nowadays.

[2019-01-24 23:34] siyia2 commented on #92
ok thx!

[2019-01-25 00:35] #92 closed

[2019-01-25 16:04] aufkrawall commented on #37
@yshui Could you please reconsider automatically activating `--vsync-use-glfinish` when `GLX_MESA_swap_control` is used for v6? I don't think we have any evidence that it can cause harm with Mesa drivers, it only reduces input latency.

[2019-01-26 14:50] siyia2 commented on #25
the following patch fixes compton lag in linux 4.20.x series i tested it:

https://bugs.freedesktop.org/attachment.cgi?id=142574

[2019-01-26 16:58] yshui commented on #25
@Streetwalrus Maybe this issue can be closed?

[2019-01-26 17:00] Streetwalrus commented on #25
Yep, I was going to but was waiting for confirmation from others.

[2019-01-26 17:00] #25 closed

[2019-01-28 14:52] siyia2 opened #95 "Screen Tearing with M&B Warband"
### Platform
Gentoo

### GPU, drivers, and screen setup
Radeon 535 mobile,vega3
llvm 7.0.1 mesa 18.3.2
### Environment
xfce4 4.12.5

### Compton version
Next and Master
### Compton configuration:
[code]

### Steps of reproduction
start mount and blade warband with radeon 535 play a map there is always screen tearing at the top of screen, regardless of in-game vsync on/off

### Expected behavior
No

[2019-01-28 15:42] siyia2 commented on #95
Just tried it no change at all

[2019-01-28 16:16] yshui commented on #95
@siyia2 Wild guess: what if you disable `vsync-use-glfinish`

[2019-01-28 16:20] aufkrawall commented on #95
Wasn't it ignored anyway when specified in config file only?

[2019-01-28 16:44] siyia2 commented on #95
i ll try to test glfinish off ,but it is important to note that the old compton works fine with radeon 535 and M&B

[2019-01-28 17:46] siyia2 commented on #95
Tested with glfinish off no change at all,if i launch the specific game without unredir-if-possible the game never graphically launches

[2019-01-28 18:08] aufkrawall commented on #95
Compton can't prevent tearing in fullscreen when there is `--unredir-if-possible = true`.

I btw. noticed some weird behavior on xfce where `--unredir-if-possible = true`breaks after alt + tabbing out of games, Compton then simply stays activated (not unredirected) when changing back into the fullscreen window.
I could provoke this behavior instantly, while it never occured at any time during mont

[2019-01-28 18:49] yshui commented on #95
@siyia2 With `unredir-if-possible = true`, compton does _nothing_ when something is fullscreen. So I think this _probably_ isn't compton's fault. Plus, I does not have the ability to reproduce this problem, since this game doesn't have a free Linux demo.

So if you think this is really a compton issue, you would have to do a bisect of compton yourself. Your effort will be appreciated though.

[2019-01-28 18:54] siyia2 commented on #95
i am sure it is compton-next fault it's the only thing that changes and causes that issue

[2019-01-28 19:21] yshui commented on #95
@siyia2 OK. There are a few things you could do. First, can you run compton with `--log-level=trace` and attached the output here? Also, if you can, please do a bisect so we can know the offending commit.

[2019-01-28 19:22] siyia2 commented on #95
--log-level=trace when it happens?

[2019-01-28 19:23] yshui commented on #95
@siyia2 Sorry for not being clear. But yes, '--log-level=trace', then run the game until the tearing happens.

[2019-01-28 21:41] siyia2 commented on #95
could you please fix the make file of clean-opt branch of compton, i will test and start to bisect from there

[2019-01-28 21:52] siyia2 commented on #95
sorry it's not the make file that has problem but a couple of the source files

[2019-01-28 23:12] yshui commented on #95
@siyia2 Why are you using that branch?

[2019-01-29 10:09] Crandel opened #96 "Config parsing error"
### Platform
Ubuntu Desktop 18.04 amd64

### GPU, drivers, and screen setup
[code]

### Environment
WM: i3-wm

### Compton version
[code]
### Compton configuration:
[my config](https://github.com/Crandel/home/blob/master/.config/compton.conf)
### Steps of reproduction
[code]

### Expected behavior
Meaningful error message

### Current Behavior
Unknown error message, not able to fix config

[2019-01-29 10:50] yshui commented on #96
This is a very good point, but unfortunately, this is what the config parsing library compton uses (libconfig) reports when it encounter errors.

I would like some informative error messages as well, but it probably can't easily be done without switching out libconfig for something else.

[2019-01-29 11:13] Crandel commented on #96
OK, so maybe you could help to fix this issue? It appear after I update compton from v4 to v5. Config was not changed

[2019-01-29 11:25] yshui commented on #96
@Crandel I can load the config file in your git repo with no problem. Maybe you have some local changes to it?

[2019-01-29 11:43] Crandel commented on #96
Hmm, strange. This is exactly config I have. OK, I will try to investigate it by myself. Thanks

[2019-01-29 12:49] yshui commented on #96
@Crandel Could be different versions of libconfig.

[2019-01-29 12:51] Crandel commented on #96
I have
[code]

[2019-01-29 13:55] arcolinuxz opened #97 "request for wiki or guide or summary of the parameters"
Just a request to get more information about the possible parameters we can use in the compton.conf.
Would be great if you can reserve one week this year to write down what all the parameters mean.

I have tried to do so here :

https://github.com/arcolinux/arcolinux-openbox-configs/blob/master/compton/compton.conf

It is based on your compton.conf and then added lines to explain what it does.

Fr

[2019-01-29 15:17] yshui commented on #97
@arcolinuxz Is there anything missing in the man pages?

[2019-01-29 16:05] siyia2 commented on #95
--log-trace does not exist as  a compton function,however running compton/netx from the terminal and playin M&B Warband didn't cause tearing

[2019-01-29 16:25] zeroryuki opened #98 "glx_blur_dst ERROR : GL_INVALID_ENUM"
### Platform
Kali GNU/Linux Rolling 2018.1

### GPU, drivers, and screen setup
[code]
### Environment
BSPWM

### Compton version
[code]

### Compton configuration:
[code]

### Steps of reproduction

1. Run compton with my config file without -b flag

### Current Behavior
1. Blur effect are working, the only thing is the error message not stopping
2. CPU temp keep increasing when run with this sett

[2019-01-29 17:02] yshui commented on #95
@siyia2 Sorry but I am not sure what you mean. does the `next` branch of compton not causing tearing anymore?

[2019-01-29 17:06] yshui commented on #98
@zeroryuki Your mesa _might_ be too old. You can find out which GL function is causing the error by using apitrace.

I will see if I can reproduce this when I have access to my intel laptop.

[2019-01-29 17:42] siyia2 commented on #95
if i boot xfce4 with no compositor and then run compton/next from terminal no tearing which is weird

[2019-01-29 17:42] zeroryuki commented on #98
this is what i get from apitrace

[code]

[2019-01-29 17:53] yshui commented on #98
@zeroryuki If you double click on that frame, then one of the calls in that frame will be marked with a beetle. That is the failing call.

[2019-01-29 18:47] arcolinuxz commented on #97
I am going over the man pages now and I see that what you use in your compton.sample.conf is not entirely the same.
Other naming conventions, other default settings,

# fade-delta = 30; in the compton.sample.conf and in the manual default 10
dropdown_menu = { opacity = 0.8; } in compton.conf and in the manual -m opacity

Would be great if you can add comments to the compton.sample.conf so we are a

[2019-01-29 20:23] arcolinuxz commented on #97
sounds already like an improvement...
Is there a 'default' config that we can use? - I thought this compton.sample.conf could be it.
We are using the compton.conf on 5 different desktops.
Are there recommendations for these 5 desktops?
Are there issues we should be aware of?

[2019-01-29 21:46] yshui commented on #97
We can probably provide a 'default' config, but that is only going to serve a documentation propose, since when you run compton without any config file, it is using the default config. OTOH, we don't want an extra piece of documentation that can go out of sync.

Plus, the 'default' config has options that are likely not what the user wanted (I know, this is bad. This is a problem existed before th

[2019-01-29 22:08] yshui commented on #98
@zeroryuki I can totally reproduce this bug. Will investigate.

[2019-01-29 22:24] yshui commented on #98
I think this bug is inherited from before the forked. The errors have always been there, but are hidden behind debug build options, thus never discovered.

[2019-01-29 22:55] zeroryuki commented on #98
@yshui i have tried using tryone144 improved_fbo branch for temporary work, and as u said, it just make the error message gone and hidden. My cpu temp still high, got to change blur-kern = "5x5box", and my cpu is normal again.

[2019-01-29 23:21] yshui commented on #98
@zeroryuki Latest `next` branch should fix your problems. But I don't think CPU usage is related to this.

`blur-kern = "7x7box"` is pretty heavy and would probably require a more powerful GPU than yours.

[2019-01-29 23:34] zeroryuki commented on #98
@yshui your latest commit fixed the issue. yeah for that blur-kern, I've been using it on old compton, never saw any temp increase. thats not a big issue for me. thanks for your work

[2019-01-30 00:05] siyia2 commented on #95
ok i think i figured it out,some sort of race condition when booting xfce4 caused the malfunction with compton-next,if i delay compton's startup by 2s i cannot reproduce the tearing in M&B.

[2019-01-30 00:32] #98 closed

[2019-01-30 01:09] yshui commented on #95
@siyia2 Can you check if compton is actually running when you delay its start?

[2019-01-30 01:10] yshui commented on #98
@zeroryuki If you think the CPU usage increase is a regression, it would be helpful for us if you can figure out what is causing the increase by using tools like `perf`. Also I think it is better to open a new issue for the CPU usage increase.

[2019-01-30 01:12] yshui commented on #95
It is `--log-level=trace`

[2019-01-30 01:13] siyia2 commented on #95
yea i didnt have apitrace installed i will test again because it doesnt make sense an post back

[2019-01-30 02:19] siyia2 commented on #95
yea i am 100% sure it's what i told and i am sure compton runs in both cases:

Screen Tear=start compton immediately with xfce4 and use secondary dedicated gpu for M&B

No Tear=start compton with at least 2s delay  in xfce4 and use secondary dedicated gpu for M&B

[2019-01-30 02:22] siyia2 commented on #95
i also get compton: unrecognized option '--log-level=trace'

[2019-01-30 02:32] yshui commented on #95
@siyia2 You are probably running an older version of compton, current next should have --log-level

[2019-01-30 02:44] siyia2 commented on #95
https://github.com/yshui/compton

i pressed download

[2019-01-30 02:45] siyia2 commented on #95
delayin compton at startup always fixes the tearing for M&B all else equal i reproduced it 5 times

[2019-01-30 12:37] siyia2 commented on #95
are there any requirements for running --log-level=trace?i can run it with the same compton-next on my arch box but not on my gentoo laptop

[2019-01-30 13:07] yshui commented on #95
Check if you are running the same version of compton (`compton --version`)

[2019-01-30 13:18] siyia2 commented on #95
i get unrecognised option --version

[2019-01-30 14:33] siyia2 commented on #95
ok regardless of that, delaying compton's-next start with xfce 4.12.5 fixes the issue 100% i opened.

[2019-01-30 14:57] maximbaz commented on #70
@yshui I've just got an update for `v5.0` on Arch Linux and experienced this bug, interestingly the issue didn't reproduce with

[code]

like you suggested, but it did reproduce with `compton` when my config file only contained two lines:

[code]

This lead me to believe that v5 is not properly reading config files. I've seen that you fixed this recently, so I compiled compton from `next` branch a

[2019-01-30 15:10] yshui commented on #70
@maximbaz I might be that compton is not reading your config file. `compton --diagnostics` will tell you which config file is used.

[2019-01-30 15:15] maximbaz commented on #70
That confirms the issue!

On v5:

[code]

On `next` branch:

[code]

[2019-01-30 15:22] c0nd3v commented on #32
Please can we get this implemented.

[2019-01-30 15:58] siyia2 commented on #95
ok my bad i had 2 compton installations on my system and delayin compton-next caused old compton to start that's why the issue was solved here is the trace log wehn it happens

[trace.txt](https://github.com/yshui/compton/files/2813354/trace.txt)

[2019-01-30 16:01] yshui commented on #95
@siyia2 just to confirm, does `unredir-if-possible = false` solve your problem?

[2019-01-30 16:16] siyia2 commented on #95
yes totally with compton-next,i guess i will exclude M&B from unredir-if-possible = false in my config, what was confusing was that i had both compton old and next start and couldnt reproduce the problem,other games with unredir-if-possible = false work fine.

[2019-01-30 16:24] yshui commented on #95
@siyia2 So, a reasonable hypothesis would be that `unredir-if-possible` doesn't actually work correctly in _older_ versions of compton, so the screen is not actually unredirected when you start the game. Thus vsync works in the game with older versions of compton.

With `compton-next`, the screen is properly unredirected thus vsync stops to work.

[2019-01-30 16:26] siyia2 commented on #95
ok i think i can close this issue,also why the -next branch is not bumped to v5?it is still reported as v4

[2019-01-30 16:28] yshui commented on #95
I am _quite_ certain -next is at `v5-rc4`

[2019-01-30 16:34] siyia2 commented on #95
ok all good, sorry for the confusion

[2019-01-30 16:34] #95 closed

[2019-01-30 21:55] yshui opened #99 "Release scheme"
## Problem

I originally wanted a simple release scheme: a release number that is incremented by 1 everytime a release is made, and the same number will be used as the version number.

But after a number of releases, I noticed a pattern: we do two kinds of releases, bug fix releases and "feature" releases. (Well, obviously this pattern is not new. This is mostly me being new to the world of softwa

[2019-01-31 01:55] siyia2 commented on #99
superb!

[2019-01-31 06:36] Banbeucmas commented on #99
Oh yes. Congratz

[2019-01-31 16:42] siyia2 opened #102 "Blur Fatal Error Vega3"
// The template below is for reporting bugs. For feature requests and others, feel free to delete irrelevant entries.

### Platform
gentoo

### GPU, drivers, and screen setup
mesa 18.3.2 llvm 7.01
### Environment
xfce4 4.12.5

### Compton version
V5

### Compton configuration:
[code]

### Steps of reproduction

1. Enable blur options in config
2.Start compton

### Expected behavior
compton to run

[2019-01-31 17:35] yshui commented on #102
Can you compile compton with debug info and/or symbols, and get a stack trace of the crash?

[2019-01-31 17:47] siyia2 commented on #102
is there a meson flag for this?

[2019-01-31 18:18] yshui commented on #102
@siyia2 `-Dbuildtype=debug`

[2019-01-31 18:22] siyia2 commented on #102
ok built it with debug,how to i get a stacktrace this is a first for me?

[2019-01-31 18:36] siyia2 commented on #102
ok did it:
Reading symbols from compton done.
Starting program compton

then the whole screen freezes no output

[2019-01-31 18:54] siyia2 commented on #102
[gdb.txt](https://github.com/yshui/compton/files/2818659/gdb.txt)

ok how is that?

[2019-01-31 19:57] yshui commented on #102
That doesn't contain the stack trace. Let's try another way: build compton with `-Dsanitize=true`, then run it.

[2019-01-31 20:21] siyia2 commented on #102
gdb still crashes no outpu no log

[2019-01-31 20:37] yshui commented on #102
Don't use gdb this time. Remember to compile with -Dsanitize=true

[2019-01-31 21:46] siyia2 commented on #102
and do what?

[2019-01-31 21:50] yshui commented on #102
Run compton

[2019-01-31 22:42] yshui commented on #102
@siyia2 Should be fixed in `next`, can you try?

[2019-01-31 23:21] siyia2 commented on #102
ok yes

[2019-01-31 23:23] yshui commented on #102
If compton from the `next` branch no longer crashes, can you close this issue?

[2019-02-01 15:16] siyia2 opened #103 "Shadow lines in terminal with blur(any type)"
### Platform
gentoo/arch

### GPU, drivers, and screen setup
vega 3 , radeon 535
mesa 18.3.2 llvm 7.0.1
### Environment
xfce4 4.12.5

### Compton version
v5/stable
### Compton configuration:
[code]

### Steps of reproduction

1.enable blur with buffer-age
2.open a terminal drag it and then write into it

### Expected behavior
No shadow lines to appear
### Current Behavior
shadow lines appear in th

[2019-02-01 16:52] yshui commented on #103
Please remember to quote your configuration file.

Also, please provide a screenshot since that will help me understand the problem you are having.

[2019-02-01 17:00] siyia2 commented on #103
![screenshot_2019-02-01_19-00-37](https://user-images.githubusercontent.com/46220960/52137585-90809e00-2653-11e9-80e6-6781d13357fb.png)

[2019-02-01 17:44] yshui commented on #103
This is known, see #50 .

A workaround would be `--resize-damage=7`

[2019-02-01 17:47] siyia2 commented on #103
another proposed workaround was glx-swap-method=0/1/2/3 is there a disadvantage to using instead that of buffer-age?

[2019-02-01 18:18] yshui commented on #103
buffer-age is supposed to have slightly better performance.

I will close this as a duplicate.

[2019-02-01 18:18] #103 closed

[2019-02-01 18:31] x70b1 commented on #99
Here is more about it: [semver.org](https://semver.org/)

[2019-02-01 19:15] yshui commented on #99
@x70b1 I am aware. I was just thinking maybe we don't need the full three levels of version numbers.

[2019-02-01 19:20] x70b1 commented on #99
That was just a hint. If you don't need the complete package it's okay. :wink:

[2019-02-01 19:32] x70b1 commented on #96
I have something similar:

In my config is `blur-kern = "7x7box";`:
[code]

But if I use `compton --config ~/.config/compton/config --blur-kern="7x7box"` it works.
So something is broken here.

[code]
[code]

[2019-02-01 22:38] yshui commented on #96
@x70b1 can you provide your whole config file?

[2019-02-01 22:42] x70b1 commented on #96
Already this fails:

[code]
But you can't reproduce it?

[2019-02-01 23:34] yshui commented on #96
@x70b1 Hmm, really strange. I get an error when using my distros' compton (Archlinux), but not from the compton I built from the same commit.

[2019-02-01 23:40] x70b1 commented on #96
Damn.

[2019-02-01 23:42] yshui commented on #96
@x70b1 Run `compton --diagnostics` to make sure the config file used is what you expect.

[2019-02-01 23:55] x70b1 commented on #96
Yes, the config path is correct. Actually I have no idea too. Arch switched the upstream repo from chjj/compton to yshui/compton some days ago. After that my blur-setting fails.

`blur-kern = "";` is parsable - but is not what I wanted.
Also the blur value from the manpage `7,7,0.000003,0.000102,0.0008 ....` fails in my config.

A parameter `--blur-kern` works fine. That seems to be my workaround.

[2019-02-02 00:06] yshui commented on #96
@x70b1 Hmm, I have an idea. What is your locale? Can you paste the output of `locale`?

[2019-02-02 00:09] x70b1 commented on #96
[code]

[2019-02-02 00:12] yshui commented on #96
@x70b1 So this is why... I will see how I can fix it.

[2019-02-02 00:13] x70b1 commented on #96
Is the `matrix` value something that is locale specific?

[2019-02-02 00:16] yshui commented on #96
@x70b1 Yep, because `7,7` is now a real number equals to 77 divided by 10.

[2019-02-02 01:32] yshui commented on #96
@x70b1 Fixed in `next`. But I think this problem probably doesn't relate to @Crandel's problem, so I will flag our conversation off-topic

[2019-02-02 02:03] x70b1 commented on #96
Works now. Thanks a lot for your great job! :+1:

[2019-02-03 04:06] dikiaap commented on #99
The release date on GitHub release page also needs correction. [Compton v5.0](https://github.com/yshui/compton/releases/tag/v5) was released on December 9, 2018 which should be January 20, 2019. Iirc, this also happened in the previous release.

[2019-02-06 21:36] #99 closed

[2019-02-07 01:16] yshui commented on #96
@Crandel What is the output of `locale` on your system?

[2019-02-08 13:07] Crandel commented on #96
Sorry for delay
[code]

[2019-02-08 13:08] anowlcalledjosh opened #107 "Weird issues with wallpaper"
### Platform

Ubuntu Desktop 18.04 amd64

### GPU, drivers, and screen setup

Nvidia GTX 1050 (driver version 410.78) & Intel integrated graphics, Mesa 18.2, two monitors (external above, internal below)

<details><summary><code>glxinfo -B</code> (using Intel graphics)</summary>

[code]

</details>

### Environment

i3-gaps 4.16.1

### Compton version

v5-rc4-71-g5fffb6f3f

[code]

### Compton con

[2019-02-08 14:34] yshui commented on #96
OK, I am out of ideas.

[2019-02-08 14:41] yshui commented on #96
I forgot I haven't tried your version of libconfig yet.

Turns out it is indeed a libconfig problem. libconfig 1.5 has this problem, while 1.7.2 is perfectly fine.

Not sure what I can do.

[2019-02-08 14:42] yshui commented on #96
BTW, to fix your problem, just remove the extra comma at the end of each list.

e.g.

[code]

Should be

[code]

[2019-02-08 15:11] vn971 opened #108 "support for glx-fshader-win is really needed!"
First of all, thanks for your work in keeping compton alive!
The actual feature request is: please keep support for glx-fshader-win! It's certainly used, see for example here: https://github.com/vn971/linux-color-inversion. I use it a lot in dark environment, the GLX color inversion is so much better than the RGB inversion. I think it is indeed being used by people in the wild.

Telling the system

[2019-02-08 15:19] yshui commented on #108
Noted!

Thanks for the feedback.

[2019-02-08 21:52] yshui commented on #107
Can you check if the `wallpaper-fix` branch fix your problem?

[2019-02-09 14:42] anowlcalledjosh commented on #107
Yep, that fixes it. Thanks!

[2019-02-09 15:16] #107 closed

[2019-02-09 22:04] siyia2 opened #110 "Cannot apply blur-kern in compton.conf (AMD Polaris)"
### Platform
Archlinux

### GPU, drivers, and screen setup
Mesa 18.3.3 llvm 7.0.1 Polaris rx 550
### Environment
xfce4 4.12.5
### Compton version
compton-next/stable

### Compton configuration:

 # Shadow
shadow = true;
shadow-radius = 7;
shadow-offset-x = -7;
shadow-offset-y = -7;
shadow-opacity = 0.5;
 #shadow-red = 1.0;
 #shadow-green = 0.0;
 #shadow-blue = 0.0;
shadow-exclude = [
	"name = 'Not

[2019-02-09 22:55] siyia2 commented on #110
"" were missing from my blur-kern=, my bad, i close this issue

[2019-02-09 22:55] #110 closed

[2019-02-11 23:16] #64 closed

[2019-02-12 09:54] severen commented on #96
Related: When Compton (or libconfig) fails to parse the config, Compton will still run anyway. IMO the Compton's behaviour should be to exit with a non-zero exit code. This is especially helpful if you run Compton as a systemd user service and what to check if it has failed with `systemctl --user --failed`.

As an anecdote I noticed earlier today that shadows and fading weren't working, leading me

[2019-02-12 14:07] yshui commented on #96
@severen Good point.

[2019-02-12 20:22] severen opened #112 "Man page is out of date"
The man page entry for the `no-dock-shadow` option is out of date, and does not say that it is deprecated, nor does it say that `paint-on-overlay` has been removed.

[2019-02-12 22:11] jocap opened #113 "C library ev not found (libev doesn't provide a .pc for pkg-config)"
### Platform
OpenBSD 6.4

### Compton version
5.1

### Problem
When building:

    meson --buildtype=release . build

... the library 'ev' is not found, even though I have libev installed.

I guess this is because libev doesn't provide a .pc file for pkg-config, which I presume meson tries to use to find it. While some GNU/Linux distributions provide their own .pc for libev, I don't think that the

[2019-02-13 01:40] remyabel commented on #113
The problem isn't the lack of a `pc` file. In this instance, meson will do a test compile (similar to the autotools feature):

[code]

More than likely you are missing `libev-devel`.

[2019-02-13 01:58] remyabel commented on #113
Actually, I think this might be a bug in Meson. See [#3570](https://github.com/mesonbuild/meson/issues/3570).

[2019-02-13 02:07] yshui commented on #113
/me starts to think whether using meson is really a good idea or not :/

[2019-02-13 02:11] yshui commented on #112
Thanks for pointing this out!

[2019-02-13 02:11] #112 closed

[2019-02-13 02:32] yshui commented on #96
@severen Done

[2019-02-13 11:05] Crandel commented on #96
@yshui I delete commas and it works, thank you very much

[2019-02-13 11:05] #96 closed

[2019-02-16 15:34] yshui opened #114 "[RFC] Deprecation process"
## Rational
There are a lot of potential reasons we want to deprecated a options. The option might be added without enough consideration and causes users trouble. The option could be too confusing to user, or require too much inside knowledge to use correctly, without be beneficial or useful. The option requires too much effort to maintain but doesn't have users. etc.

Each time we deprecate anyth

[2019-02-17 16:36] yshui opened #115 "Slow glx_bind_pixmap causes fading to be skipped"
A window pixmap is only bound to glx texture when it's first rendered to screen, at which time the fade timer has already started running. The binding operation is quite slow, causing the window opacity to change abruptly, sometimes completely skip the fading if the fade delta is big enough.

[2019-02-17 19:59] kapsh opened #116 "FTBFS with -Dxinerama=false"
### Platform
Exherbo amd64

### Compton version
cea010afecfe34aaf2d7f590367c4a860eea0002

### Steps of reproduction

1. `git clone`
2. `meson . build -Dxinerama=false `
3. `ninja -C build`

### Expected behavior
Builds.

### Current Behavior
[code]

[build.log](https://github.com/yshui/compton/files/2873346/build.log)

[2019-02-17 20:16] kapsh commented on #116
Guarding with `ifdef` fixes this, but I don't know the code to tell about consequences.
[code]

[2019-02-17 21:06] yshui commented on #116
@kapsh Is there any real reasons to disable xinerama? Because I plan to make xinerama non-optional.

[2019-02-17 21:46] kapsh commented on #116
@yshui 	hello. No, no actual reason, but this is documented.

I am migrating from old (chjj's) compton and the package in my distro (source-based) had option for disabling xinerama because it was adding an extra dependency on libXinerama. Currently (as in v5.1) it really doesn't change much: libxcb usually comes in single package and it's required anyway.

[2019-02-18 18:20] clapbr commented on #42
another project to borrow ideas from https://www.phoronix.com/scan.php?page=news_item&px=Chamferwm-Vulkan-WM

[2019-02-18 21:04] #116 closed

[2019-02-19 00:12] ortango opened #118 "xinerama-shadow-crop = true results in a FATAL ERROR"
### Platform
archlinux x64 updated.

### GPU, drivers, and screen setup
intel, 2 monitors side by side

### Environment
bspwm

### Compton version
v5-rc4-95-gbb8fd08

### Compton configuration:
[code]
xcb-xinerama is present and compton is building with it fine

### Expected behavior
compton starts with xinerama-shadow-crop = true

### Current Behavior
compton exits with `session_init FATAL ERROR

[2019-02-19 13:00] yshui commented on #118
Thanks!

[2019-02-19 14:39] BBBob opened #119 "Can not see some programs after upgrading to the latest version"
### Platform
Arch Linux x86_64
Kernel Release: 4.20.8-arch1-1-ARCH

### GPU, drivers, and screen setup
Intel(R) HD Graphics 620

xf86-video-intel 1:2.99.917+831+ge7bfc906-1

mesa 18.3.3-2

[code]

### Environment
i3-gaps

### Compton version
v5-rc4-95-gbb8fd08

the output of `compton --diagnostics`:
[code]

after fixing the warnings:

[code]

### Compton configuration:
[code]

### Steps of reprodu

[2019-02-19 20:49] #118 closed

[2019-02-19 20:50] yshui commented on #119
Thanks for reporting!

I can reproduce this problem as well, will investigate.

[2019-02-20 01:12] yshui commented on #119
Can you test the latest `next`?

[2019-02-20 09:32] BBBob commented on #119
It works now. Thank you very much!

[2019-02-21 13:08] yshui commented on #119
@BBBob This is not related to this issue. Can you try the latest `next`, maybe that will fix your problem, if not, please open another issue.

[2019-02-21 13:08] #119 closed

[2019-02-21 13:29] enanajmain opened #120 "How to install in ubuntu?"
Hello,
I seem to have forgotten how to install compton from source. I've done it before.
Now, I've advanced till
[code]
and there is a binary at `build/src/`
But I looked at my already install compton binary, which is installed in `/usr/local/bin`, along with two other files named
[code]
I don't know if these files were installed with my first official installation. So, do I just copy `compton/bui

[2019-02-21 15:11] yshui commented on #120
@enanajmain Try `ninja -C build install`

[2019-02-21 15:58] enanajmain commented on #120
Thanks. It worked. Maybe you could add this info in the README?

[2019-02-21 18:25] yshui commented on #120
I will

[2019-02-21 18:25] #120 closed

[2019-02-21 18:26] yshui commented on #114
Addition: If a feature is never documented (never appeared in `--help` or the man page), it can be removed without going through this process.

[2019-02-21 19:51] p4block opened #121 "Segfaults on workspace change since around this afternoon"
### Platform
Arch Linux

### GPU, drivers, and screen setup
Kernel 5.0 rc7 + amdgpu + mesa 19 (git)

### Environment
bspwm

### Compton version
**Version:** v5-rc4-122-g6487047

### Extensions:

* Name Pixmap: Yes
* Shape: Yes
* XRandR: Yes
* Present: Present

### Misc:

* Use Overlay: Yes
* Config file used: /home/hal/.config/compton/compton.conf

### Compton configuration:
shadow = true;
inactiv

[2019-02-21 22:31] yshui commented on #121
Can you make sure you build compton with debug info and get another stacktrace?

[2019-02-21 22:33] #121 closed

[2019-02-21 22:33] yshui commented on #121
@p4block Should be fixed in latest `next`, if not, please reopen.

[2019-02-22 18:57] llitz opened #122 "BSPWM - Sending Window to other desktop breaks painting"
compton version: tried with ~~stable/5 and~~ next branches on 2019-02-22
backend = xrender

Running compton and sending a window to a different desktop on bspwm blurs the whole screen, when going to the other screen the window is completely invisible. If this is an extra window of firefox or urxvt, some windows back on the original desktop will be randomly painted or not.

Have tried playing with

[2019-02-22 19:32] yshui commented on #122
@llitz Can you run with `log-level = trace` and attach the log again? Thanks.

[2019-02-22 20:29] llitz commented on #122
Here we go, didn't realize we had a trace option.
[compton.debug.gz](https://github.com/yshui/compton/files/2895702/compton.debug.gz)

[2019-02-23 00:23] yshui commented on #122
@llitz Current `next` should fix your problem, can you give it a go?

(Related commits 8d639f4, 1005e61. Yes, this is caused by two bugs).

[2019-02-23 01:21] llitz commented on #122
@yshui Fix worked, that was some very fast tracking, nice job

[2019-02-23 01:21] #122 closed

[2019-02-26 19:52] 3N4N opened #123 "Screen recording with ffmpeg causes flickering when compton is running"
### Platform
Ubuntu Desktop 18.10 x86_64

### GPU, drivers, and screen setup
* Video card info
    * AMD Radeon R7 M445
    * Intel HD Graphics 620
**N.B** I don't really know which one gets activated when or if it even matters. But I think I only Intel HD graphics is on all the time, I'm not certain.

* Video card driver
I don't know how to check that. I'm just putting output of `lspci` here.
[co

[2019-02-26 20:09] yshui commented on #123
Do you have a video of the flickering?

[2019-02-26 20:58] enanajmain commented on #123
[Here is a demo of the flickering](https://imgur.com/ON3kECP).
And [here is a demo with xrender backend](https://imgur.com/q6Bi6tB).

I don't see any flickering with xrender backend, but I added a video demo of xrender backend as well.

[2019-02-26 22:09] yshui opened #124 "Handle driver quirks"
## Why

Each driver might have their own oddities which require special treatment

## Tasks

### General task
- [x] Detect video driver
  - [x] XRandR providers
  - [ ] ~GL server string.~

### Driver specific tasks
#### Nvidia
- [x] Enable xsync fences

[2019-02-26 22:11] yshui commented on #123
@enanajmain To use the xrender backend, you need to pass `--vsync none`

[2019-02-27 00:21] yshui commented on #123
@enanajmain BTW, can you also check if this happens with other compositors (e.g. KWin, GNOME mutter, etc.)

Thanks!

[2019-02-27 06:53] enanajmain commented on #123
[Here is a link](https://imgur.com/8roZrBm) to the demo of recorded video with xrender backend. There is no flickering in the recorded video, and my normal experience is also tearing free.

I've not yet tried out other compositors that you mentioned. I'll get back to you after I do so.

[2019-02-27 10:25] yshui commented on #123
@enanajmain OK, there is an easy thing you can try that _might_ fix the problem: `--xrender-sync-fence`

[2019-02-27 11:55] yshui commented on #123
@enanajmain Also, while you are trying that, can you also run compton like this `LIBGL_DEBUG=verbose compton (your command line flags here)`, and post the outputs?

[2019-02-27 16:28] enanajmain commented on #123
The flickering also happens with `--xrender-sync-fence` flag with `backend=glx` in config file.

The output of `LIBGL_DEBUG=verbose compton --config ~/projects/dotFiles/compton.conf --xrender-sync-fence`
[code]

The output of `LIBGL_DEBUG=verbose compton --config ~/projects/dotFiles/compton.conf --xrender-sync-fence --vsync none` with `backend=xrender` in config file was nothing. In this case, the

[2019-02-27 16:43] enanajmain commented on #123
By the way, I never really looked at my config file. I don't even remember where I got it from. I just had to change some lines when I moved to your fork from the official version, some options were deprecated or renamed.

Now I started looking through it and that file is well documented but I can't really understand much. Would it be bad if I just used the `compton.example.conf` file in the repos

[2019-02-27 17:03] yshui commented on #123
@enanajmain Oh, there is a thing I need clarification: do you also see the flickering with you eyes? As in, is the flickering only visible in the recording? Or is the flickering also visible on the screen?

[2019-02-27 17:20] enanajmain commented on #123
i'm gonna use `flickering` to indicate flickering in recorded video and `tearing` to indicate screen tearing visible on the screen.

* When I use `backend = glx`, with or without `--xrender-sync-fence`, causes flickering but not tearing.
* When I use `backend = xrender`, with or without `--xrender-sync-fence`, causes flickering but not tearing.

Of course when I use `backend = xrender`, I'm also a

[2019-02-27 17:24] yshui commented on #123
@enanajmain OK, so there is flickering in the recorded video, but what you saw on the screen is not what recorded in the video? Meaning there is no flickering on the screen (regardless of tearing)?

[2019-02-27 17:46] enanajmain commented on #123
Yes, but the tearing that I see, when the video comes out fine is not *that* bad as you can see in the video when the video comes out flickering. I'm going to iterate once more.

* `backend = glx` in compton.conf, with or without ` --xrender-sync-fence` in launch option
  * there is no normal screen tearing.
  * the recorded video has flickering
* `backend = xrender` in compton.conf, with `--vsync

[2019-02-27 17:59] yshui commented on #123
@enanajmain Thanks. I understand your problem, and I understand what you consider as tearing. But thanks for clarification.

I'm asking whether you see the same flickering both in video and on screen because that provide us useful information to locate the problem.

[2019-02-27 18:13] enanajmain commented on #123
No, when I see tearing in screen, there is no flickering in recorded video.
when I see flickering in recorded video, I don't see any screen tearing.

[2019-02-27 18:16] yshui commented on #123
@enanajmain So from what I heard so far, there is a decent chance that this bug is in the driver, not compton.

However, the driver you are using is configured in an "outdated" mode (It uses DRI2 instead of DRI3). This problem might just go away if you update your configuration.

If you post the config files in `/etc/X11/xorg.conf.d/` and `/etc/X11/xorg.conf`, and maybe also the X log file `/var/l

[2019-02-27 18:22] enanajmain commented on #123
`/etc/X11/xorg.conf.d/` doesn't exist. Here is a directory listing of `/etc/X11/`
[code]

`/etc/X11/xorg.conf`
[code]

`/var/log/Xorg.0.log`
[code]

[2019-02-27 18:31] yshui commented on #123
@enanajmain Hmm, your X is a bit old, so this might not work. Try add `Option "DRI" "3"` to your xorg.conf (between `Section` and `EndSection`) and see what happens.

[2019-03-01 16:35] enanajmain commented on #123
After editing xorg.conf, do I need to restart X?

Sorry for late response, I've an exam soon. Is there any way to halt compton (running in background, launched from ~/.xinitrc) for the time of recording? My desperate hack is to killall compton and relaunch compton within a script for recording. It'll get me by through this season. I can't really give much time now into fixing this.

I'll get back

[2019-03-01 16:52] yshui commented on #123
Yes

[2019-03-06 01:04] Kommynct opened #126 "Would it be possible to utilize freesync/gsync/vrr to further optimize compton?"
This is mostly a technical curiosity, honestly, i'd be interested if you could actually eliminate input latency from vsync, could that be done?

[2019-03-07 13:28] aufkrawall commented on #126
One reason for compositors being blacklisted for VRR in the driver is because they have insane variations between the presentation duration of different frames, as they throttle compositing when the screen content doesn't change every frame.
That can cause flickering with VRR, since there is a difference in brightness between lower and higher refresh rates.

Though it might work with some displays

[2019-03-07 20:36] Lovewyrm opened #127 "ps->backend_data is NULL and segfaults in configure_root at line 807 compton.c"
Pretty much what the topic says.
Running commit  7e3976947bd02a5c94a5fdf33f46b6955df272f0 , but it happend with earlier versions, too.

On Slackware 64, current snapshot (14.2) with:
mesa-18.3.4
xorg-server-1.20.3-x86_64-1
xorg-server-xephyr-1.20.3
xorg-server-xnest-1.20.3-
xorg-server-xvfb-1.20.3

Anyway, ever since I got a new GPU, Nvidia 1060, driver version 418.43 (but others too), compton cra

[2019-03-07 23:55] #127 closed

[2019-03-07 23:55] yshui commented on #127
Should be fixed in `next` now.

It's a dumb mistake, sorry.

[2019-03-07 23:55] #114 closed

[2019-03-08 00:03] yshui commented on #126
Looks to me your can just enable vrr in mesa's config file (if you are using AMD, not sure about the other drivers), I don't think there is anything compton needs to do in particular?

[2019-03-08 01:20] Lovewyrm commented on #127
Thanks a bunch, that fixed it, indeed!

[2019-03-08 16:23] anowlcalledjosh opened #128 "Segfault on monitor plug/unplug"
### Platform

Ubuntu Desktop 18.04 amd64

### GPU, drivers, and screen setup

Intel integrated graphics, two monitors configured vertically with xrandr

Mesa 18.2.2

[code]

### Environment

i3-gaps

### Compton version

[code]

### Compton configuration:

[code]

### Steps of reproduction

1. Run compton
2. Plug/unplug a monitor

### Expected behavior

Compton shouldn't segfault.

### Current Beh

[2019-03-08 20:50] yshui commented on #128
Likely a duplicate of #127.

[2019-03-09 14:46] yshui commented on #11
I think I understand this bug now. This is because `BindTexImageEXT` is _so slow_ on NVIDIA driver. When a new window comes up, compton need to call that to create a texture for it, and since it's so slow on NVIDIA, it creates a lag.

Not sure what compton can do.

[2019-03-09 21:19] anowlcalledjosh commented on #128
`next` fixes it, thanks :)

[2019-03-09 21:19] #128 closed

[2019-03-10 19:23] aufkrawall commented on #82
Congrats to your new experimental xrender backend and vsync, they achieve perfect vsync with minimal latency for me on a RX 580 (same as Gnome-Mutter or Windows DWM). What a great success!
I suppose it's still WIP, but some feedback regardless :) :
-Fading looks rather choppy and turning fading off can lead to weird "ghost" behavior when closing windows, they flicker a few times before finally dis

[2019-03-10 19:42] yshui commented on #82
Do you have a screenshot/recording of that?

This is known, I understand why it happens, but it probably won't be fixed before v7.

Weird. Does this happen with the old backends?

It always use buffer-age.

Hmm the single hyphen version should be simply ignored, not sure what happened here.

Also, thanks for testing the new backends :)

[2019-03-10 20:17] aufkrawall commented on #82
Not sure if I can record the "ghost" behavior yet, as it seemed to happen rather erratically and it's too unstable for daily usage.
But the choppy fading is easy to spot with my settings, which are:
fading = true;
fade-delta = 4;
fade-in-step = 0.03;
fade-out-step = 0.03;

The new GLX backend doesn't show this behavior, only new xrender.

It [tearing inside Vulkan windows with application vsync di

[2019-03-10 22:32] yshui commented on #82
Maybe that's just because of frame drop.

[2019-03-10 22:47] aufkrawall commented on #82
Now that you say it: It really looks like that.

[2019-03-11 11:40] aufkrawall commented on #82
Hm, weird. Could it be the latest changes for the new GXL backend also improved performance for new xrender backend? At least my fading performance issue is gone after recompile.

Regarding the tearing inside Vulkan windows with new xrender: I can't reproduce it with latest 5.0 kernel, so perhaps it's a regression of amdgpu.dc in their latest drm-next-5.2-wip kernel which I was using before.

[2019-03-11 21:50] zkeng commented on #25
Hi and thank your for the input I got from this thread.
I have a new mITX workstation with an AMD Athlon 200GE (Raven Ridge) APU with Vega 3 graphics. It is running Debian Stretch, with some necessary upgrades from stretch-backports for the Zen cpu cores and Raven Ridge graphics, and I use Openbox and Compton. I got everything working great, with no issues what so ever, except that xorg will not s

[2019-03-11 21:56] zkeng commented on #25
Maybe I should add that I am on Linux 4.19, so I got it working without benefiting from the upcoming patches mentioned in this thread. For me it was just a matter of finding the magical combination of the right compton options ;)

[2019-03-11 22:35] aufkrawall commented on #25
Afair `--glx-copy-from-front` partially breaks vsync (tearing might occur only very close to the top or the bottom of the screen and thus would be hard to spot), which would explain why there are no performance issues for you with kernels <5.0.

This option is deprecated (it probably has never worked correctly) and `--glx-swap-method = buffer-age` should be considered the best replacement for it.

[2019-03-11 23:27] yshui commented on #25
I don't quite understand why `--glx-copy-from-front` breaks vsync. It could be some synchronization issue.

But, like @aufkrawall said, it really should be used nowadays.

[2019-03-12 15:15] zkeng commented on #25
@aufkrawall I know about the tearing issues near the top (even though I only experienced them with 'drm' and 'opengl' options), but with the combination of options i posted I experience no tearing and no stuttering and have even tested with a tearing-detection video in both windowed and fullscreen mode. I am kind of picky with tearing because I work with graphics (building/housing architect), but

[2019-03-12 15:44] zkeng commented on #25
I have no idea about what the options really do (i mean the actual code since I am not a programer), but we run Debian at the office as well and there has always been a difference in optimal settings in our opengl-accelerated CAD application to get good performance depending on if we are using intel, nvidia, or amd graphics (we use mainly amd).
Setting the GL Swap Mode to "call glx swap buffers" h

[2019-03-12 15:47] zkeng commented on #25
Typo: For the open source radeon driver setting "call glx swap buffers then call glx copy pixels FRONT TO BACK" is optimal.

[2019-03-12 16:46] zkeng commented on #25
Some detailed info about my experience with the options I used:
'--paint-on-overlay' makes no difference for performance and can be left out.
'--vsync opengl-swc' always produces tear free rendering, but has slow performance and stuttering without the '--glx-copy-from-front' option.
'--glx-copy-from-front' together with '--vsync opengl-swc' produces severe (as in unusable) screen corruption unless

[2019-03-12 18:05] yshui commented on #25
@zkeng Which version of compton are you using? I am confident that `--glx-copy-from-front` stopped doing anything since v3.

[2019-03-12 19:58] zkeng commented on #25
Sigh Debian and the habit of implementing their own version numbers for packaged binaries... apt says its version: 0.1~beta2+20150922-1 but maybe the date tells you what you need to know. It is the version packaged in the Debian Stretch repos.

Sorry if I bumped your closed topic. Didn't really mean to engage you in more talk about it. Just wanted to say thanks and that your discussion solved my l

[2019-03-12 20:36] yshui commented on #25
No worries

[2019-03-14 00:11] yshui opened #132 "Hardware survey"
A little bit background for people who are seeing this repo for the first time: this is my little fork of the compton compositor. Since the original compton repo ([chjj/compton](https://github.com/chjj/compton)) is mostly abandoned, I decided to take on the task of keeping compton alive. In fact, I've been doing this for about 8 months now. Some distros have picked up this repo, but most haven't,

[2019-03-15 13:22] aufkrawall commented on #82
Btw. also very cool that `--use-damage` also works with the old xrender backend. Polaris has some highly oversensitive clock adjustment on Linux and reusing image parts via buffer-age greatly helps keeping clocks low.
It also still works well together with TearFree for vsync.

Though vsync of new xrender backend is still the better deal, as it offers lower CPU usage when moving windows and is less