[2019-03-15 16:07] grmat commented on #132
Hi there,

looks like I'm going to start.

Note: I have two machines I use regularly, so I'm going to answer some of the questions twice. If there's only one answer, it applies to both machines

Note2: I'm an on-off compton user. I switch between i3wm (Xorg) and Sway (Wayland). As I mostly care about tearing prevention, I also just use TearFree instead of a compositor on X. However, TearFree is un

[2019-03-15 16:31] grmat commented on #126
As the implementation currently doesn't offer implicit low framerate compensation (IIRC), it would help if the compositor queried the monitor's minimum refresh rate (and/or make it configurable) and make sure to refresh at this minimum rate. Currently compton doesn't refresh at all if there is no change and I haven't checked the outcome. I'm not sure if this feature is *that* desired on desktop us

[2019-03-15 17:54] yshui commented on #132
r/linux post here: https://www.reddit.com/r/linux/comments/b0titl/compton_hardware_survey/
Archlinux forum post here: https://bbs.archlinux.org/viewtopic.php?id=244956

I will try to do more during the weekend.

[2019-03-15 19:36] aufkrawall commented on #132
My system's relatively recent and decent (i7 6700k, 16GB RAM, RX 580, SSD) and I'm on Arch Linux with the very latest package versions of most things.
As you might have already noticed, I can't wait to have the newest enhancements in any graphics or performance critical components and thus often end up reporting issues with e.g. the latest amd-wip kernel and so on. ;)
It's a single display system

[2019-03-16 00:41] bubbleguuum commented on #132
How old is your system?

2018. Lenovo ThinkPad P72

What hardware (CPU, GPU, etc) does your system have?

Intel UHD 620 + Quadro P600. I use the Intel most of the time with the Quadro disabled.

Are you using up-to-date software on your system? Is your graphic driver the latest?

Yes very up to date as I'm using openSUSE TumbleWeed which is a rolling distro.
Driver is a recent xf86-video-intel git

[2019-03-16 01:03] yshui commented on #132
@bubbleguuum

I wonder if that's just because the xrender backend is not performing very well? From my experience, the xrender backend can be quite slow on Intel cards.

If you have time, maybe give it a try again? Try build from this repo. If the glitch still exists, feel free to open a issue.

[2019-03-16 02:02] SlavMetal commented on #132
- How old is your system?
~4.5 year old laptop.
- What hardware (CPU, GPU, etc) does your system have?
Intel Core i7-4810MQ with integrated HD Graphics 4600 and discrete NVIDIA Quadro K2100M, 16GB RAM, SSD.
- Are you using up-to-date software on your system? Is your graphic driver the latest?
Yes and yes, because rolling release distro (Arch Linux).
- Does your system require a more "advanced" set

[2019-03-16 03:05] h3fang commented on #132
- How old is your system?
3 yeas old laptop
- What hardware (CPU, GPU, etc) does your system have?
Intel Core i7-6700HQ, GeForce GTX 965M
- Are you using up-to-date software on your system? Is your graphic driver the latest?
Yes, up-to-date Arch Linux
- Does your system require a more "advanced" setup? For example, does it use NVIDIA Optimus?
NVIDIA Optimus
- What version of compton are you using

[2019-03-16 10:39] yshui commented on #132
@SlavMetal The video freeze problem might have already been fixed.

[2019-03-16 11:12] ryshglene commented on #132
- **How old is your system?**
I'm on a pretty old laptop. It's an X220 so about 8 or 7 years, I would say.

- **What hardware (CPU, GPU, etc) does your system have?**
The CPU is a Sandybridge i5 (i5-2520M) which has an Intel HD 3000 GPU built into it.

- **Are you using up-to-date software on your system? Is your graphic driver the latest?**
I'm on a rolling release distro so I'm getting pretty mu

[2019-03-16 11:52] aufkrawall commented on #132
yshui developed a (completely?) new, yet experimental xrender backend, which will be a great choice on Mesa drivers for great performance, fixing of tearing and low input latency at the same time. :)
Except of a crashing issue, it already works flawlessly for me.

[2019-03-16 12:21] bubbleguuum commented on #132
I compiled compton from this repo.
The problem is identical: if I run compton and whatever the backend (tried them all), Firefox scrolling is jerky, and I'd say it's worse than stock compton. It's super smooth as soon as I kill compton (a Firefox restart is not even needed).
I have a question: is vsync is enabled by default ? I see only a --vsync option to turn it on while old compton had --vsync

[2019-03-16 12:36] aufkrawall commented on #132
@bubbleguuum The old xrender backend has no vsync support, you'd have to rely on TearFree for it (unlike with GLX).
TearFree can have its own bag of bugs though, you'd probably report it to the Intel devs if you can reproducibly link the problem to it.

[2019-03-16 12:37] yshui commented on #132
@bubbleguuum

vsync is _disabled_ by default. So if you pass no option on command line, and don't set vsync to true in config file, it's disabled.

[2019-03-16 12:42] yshui commented on #132
@bubbleguuum That is very interesting. If you run `LIBGL_DEBUG=verbose glxgears` with the intel driver, what is the output?

[2019-03-16 12:53] bubbleguuum commented on #132
With 'compton --backend glx --vsync', it is rock solid 60 fps, no tearing

LIBGL_DEBUG=verbose glxgears
libGL: Can't open configuration file /etc/drirc: No such file or directory.
libGL: Can't open configuration file /home/bobbie/.drirc: No such file or directory.
libGL: OpenDriver: trying /usr/lib64/dri/tls/i965_dri.so
libGL: OpenDriver: trying /usr/lib64/dri/i965_dri.so
libGL: Can't open configu

[2019-03-16 12:58] yshui commented on #132
DRI2 strikes again.

DRI2 seems to cause some user problems (example: #123), and since almost everyone have moved on to DRI3 now, it's could take a long time for those problems to be fixed.

[2019-03-16 13:36] bubbleguuum commented on #132
Following your hint about DRI3, I forced the use of it with Option "DRI" "3" in xorg config when using the "intel" driver and it entirely fixed the problem. Not sure why the driver uses DRI2 by default though...

[2019-03-16 14:44] aufkrawall commented on #132
That's interesting. Question is if this is deliberately done by the devs or maintainers because the DRI3 implementation would be considered buggy, or if this is a compile config mistake.

[2019-03-16 16:24] bubbleguuum commented on #132
I was wondering the same and I think this might a left over from the DRI2 times. Will ask for clarification in the relevant mailing-list for this driver and will let you know.

[2019-03-16 17:45] aufkrawall commented on #82
Ok, noticed one minor performance issue: Resizing of certain Qt windows is slowed down with new xrender + vsync, e.g. KWrite or Plasma's system settings window, it gets really stuttery. Other Qt windows such as dolphin or GTK windows seem to be unaffected.

[2019-03-16 18:24] yshui commented on #82
@aufkrawall Yes, I noticed that too. Resizing is severely slowed down. Thanks for confirming.

[2019-03-16 20:10] tryone144 commented on #32
How's the progress of the new backends, @yshui? Which branch is best to build my changes on?
If I see correctly, the new backends are already present in `next` but only available via the `--experimental-backends` switch.

[2019-03-16 20:45] yshui commented on #32
@tryone144 The new backends are mostly working, except a few crashes. The backend API is pretty much settled now. If you want to start your work, you can base it off `next`.

Thanks!

You are correct.

[2019-03-16 20:47] yshui commented on #82
@aufkrawall Can you try `dev`?

It works on my intel machine but not on my NVIDIA machine. I suspect there're some NVIDIA shenanigans going on again.

[2019-03-16 21:27] aufkrawall commented on #82
I can confirm your Intel findings with AMD, resizing of the mentioned windows now looks totally normal with dev branch & new xrender backend.

Regarding the crashes: Oddly, especially starting Pamac is prone to trigger them. Thus I've tried out starting various programs a few times, with emphasis on Pamac. Looking good so far with dev branch. Of course still a bit early to judge.

[2019-03-16 23:15] freeqaz opened #134 "Drawing "grey" with Compton enabled after sleep with multiple monitors and i3 WM"
### Summary
When I "wake" my computer from sleep and/or attach multiple monitors, occasionally I get this issue where certain apps that are "collapsed" in i3 won't draw while Compton is running. This issue persists after I kill Compton and start it again.

Went through all of the issues I could find in the issues section here, as well as searched through online to find anything about this. Not sur

[2019-03-17 02:38] ryshglene commented on #132
Is this new experimental backend on the latest release (5.1), or do I have to compile from GitHub to test it? Might as well try it while I still have time.

[2019-03-17 02:59] yshui commented on #134
Does compton print anything when this happens?

[2019-03-17 03:00] yshui commented on #132
@ryshglene You need to build from github.

[2019-03-17 10:11] ryshglene opened #135 "Tearing problem with the modesetting driver on Intel only fixable through deprecated options"
Today, I tried building and testing the latest version of Compton from this repo in order to try out the new 'experimental' backends. Unfortunately, I immediately ran into two issues based on my configuration, so my testing became less focused on that, and more on these issues:

    [ 03/17/2019 15:33:29.814 parse_config_libconfig WARN ] vsync option will take a boolean from now on. "opengl-swc" i

[2019-03-17 11:50] yshui commented on #135
So `vsync` is not going to be removed. It's just going to take boolean from now on. So, `vsync = true` to enable vsync, false to disable.

[2019-03-17 12:47] SoniEx2 opened #136 "Bring back swap interval when vsync = none is used with the glx backend"
Previously, in 4.0, I didn't have tearing because vsync = none + glx had swap interval. Now, in 5.1, I do.

I want my vsync set to none so programs can actually render at whatever framerate they want (e.g. 200 FPS in Minecraft), but I want the results to be synced to the screen at the correct time.

[2019-03-17 12:49] yshui commented on #136
@SoniEx2
1. In 4.0, vsync _was enabled_ even when you set it to `none`. Now it isn't.
2. Whether compton has vsync enabled shoudn't affect what your programs do. (I could be wrong, though)

[2019-03-17 13:25] SoniEx2 commented on #136
hm, I'm not sure why that's working now. previously it'd force everything to render at 60 FPS, so I had to use vsync = none and backend = glx. this was fine until 5.1 changed it, but you're right that I'm no longer getting tearing with non-none vsync and it's not forcing everything to render at 60 FPS.

(I've been using compton since 2016 apparently, so my configs have gone through quite a lot. so

[2019-03-17 13:25] #136 closed

[2019-03-17 13:42] ryshglene commented on #135
Ah, I had completely forgotten that commenting `vsync` meant disabling it entirely. So that's why it was tearing badly across so many configurations. Can confirm uncommmenting `vsync` and setting it to `true` makes all warnings go away as well as fixes my issue.

[2019-03-17 17:30] Kapiainen commented on #132
**How old is your system?**

i. Desktop, 4+ years old
ii. Lenovo ThinkPad T480, <1 years old
iii. Lenovo ThinkPad X230, ~7 years old

**What hardware (CPU, GPU, etc) does your system have?**

i. Intel Core i5-6600, Nvidia GTX 760, 16 GB DDR4 2133 MHz
ii. Intel Core i5-8250U, Intel UHD 620, 8 GB DDR4 2400 MHz
iii. Intel Core i5-3320M, Intel HD 3000, 8 GB DDR3 1600 MHz

**Are you using up-to-date so

[2019-03-17 20:25] yshui commented on #135
@ryshglene Can this be closed then?

[2019-03-17 23:23] freeqaz commented on #134
I have rebooted, so I can't print logs right now. If the logs are written historically, I can paste those.

From what I recall though, it prints the same warnings as the other calls to `diagnostics` and nothing in particular about this. That's why I'm thinking this is an Intel graphics driver issue. If anything comes to mind for options I have enabled and/or options to enable/disable let me know.

[2019-03-18 01:07] ryshglene commented on #135
Yes 👍

[2019-03-18 01:07] #135 closed

[2019-03-18 10:15] yshui commented on #134
@freeqaz I have heard about similar multimonitor issues here and there, but I have never been able to reproduce this problem myself (I have intel cards too).

I don't really think this is a driver bug from what I see. Can you run `compton` with `--log-level=trace` and paste the output here? If you can point out which part of the log corresponds to the problem that will be helpful.

[2019-03-18 15:34] aufkrawall commented on #126
It seems manually setting the refresh rate doesn't force Compton to actually render at that rate (anymore?).
It might work with libstrangle, which offers an fps limiter:
https://gitlab.com/torkel104/libstrangle

[2019-03-18 15:42] yshui commented on #126
What will happen right now, if you just remove compton from the blacklist?

[2019-03-18 16:59] grmat commented on #126
I haven't done extensive testing, just gave it a quick shot. It will refresh at minimum rate, which is 35 Hz for my monitor and very unpleasant to use with a hardware cursor. It didn't eliminate the lag iirc. I'll see if I can do better testing but it'll take a while until I have access to the hardware again

[2019-03-18 17:03] yshui commented on #126
There is also this option `--benchmark`, which takes a frame count as argument, that forces compton to render at the maximum rate for a given number of frame then exit.

Maybe give that a try.

[2019-03-18 17:32] ronasimi commented on #32
Have you considered making Kawase the default blur method once this is merged?  It seems to be more CPU/GPU friendly than the old default blur method.

[2019-03-19 08:45] txtsd commented on #132
- **How old is your system?**
1 year old desktop
- **What hardware (CPU, GPU, etc) does your system have?**
Quad Core AMD Ryzen 5 2400G with Radeon Vega Graphics (-MT MCP-)
No dGPU
- **Are you using up-to-date software on your system? Is your graphic driver the latest?**
Running Arch, so yes.
- **Does your system require a more "advanced" setup? For example, does it use NVIDIA Optimus?**
No
- **Wh

[2019-03-20 11:00] aufkrawall commented on #82
With the more recent commits, the crashes have mostly disappeared, but not entirely. The last time it did when starting vkquake. I tried to find a way to reproduce, but couldn't.
It's gotten very usable though, maybe crashes once every two days, and no other undesired side effects to report.

[2019-03-20 12:47] yshui commented on #82
@aufkrawall Do you have the log?

[2019-03-20 12:52] aufkrawall commented on #82
I''ll do that. Do you want me to run Compton with `--log-level=trace`?
Would be nice if it logged to disk so that the terminal window wasn't opened all the time.

[2019-03-20 13:15] yshui commented on #82
@aufkrawall It does :) `--log-file=file`

[2019-03-20 13:23] aufkrawall commented on #82
Thanks! I'll post the files if it crashes again.
The stack trace should be in systemd's coredump folder?

[2019-03-20 13:35] yshui commented on #82
@aufkrawall If you are using systemd, do `coredumpctl debug`, and run `bt` in gdb.

[2019-03-20 13:48] aufkrawall commented on #82
Could get it right to crashing this time when running vkquake, switching from windowed to fullscreen and then minimizing it.

I just got the suspicion that the following might not be very helpful, as I've just recalled that Arch makepkg by default strips out debug symbols:

[gdb.log](https://github.com/yshui/compton/files/2988458/gdb.log)

So I guess I'd have to rerun this with debug symbols inclu

[2019-03-20 13:57] yshui commented on #82
@aufkrawall looks like dbus-send happens to crash at the same time (?) and the gdb.log you got is from dbus-send.

Can you do `coredumpctl debug compton`? You don't need to try crashing compton again.

[2019-03-20 14:02] aufkrawall commented on #82
That returns

Well, the file doesn't exist. :(

However, I once again could make it crash instantly by simply starting vkquake in fullscreen mode and then minimizing it.

[2019-03-20 14:08] yshui commented on #82
@aufkrawall Have you tried building with `-Dsanitize=true` and run compton from terminal?

[2019-03-20 14:16] aufkrawall commented on #82
I'll try that next.

Just in case: I compiled with debug symbols and without `-Dsanitize=true`. This produced this core dump:

[core.compton.1000.07128ed24c8b438aa5d6b7630707cc64.830.1553090852000000.zip](https://github.com/yshui/compton/files/2988585/core.compton.1000.07128ed24c8b438aa5d6b7630707cc64.830.1553090852000000.zip)

[2019-03-20 14:19] aufkrawall commented on #82
Here we go:

[ 20.03.2019 15:18:00.687 _win_bind_image ERROR ] Failed to get named pixmap
[ 20.03.2019 15:18:13.350 _win_bind_image ERROR ] Failed to get named pixmap
[ 20.03.2019 15:18:13.351 _win_bind_image ERROR ] Failed to get named pixmap
../src/backend/xrender.c:92:15: runtime error: member access within null pointer of type 'struct _xrender_image_data'
AddressSanitizer:DEADLYSIGNAL
========

[2019-03-20 14:19] yshui commented on #82
@aufkrawall Can you also send me the compton binary you built?

[2019-03-20 14:22] aufkrawall commented on #82
Sure.

[comptonbinary.zip](https://github.com/yshui/compton/files/2988629/comptonbinary.zip)

[2019-03-20 14:24] yshui commented on #82
Hmm, this shouldn't happen...

Thanks, I will investigate

[2019-03-20 14:26] clapbr commented on #82
Sorry for the thread hijack but I didn't feel like opening a new issue for a related question. I'm still using old compton because vsync=opengl and vsync=drm are the ones that had nearly 0 input lag for me, are they ever coming back? I had no problems with it (I know some people had top screen tearing)

[2019-03-20 14:49] yshui commented on #82
@clapbr They are not coming back. And I will try to reduce the input lag.

BTW, how does the new xrender backend with vsync work for you?

[2019-03-20 14:52] clapbr commented on #82
Works well with low cpu usage but slows down to a crawl under heavy load. I'm almost always compiling something and with the old backend I don't feel a thing. RX580 with latest drivers

[2019-03-20 15:22] aufkrawall commented on #82
I often compile things on all available threads and moving windows or scrolling in Firefox works as expected. I'd say it works better than Windows DWM in most, if not all cases.

I can confirm that the old GLX renderer with vsync and `--vsync-use-glfinish` stutters less, while having more lag.
Though I suppose it's somewhat logical that when the compositor buffers more frames, it's less vulnerable

[2019-03-20 16:03] aufkrawall commented on #82
@yshui In case you want to take a look at vkquake directly:
The server for the required demo content might not be reachable, but I once uploaded it when reporting a TearFree bug of the amdgpu DDX driver:
https://bugs.freedesktop.org/attachment.cgi?id=143128

The project itself is open source and there is also a PKGBUILD in the AUR:
https://github.com/Novum/vkQuake

[2019-03-20 16:12] clapbr commented on #82
Weird, do you use a non-vanilla scheduler like MuQSS/PDS? Tested with two vanilla kernels and when all cores are at 100% I can barely move the cursor.

Btw, with the old backend I use only "vblank_mode=0 compton --vsync=opengl" (or drm) but as I said above I know some people get tearing on top of screen with those (I don't).

[2019-03-20 16:18] clapbr commented on #82
Also, I know yshui has his reasons to not include opengl and drm anymore, guess they were ugly hacks. I'll be fine with using old backend though since it's stable for me and input lag is the number 1 reason I use compton. I get similar lag with the new backend as I would get with kwin.

[2019-03-20 16:34] yshui commented on #82
@clapbr Thanks for understanding :)

And I definitely will try to fix the input lag problem when I get around to it.

[2019-03-20 16:41] aufkrawall commented on #82
@clapbr I use vanilla CPU scheduler and BFQ-mq for I/O, as it helps to avoid stalling, if I'm not mistaken. Though I don't think it should influence Compton, as it doesn't access any storage device.

Could you try booting with `amdgpu.dc=0`? Kernels before 5.0 don't support fast cursor path for AMD's atomic modesetting driver (`amdgpu.dc=1`, which is default now for some time).
But even with that

[2019-03-20 16:44] clapbr commented on #82
I'm on 5.0 and have the fix, I can't go back to dc=0 as I've been using Freesync a lot.

[2019-03-20 17:01] aufkrawall commented on #82
I tried with Prime95 (all available thread, small FFTs): Fluid window & cursor movement with and without amdgpu.dc.
So I suppose it must be a rather specific problem at your end.

[2019-03-20 17:14] clapbr commented on #82
Thanks for letting me know. I deleted my conf and ran _**`compton --backend=xrender --vsync --use-damage --experimental-backends`**_ - now it's working great, I'll use it for a while and report if I have issues.

[2019-03-20 17:57] clapbr commented on #82
First issue I noticed is related to `--use-damage` - conky window doesn't disappear/screen doesn't update until I drag something over it, otherwise "pieces" of the closed window stay visible.

[2019-03-20 20:39] dawidpotocki commented on #132
I use compton on 1 laptop with old NVIDIA 300 series card with `nvidia-340` driver and other is just integrated Intel with `xf86-video-intel`. I used glx backend before, but I had problem with recording with OBS Studio, it had some weird glitches and stuff. Xrender backend is fine though. Both of them are running Void Linux with 4.19 kernel (though I could change it to newer as Void have in repo a

[2019-03-21 08:26] Lovewyrm commented on #132
How old is your system?
    It's pretty new, but only build wise, the hardware components used have been out for some time.

    What hardware (CPU, GPU, etc) does your system have?
    AMD Ryzen 2700 non x.
    NVIDIA Corporation GP104 [GeForce GTX 1060 6GB]

    Are you using up-to-date software on your system? Is your graphic driver the latest?
    Proprietary *nix driver 418.43 on a 64 bit Sla

[2019-03-21 19:04] Vladimir-csp commented on #132
**How old is your system?**
1.5-2 years

**What hardware (CPU, GPU, etc) does your system have?**
Core i7-6500U, HD Graphics 520 (Skylake GT2).

**Are you using up-to-date software on your system? Is your graphic driver the latest?**
Debian testing.
Linux 4.19.0-2-amd64 (4.19.16-1).
xserver-xorg-core 2:1.20.3-1 (modesetting driver).

**Does your system require a more "advanced" setup? For example,

[2019-03-22 19:33] anowlcalledjosh commented on #132
**How old is your system?**
Purchased within the last year.

**What hardware (CPU, GPU, etc) does your system have?**
Intel i7-8750H, Nvidia GTX 1050

**Are you using up-to-date software on your system? Is your graphic driver the latest?**
Ubuntu 18.04; using the proprietary Nvidia drivers, version 410.

**Does your system require a more "advanced" setup? For example, does it use NVIDIA Optimus?**

[2019-03-22 22:35] yshui commented on #132
@anowlcalledjosh

Does this happen on both Intel and NVIDIA? I would expect this is more of an issue on NVIDIA drivers.

[2019-03-23 15:36] aufkrawall commented on #82
I also noticed an issue with `--use-damage`, but that one also occurs with the old GLX backend:
When playing a 30fps video in a window and opening a context menu, e.g. of Plasma's desktop, in that way that half of the context menu is on top of the video and the other half on top of the blank desktop, there can be tearing when quickly moving the mouse cursor over the context menu entries. It doesn'

[2019-03-23 15:46] yshui commented on #82
@aufkrawall Yes, that tearing issue has been there for a long time. I somewhat understand why it is happening, but it's not a priority for me (I can only do so much at a time).

[2019-03-23 15:52] aufkrawall commented on #82
I totally agree that this issue is not very important, just wanted to mention it once. :)
I'm more than happy with the recent developments regarding the new backends anyway, thanks once again for letting us benefit by your skills and knowledge. :+1:

[2019-03-23 17:52] anowlcalledjosh commented on #132
@yshui it happens on both, but more obviously on Intel.

[2019-03-23 23:10] k80w opened #138 "[Feature request] Configurable GLSL shaders"
It would be amazing if you could apply custom GLSL fragment shaders to windows based on certain rules.

[2019-03-23 23:18] dnaf commented on #138
I should clarify: while you can currently apply a GLSL shader to every window using `--glx-fshader-win`, there doesn't appear to be a way to, say, only use a shader for inactive windows, or only use a shader for windows of a certain class.

[2019-03-23 23:59] Ropid opened #139 "Terrible latency with compton v6 compared to v5.1 on AMD"
// The template below is for reporting bugs. For feature requests and others, feel free to delete irrelevant entries.

### Platform
Arch Linux

### GPU, drivers, and screen setup
AMD RTX 480, Mesa, one 60Hz monitor
xf86-video-amdgpu = 19.0.1
mesa = 19.0.0

### Environment
XFCE, xfwm4 4.12.5

### Compton version
[code]

### Compton configuration:
[code]

### Steps of reproduction +  Expected behavi

[2019-03-24 00:02] yshui commented on #139
1. Did `vsync = "opengl"` _actually_ work for you? Seems it would produce a hard to notice tearing for some people.
2. Can you try `--vsync-use-glfinish`, that might solve your problem.

[2019-03-24 00:08] Ropid commented on #139
Adding `vsync-use-glfinish` improves latency a lot for me here. I'm unsure if it's now the same latency as what I had previously with `vsync = "opengl"`.

`vsync = "opengl"` definitely worked for me. There was never any tearing.

[2019-03-24 00:26] yshui commented on #139
Yes.

[2019-03-24 02:39] dawidpotocki commented on #132
I also can see wallpaper for a millisecond when I switch between workspaces, though I even forgot about that. I just got used to that (and doesn't always happen) and even didn't know that it was compton issue. Also on NVIDIA and Intel.

[2019-03-24 04:50] yshui commented on #82
@aufkrawall That crash should have been fixed in latest `next` :)

[2019-03-24 09:14] tmpm697 opened #140 "Flick with v6 from archlinux"
I use compton without any issue with ver 5.1.1 from `comunity/compton`, just update to v6 minutes ago and after kill compton process and refresh x11, compton seems buggy, it takes significant time for startx to start (include `compton &` in `.xinitrc`), I think it dues to time spending on starting `compton`. There's also a fast flick of black bar at top of my screen (I use nitrogen to set wallpapp

[2019-03-24 09:17] biopsin commented on #132
- 6 years old.
- Intel i7-4771 with Nvidia GTX 750TI (drv.390.116).
- Compton 5.1 (-Ddbus=false -Dopengl=false")
- Using xrender backend without issues for ages since any GLX choise is laggy when
 moving any windows.
[glxinfo.txt](https://github.com/yshui/compton/files/3000199/glxinfo.txt)

[2019-03-24 09:50] tmpm697 commented on #132
- How old is your system?

- What hardware (CPU, GPU, etc) does your system have?

- Are you using up-to-date software on your system? Is your graphic driver the latest?

- Does your system require a more "advanced" setup? For example, does it use NVIDIA Optimus?

- What version of compton are you using right now? And is it working well for you?

- Does both backends (xrender and glx) work? How do

[2019-03-24 11:26] Ropid commented on #82
I have a problem here where `compton --experimental-backends` is crashing immediately at start-up if XFCE's `xfdesktop` process is running.

Here's the output of `coredumpctl gdb compton` and doing `bt` in gdb:
[code]

The compton I used is:
[code]

The crash happens with both `--backend glx` and `--backend xrender`.

When I kill that XFCE `xfdesktop` process, then `compton --experimental-backends

[2019-03-24 11:36] aufkrawall commented on #82
Looking good so far. :tada:

[2019-03-24 13:49] yshui commented on #82
@Ropid

Can you rebuild and try again? Also, while you are at it, can you enable sanitizers by running `meson configure -Dsanitize=true <your build directory>`.

[2019-03-24 13:54] yshui commented on #140
`compton &` starts compton in backgroud, so that shouldn't have an effect on Xorg's startup time.

As for the black bar. Is it persistent, or is it just one flicker then gone? If it's persistent, can you take a screenshot/photo of it?

[2019-03-24 14:47] Ropid commented on #82
This is with xfdesktop running:

[code]

I also tried it with xfdesktop killed, then starting compton and killing it immediately with Ctrl+C:

[code]

[2019-03-24 14:48] WernerFP commented on #140
I can confirm autostart issues with Nitrogen and Compton v6 in Arch Linux with Openbox.
For me it works again as expected when I run nitrogen last (a little later than compton) - `~/.config/openbox/autostart`:
[code]

[2019-03-24 15:20] Ropid commented on #82
I found a different bug right now. A window sometimes stays on the screen after it is closed. When it happens, I can move another window underneath the old graphics of the closed window without disturbing those graphics. Things go back to normal when I open or close another window.

I can only make it happen with xrender backend, but not with glx backend.

It only happens if there are exactly two

[2019-03-24 15:42] yshui commented on #82
@Ropid Should be fixed in latest `next`

[2019-03-24 15:46] yshui commented on #82
@Ropid Can you run compton with `--log-level=trace` and send me the log?

[2019-03-24 16:21] tim241 opened #141 "Removed option --vsync-aggressive"
### Platform
`Arch Linux`

### Environment
`Openbox`

### Compton version
[code]

### Steps of reproduction
My autostart:
[code]

I updated today and noticed that it isn't working anymore, it seems like the option has been removed?

### Expected behavior
It should work like normally

### Current Behavior
it just shows
[code]

Why was it removed? It used to work fine

I couldn't find anything about

[2019-03-24 16:27] Ropid commented on #82
The crash is fixed!

Here's a `--log-level=trace` output about that other problem:

http://ix.io/1EnQ

The situation was this:

1. on a workspace with one terminal window open, I started compton in that terminal
3. at 17:10:05, I opened XFCE's launcher tool
4. at 17:10:08, glxgears starts
5. at 17:10:32, I hit Escape to close glxgears and the bug shows up
6. at 17:10:48, I open a second terminal w

[2019-03-24 16:31] tim241 commented on #141
I discovered this: https://github.com/yshui/compton/pull/130

however, when I try `compton --vsync` I still have screen tearing,

I'm on nVidia and have `ForceFullCompositionPipeline` set, however I still need `--vsync-aggressive` to fix all the tearing.

[2019-03-24 18:17] Ropid commented on #141
In `man compton`, there's an option `--xrender-sync-fence` mentioned:

What happens if you add it to your compton command line together with `--backend glx`?

[2019-03-24 19:09] tiiiecherle commented on #139
I can confirm the latency. In a virtualbox running archlinux and open box desktop (macOS host) it is even that bad that double clicking in thunar is impossible because the click is too slow. The right click openbox menu opens only every now end then and the whole desktop is almost unusable.

Any option to try? Running Compton only with `compton &` and an empty config file. Thanks.

Otherwise downg

[2019-03-24 20:59] yshui commented on #139
@tiiiecherle This is a different problem. Also your issue is probably a duplicate of #41

[2019-03-24 21:07] yshui commented on #141
@tim241
1. What setup do you have? Graphic card? How many monitors? Refresh rate?
2. Are you using glx or xrender?
3. What kind of tearing are you talking about?

[2019-03-25 01:02] yshui commented on #82
@Ropid Fixed in `next` (also in `stable/6`)

[2019-03-25 01:59] tmpm697 commented on #140
Black bar is not persistent, @WernerFP I have `nitrogen` before `compton` so that might the problem, but it shouldn't be a problem.

[2019-03-25 05:24] tya99 opened #142 "compton doesn't accept positional arguments"
### Platform
Archlinux

### GPU, drivers, and screen setup
- `xf86-video-intel-1:2.99.917+863+g6afed33b`, two monitors configured side-by-side with xrandr
- `mesa-19.0.0-1-x86_64`

ie

[code]

[code]

### Environment
i3

### Compton version
[code]

### Compton configuration:
[code]

### Steps of reproduction
I used to run

[code]
However it seems now the `--vsync opengl` option as of Compton 6 cau

[2019-03-25 09:15] tiiiecherle commented on #139
ok, thanks, but downgrading to 5.1 helps a lot. Still not perfect, but a lot better than 6.0.

[2019-03-25 09:56] tim241 commented on #141
@yshui

# Setup
[code]

# Backend
the default one when using `--vsync`

# Tearing
General screen tearing when switching workspace/watching youtube videos that I normally dont have when using `--vsync-aggressive`

# Extra
my intent when making this issue was rather to notify you that it broke my setup, I distro hop at times and not all distros switched to your fork, I'd like to request for the opti

[2019-03-25 11:39] xt1zer opened #143 "Crashes after some time"
### Platform
Arch 5.0.4-arch1-1-ARCH

### GPU, drivers, and screen setup
Nvidia Geforce GTX 1070 Ti, nvidia 418.56-2

[code]

### Environment
i3-gaps

### Compton version
v6
--diagnostics output:
[code]

### Compton configuration:
[code]

### Trace
https://pastebin.com/cN5mMthk

### Steps of reproduction
1. "compton &" in bash
2. after some time realising that the effects don't work, terminal outp

[2019-03-25 11:44] severen commented on #132
* How old is your system?

Desktop: 4 or 5 years.
Laptop: About just over a year (ThinkPad T470).

* What hardware (CPU, GPU, etc) does your system have?

Desktop: Intel Core i7 4790K @ 4.00GHz (CPU), NVIDIA GTX 970 (GPU)
Laptop: Intel Core i5-7200U @ 2.50GHz (CPU), Intel HD Graphics 620 (GPU)

* Are you using up-to-date software on your system? Is your graphic driver the latest?

Desktop: Latest

[2019-03-25 11:59] yshui commented on #142
`--vsync` doesn't take argument anymore.

The lag part is a duplication of #139

[2019-03-25 12:17] yshui commented on #143
Is that the only terminal output?

[2019-03-25 12:18] xt1zer commented on #143
Yes. Each time after, like, 3 minutes being busy

[2019-03-25 12:38] yshui commented on #143
Can you run `compton --log-level=trace` and post the output?

[2019-03-25 12:42] yshui commented on #141
If you don't specify the backend, you are using the xrender backend. And vsync _doesn't work_ with the xrender backend. It is pure _luck_ that it worked for you before, it could have been broken by anything.

If you want vsync, please use `--backend glx`.

[2019-03-25 12:48] tim241 commented on #141
Alright, that works, thanks :heart:

[2019-03-25 12:49] yshui commented on #140
I can't seem to reproduce the problem (cannot get the flicker, startup time looks fine to me).

If you want to investigate yourself, I'll help as much as I can. Otherwise I'm afraid there's not much I could do.

[2019-03-25 12:52] tim241 commented on #141
huh, after restarting X and rebooting, the tearing is back (yes, it's in the autostart)

[2019-03-25 12:52] yshui commented on #141
@tim241 Put `backend = "glx"` in your config file.

[2019-03-25 12:53] tim241 commented on #141
I used `compton --vsync --backend glx` and I also tried `compton --backend glx --vsync`

[2019-03-25 12:54] tim241 commented on #141
I don't have a config file, I don't want to make one either.

[2019-03-25 13:05] tya99 commented on #142
I think the lag is unrelated. When I just run without `-b --vsync opengl`, on compton 5.1 everything is fine as well. The lag only happens with 6.0

[2019-03-25 13:06] xt1zer commented on #143
This takes longer that I expect it to, I'll write back when it happens next time with a log

[2019-03-25 14:08] yshui commented on #141
Can you make sure that you set up autostart correctly?

[2019-03-25 14:09] xt1zer commented on #143
Surprisingly, it never crashed since your response. I'll try to reproduce the issue with active and daemon (compton -b) processes

[2019-03-25 14:18] xt1zer commented on #143
Hey, I figured out that it at least crashes when a "Download" popup window of Firefox appears (floating), this happened now a few times. OP updated with the trace

[2019-03-25 14:23] tim241 commented on #141
alright, just tested it *again* and it seems to work now weirdly enough. Thanks again :heart:

[2019-03-25 14:23] #141 closed

[2019-03-25 14:44] sveatlo commented on #143
I have exactly the same problem on arch with i3-gaps, but I cannot reproduce the bug with firefox's "Download" popup window or any other floating window.

This is my terminal output without trace log level:
[code]

[2019-03-25 14:48] yshui commented on #141
@tim241 Feel free to reopen it if it happens again. Vsync should work with NVIDIA driver + glx backend. If it doesn't it would be _really_ weird. So be sure to check if your command line flags are actually passed to compton.

[2019-03-25 14:49] yshui commented on #143
@sveatlo Can you try again with `--log-level=trace`? Thanks.

[2019-03-25 14:50] yshui commented on #142
@tya99 Well first I want to understand what do you mean by "everything seems really laggy"

[2019-03-25 14:53] sveatlo commented on #143
I was just about to post it :D https://termbin.com/k3sh

[2019-03-25 14:54] sveatlo commented on #143
also my config (very simple): https://termbin.com/j1dy

[2019-03-25 15:06] tya99 commented on #142
Scrolling in Firefox, context menus opening etc selection. Same for Thunar as well. Generally everything appears sluggish. glxgears also gives off real poor frames:

[code]

Where as with compton 5.1

[code]

And no compositor:
[code]

[2019-03-25 15:11] yshui commented on #143
@sveatlo @xt1zer Should be fixed in `next` (also in `stable/6`)

[2019-03-25 20:27] dikiaap commented on #140
I get flickering only after booting. The flickering seems gone if I start apps like rofi in the example below

[code]
 [compton.conf](https://ghostbin.com/paste/gyk79)

`exec --no-startup-id compton`

![x](https://user-images.githubusercontent.com/8542502/54950783-a3895d80-4f74-11e9-81e0-9a7ee3257959.png)

[2019-03-25 21:14] mrvik opened #145 "Compton get 100% CPU when multihead"
### Platform
ArchLinux with Linux 5.0.4-arch1-1-ARCH

### GPU, drivers, and screen setup
Intel atom N450 (integrated graphics)
Driver: i915
xf86-video-intel: `1:2.99.917+863+g6afed33b-1`
mesa: 19.0.0-1

[code]
Usually I work with the primary screen (I mean, the laptop screen), but sometimes I connect to a external monitor, so the external monitor is on the right of integrated and at it's own resol

[2019-03-25 21:42] yshui commented on #142
Can you try using the glx backend? `compton --backend glx`.

Also, try `compton --use-damage`.

[2019-03-25 21:43] yshui commented on #143
Can you confirm?

[2019-03-25 21:48] yshui commented on #145
Hmm, cannot reproduce the problem here.

It'd interesting to know where does compton spend CPU time on. Are you familiar with tools like `perf`?

[2019-03-26 00:26] tya99 commented on #142
With `--use-damage` I think things might have been marginally better, but the gears still were a bit choppy, not nice and smooth like they were in 5.1

[code]

When I set `--backend glx` things were pretty horrible still.

[code]

I'm not sure if glxgears is the best way to test this? I don't really know a lot about this area (graphics not my thing) so it was a way I thought I could benchmark.

Th

[2019-03-26 00:51] yshui commented on #142
Hmm, not quite sure what changed to cause this.

If you got time, maybe you could do a git bisect.

[2019-03-26 00:54] tya99 commented on #142
Can do that, is there a particular commit you want me to check between?

[2019-03-26 01:26] tya99 commented on #142
I have a checkout, if you can tell me what branch, and the git command for the bisect between what and what I can compile a copy and try it.

[2019-03-26 01:56] yshui commented on #142
@tya99 Between 5.1 and 6 I guess? Since you said 5.1 is fine.

[2019-03-26 01:57] tya99 commented on #142
Yeah I just read the man for bisect. I thought it would be harder

e109bee380c5be22e886d12b8b776e8df30be481 looks good.

[2019-03-26 01:57] yshui commented on #139
So, I bought a new RX590 to test out this lag.

To me it is pretty much indistinguishable between 5.1 and 6.

[2019-03-26 02:00] tya99 commented on #142
98d8e84680ec589d37683c5b1423d67bf99959d0 is the first one that actually compiles. The frames have dropped significantly there.

[code]

[2019-03-26 03:37] yshui commented on #142
BTW, I forgot to ask. Are you running these tests with or without vsync enabled? If you don't set `vsync` in command line or config file, then vsync is disabled.

[2019-03-26 04:23] tya99 commented on #142
That first test ie v6 release

with `--vsync`

[code]

Ooops I might have forgotten. Using v6

with `--vsync --use-damage`

[code]

and with `--vsync --backend glx`

[code]

e109bee380c5be22e886d12b8b776e8df30be481 looks good

`--vsync opengl`

[code]

98d8e84680ec589d37683c5b1423d67bf99959d0 not so good

`--vsync opengl`

[code]

Then it seems things drop dramatically at

dd240d0576c3287eeb585169

[2019-03-26 04:25] tya99 commented on #142
I had Firefox and termite, but that's all.

[2019-03-26 04:36] tya99 commented on #142
Tried it again with Firefox closed, and yeah still same issue, confirmed at all points mentioned in comment https://github.com/yshui/compton/issues/142#issuecomment-476470221 same kinds of values.

[2019-03-26 04:41] tya99 commented on #142
So I'm starting to think there might be two different issues. Ie everything is fine at e109bee380c5be22e886d12b8b776e8df30be481 then through to 98d8e84680ec589d37683c5b1423d67bf99959d0 I can't actually get compton to work, all I get is a black screen with mouse pointer. At this point performance has dropped considerably.

Finally at dd240d0576c3287eeb5851698dafd5fce9974ef9 it drops further again,

[2019-03-26 05:51] jvc2 opened #146 "using glx-fshader-win draws all windows completely black"
I should probably clarify that I'm not familiar with GLSL/OpenGL programming and I wanted to try out writing custom shaders for compton, which is why I've been struggling with this issue.

### Platform
Arch 5.0.4-arch1-1-ARCH

### GPU, drivers, and screen setup
Intel integrated graphics
`xf86-video-intel 1:2.99.917+863+g6afed33b-1`
`xf86-video-vesa 2.4.0-2`
`mesa 19.0.0-1`
[code]

### Environment

[2019-03-26 07:47] kurnevsky commented on #140
Not sure if it's the same thing, but I have weird glitches after closing feh/mpv with version 6. The best way to reproduce is to try to open an image from terminal with `feh -F -Z` and close it several times. The window that gets a focus after closing feh goes into the state when it blinks every 1 second, becoming transparent or drawing the closed image. Here is my config: https://github.com/kurne

[2019-03-26 11:53] aufkrawall commented on #82
Can only speak of my singly display setup with RX 580, but new xrender backend + vsync is absolutely reliable for me with current `next` branch.

[2019-03-26 11:56] Ropid commented on #139
Starting 5.1 like this shows close to no latency for me when moving windows around:

`compton --config /dev/null --backend glx --vsync opengl`

When switching to opengl-swc, I seem to get one frame delay added to the window movement:

`compton --config /dev/null --backend glx --vsync opengl-swc`

With "opengl-swc", there's a gap between the current mouse pointer position and the window. The distan

[2019-03-26 12:24] yshui commented on #142
Can you test v5.1 with --vsync opengl-swc?

[2019-03-26 12:35] tya99 commented on #142
I get:

compton --vsync opengl-swc
[ 26/03/19 23:04:48.741 vsync_opengl_swc_init WARN ] OpenGL swap control requires the GLX backend.
[ 26/03/19 23:04:48.741 session_init FATAL ERROR ] Failed to initialize the backend

[2019-03-26 12:37] tya99 commented on #142
Yeah, the frame rate is awful.

$ compton --vsync opengl-swc --backend glx
[ 26/03/19 23:06:22.430 restack_win ERROR ] (0x03000003, 0x0300001e): Failed to found new above window.

[code]

[2019-03-26 12:45] aufkrawall commented on #54
For some reason, Firefox main window doesn't draw shadows anymore on top of other windows when using `--shadow-exclude =
    "class_g = 'Firefox' && argb"`. I think this has happened due to a change in Firefox' theming/windowing, as it still works correctly in Thunderbird.

[2019-03-26 13:32] yshui commented on #140
@kurnevsky Does `stable/6` branch fix this problem?

[2019-03-26 13:33] yshui commented on #142
@tya99 So, that is the problem then. Try just disable vsync.

[2019-03-26 13:44] sveatlo commented on #143
I've been running from a git build since your comment without any problems. Though I wasn't able to forcefully replicate the issue before, I believe it is solved.

[2019-03-26 13:48] tya99 commented on #142
If I do that on 5.1 it works okay:

[code]
[code]

Do you just not specify `--vsync` in v6 to not use it? because if I do that I get terrible frames:

./build/src/compton
[code]

[2019-03-26 13:57] kurnevsky commented on #140
@yshui yes, thanks.

[2019-03-26 14:00] yshui commented on #143
I'm closing this then. Please reopen if it happens again

[2019-03-26 14:00] #143 closed

[2019-03-26 14:11] yshui commented on #146
Your GPU is too old so the glx backend might not work properly (it requires OpenGL 3.0 to be fully functional).

[2019-03-26 14:24] Ropid commented on #82
It runs great here for me as well. I used it for perhaps 12 hours now.

The only problem I found is, I have strange stutter issues with Firefox that I can't manage to reproduce easily. The stutter shows up after Compton is running for a while. When I restart Compton, things go back to being perfect for the next few minutes.

The problem is really weird: the stutter is only inside Firefox's window

[2019-03-26 14:35] aufkrawall commented on #82
Hm, that's weird. I'm addicted to trying to spot stuttering on that particular side, but haven't "succeeded" so far (Firefox 66 with WebRender enabled). :(

Have you tried setting CPU governor to performance or also forcing GPU into high clock states?
Even the Windows "balanced" energy profile fails a bit for me on that site and shows sporadic micro stutter.

[2019-03-26 14:58] xt1zer commented on #143
Oh hey, I wasn't home til now. By "confirm" did you mean if the commit fixed the issue? When should I expect an update in Arch repos?

[2019-03-26 14:59] ggroucho commented on #132
**How old is your system?**
9 or 10 years old Thinkpad X201. It is old, but good enough for what I am using it for (the heaviest task would be playing 1080p60 videos in a browser).

I am using compton because it gets rid of tearing issues on light DEs (xfce, mate, i3...) and seems to have better performance.

I don't use compton on my other machines, since I am using heavier DEs on them.

**What h

[2019-03-26 15:06] mrvik commented on #145
No, but I could try

[2019-03-26 15:09] Ropid commented on #82
I'll try checking the power states of the card the next time I have the problem. CPU frequency governor was already at "performance".

It wasn't an occasional stutter on that vsynctester.com website. It was a constant stutter, it didn't manage to animate even one second smooth. I noticed the problem while doing normal web browsing because scrolling looked weird, and only afterwards checked that sp

[2019-03-26 15:41] mrvik commented on #145
I've started X server, then killed compton and...
- Connected and configured secondary screen
- `perf record 'compton'`
- `perf report`

There are a lot of symbols (unresolved) and the vast majority belonged to i915.
Here's a screenshot of `perf report`
![2019-03-26-163521_1024x559_scrot](https://user-images.githubusercontent.com/18632536/55011183-d91a5f00-4fe5-11e9-9e70-b147a080711f.png)

[2019-03-26 15:59] yshui commented on #145
Looks like a driver problem then

Also I just noticed your GPU is quite old. The glx backend really need GL3 to function properly.

[2019-03-26 16:44] aufkrawall commented on #139
I'm really certain that using `--vsync-use-glfinish` with `--vsync = opengl-mswc` results in the same frame output delay as with old `--vsync = opengl`.
I recommend from staying away from forcing anything via `vblank_mode`, as this likely introduces other problems elsewhere (e.g. Firefox).

[2019-03-26 20:29] aufkrawall commented on #82
@yshui When I set `--fading = false` and e.g. open the right click menu on KDE Plasma desktop, it doesn't disappear when left clicking anywhere else. I'd have to move a window over it to make that part of the screen content update again.

[2019-03-26 21:03] yshui commented on #82
@aufkrawall Are you using the latest `next`?

[2019-03-26 21:03] aufkrawall commented on #82
Yep.

[2019-03-26 21:23] yshui commented on #142
@tya99 If you didn't set vsync to true in your config file, then this is pretty interesting.

Can you do a bisect with vsync disabled all the way? If you have the time, of course.

[2019-03-26 21:26] yshui commented on #82
@aufkrawall If you run compton with `--monitor-repaint`, the damaged region of the screen will be painted red. Can you try reproduce the problem with that option, and see if the region is marked as damaged or not?

[2019-03-26 21:32] aufkrawall commented on #82
The issue doesn't reproduce when starting with `--monitor-repaint`.
However, it occurs only with `--use-damage`.

[2019-03-26 21:34] yshui commented on #82
@aufkrawall Can you do both `--use-damage` and `--monitor-repaint`?

[2019-03-26 21:36] aufkrawall commented on #82
I did. :)
But somehow the issue doesn't occur anymore when `--monitor-repaint` is used at the same time. The right click menu that would otherwise "stick" is drawn red for a short time, but correctly disappears when left clicking anywhere else (unlike without `--monitor-repaint`).

[2019-03-26 21:42] yshui commented on #82
Odd. Can you capture a trace using apitrace?

[2019-03-26 22:04] mrvik commented on #145
I've changed backend to xrender and problem disappeared. Thanks

[2019-03-26 22:04] #145 closed

[2019-03-26 22:18] yshui commented on #82
@aufkrawall I managed to reproduce this bug myself, however, it doesn't happen when replaying the trace I captured. Might be a driver problem.

[2019-03-26 22:20] aufkrawall commented on #82
Thanks, for some reason it wasn't outputting the trace when specifying `--experimental-backends`.

[2019-03-26 22:26] yshui commented on #82
I will open a bug report to mesa. For the time being, don't use `--use-damage`.

[2019-03-26 22:31] aufkrawall commented on #82
As the issue doesn't really bother me with fading enabled, I'll continue using `--use-damage`. Of course I'll double check with it off before reporting anything new.
Without `--use-damage`, Polaris GPU Linux driver ramps up clocks up like crazy.

[2019-03-26 22:39] yshui commented on #82
@aufkrawall That's interesting. I can't really see a difference with/without `--use-damage` on my RX590

[2019-03-26 22:50] aufkrawall commented on #82
Without `--resize-damage`, my GPU voltage is averaging at 0.88V while just refreshing the performance display in KSysGuard. With `--resize-damage`, it's usually idling at the lowest possible 0.75V.
My brother got a Vega GPU and it is much less hyperactive regarding clock changes (even though he got a 4k display and me only 1440p), so it might not be a big deal with such GPUs.

[2019-03-26 22:51] yshui opened #147 "Improve frame timing (a.k.a. reduce input lag)"
Currently, compton doesn't really pay any kind of attention to frame timing. A frame is rendered whenever the main loop is free (i.e. not events received in a round of the main loop) and there is damage.

It's amazing this worked so well as it did (because there are so many ways this could break). But, there are increasing number of reports of input lags when vsync is enabled. Most notably, window

[2019-03-27 00:20] aufkrawall commented on #82
After watching your video at the mesa bugtracker, I think it is very likely that the issue I described above regarding the flickering Plasma window docking indicator leftovers is the same bug.

[2019-03-27 00:56] jvc2 commented on #146
Thanks, I also wasn't aware v6 doesn't support OpenGL < 3.0 so it was bad timing on my part to try out shaders just as it was released.

[2019-03-27 00:57] #146 closed

[2019-03-27 01:32] yshui commented on #146
@jvc2 This probably won't work in earlier versions either.

[2019-03-27 01:45] jvc2 commented on #146
I'm testing it on v5.1 and shaders seem to work fine, I haven't come across any issues yet.

[2019-03-27 02:11] Ropid commented on #54
@aufkrawall: I came up with this when that same problem showed up in the Nightly version:

`"(class_g = 'Firefox' || class_g = 'Nightly') && window_type = 'utility'"`

That "utility" type seems to catch everything problematic while leaving the main window and the right-click menu alone.

[2019-03-27 10:19] aufkrawall commented on #54
@Ropid Thanks a lot, it works.

[2019-03-27 15:32] yshui commented on #82
@aufkrawall Turns out it's a compton bug after all.

[2019-03-27 15:55] Arnaudv6 commented on #132
Sandybridge i7, Intel HD 3000 GPU. Please don't bump openGL dependency above version 3

[2019-03-27 16:32] yshui commented on #132
@Arnaudv6 HD 3000 supports OpenGL 3.3

[2019-03-27 16:37] Arnaudv6 commented on #132
Yep, please don't bump to 4

[2019-03-27 16:55] clawoflight commented on #143
Can you release a new version, since this fixes a deal-braking bug?

[2019-03-27 18:14] clapbr commented on #82
I've finally migrated from old compton, the problems I had with the new backends seems gone. Latency is pretty good and I'm not seeing any glitches, even with --use-damage. You're a boss yshui, kwin devs should learn from you :1st_place_medal:

[2019-03-27 18:17] aufkrawall commented on #82
@yshui I can confirm it's fixed now without fading. But with fading enabled, there is now "ghostly flickering" of closed windows or context menus which wasn't there before the fixes.

[2019-03-27 18:53] yshui commented on #82
@aufkrawall Should be really fixed now. Apparently the previous fix exposed another bug.

[2019-03-27 18:59] yshui commented on #143
@clawoflight I don't understand how this is deal-breaking. Distros shouldn't be using debug build, and release builds shouldn't include asserts.

[2019-03-27 19:02] aufkrawall commented on #82
It's fixed with and without fading in `next`, but `stable/6` still exposes the artefacts with fading.

[2019-03-27 19:07] yshui commented on #143
ping @xyproto.

Is ArchLinux not doing release builds of compton?

[2019-03-27 19:10] yshui commented on #82
@aufkrawall Can you try `stable/6` again?

[2019-03-27 19:12] aufkrawall commented on #82
Now it's fixed there in both cases as well. :)

[2019-03-27 19:12] yshui commented on #82
Thanks for confirming!

[2019-03-27 19:13] aufkrawall commented on #82
Thanks for fixing things so blazingly fast. Perhaps take a break? :p

[2019-03-27 19:45] clapbr commented on #82
Sorry for almost being off-topic but many people wonder why use compton instead of kwin. Kwin sucking with nvidia is known but many people say it works fine with amdgpu, well it doesn't. Here's why:

https://www.youtube.com/watch?v=FiqrVRVjcZ8 - Compton: how compositing vsync should be
https://www.youtube.com/watch?v=8CS8kYyDWBw - Kwin compositor: is this acceptable in 2019? at this point just sto

[2019-03-27 20:11] aufkrawall commented on #82
Ok, I was mistaken here. This issue still exists. It's not new, I think it already existed before the fork.
It's not related to fading, but can best be seen with fading off. It's apparently a `use-damage` problem, as I cant reproduce it without it.
Happens with every old and new backend.

I can reliably reproduce it in a Plasma session by dragging a window, move the cursor to the top of the screen

[2019-03-27 20:20] yshui commented on #82
@aufkrawall I don't know how docking indicator is implemented in Plasma. Could you capture a trace?

[2019-03-27 20:23] yshui commented on #132
@Arnaudv6 There's no plan for that. But I do want to bump to 3.3 core profile.

[2019-03-27 20:25] aufkrawall commented on #82
Could you please tell me how to run Compton with experimental backends via apitrace?
It creates a .trace file when I do

but not

(Yeah, must be some dumb reason.)

[2019-03-27 20:38] clawoflight commented on #143
@yshui doesn't look like it:
https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/compton

And this is the meson wrapper:

https://git.archlinux.org/svntogit/packages.git/tree/trunk/arch-meson?h=packages/meson

[2019-03-27 20:57] yshui commented on #143
@clawoflight the meson wrapper uses `--buildtype plain` and does not enable `b_ndebug`. So that's why.

cc @xyproto

[2019-03-27 20:59] yshui commented on #82
@aufkrawall That's really weird.

`apitrace trace compton --experimental-backends` works fine for me.

Maybe it crashed or something?

[2019-03-27 21:08] aufkrawall commented on #82
It just outputs this:

apitrace: loaded into /usr/bin/apitrace
apitrace: unloaded from /usr/bin/apitrace
apitrace: loaded into /usr/bin/compton
[ 27.03.2019 22:05:34.970 _win_bind_image ERROR ] Failed to get named pixmap for window 0x02200006((null))

But no .trace file. What the devil?

Anyway: I confused that --experimental-backends would be required in this case. Here is a trace with old xrende

[2019-03-27 21:14] aufkrawall commented on #82
I guess apitrace just doesn't work with the new xrender backend?
It does with new GLX backend, and I was able to capture a trace which hopefully contains the corruption:
[compton.trace.zip](https://github.com/yshui/compton/files/3015292/compton.trace.zip)

[2019-03-27 21:16] yshui commented on #82
@aufkrawall Ah, so that's why. No, apitrace captures calls of OpenGL functions, so it doesn't work with the xrender backend.

[2019-03-27 22:44] yshui commented on #82
@aufkrawall Can you do a trace again with `--log-level=trace`?

[2019-03-27 23:15] aufkrawall commented on #82
Here we go:
[compton.zip](https://github.com/yshui/compton/files/3015632/compton.zip)

[2019-03-28 08:42] clawoflight commented on #143
Thanks for the replies! I opened a bug on the Arch side: https://bugs.archlinux.org/task/62166

[2019-03-28 10:01] xyproto commented on #143
See also:

https://github.com/mesonbuild/meson/pull/5143

[2019-03-28 10:20] tya99 commented on #142
Sure, you can see [my config (in my first post)](https://github.com/yshui/compton/issues/142#issue-424728748) has not got vsync set. I will now re-run the tests without vsync for comparison.

So compton v6 ie 3bf86b3e7eeb5b087e93fca2613c89712db2ca3a

[code]
[code]
[code]

[code]
[code]

Now looking at commit e109bee380c5be22e886d12b8b776e8df30be481

things seem to be great as they were in the abov

[2019-03-28 15:49] xt1zer commented on #143
Just received an update and the issue seemed to never appear again. Thanks for your support!

[2019-03-28 21:46] yshui commented on #82
@aufkrawall Should be fixed in `next`

[2019-03-28 22:03] aufkrawall commented on #82
@yshui Confirmed, thanks once again!

I suppose you don't want to deal yet with an issue that exclusively occurs with a drm-next-5.2-wip kernel? I guess it means that this is likely a bug on AMD's side, and everything is fine with 5.1-rc2.

[2019-03-29 14:22] dikiaap commented on #54
@aufkrawall It seems so. I tried to exclude Firefox transparent shadow without having "&& argb" option, now the incorrect transparent shadow is gone in Firefox 66.0

[2019-03-30 06:40] 0mni opened #149 "New Version with automatic vsync, now renders compton unuseable"
With the boolean only option for vsync, this new direction you are taking has rendered compton completely unusable.  I need a specific version of vsync to work on my laptop, otherwise its screen tearing galore.  I now have no way to specify opengl-swc and because of this, this new direction that you are taking is extremely bad.  It's good idea, poor execution. please bring back the manual specific

[2019-03-30 09:11] yshui commented on #149
Setting `--vsync`, or `vsync = true` now is equivalent to `vsync = opengl-swc` previously.

If that stopped working for your, this change is not the reason.

[2019-03-30 14:32] winteriscariot opened #151 "shadow = true causes performance issues when dragging Chromium windows"
### Platform
Arch Linux

### GPU, drivers, and screen setup
Nvidia RTX 2060 with 144hz monitor

$ pacman -Q | grep nvidia
lib32-nvidia-utils 418.56-1
nvidia 418.56-2
nvidia-settings 418.56-1
nvidia-utils 418.56-1

$ glxinfo -B
name of display: :1
display: :1  screen: 0
direct rendering: Yes
Memory info (GL_NVX_gpu_memory_info):
    Dedicated video memory: 6144 MB
    Total available memory: 6144 M

[2019-03-30 17:21] yshui commented on #151
When did this start happening?

And it is kind of weird since you have Chromium in your `shadow-exclude`

[2019-03-30 19:37] winteriscariot commented on #151
I only recently started using compton again (after switching to MATE from GNOME, tho that's a whole other story) and so I hadn't regularly used it in a number of years, so I can't say when this started.

What I _can_ say, however, is that this problem seems to effect applications that use the Electron framework as well, which would make some sense since Electron is based on Chromium.

Signal Deskt

[2019-03-30 19:38] winteriscariot commented on #151
EDIT: re: Electron apps, it seems that the Rocket.Chat desktop client (which is an Electron app) is _not_ effected by this, so I'm going to poke a bit and see if I can find if there's anything in particular with that application that the others do not have set

[2019-03-30 20:04] winteriscariot commented on #151
Interesting, when I pass the `--use-gl=swiftshader-webgl` switch to a chromium/electron based app (tested on chromium and spotify) i do not get the lag. however, I do get some errors in the console. From spotify:

[2019-03-30 21:35] yshui commented on #151
Hmmm. This may not help, but can you use apitrace to capture a trace of compton, while you demostrate this problem?

Remember to pass `--log-level=trace --log-file=/dev/null` to compton.

[2019-03-30 21:37] yshui commented on #151
Maybe that flag broke hardware acceleration? You can tell if you are using hardware acceleration by looking at `chrome://gpu`

[2019-03-30 23:47] freeqaz commented on #134
Finally got this again. Not sure what caused it, but I did the following and noticed it happening:
- Changed i3 config and reloaded with shortcut (CMD + Shift + R)
- Slept computer via manual systemctl command (was playing with power stuff)
- Had multiple monitors enabled and had swapped between single + multiple via manual xrandr commands

Output from logs, as requested:
[code]

[2019-03-31 00:07] rytone commented on #132
System
* Intel Xeon E3-1231 v3
* NVIDIA GTX 1070

I'm running Arch Linux with kernel version 5.0.5 and graphics driver version 418.56. There's nothing complicated like Optimus going on. Right now I'm using compton 6.2 out of the Arch repos using the xrender backend, and I'm using `ForceFullCompositionPipeline` to eliminate tearing. I would rather use the GLX backend so I could stop using `ForceFul

[2019-03-31 02:48] Ropid commented on #151
I'm guessing you are seeing the same issue I had for years while using different NVIDIA cards.

I had the stutter problem also show up without Compton running, while using just a plain window manager with no compositor. I'm thinking Compton is probably innocent.

The problem is the CPU usage of the Xorg process going through the roof while moving windows around if certain programs are running. Whe

[2019-03-31 05:38] yshui commented on #132
@rytone Window resizing, open and close is slower on NVIDIA because certain essential operations are extremely slow on NVIDIA drivers (we are talking about > 100x slower).

And this is an old problem, more than 8 years old. Maybe if enough people complain to NVIDIA, things could change. Otherwise there is nothing much we can do.

[2019-03-31 16:36] rytone commented on #132
Yeah, I figured that was the case, especially after reading your recent update on #11. Unfortunately, I don't think NVIDIA is ever going to fix these issues; they don't seem to actually care about their Linux drivers enough to do so.

[2019-03-31 16:57] aufkrawall commented on #132
I suspect that they simply refuse to "bow" (I guess that's how they see it.) to make use of DRI for a DDX driver and instead cling to their own hack solution, no matter how badly it affects their customers.

[2019-03-31 17:02] biopsin commented on #91
saw dunst v1.4.0 removed libxdg-basedir dependency, maybe there is something commonality here.. only wishfull thinking for now.

[2019-03-31 21:24] yshui commented on #134
Does this log you attached captured while this bug is happening?

[2019-03-31 21:43] winteriscariot commented on #151
You are 100% correct, it was all software rendering. Correspondingly, when I turn off hardware acceleration by turning it off in chrome://settings the lag disappears as well.

I'm going to continue to see if there are any combination of settings between chrome and compton that might make everything work together nicely.

[2019-04-01 00:23] freeqaz commented on #134
Yep, that log is while the bug is happening (as requested previously). Nothing seemed crazy suspicious to me there, but I am not an expert on Compton either. If there is anything else I can do to help reproduce this, please let me know. Thank you!

[2019-04-01 05:07] yshui commented on #134
@freeqaz But the log only captures 2 seconds. Does this bug happen immediately after you start compton?

[2019-04-01 17:58] yshui commented on #139
Just read about this: http://www.phoronix.com/scan.php?page=news_item&px=NVIDIA-KDE-High-CPU-Fix

Looks like NVIDIA finally fixed busy waiting. Maybe we can finally enable `glFinish()` by default now.

Even given KWin's popularity, it still took them 6 years to fix this. Quite sad.

[2019-04-02 00:29] jenav commented on #132
*   How old is your system?
    From 2012.
 *   What hardware (CPU, GPU, etc) does your system have?
    Intel Core i3-3110m with integrated HD Graphics 4000, 4GB RAM, HDD.
  *  Are you using up-to-date software on your system? Is your graphic driver the latest?
    Yes and yes, because rolling release distro (openSUSE Tumbleweed).
  *  Does your system require a more "advanced" setup? For example

[2019-04-04 09:25] kchibisov commented on #16
Hi, @yshui, I am experiencing the same issue with window flickering. The problem is somehow related to border width. if the window border width is set to 0 the flickering start happening ( tested in i3, bpswm, awesomewm).  This is true even for fullscreen windows with ```unredir-if-possible = false;``` , but if you somehow altered the fullscreen window border size to something different then 0, fl

[2019-04-04 17:26] ncortese commented on #108
I use glx-fshader-win as well, although in kind of a hacky way: when doing digital art, I'll sometimes run Compton using a shader with a postprocessing effect to see how it looks in real time. I started doing this because I found Krita's Filter Layers useful, but their selection of filters is limited and I didn't want to have to mess around with its source code just to add 1 or 2 new effects.

Thi

[2019-04-04 17:32] dikiaap commented on #140
I have updated Compton to v6.2. This problem still exists.

[2019-04-04 20:18] yshui commented on #140
@dikiaap You problem _seems_ different. Do you mind open another issue and you describe your problem in more detail? (preferrably include your hardware info, and a video clip demostrating your problem)

Thanks.

[2019-04-05 13:19] tya99 commented on #142
Interesting.... I tried compton 6.2 with `--use-damage` and it seems we're back to smooth frames per second around 300 like I used to get. `--vsync` and `--backend glx` is still terrible though.

Should I be doing these bisects on `master` or `next`? Up until now I have been doing them on master.

[2019-04-05 13:24] tya99 commented on #142
I should also note that v6.1rc2 was better than before 3bf86b3e7eeb5b087e93fca2613c89712db2ca3a

as I was getting

[code]

but still not as good as what 6.2 final is, ie ff85c11ace4eeeb0ab7a47f5d34f4d659800d545

By the way, should I be getting normal frames like 300 with `--vsync` and `--backend glx`?

[2019-04-05 13:33] tya99 commented on #142
I should also mention that even with v5.2 and `--backend glx` I only got:

[code]

I seem to remember that being better on my NVIDIA card (another machine).

However on that release `compton --vsync opengl or opengl-oml` gave me:

[code]

So with 6.2 I settled on `compton --vsync --use-damage`. If there's anything else you want me to test I will do so!

[2019-04-05 22:43] bitshiftnetau opened #153 "25% cpu and slow screen writing after suspend, when using -b option"
Issues after suspend when using -b (run as daemon) option as detailed in this manual: https://jlk.fjfi.cvut.cz/arch/manpages/man/compton.1

and the ArchWiki: https://wiki.archlinux.org/index.php/Compton

### Platform
Arch Linux
kernel: 4.19.32-1-lts
OpenBox: 3.6.1

### GPU, drivers, and screen setup
Nvidia Quadro 3000M
driver: nvidia-340xx-lts
version 340.107

xf86-video-fbdev 0.5.0-1
xf86-video-v

[2019-04-05 22:45] bitshiftnetau commented on #153
I've fixed this problem by launching compton with a trailing ambersand (&) to signify running as background process.

This looks like a known issue with certain drivers, I will inform the ArchWiki and instruct the use of ambersand in place of the -b flag if this error presents for other users.

[2019-04-05 23:37] yshui commented on #153
@bitshiftnetau It would be interesting if you can figure out what is actually using the CPU. You can use `perf` for that. If you want to try remember to build compton with debug info.

[2019-04-06 19:26] Skibicki commented on #132
- Hardware

     Core 2 Duo E7300, Intel GMA 4500

- Are you using up-to-date software on your system? Is your graphic driver the latest?

     OS: Manjaro 18.0.4-19104
     Many packages are recent.
     Linux 4.19.32
     Xorg server 1.20.4
     Mesa 19.0.1
     xf86-video-intel  1:2.99.917+863+g6afed33b
     LXQt 0.14.1

- What version of compton are you using right now? And is it working well

[2019-04-07 01:49] aasril opened #154 ""ninja -C build install" failed on Linux Mint 18.3. xcb_render related errors."
### Platform
Linux Mint 18.03 amd64 (based on Ubuntu 16.04 LTS)

### GPU, drivers, and screen setup
A Lenovo G400 laptop with Intel GPU

### Environment
i3-gaps

### Compton version
Both v6 and git version

### Steps of reproduction
I ran the build with this command:
    CC=clang-7 meson --buildtype=release . build
and everything seems to be satisfied.

And then tried to install compton with this

[2019-04-07 18:55] ciampolo commented on #142
This is caused by fast repainting of windows. If you play an mpv video it will lag miserably. See https://github.com/tryone144/compton/issues/5

Kwin does not have this problem so could look there how to solve it. It seems Kwin just excludes OpenGL windows from compositing (at least partially).

With Kwin (with full blur, transparency effects multiple videos and a game running all visible and movi

[2019-04-07 19:53] x70b1 commented on #132
@yshui You did an awesome job here!

For me, this is an important point. The docs are very old and there is no way to find out what are the best options for a system. I use `i3wm` and `compton`. I can configure it, it works. But I have no experience with graphics drivers or the internals of X. Unfortunately there is no complete reference where you can see which option changes which performance.

T

[2019-04-08 01:47] tmpm697 commented on #147
I'm still using ver 5.1.

[2019-04-08 10:26] yshui commented on #154
Your `xcb-render` is too old.

[2019-04-08 11:43] tmpm697 commented on #147
I'm still using ver 5.1 and frequently checking for new compatible versions to upgrade.

[2019-04-08 13:41] aasril commented on #154
Updating xcb-render and its dependencies to the packages from Ubuntu 18.04 (v 1.13-1) get rid of the errors. Not sure if that's a good idea playing with different release packages but after that the build and install ran successfully.

I'll list the packages I updated here, if it's alright, in case someone else is interested and for the sake of my documentation:
[code]

[2019-04-08 16:53] yshui commented on #154
No problem!

Closing

[2019-04-08 16:53] #154 closed

[2019-04-09 00:36] ciampolo commented on #142
To put the update I posted in the other fork:
For some reason that for the life of me I cannot understand it now works very fluent nearly as much as kwin. Kwin has the edge still though that is because Kwin does, as already said, some very intelligent tricks during repainting.

I don't know why I get full FPS now (even with multiple openGl applications running and moving) but I get 60fps at glxgea

[2019-04-11 12:36] Bysmyyr opened #156 "Lagging"
// The template below is for reporting bugs. For feature requests and others, feel free to delete irrelevant entries.

### Platform
Fedora 28 amd64

### GPU, drivers, and screen setup
// Example: NVidia GTX 670, nvidia-drivers 381.09, two monitors configured side-by-side with xrandr
// Please include the version of the video drivers (xf86-video-*) and mesa.
// Please also paste the output of `glxi

[2019-04-11 13:26] yshui commented on #156
Can you update to the most recent version of compton?

[2019-04-11 13:36] Bysmyyr commented on #156
Yep, just updating the whole system to newest fedora. I forgot to mention, this lagging started one month ago. Before that everything worked smoothly.

[2019-04-11 13:55] yshui commented on #156
@Bysmyyr Fedora is not using the most recent version of compton

[2019-04-11 19:37] aufkrawall commented on #82
@yshui New xrender vsync is still broken with drm-next-5.2-wip and amdgpu.dc=1, so chances are it still will be with linux-mainline 5.2-rc1. Do you think there is anything that AMD devs should know about new xrender vsync when reporting this issue to them?

[2019-04-12 09:35] Bysmyyr commented on #156
Looks like it is working again. SOrry for distrupt

[2019-04-12 09:35] #156 closed

[2019-04-12 10:58] yshui commented on #82
@aufkrawall It's broken in what way? What `xf86-video-` driver are you using? Is there any error message in Xorg's log?

[2019-04-12 15:05] aufkrawall commented on #82
There is tearing on the very top of the screen, like without pageflipping. And not suprisingly, the xorg log shows a ton of these:

[    56.210] (WW) AMDGPU(0): Page flip failed: Resource temporarily unavailable
[    56.210] (EE) AMDGPU(0): present flip failed

That's with the latest xf86 amdgpu DDX. It seems like a regression of drm-next-5.2-wip kernel, as 5.1-rc4 doesn't show this issue. Well, I

[2019-04-12 15:16] yshui commented on #82
@aufkrawall Does look like an AMDGPU bug then. You should include your Xorg log in the report. Please post the link here if you decide to open a bug report.

[2019-04-12 17:56] aufkrawall commented on #82
Should I mention that this likely is related to the usage of the present extension?

[2019-04-13 17:12] aufkrawall commented on #82
Had one more crash with new xrender backend. Happened while I was using the Steam client window in Wine (not the Linux version of Steam):

[core.compton.1000.a920912fb5bb43018b0104630f6a674a.1605.1555175248000000.zip](https://github.com/yshui/compton/files/3076499/core.compton.1000.a920912fb5bb43018b0104630f6a674a.1605.1555175248000000.zip)

[2019-04-13 19:21] SoniEx2 commented on #132
- How old is your system?
    Case and speakers from the 90's. Most everything else from 2014 or so, with newer stuff here and there, and a somewhat older PS/2 keyboard.
- What hardware (CPU, GPU, etc) does your system have?
    Intel Core i5-3330, AMD Radeon HD 6970, ASRock H61M-HVS, [does anyone even know or care what their RAM is], etc.
- Are you using up-to-date software on your system? Is you

[2019-04-13 19:23] SoniEx2 commented on #91
You already stripped down compton so why not strip down libxdg-basedir?

[2019-04-13 22:41] SoniEx2 opened #157 "Awesome becomes all wonky with compton"
// The template below is for reporting bugs. For feature requests and others, feel free to delete irrelevant entries.

### Platform
// Example: Ubuntu Desktop 17.04 amd64
Arch Linux

### GPU, drivers, and screen setup
// Example: NVidia GTX 670, nvidia-drivers 381.09, two monitors configured side-by-side with xrandr
// Please include the version of the video drivers (xf86-video-*) and mesa.
// Ple

[2019-04-13 23:33] SoniEx2 commented on #157
Update: I've also had this issue with the quit dialog from guake, still using awesome WM. Definitely leaning towards compton issue.

[2019-04-14 03:18] yshui commented on #82
@aufkrawall

Yes.

Core files are not very useful without the executable file and debug info.

[2019-04-14 08:58] aufkrawall commented on #82
@yshui Here we go regarding the driver issue:
https://bugs.freedesktop.org/show_bug.cgi?id=110417

I'm not sure if I can get a debug log regarding the crash issue, as it would grow extremely big until it may be triggered.

[2019-04-14 12:23] yshui commented on #82
@aufkrawall You just need to make sure you build compton with debug info enabled, and send the executable with the core dump.

[2019-04-14 12:34] yshui commented on #157
Do you have a screenshot?

[2019-04-14 12:55] SoniEx2 commented on #157
if I can figure out how to get github to accept it

[2019-04-14 13:00] SoniEx2 commented on #157
![](data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB4AAAAQ4CAYAAADo08FDAAAgAElEQVR4nOzdeXhcdaH/8c8smZlksjVJ26RJ17QNSy8WpKw/QJbLtQKKtgoKFRQuolQsq6AgQrlFccEF68paRFEKqEWKQAGlC1AoS0s3mu7N0jT7JDOZmXN+f5zOJJPMmqbb8H49z3kyc7bvcs5M++ST7/fYZsyabQoAAAAAAAAAAAAAcNhzStLSJf8YkpMZhiFPjk1NTU2SpLKysujrbFVTUxPzvq6xOe1j21t2D7rcvn17IPv5YJULAAAAAAAAAAAObW7DUGU4rOKCArnz8iSHQ5LU6HGptGKUJKlp1y6NDPRYB4TDCnR1qbWjQzsdDgXs9q

[2019-04-14 13:21] SoniEx2 commented on #157
eh, I give up. anyway: <magnet:?xt=urn:btih:551650b47b662f2b49608949c040c91c0c2b7408&dn=1555245493.png&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce>

[2019-04-14 14:13] Clyybber commented on #157
@SoniEx2 You are not seeding, so no one can download your screenshot...
Can't you just upload it to imgur and link it here?

[2019-04-14 15:41] SoniEx2 commented on #157
imgur won't let me upload either, and additionally imgur is known for adding compression artifacts.

in any case, I am seeding, and I was able to leech onto my phone. if you can't leech, check your ISP, the tracker status, or your DHT settings. it's a fresh torrent so expect it to take a few minutes.

[2019-04-14 16:12] Clyybber commented on #157
Huh, weird...

[2019-04-17 12:44] yshui commented on #157
_Could_ be a driver bug. I will ask around.

[2019-04-17 13:50] h-2 opened #158 "[question] 10bit support?"
Does this fork support 10bit color depth per channel? I have just switched to a 10bit monitor and activated 10bit for xorg which works fine. There is no difference for most applications and some apps that do take advantage (e.g. mpv) work with 10bit.

However, compton, doesn't do transparency anymore. The version is pretty old (FreeBSD: compton-20160907_4)... so has anything changed in this area i

[2019-04-17 14:07] yshui commented on #158
I did make changes to how color depth is handled. But since I don't have the hardware to test compton on a 10 bit setup, I don't know if that works or not.

It would be nice if you can test and report the result you get.

[2019-04-17 14:22] SoniEx2 commented on #157
Could be a Cairo issue... I believe I've only had the issue with GTK apps and the WM, which as far as I can tell uses Cairo...

Will do more testing with Qt later today.

[2019-04-17 14:23] SoniEx2 commented on #157
cairo 1.16.0-2 from archlinux

[2019-04-17 14:49] yshui commented on #157
@SoniEx2 Does this problem happen if you uninstall `xf86-video-ati` and use Xorg's builtin modesetting driver instead?

[2019-04-17 15:30] h-2 commented on #158
I can't make the current version build on FreeBSD right now, I will have a look once I have more time.

[2019-04-17 16:45] anowlcalledjosh opened #159 "System freezes when compton is run from i3status-rust"
### Platform

Ubuntu Desktop 18.04 amd64

### GPU, drivers, and screen setup

Intel integrated graphics, mesa 18.2.8, two monitors configured vertically with xrandr

<details><summary><code>glxinfo -B</code></summary>

[code]

</details>

### Environment

i3 4.16-123-g6f920d6dc

### Compton version

v5-rc4-72-gedb8b38ee and v6-rc1-99-gfb53ff50a, to name two

[code]

### Compton configuration:

[co

[2019-04-17 17:24] yshui commented on #159
i3bar suspended the compton process with SIGSTOP, not a compton problem.

[2019-04-17 17:24] #159 closed

[2019-04-17 17:27] yshui commented on #149
I will close this as invalid since there is no response from the reporter.

Please reopen if necessary

[2019-04-17 17:27] #149 closed

[2019-04-17 22:21] SoniEx2 commented on #157
Removing xf86-video-ati has made the issue disappear, or so it seems...

[2019-04-18 07:33] aufkrawall commented on #82
Crashed with latest changes, hope this help:
[compton.zip](https://github.com/yshui/compton/files/3093212/compton.zip)

[2019-04-18 10:56] yshui commented on #82
@aufkrawall it does. Should be fixed now.

[2019-04-18 13:53] yshui commented on #157
@SoniEx2  So, if you are certain you were indeed using xf86-video-ati 19.0.1 before, you can open a bug report here:

https://bugs.freedesktop.org/enter_bug.cgi?product=xorg&component=Driver/Radeon

You should try to include as much information you could, also remember to mention removing xf86-video-ati fixes this problem.

I am going to close this bug since it's likely not a compton bug.

[2019-04-18 13:53] #157 closed

[2019-04-18 19:20] aufkrawall commented on #82
Great. :)
Will keep you updated regarding stability.

[2019-04-18 20:05] yshui commented on #82
Wow, that was quick.

[2019-04-18 20:13] aufkrawall commented on #82
Yeah, you and Michel are by far my favorite developers in xorg space. ^^

[2019-04-19 23:34] yshui commented on #124
Closed by 4762af76 and 99eb74e85

[2019-04-20 03:56] yshui commented on #82
Quoting from the bug report:

Big surprise. Page flipping actually wasn't implemented until 5.2. And indeed, (according to my test) the actual present method used is `Copy`, indicating page flip wasn't there. Quite amazing how there wasn't any tearing.

[2019-04-20 08:04] aufkrawall commented on #82
:astonished:

I'd say latest changes for new GLX backend made it as responsive as new xrender one and also the stuttering in applications is gone. :)
There just seems to be a problem with windows being on top of each other not correctly occluded. This is reproducible by using KDE Plasma, right clicking on any window title and choose to make it draw always on top. Then clicking usually goes right t

[2019-04-20 11:25] Ropid commented on #82
I saw tearing with the new xrender backend when I made a mistake in my compton.conf and had fullscreen unredirection disabled. Tearing then showed up in a game whenever it didn't manage to paint at 60fps (with 60Hz monitor refresh).

[2019-04-20 13:46] yshui commented on #82
@aufkrawall do you have a screenshot?

[2019-04-20 14:15] aufkrawall commented on #82
@yshui Here the Dolphin window is rendered through the mpv window in fullscreen:
![Screenshot_20190420_160935](https://user-images.githubusercontent.com/13510490/56458470-445a1580-6387-11e9-993e-b1b08d4e7748.jpg)
I need to close Dolphin completely to make it stop.
Also things like context menus can appear beneath windows instead of on top of them etc.

[2019-04-20 14:22] summaryInfo commented on #82
I've tried new xrender backend, VSync works great.
But there's an issue with shadows.
They are sometimes rendered with a part of other window contents (like on attachment).
I've noticed this happenning with firefox and mpv, but not with st.
The issue is present on both intel (trace below) and nvidia (using proprietary dirvers).

__compton__: Version from next branch
__kernel__: Linux 5.0.7_1
__wm_

[2019-04-20 14:33] yshui commented on #82
@aufkrawall Cannot reproduce this problem... I tested on kwin without other KDE components.

Can you upload the trace log?

[2019-04-20 14:56] aufkrawall commented on #82
@yshui Seems to happen only when Dolphin is started after Compton. When it was already opened before Compton was started, its window is not incorrectly shown when going fullscreen in mpv.
Here is the log:
[compton.log](https://github.com/yshui/compton/files/3100257/compton.log)

[2019-04-20 15:02] yshui commented on #82
@aufkrawall At which point in the log did the bug happen?

[2019-04-20 15:44] aufkrawall commented on #82
@yshui I suppose when mpv goes fullscreen. It starts in windowed mode and then switches to 2560x1440p fullscreen window. The Dolphin "ghost" window gets instantly visible after the switch.

[2019-04-20 17:57] aufkrawall commented on #82
Could reproduce it also with the old GLX backend.

[2019-04-21 01:54] freeqaz commented on #134
Hey @yshui, yeah this bug happens as soon as I open compton. And when I close + reopen compton, it persists. Pretty sure it's a driver issue but not sure if that's because of Intel drivers or because of compton's interactions with the Intel driver. Any thoughts would be appreciated. :)

[2019-04-21 03:18] yshui commented on #134
@freeqaz Do you mind record a trace with `apitrace` when this is happening?

[2019-04-21 10:09] alaviss opened #160 "unredir-if-possible froze screen"
### Platform
Gentoo amd64

### GPU, drivers, and screen setup
Intel HD 5500 on `modesetting` driver, mesa 18.3.6
<details>

[code]

</details>

### Environment
i3-gaps

### Compton version
`compton --version`: `v6-rc1-122-g72ede42`
`compton --diagnostics`:

<details>

[code]

</details>

### Compton configuration:
[code]

### Steps of reproduction
1. run `compton`

### Expected behavior
Not freezi

[2019-04-21 13:11] aufkrawall commented on #82
Fingers crossed, issues started with commit c8c55ff83192363e4a3631d086ee416dfdc2345a .

[2019-04-22 06:53] mustaqimM opened #161 "Backround Wallpaper flickers when changing windows between workspaces"
### Platform
Void Linux x86_64

### GPU, drivers, and screen setup
[code]
### Environment
`awesomewm`

### Compton version
`compton --diagnostics`
[code]
### Compton configuration:
[code]

### Steps of reproduction
// If you can reliably reproduce this bug, please describe the quickest way to do so
// This information will greatly help us diagnosing and fixing the issue.

1. Switch workspaces
2.

[2019-04-22 08:37] aufkrawall commented on #161
Please attach xorg log and check if DRI3 is used. If not, try setting `Option "DRI" "3"` in xorg config and installing xf86-video-intel driver.

[2019-04-22 11:30] mustaqimM commented on #161
@aufkrawall I only have `mesa-intel-dri` installed. The issue seems to be more of a setting rather than a missing application. I don't want to install xf86-video-intel

[2019-04-23 09:26] WernerFP opened #162 "Inkscape preferences window: 50% instead of 100% opacity"
### Platform
Distro: Arch Linux
Kernel: 5.0.9-arch1-1-ARCH x86_64

### GPU, drivers, and screen setup
Device-1: NVIDIA GK104 [GeForce GTX 770]
Driver: nvidia v: 418.56
Display: x11
Server: X.Org 1.20.4
Resolution: 2560x1440 60Hz, 2560x1440 60Hz

### Environment
Desktop: Openbox 3.6.1

### Compton version
v6.2

### Compton configuration:
[code]

### Expected behavior
If the opacity values in `~/.co

[2019-04-23 14:28] biopsin commented on #162
In Inkscape do
-> preference -> Interface -> Windows -> Dialog trancparency -> opacity when unfocused
set it to 1,0000

[2019-04-23 17:18] WernerFP commented on #162
Ups :smiley:
Thank you @biopsin and sorry for false alarm!
I close it as solved.

[2019-04-23 17:18] #162 closed

[2019-04-24 01:50] apetresc commented on #113
I think I might be experiencing the same problem on Ubuntu 19.04. I have both `libev4` and `libev-dev` installed, but `meson --buildtype=release . build`  still prints:

[code]
The build still works fine but that `Dependency libev found: NO (tried pkgconfig and cmake)` is upsetting. Should I just be ignoring it?

[2019-04-24 09:24] yshui commented on #113
@apetresc Yes, you should

[2019-04-24 09:27] yshui commented on #161
Duplicate of #16

Closing.

[2019-04-24 09:30] yshui commented on #160
Does the screen freeze happen immediately after you start compton?

Also IIUC, this problem doesn't happen at all if you set `unredir-if-possible` to false?

[2019-04-24 09:43] yshui commented on #82
@aufkrawall hmm, are you using a debug build or release build? (i.e. `meson --buildtype=debug` or `=release`)

[2019-04-24 10:33] alaviss commented on #160
Yep, all correct.

[2019-04-24 10:43] yshui commented on #160
Can you run compton with `--log-level=trace --log-file=compton.log`, and upload `compton.log`?

[2019-04-24 10:49] aufkrawall commented on #82
`release`
Going back to c8c55ff didn't make it disappear entirely, it just seems to happen less often. Trying fb53ff50a1f766321f4eae57396e1f8f70afb4f7 with new xrender backend now.

Btw: GLX backends seem to be more stable regarding performance when there are other GPU applications running.

[2019-04-24 12:20] aufkrawall commented on #82
@yshui
New log with `meson --buildtype=debug`. It doesn't crash.
[compton.log](https://github.com/yshui/compton/files/3112175/compton.log)

[2019-04-24 13:27] alaviss commented on #160
Here you go: [compton.log](https://github.com/yshui/compton/files/3112473/compton.log)

[2019-04-24 14:40] yshui commented on #82
@aufkrawall I added more debug prints, can you tried the `stack-debug` branch?

[2019-04-24 14:51] aufkrawall commented on #82
@yshui Sure, but I'm not seeing the branch yet. :)

[2019-04-24 14:59] zervankoru opened #163 "How to prevent vsync in full screen applications, like games (as in Windows DWM)?"

[2019-04-24 16:07] yshui commented on #82
@aufkrawall sorry, it's there now.

[2019-04-24 16:08] Ropid commented on #82
I updated compton to commit 72ede42 and I see the same "ghost window" issue. I previously used commit a1cc275 which seemed to be fine.

The issue shows up for me when compton starts at login. I'm using XFCE, and the XFCE panel disappears when I open windows. The panel reappears when I close all or when I switch to an empty workspace.

The issue does not seem to show up when I start compton when th

[2019-04-24 16:35] aufkrawall commented on #82
@yshui Here is a log of the debug branch:
[compton.log](https://github.com/yshui/compton/files/3113317/compton.log)

[2019-04-24 16:57] yshui commented on #82
@aufkrawall Odd, the log shows mpv moved itself to bottom of the window stack. Which is not the case since you can click through the "ghost" window.

Hmm... I know I asked you to do a lot of things already, but can you get the window list by using `xwininfo -root -tree`, while this is happening? You use a fullscreen window to trigger this problem, so you might want to run this command with some so

[2019-04-24 17:02] yshui commented on #163
Set `unredir-if-possible` to true.

[2019-04-24 17:44] aufkrawall commented on #82
@yshui No problem, I'm totally dependent on Compton anyway.
Yeah, what you described really sounds like an indicator for what's wrong.
Here's the xwininfo log:
[xwininfo.log](https://github.com/yshui/compton/files/3113551/xwininfo.log)

[2019-04-25 00:17] anowlcalledjosh opened #164 "add_win: Assertion `old_w == NULL' failed."
### Platform

Ubuntu Desktop 18.04 amd64

### GPU, drivers, and screen setup

Intel integrated graphics, mesa 18.2.8, two monitors configured vertically with xrandr

<details><summary><code>glxinfo -B</code></summary>

[code]

</details>

### Environment

i3 4.16-130-ga57434696

### Compton version

**Version:** v6-rc1-122-g72ede42b1

### Extensions:

* Shape: Yes
* XRandR: Yes
* Present: Present

[2019-04-25 03:02] yshui commented on #82
@aufkrawall @Ropid Can you try the latest `next`?

[2019-04-25 03:07] yshui commented on #163
Closing.

If that doesn't work, reopen this.

[2019-04-25 03:07] #163 closed

[2019-04-25 08:40] aufkrawall commented on #82
@yshui Looking good so far! :)

I found a funny issue with new GLX backend + xf86-video-amdgpu driver: Input can cause stutter, at least in Firefox. This gets very evident at vsynctester.com, albeit there is no actual scrolling happening when scrolling with the mouse wheel. This doesn't happen with old GLX backend or modesetting driver.

[2019-04-25 09:59] yshui commented on #160
@alaviss I added some debug prints to the `redir-debug` branch, can you get a log file with that branch?

[2019-04-25 11:49] Ropid commented on #82
@yshui It works great here for me as well.

[2019-04-25 12:07] anowlcalledjosh commented on #164
Here's a core dump (and the Compton binary)

[coredump.zip](https://github.com/yshui/compton/files/3116769/coredump.zip)

[2019-04-25 15:31] yshui commented on #164
Can you also post the stack trace here?

[2019-04-25 17:52] anowlcalledjosh commented on #164
Here's a stack trace:

[code]

Log file: [log.txt](https://github.com/yshui/compton/files/3118202/log.txt)

[2019-04-25 22:06] yshui commented on #63
A fix seems to have been pushed upstream: https://git.xfce.org/xfce/xfwm4/commit?id=63a797b13023394937a89b41708e40d11b8fa5b2

Can you test and confirm if it works? @pushqrdx

[2019-04-26 02:24] alaviss commented on #160
Here's the log with `redir-debug` branch: [compton.log](https://github.com/yshui/compton/files/3119473/compton.log)

[2019-04-26 16:06] aufkrawall commented on #82
@yshui One more minor oddness with new GLX backend: When I snap any window to the top or the side of the screen, there is a little stutter while dragging the window (also with modesetting driver).
This doesn't happen with new xrender backend either. Debug log:
[compton.zip](https://github.com/yshui/compton/files/3122100/compton.zip)

[2019-04-26 17:26] yshui commented on #82
@aufkrawall Can you do a trace log? (`--log-level=trace`)

[2019-04-26 18:08] aufkrawall commented on #82
@yshui Here is a trace log for the stuttering when snapping windows with modesetting driver (but happens also with xf86-video-amdgpu):
[stuttersnap.zip](https://github.com/yshui/compton/files/3122501/stuttersnap.zip)

This log is for stutter when scrolling in Firefox that happens only with xf86-video-amdgpu (for some reason I wasn't able to reproduce it with vsynctester.com, so I scrolled with my

[2019-04-27 12:38] #164 closed

[2019-04-27 12:39] yshui commented on #164
@anowlcalledjosh  Fixed in latest `next`

[2019-04-27 12:47] anowlcalledjosh commented on #164
:tada: thanks!

[2019-04-27 13:28] #160 closed

[2019-04-27 13:28] yshui commented on #160
@alaviss Should be fixed in `next`

[2019-04-27 13:30] #124 closed

[2019-04-27 13:32] yshui commented on #61
Since the problem reported originally is fixed. I will close this issue.

If you still have problem building compton, please open another issue for that. @dubbadubbadubbacha

[2019-04-27 13:32] #61 closed

[2019-04-27 13:33] yshui commented on #12
We have started deprecation process for `--sw-opti`.

Will close this when `--sw-opti` is removed

[2019-04-27 13:36] yshui commented on #113
@jocap Please refer to https://github.com/yshui/compton#to-build on what you might need to do to help meson find libev, it has been updated.

Closing.

[2019-04-27 13:36] #113 closed

[2019-04-27 15:34] aufkrawall commented on #82
@yshui It seems Compton drops frames when snapping windows with new GLX backend, as there is also stutter inside of every window when doing so.

Regarding the scrolling issue with xf86-video-amdgpu: I think it is 100% reproducible by opening vsynctester.com and pressing the arrow keys on the keyboard while the browser window has focus (I used Chromium this time).

[2019-04-27 17:02] Ropid commented on #82
I'm trying that experimental glx backend right now, and I can't find any stutter issues here with it. It runs totally great (latency perfect, things move smooth visually). My setup is mesa 19.0.3, xf86-video-amdgpu 19.0.1, kernel 5.0.9, compton 4205ee5.

Maybe interesting, while trying different things, I got the idea to look at that `--benchmark` parameter for experimental xrender and glx and I g

[2019-04-27 17:31] aufkrawall commented on #82
Hm, there seems to be a connection to vsync regarding my browser input stutter issue. When I run `vblank_mode=0 compton`, it doesn't occur. Vsync btw. is always enabled, despite of having `--vsync` not specified or set it to false.

However, the window snap frame drop issue is not related to it.

[2019-04-30 04:46] clapbr commented on #82
RX580 user here, I also have browser stuttering (chromium and ff) with glx backends. The new xrender backend performs fine in browsers but both are not quite stable yet for my setup and segfaults frequently (can´t reproduce reliably for a report unfortunately).

I always end up going back to 5.1 and vblank_mode=0 --vsync=opengl --backend=glx - as Bobby Fischer used to say, best by test.

Kinda ann

[2019-04-30 07:59] aufkrawall commented on #82
@clapbr Could you compile git-next with debug symbols and provide the crash dump + binary?
Afaik Intel suffers the same by the current atomic modesetting limitations, AMD didn't invent that framework. ;)

[2019-04-30 16:05] tmpm697 commented on #82
I use the same config on PC and laptop. Laptop with ver 5.1 caused tearing (I used both on-board hd630 & Nvidia MX150 - matebook x pro 2018 via bbswitch)  then I tried to adapt new compatible config with ver 6.2 on lap, I observed no tearing but wallpaper flick when `startx` and noticeable lag on lap compare to ver 5.1. More ram, lag on prompt --> switch back to ver5.1 even tearing.

on PC (only i

[2019-05-01 21:48] kanehekili opened #165 "GLX Support not working on older gpu"
### Platform
Arch linux amd64

### GPU, drivers, and screen setup
Card: Intel Mobile GM965/GL960 Integrated Graphics Controller, two monitors configured side-by-side with xrandr
xf86-video-intel 1:2.99.917+863+g6afed33b-1 (xorg-drivers) - X.org Intel i810/i830/i915/945G/G965+ video drivers
mesa 19.0.3-1

`glxinfo -B`:
name of display: :0
display: :0  screen: 0
direct rendering: Yes
Extended render

[2019-05-02 09:36] aufkrawall commented on #82
One week of using new Xrender backend after commit 4205ee5a85c658f02c67ce6a8c31f3ea3f525f4b , and there are zero issues to report. :)

[2019-05-02 09:55] link1375 opened #166 "Some windows are not displayed after reloading i3"
Hi,

I am using arch with i3 and wanted to apply blur in combination with transparency. Everything works fine, but if I reload i3 (mod+Shift+r) windows are not properly displayed anymore. The same occurs with the normal compton package. To test if this a general problem for my configuration I installed xcompmgr and there is no problem. Also compton outputs a lot of Bad Window erros. After killing

[2019-05-02 12:54] yshui commented on #165
Please use the xrender backend if you are using an old graphic card.

[2019-05-02 12:54] #165 closed

[2019-05-02 12:55] yshui commented on #166
Might be the same bug as #134

[2019-05-02 16:37] link1375 commented on #166
Maybe, but I don't have problems with sleep/wake up. Multihead did I not test yet.

[2019-05-02 17:56] yshui commented on #166
BTW, which version of compton are you using? Could you try building from the `next` branch and see if this problem still happens?

[2019-05-02 19:02] kanehekili commented on #165
Well, there are other versions of compton that (still) work. Using Xrender is not a valid solution. So your fork is useless for me. Sorry.

[2019-05-02 21:46] clapbr commented on #82
Also not having segfaults anymore on latest, also using xrender and no issues yet.

[2019-05-02 22:58] yshui commented on #165
@kanehekili If other version of compton works better for you, you should use those.

Just curious, why is xrender not a valid solution?

[2019-05-03 07:23] tmpm697 commented on #82
@aufkrawall @clapbr  can you guys share `compton.conf` and the command you invoke it?

[2019-05-03 11:41] link1375 commented on #166
Currentyl I am using [compton-tryone](https://github.com/tryone144/compton). I installed this and your version via AUR.

[2019-05-03 16:03] Ropid commented on #82
@tmpm697:

Here's my config, I'm also using the new xrender and it seems to run great:

http://ix.io/1HUD

It's important to start compton with the parameter that enables the new backends, like so:

    compton --experimental-backends

[2019-05-05 08:18] buitrung opened #167 "Excluding focus on a specific window (dictionary text-translating pop-up)?"
I use stardict with the scanning feature, that when I use mouse to highlight a piece of text somewhere (usually in Chrome), it will pop up a small window of the text translation. However, the text translating window is not focused by default. I've set inactive windows to be dimmed, but the text translating window should be excluded. Here's the xprop result of the text translating window:
[code]
Th

[2019-05-05 10:53] g0t00 commented on #134
@yshui I have a similar problem. (i3, some windows transparent/not drawn after sleep)
I can supply you with a trace file from apitrace. But that file is 140MB is that correct?
Is there privat stuff from my screen in there? Do you mind if I send you the file in private?

[2019-05-05 14:08] Ropid commented on #167
I searched for "WM_STATE" in the man-page and found this option here:

    --mark-wmwin-focused
        Try to detect WM windows (a non-override-redirect window with no child that has
        WM_STATE) and mark them as active.

Maybe it'll help?

[2019-05-05 14:17] Ropid commented on #167
I tried to find out what this "withdrawn" is about, and found this here:

I got that from here: https://tronche.com/gui/x/icccm/sec-4.html

Maybe there was a problem with the way you tried to get the window's properties, and maybe when the program is used normally it won't have this "withdrawn" state? This could mean you shouldn't try to match for it.

[2019-05-05 15:07] buitrung commented on #167
@Ropid thank for your help
I've already had `mark-wmwin-focused` set to true, and even if I set it to false, nothing seems to change. Currently I have these lines in my compton.conf:
[code]
Interestingly, I can't even focus on the popup window when I click on it (Chrome remains active and the popup remains dimmed), but I can have it being active when I use keyboard shortcut to focus on the main pr

[2019-05-05 15:42] yshui commented on #134
@g0t00 apitrace records your screen. So be sure to only record things relevant to the bug, and keep it as short as possible so the file size won't be too big.

[2019-05-05 15:44] yshui commented on #167
@buitrung what's the xwininfo result of the translation window?

[2019-05-06 01:54] tmpm697 commented on #82
@Ropid : Thanks, I tried latest version of compton from arch repo, still some flicks but use `xrender` indeed faster than `glx` now. Waiting for commit `4205ee5` to be mergered in upstream.

[2019-05-06 04:30] buitrung commented on #167
@yshui here's the xwininfo result of it:
[code]
Can you please give me an example of matching rule for this?
-----
BTW, I've just tried to print xprop of it again on my another computer which has the same setup, and there's no more the lines of `WM_STATE`, perhaps it's really not a thing to be considered here.

[2019-05-06 07:01] tmpm697 commented on #82
@Ropid : Thanks, I finally be able to make it free tearing with arch/nvidia gpu card use new glx backends.

I noticed that new `xrender` backend still cause tearing when playing games.

[2019-05-06 07:25] morgoth6 commented on #166
I have similar problem using i3 some time ago. Additionally with flashing portions of already displayed windows and missing text in urxvt. No time to bisecting it now, but current next with reverted 4205ee5a85c658f02c67ce6a8c31f3ea3f525f4b seems to cure it for me.

[2019-05-06 13:52] yshui commented on #166
@morgoth6 Can you [capture a trace](https://github.com/yshui/compton/wiki/Reporting-an-issue#capture-a-trace)?

[2019-05-06 14:06] yshui commented on #82
@tmpm697 Yes, the vsync in new `xrender` backend doesn't work with nvidia cards. It's a driver problem unfortunately.

[2019-05-06 14:11] yshui commented on #167
Try `focus-exclude = [ "override_redirect" ]`

[2019-05-06 17:06] yshui commented on #167
@buitrung Hmm, doing that just breaks inactive dim for me.

[2019-05-06 17:19] yshui commented on #167
@buitrung Please use `mark-ovredir-focused = true`

[2019-05-06 18:56] aufkrawall commented on #82
@yshui Were the tracelogs helpful which I provided for my problems with new GLX backend? :)

[2019-05-06 19:47] yshui commented on #82
@aufkrawall These kind of problems are quite difficult to track down :/

[2019-05-07 02:43] buitrung commented on #167
I'm not sure how it works but `mark-ovredir-focused = true` also just breaks my inactive dim.

[2019-05-07 09:17] yshui commented on #167
@buitrung What WM do you use?

[2019-05-07 13:18] pushqrdx commented on #63
i am sorry for the late reply but it's kinda hard for me to confirm that at the moment (away from my setup), i'll try my best to confirm as soon as possible though.

[2019-05-07 15:13] buitrung commented on #167
I'm using bspwm, ubuntu 18.04

[2019-05-07 15:42] #140 closed

[2019-05-07 15:46] tmpm697 commented on #82
Do you guys see some difficulties when start Xorg with new 6.2 compton? From black screen to appearance of wallpaper, there's strong flick between the transformation.

[2019-05-07 18:04] wyjek opened #168 "Differences between the official repo"
Hi, I've found some differences between the official repo and this one, e.g. vsync is a boolean in original repo and there aren't methods like "drm", "opengl" now, but they are still in the manpage of this repo. Is it still here on purpose, or are you completely independent of future compton updates, or is the manpage outdated? I'm sorry if my question is dumb, I'm just curious.

Thanks in advance

[2019-05-07 18:43] phisch commented on #168
The original compton project is unmaintained for a long time now. Afaik yshui is mainly working on refactoring the original code, to get it into a state where it becomes maintainable and extendable.

[2019-05-07 21:04] aufkrawall commented on #82
@yshui One more crash issue which might be related to unredir. Happens when a weird resolution switch with Wine Vulkan apps is happening:
[compton.zip](https://github.com/yshui/compton/files/3154558/compton.zip)

[2019-05-08 06:49] tmpm697 opened #169 "[Experimental backends] Compton crash v6.2"
### Platform
Archlinux

### GPU, drivers, and screen setup
NVidia RTX 2060, nvidia-drivers nvidia-beta 430.09-1, one monitor

`glxinfo -B`:

[code]

### Environment
i3

### Compton version
v6.2

### Compton configuration:
[code]

### Steps of reproduction
1. Start compton in terminal: compton --experimental-backends --config ~/.config/compton/compton.conf
2. Open chrome or firefox that already has

[2019-05-08 09:05] tmpm697 commented on #169
Try to downgrade systemd, no luck:
[code]

[2019-05-08 09:12] tmpm697 commented on #169
With downgraded systemd above (v241) and downgraded compton v5.1, problem solved. compton work well.

Be noticed that the issue also comes with random Xorg crash when I try to exit chrome (firefox is okay).

[2019-05-08 09:18] tmpm697 commented on #169
With latest systemd + compton v5.1, compton doesn't crash.

[2019-05-08 09:46] tmpm697 commented on #169
Last update:
latest systemd:
[code]

latest compton: `compton (v6.2)`

Start compton in .xinitrc with command: `compton --config ~/.config/compton/compton.conf`

DO NOT use flag `--experimental-backends`. It cause compton crash and also kill Xorg.

[2019-05-08 09:52] yshui commented on #167
OK.

The `focus-exclude = [ "override_redirect" ]` solution is not perfect, but if it works for you I will close this.

[2019-05-08 09:54] yshui commented on #169
Know problem. Should have already been fixed in `next`

[2019-05-08 09:54] #169 closed

[2019-05-08 09:57] yshui commented on #168
You got it backwards. `vsync` is a boolean here.

https://github.com/yshui/compton/blame/next/man/compton.1.asciidoc#L133-L134

[2019-05-08 17:53] wyjek commented on #168
Strange, my manpage says something else, could it be that it didn't change during the installation of your fork?

[2019-05-09 06:23] wyjek commented on #168
Sorry for the inconvenience, I'm using Void Linux and "compton" in their repo is in fact your fork. I have another question now and I don't think that's worth of opening another issue - how to uninstall compton, if I built it with ninja?

[2019-05-10 04:08] mustaqimM commented on #16
@kchibisov I have border width set to 1(on awesomewm) and when changed to 10, the flicker is less noticeable but still present.

[2019-05-10 19:51] kanehekili commented on #165
xrender is NOT an option, since everything is unbearable sluggish.
This fork does not seem to work with the "old" stuff. The machine I'm talking about is a Thinkpad R61. build in 2007 (12 Years ago) Sturdy and reliable.
I've gone back to the chjj version, which still works for me.
Still I appreciate your work of maintaining this software. Keep it up!

[2019-05-11 16:25] prankousky commented on #32
+1 for kawase blur. I tried the tyrone fork, but don't like it. I'd rather stay with this version but have intense blur :)

[2019-05-12 16:51] alex47 commented on #32
@prankousky what's the difference between the tryone fork and this intense blur?
how is this better?

[2019-05-12 17:01] edward-shen commented on #32
The kawase blur is an significantly less computationally intensive effect while retaining the same visual effects.

[2019-05-14 20:40] wyjek opened #171 ""Failed to get GL extension list" error"
// The template below is for reporting bugs. For feature requests and others, feel free to delete irrelevant entries.

### Platform
// Example: Ubuntu Desktop 17.04 amd64
Void Linux amd64

### GPU, drivers, and screen setup
// Example: NVidia GTX 670, nvidia-drivers 381.09, two monitors configured side-by-side with xrandr
// Please include the version of the video drivers (xf86-video-*) and mesa.

[2019-05-15 14:08] yshui commented on #171
Sorry, the glx backend requires at least GL 3.0. It might work on GL2 now, but it is not guaranteed to continue working in the future.

You can try xrender, the performance is usually not too bad.

[2019-05-15 19:00] Ristovski opened #172 "sw-opti performance"
On a crude `vblank_mode=0 glxgears` benchmark, which is of course _not_ a real benchmark, enabling "sw-opti" yields a 3000FPS performance boost.

The biggest impact is on CPU usage - 44% with `sw-opti` enabled vs 68% with it disabled.

Sys info:
Haswell with xf86-video-intel/mesa from -git
Xmonad

Is there a reason for it being deprecated?

[2019-05-15 19:18] Ristovski opened #173 "refresh-rate ignored with experimental-backends"
When enabling `--experimental-backends` the `refresh-rate` config option seems to be ignored under the `glx` backend.

Compton v6, master

[2019-05-15 22:41] Ropid commented on #82
I need some help here! I don't know what to do next to research the following problem:

I started having tearing at the top of the screen with xrender + present. It seems to be happening with both the normal packages in Arch and the development versions of all Mesa and Xorg and amdgpu stuff.

I don't know when exactly this started because the tearing is happening very close to the top of the scree

[2019-05-15 22:49] aufkrawall commented on #82
@Ropid Are you certain that amdgpu DDX is actually used (e.g. forgot that modesetting driver was set up in xorg.conf)? No weird errors in xorg.log?

[2019-05-15 23:09] Ropid commented on #82
@aufkrawall: Yeah, I'm using amdgpu for sure and I'm not getting error messages in the Xorg file while using it. But you mentioning modesetting made me try that X driver instead of amdgpu. When using modesetting I now do get interesting error messages that look related to that bug report:

[code]

I'm now trying to find a PKGBUILD for the git version of xorg-server to check out the patched modeset

[2019-05-16 01:23] yshui commented on #171
The latest `next` might make the error go away, at least for now.

[2019-05-16 01:26] yshui commented on #173
This is intended.

[2019-05-16 01:26] #173 closed

[2019-05-16 01:29] yshui commented on #172
With sw-opti enabled, the update rate is limited to refresh rate anyway. The 3000FPS reported by glxgears doesn't mean _anything_.

If enabling sw-opti improves your CPU usage, then enabling vsync should do the same thing.

`sw-opti` is deprecated because it's pointless.

[2019-05-16 01:37] yshui commented on #82
@Ropid I tried but cannot reproduce this problem.

I won't be surprised if non-git xf86-video-amdgpu, or non-git modesetting have this problem (because of the bugs). But I don't understand why the git versions have tearing as well.

Can you tell me more about your setup, like do you use multiple monitors, etc.?

[2019-05-16 06:48] wyjek commented on #171
You're right, the error is gone, but animations feel choppy, but it's already better than xrender (animations feel slowed-down). Maybe there's something wrong with the parameters I use to run compton? I just want vsync with the least of GPU usage (because it's quite old).

[2019-05-16 11:50] Ristovski commented on #173
Does this mean `glx` will not support anything but vsync in the future?

[2019-05-16 14:21] yshui commented on #173
@Ristovski Yes. But there is nothing else to support in regard to this. `refresh-rate` and `sw-opti` were hacks for cases when vsync doesn't work, which has become less relevant.

[2019-05-16 17:28] CyberShadow commented on #149
(FYI, reporters can only reopen issues if it was them who closed it; otherwise, it can only be done by someone with write access.)

[2019-05-16 20:39] aufkrawall commented on #82
Yeah, this MR based on @yshui 's original patch should be applied:
https://gitlab.freedesktop.org/xorg/xserver/merge_requests/193

Still it shouldn't tear with amdgpu-git either. Definitely not the case for me.

[2019-05-17 08:08] morgoth6 commented on #166
Sorry for delay. I can try, but is there a way to trigger trace at runtime ? (signal, hotkey ?) This problem does not appear always/immediately (to be more acurate it's hard to spot sometimes) and it may be hard to catch short capture. It seems to happen more frequently when URXVT with some tabs open and when Virt-viewer, but this can be contingency only.

For now today's build still works with th

[2019-05-17 08:52] morgoth6 commented on #173
To be honest this bothers me a little too, but I assumed this can be change with new backend rework a forget about it. This was tested on Precision 5510 (optimus intel&nvidia) in modesetting mode using i3 desktop.

When I run glxgears without compton it shows me 60fps as expected with ~8% CPU utilization:

[code]

But with compton (both regular and experimental GLX backend's with vblank&damage ena

[2019-05-17 14:04] Ristovski commented on #173
@yshui My point is, the old `glx` backend allows for setting a higher refresh-rate which get's rid of "input lag" while allowing to cap it to something sane like 120fps.

The only other way I can think of doing the same thing under the new backend is to run compton with `vblank_mode=0` and then limit the fps with `libstrangle` or some other mechanism. Quite inefficient.

[2019-05-18 01:42] Ropid commented on #173
@morgoth6:

This isn't the case here for me. The glxgears program always runs at 60fps, no matter if compton is running or not, and no matter what backend I try.

Perhaps you are doing something to the `vblank_mode` mesa setting in a script you use to start Compton?

[2019-05-18 02:03] Ropid commented on #82
@yshui:

I'm using a single 60Hz monitor. The card is an AMD RX480. I use xfwm4 + compton.

To compare I tried MATE's "marco" which also uses Present, and it has that same tearing at the top of the screen so it's not a problem in compton, it seems to be something general about Present here for me.

The experimental glx backend of compton doesn't have a tearing problem while it seems to run with th

[2019-05-18 11:35] yshui commented on #173
@Ristovski That is not the proper way of solving the input lag.

[2019-05-18 11:36] #172 closed

[2019-05-18 11:37] yshui commented on #171
@wyjek Adding `--use-damage` might help.

[2019-05-18 11:42] yshui commented on #166
@morgoth6

This is not possible with apitrace.

BTW, if you are going to capture a trace, please remember to use `--log-level=trace` when doing that.

[2019-05-18 11:44] yshui commented on #149
@CyberShadow (Thanks for pointing that out!)

[2019-05-18 13:54] Ristovski commented on #173
@yshui It might not be, but it was a nice "workaround" that was simple enough. Do you know of a different way to solve it?

[2019-05-19 15:05] kalsan opened #174 "Huge lags caused by xrender backend"
### Platform

Arch Linux x86_64

### GPU, drivers, and screen setup

HP Elitebook 8570p, Radeon HD 7550M/7570M/7650M, xf86-video-ati 1:19.0.1-1

[code]

### Environment

i3  version 4.16.1 (2019-01-27)

### Compton version

[code]

### Compton configuration:
(default)

### Steps of reproduction

1. Launch i3
2. Launch compton
3. Launch telegram-desktop (Arch Linux package: telegram-desktop 1.7.0-1

[2019-05-20 09:39] yshui commented on #173
@Ristovski It's anything _but_ simple.

I am working on the input lag, see #147

[2019-05-20 11:53] yshui commented on #174
Is there anything going on with the CPU usage?

[2019-05-20 11:53] yshui commented on #174
And does this happen with the `xrender` backend?

[2019-05-20 17:01] kalsan commented on #174
Thanks for the fast reaction! CPU goes up to 10% which is normal.

It only happens with xrender backend. When using compton with glx, everything works normally.

[2019-05-20 17:44] yshui commented on #174
@kalsan Is 10% the whole system's CPU usage?

This might just be an example of xrender's poor performance. If `glx` works without problem I suggest you just stick with that.

[2019-05-20 21:25] kalsan commented on #174
Yes this is a good workaround for me. I'll leave the issue open since the actual bug remains.

[2019-05-21 16:11] yshui commented on #171
Since the issue originally reported is fixed, I'm closing this.

[2019-05-21 16:11] #171 closed

[2019-05-23 11:43] anowlcalledjosh opened #175 "Build fails with "error: initializer element is not constant""
### Platform
Ubuntu Desktop 18.04 amd64

### Compton version
`next`, i.e. 094f00a048f5d486cc0a17b9dd84e63eb6120ab5

### Current Behavior
[code]

I tried to bisect, and it appears to have been introduced in 16ea51bbc1ef4604abdeb1c638d6379b930a1610 (which changed `OPAQUE` from a `#define` to a `const opacity_t`); a409913c5 builds fine after cherry-picking 18a62537e, but 16ea51bbc does not.

[2019-05-23 14:30] yshui commented on #175
What's your compiler version?

[2019-05-23 14:42] anowlcalledjosh commented on #175
Meson says:

    Native C compiler: cc (gcc 7.4.0 "cc (Ubuntu 7.4.0-1ubuntu1~18.04) 7.4.0")

[2019-05-23 21:02] CyberShadow opened #176 "Abort in win_release_image"
Hi and thank you for your continued work on compton. There seem to be some regressions in the latest versions. Here is the first issue.

- **Platform** - Arch Linux (amd64)
- **GPU**: Intel Corporation UHD Graphics 620 (rev 07)
- **Monitor**: T580 4k monitor running at 2880x1620
- **Drivers**: xf86-video-intel 1:2.99.917+863+g6afed33b-1, mesa 19.0.4-1
- **glxinfo -B**:  <details>
[code]
</details>

[2019-05-23 21:05] CyberShadow opened #177 "Newly created windows are not styled as focused"
In my compton configuration, I have it so that unfocused windows are slightly transparent.

In recent compton versions, newly created windows are initially transparent, as if they don't have focus.

- **Platform** - Arch Linux (amd64)
- **GPU**: Intel Corporation UHD Graphics 620 (rev 07)
- **Monitor**: T580 4k monitor running at 2880x1620
- **Drivers**: xf86-video-intel 1:2.99.917+863+g6afed33b-1

[2019-05-23 21:12] CyberShadow opened #178 "Sometimes windows are drawn behind windows "in front" of them"
When using the i3 window manager, sometimes floating windows are drawn behind tiled windows. Also, sometimes floating windows are drawn behind the focused floating window. I think this should never happen.

- **Platform** - Arch Linux (amd64)
- **GPU**: Intel Corporation UHD Graphics 620 (rev 07)
- **Monitor**: T580 4k monitor running at 2880x1620
- **Drivers**: xf86-video-intel 1:2.99.917+863+g6a

[2019-05-23 23:00] yshui commented on #176
Is this with `--experimental-backends`?

[2019-05-23 23:03] CyberShadow commented on #176
Sorry, I forgot to include my compton invocation. It is as follows:

[code]

`COMPTON_SHADER` is https://dump.thecybershadow.net/9c2320fcc641a26dfc0f780c2a62a95a/compton-fake-transparency-fshader-win.glsl .

However, this problem and #177 occurs even without any command-line parameters or unusual environment variables.

[2019-05-23 23:06] yshui commented on #175
Apparently the behavior of gcc changed since 8.1: https://godbolt.org/z/FYGZcx

Guess I will have to change it back to a define.

[2019-05-23 23:07] #175 closed

[2019-05-23 23:08] yshui commented on #176
Ah, I see where the problem is.

[2019-05-23 23:13] #176 closed

[2019-05-23 23:13] yshui commented on #176
@CyberShadow should be fixed now

[2019-05-23 23:16] yshui commented on #178
I hunted down several problems like this, looks like there is still some left :/

This kind problems are really hard to fix if I cannot reproduce them... If you can attach the `--log-level=trace` log, that might be helpful.

Or, if you are willing to look into it, I will help as much as I can.

[2019-05-23 23:17] CyberShadow commented on #176
Confirmed fixed, thanks.

[2019-05-23 23:19] CyberShadow commented on #178
OK, I'll keep an eye out for this (and run with `--log-level=trace` for now).

[2019-05-24 11:01] yshui commented on #177
Triaged.

Happens because the FocusIn is received before we manage the new window.

[2019-05-24 15:52] jEsuSdA opened #179 "unable to compile on Debian"
### Platform
Debian Testing amd64

### Current Behavior

meson --buildtype=release . build
The Meson build system
Version: 0.49.2
Source dir: /tmp/000/compton-vNext
Build dir: /tmp/000/compton-vNext/build
Build type: native build
Project name: compton
Project version: 6
Native C compiler: cc (gcc 8.3.0 "cc (Debian 8.3.0-6) 8.3.0")
Build machine cpu family: x86_64
Build machine cpu: x86_64
Program

[2019-05-24 16:48] aufkrawall commented on #82
@yshui The stutter of new GLX backend when snapping windows to the screen borders inside a Plasma session is gone. :)
However, the keyboard (and also mouse) input stutter issue still persists (more distinct with xf86-video-amdgpu, but to a much lesser extent also there with modesetting driver).
It seems input somehow makes it block or wait.

[2019-05-24 22:04] yshui commented on #82
@aufkrawall

Can you elaborate? Do you have mpv and browser side by side, and input into the browser _only_ cause the browser to stutter? And this doesn't happen when compton is not running?

If so, that's super weird. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup><sup>and probably not a compton problem</sup></sup>

[2019-05-24 23:09] yshui commented on #177
@CyberShadow Can you check if this is fixed in `next`?

[2019-05-24 23:10] yshui commented on #179
Run `git submodule update --init`

[2019-05-24 23:14] #179 closed

[2019-05-24 23:56] CyberShadow commented on #177
Looks fixed, thank you!

[2019-05-25 09:41] aufkrawall commented on #82
@yshui

It's like you described, but the input doesn't have to be inside the browser window. When the Chromium window is unfocused and I keep buttons pressed (e.g. to switch selected desktop icons), it is enough to cause vsynctester.com to stutter. The same goes for mouse click input.
This happens only with new GLX backend and with vsync enabled at the same time.
Playing a juddertest video in mpv

[2019-05-26 01:10] adithyabhatkajake opened #180 "vsync issues since v6"
### Platform
Arch Linux, 64 bit

### GPU, drivers, and screen setup
Nvidia GTX 1050Ti, nvidia 430.14-3, xf86-video-intel 1:2.99.917+863+g6afed33b-1, mesa 19.0.4-1

name of display: :0
display: :0  screen: 0
direct rendering: Yes
Extended renderer info (GLX_MESA_query_renderer):
    Vendor: Intel Open Source Technology Center (0x8086)
    Device: Mesa DRI Intel(R) UHD Graphics 630 (Coffeelake 3x8 G

[2019-05-26 14:05] yshui commented on #180
what does this mean?

[2019-05-26 19:49] adithyabhatkajake commented on #180
These lines appear whenever the terminal refreshes the content, for example in vim, less, tmux or by simply pressing enter in the terminal (middle terminal in the screenshot).

[2019-05-27 21:33] yshui commented on #180
@adithyabhatkajake How is that a performance problem?

[2019-05-28 15:01] adithyabhatkajake commented on #180
I changed the title. My bad.

[2019-05-29 07:11] g0tmk commented on #132
- How old is your system?
  3 years (Dell XPS 15)
- What hardware (CPU, GPU, etc) does your system have?
  i7-6700HQ, Nvidia GTX 960M
- Are you using up-to-date software on your system? Is your graphic driver the latest?
  Yes, but I use Debian stable, which doesn't always use the latest versions. For example I use mesa 13.0.6.
- Does your system require a more "advanced" setup?
  Yes, Nvidia Opti

[2019-05-30 06:49] Ropid opened #181 "fullscreen unredirection on xfwm4 and "detect-rounded-corners" option"
I just noticed a problem with Freesync after removing the following line from my Compton config:

    detect-rounded-corners = true;

Freesync only works if that option is there. With the option removed, Freesync stops working.

I assume what's happening is that Compton's unredirection does not work if I do not use that detect_rounded_corners option, and that's then the cause for Freesync not work

[2019-05-30 07:11] Ropid commented on #181
I think it's really 'unredirection' that's not working, it's not just some weird freesync problem. To prove this, I experimented by running compton with a bunch of different command lines with Mesa's fps counter enabled:

    GALLIUM_HUD=simple,fps compton --config /dev/null --experimental-backends --backend glx --unredir-if-possible

    GALLIUM_HUD=simple,fps compton --config /dev/null --experim

[2019-05-30 07:26] Ropid commented on #181
Thinking about this some more, I guess this "detect-rounded-corners" option maybe only exists because xfwm4 is strange? In that case this here isn't really a problem? I'll close the issue.

[2019-05-30 07:26] #181 closed

[2019-05-30 16:42] khuedoan98 commented on #132
- **How old is your system?**
  - 3 years old Precision 5510
  - 2 years old ThinkPad T470
  - 1 years old desktop PC
- **What hardware (CPU, GPU, etc) does your system have?**
  - Precision 5510
    - CPU: Intel Xeon E3-1505M v5
    - GPU: Intel HD Graphics P530 + NVIDIA Quadro M1000M
  - ThinkPad T470
    - CPU: Intel Core i5-7200U
    - GPU: Intel HD Graphics 620
  - Desktop PC
    - CPU: AMD R

[2019-05-31 14:19] yshui commented on #132
@g0tmk @khuedoan98 Curious: do you run compton with `optirun`? Does it work?

[2019-06-01 16:48] yshui commented on #181
@Ropid This option is there because otherwise windows with rounded corners won't be considered as "fullscreen".

[2019-06-01 16:52] yshui commented on #180
Does those lines go away if you disable `blur-background`?

[2019-06-01 18:08] javashin opened #183 "Screen Tearing On Top Of The Videos After Upgrade to X.Org Server 1.20.5"
On Linux , tested on Arch And Gentoo.

X.Org Server 1.20.5 and Xf86-video-intel + compton causes screen tearing on top of videos
not happen with 1.20.4 something changed i have to move and modesetting + glamor with compton works fine

[2019-06-01 18:40] khuedoan98 commented on #132
Just tried and it's not working:

`optirun -b none /usr/bin/nvidia-settings -c :8`

[code]

I used GNOME (which doesn't use compton) at the last time I use Linux for graphics intensive task. Now I do all that in Windows so I didn't test the NVIDIA card much in bspwm, may be I misconfigured bumblebee. Next month I will reinstall my Arch Linux, I will report back if it works.

[2019-06-01 20:10] aufkrawall commented on #82
I dumped Windows on my Gemini Lake notebook (hopefully for good) and on this very weak (you could choose less polite words) SoC, new xrender backend + vsync performs absolutely fine as well, by far less performance impact on the webbrowser than GLX backends.

[2019-06-02 07:16] g0tmk commented on #132
@yshui Yes I do, and it seems to work ok. I mostly use optirun for compute but glxgears seems to work well enough. Interestingly running glxgears with optirun gives me consistently lower FPS, but that has always been the case - it has nothing to do with compton.

<details>
 <summary>Glxgears log</summary>

[code]
</details>

Also I will add that i've noticed that vsync does not work that well for

[2019-06-02 09:50] jEsuSdA commented on #132
**How old is your system?**

5 years.

**What hardware (CPU, GPU, etc) does your system have?**

CPU - Intel® core i5 4460
GPU - Intel® HD Graphics 4600

**Are you using up-to-date software on your system? Is your graphic driver the latest?**

Yes.

**Does your system require a more "advanced" setup? For example, does it use NVIDIA Optimus?**

No.

**What version of compton are you using right now

[2019-06-02 10:16] rien333 commented on #183
Yeah, screen tearing definitely seems worse on X.Org 1.20.5 (on Arch, running on modesetting). If somebody has a fix around please do tell!

[2019-06-02 10:17] morgoth6 commented on #180
Try with use-damage = false; I had no time to investigate, but this solve Urxvt redraw/refresh problem here.

[2019-06-02 17:43] FrancescoCappio commented on #183
Same problem in Arch Linux. I noticed screen tearing mostly while scrolling (in Firefox, but also in other apps). For the moment I downgraded to X.org 1.20.4 and the problem is gone but obviously it is not a good solution

[2019-06-02 18:56] javashin commented on #183
compton compiled from next branch , compton --experimental-backends --backend glx with modesetting and  X.org 1.20.5 works fine here no tearing on arch and gentoo

[2019-06-02 19:12] rien333 commented on #183
@javashin that seems to work a little better, but still worse than I remember it to be. For example, `sxiv` seem to flash a lot when resizing images and fullscreen video's still have significant tearing. However, non-fullscreen video's seem to work a little better with the ` --experimental-backends` flag you suggested.

[2019-06-02 19:28] adithyabhatkajake commented on #180
Setting `blur-background = false;` or `use-damage = false;` fixes the Urxvt problem.

[2019-06-02 19:33] javashin commented on #183
sxiv works fine here on gentoo i dont see any flickering or tearing on any videos on mpv firefox youtube or chromium youtube everything is fine also im using mate-desktop with marco window manager and everything is just fine with modesetting new xorg and compton --experimental-backends --backend glx and this on xorg.conf

Section "Device"
    Identifier "intel"
    Driver "modesetting"
    Option

[2019-06-02 20:16] rien333 commented on #183
My xorg.conf looks kinda different, I'll try yours and report back in a bit.

[2019-06-02 21:13] rien333 commented on #183
Again, slightly better, but downgrading to Xorg 1.20.4 still gives much better results.
For example, qutebrowser and mpv play this screen tearing test video without problems when on 1.20.4:
https://www.youtube.com/watch?v=MfL_JkcEFbE

[2019-06-02 21:21] javashin commented on #183
mpv -vo vaapi https://www.youtube.com/watch?v=MfL_JkcEFbE played fine
but im telling i have mate-desktop using marco which was compiled with xpresent  x11-libs/libXpresent.
try the configuration i told before but with mate-desktop or just install marco window manager and look there is no tearing anywhere

[2019-06-02 21:23] javashin commented on #183
modesetting is fine for me but i use xf86-video-intel which is why im worried , i get screen tearing on top of the videos with intel ddx but not with modesetting and im always using mate-desktop with marco and compton

[2019-06-02 21:32] rien333 commented on #183
For what it's worth, I run bspwm, but I don't really suspect the issue lies there, nor do I think mate/marco is doing something super interesting in regard to this issue (although the GNOME project does have a compositor of it's own, I think?).

`mpv` had problems running aforementioned video regardless of what I supplied to `-vo`,  as you seemed to suggest. FIY, the mpv docs recommend against usi

[2019-06-02 21:33] FrancescoCappio commented on #183
In my case the problem is with i3 so I don't think it is wm-related

[2019-06-03 08:33] yshui commented on #180
So this is a duplicate of #50 then

[2019-06-03 08:34] #180 closed

[2019-06-03 08:36] yshui commented on #183
If there is strong evidence supporting that downgrading xorg to 1.20.4 fixes your problem, you should open a ticket on the Arch Linux issue tracker.

And maybe on Xorg issue tracker as well.

[2019-06-03 08:40] yshui commented on #82
@aufkrawall Probably the browser is missing the vblank window because of the input? Since mpv is unaffected I am inclined to think this is not a compton problem.

[2019-06-03 14:19] aufkrawall commented on #183
I can confirm this with xorg-git + xf86-video-intel-git on Gemini Lake, totally breaks new xrender Present vsync.
modesetting of xorg-git works, but it still has a stutter issue with mpv (not related to any compositor).

I suppose we should report this to the xf86-video-intel DDX devs.
(AMD, please provide us with cheap and modern entry level notebooks as an alternative...)

[2019-06-05 06:25] yshui opened #184 "Possible XID leak"
Observed a "failed to fetch rectangle" that happens at regular intervals (~3 days). compton then starts to behave weirdly after that. Probably a XID leak.

[2019-06-06 01:21] bubbleguuum commented on #44
I also had this annoying issue until finding the --xrender-sync-fence option which indeed fixes it.

This only happened (without the fence option) on my Quadro P600 (and not on my iGPU), using the glx backend. Glitch manifests in full screen terminals (under i3wm) in an i3 tab with the bottom few lines of the terminal not always refreshing properly when there is output there (for example the outpu

[2019-06-06 04:05] Fandekasp opened #185 "change color"
### Platform
Arch linux

### Environment
i3-gaps

### Compton version
v6.2

### Compton configuration:
[code]

### Request
Anki is a QT5 application, but after customizing the qt5 theme with qt5ct, I understood that Anki overrides the default theme to set its own grayish color.
I would like it to be solarized, hence I was wondering if it's possible to set some compton rule  to tint some color into

[2019-06-06 09:53] yshui commented on #185
This is not relevant to compton.

The closest thing I could think of is: https://github.com/vn971/linux-color-inversion

[2019-06-06 09:53] #185 closed

[2019-06-07 06:55] Fandekasp commented on #185
@yshui why wouldn't it be relevant to compton? This is a compositor, and the link you shared cites compiz, another compositor with a Color Filter plugin.

I'm probably not clear on the differences of compton versus compiz composition ...

[2019-06-07 07:22] yshui commented on #185
compton is not responsible for what color scheme/theme is used by other applications.

[2019-06-07 14:56] javashin opened #188 "After This Commit terminated by signal SIGSEGV (Address boundary error)"
commit b79266694b102596089784c135eef91481b98204 (HEAD -> next, origin/next, origin/HEAD)
Author: Yuxuan Shui <yshuiv7@gmail.com>
Date:   Sat Jun 1 01:59:23 2019 +0100

    Add documentation for the new blur options

    Signed-off-by: Yuxuan Shui <yshuiv7@gmail.com>

i compiled last tip of git today and i got terminated by signal SIGSEGV (Address boundary error) after compile on archlinux

[2019-06-07 15:10] yshui commented on #188
Can you attach a stack trace if you can? Otherwise can you attach your config file?

[2019-06-07 16:54] javashin commented on #188
im not using config file but here is the strace log
https://gist.github.com/javashin/0072992f7c0c8f8999953c91c366653a

[2019-06-07 18:00] kchibisov commented on #188
Hi, same issue for me on amdgpu. `compton --backend glx` and empty config is enough to reproduce.
if fails on:
[code]

All stack trace
[code]

[2019-06-07 18:57] Ropid commented on #188
I'm seeing the same here. I'm using `--experimental-backends` and the new GLX backend. I tried building compton with debug settings and getting a stack trace out of gdb (but I'm not really sure what I'm doing and how things work):

[code]

[2019-06-07 21:21] #188 closed

[2019-06-07 21:21] yshui commented on #188
Should be fixed in `next`.

[2019-06-07 21:57] javashin commented on #188
Thanks

[2019-06-08 06:39] khuedoan98 commented on #132
@yshui @g0tmk just reinstall Arch Linux and it works now, maybe I broke something last time (I use the same [install script](https://github.com/khuedoan98/dotfiles/blob/master/install.sh))

[2019-06-08 12:29] aufkrawall opened #189 "experimental xrender - unredir crash"
When I start vkquake in fullscreen, it tries some senseless resolution switch due to Intel driver not being able to properly handle the notebook's display. Compton then seems to crash only with `--unredir-if-possible = true`.
Attached is a crash dump and the Compton executable (debug symbols hopefully included).
[compton.zip](https://github.com/yshui/compton/files/3268523/compton.zip)

[2019-06-08 15:01] aufkrawall commented on #183
Hm, old GLX backend vsync works fine here.

[2019-06-08 15:07] javashin commented on #183
@aufkrawall with  xf86-video-intel DDX ?

[2019-06-08 15:10] aufkrawall commented on #183
Yes.

[2019-06-10 17:07] Ropid opened #190 "i3lock screen locker crashing compton --experimental-backends commit 76e574d"
When "i3lock" is locking the screen, compton crashes when using `--experimental-backends`. I can reproduce this here reliably by manually starting i3lock like this:

    i3lock

or like this:

    i3lock --nofork --color=000000 --pointer=default

The crash happens with both:

    compton --experimental-backends --backend glx

and also:

    compton --experimental-backends --backend xrender

Compto

[2019-06-10 17:16] Ropid commented on #190
I got the idea to test `--blur-background` when I saw this line of code here printed by gdb:

    for (int i = 0; i < ctx->x_blur_kernel_count; i++) {

When I set `blur-background = true` in my config, then `compton --experimental-backends` does not crash anymore. The crash only happens when I use `blur-background = false` in my config.

[2019-06-11 11:38] javashin commented on #183
Hello This Has Nothing To Do With Compton , I just Installed Opensuse Gnome With Intel xf86 ddx and xorg session the screen tearing on top of the videos is present so Xorg-server 1.20.5 broke the intel ddx driver we have to make a bugzilla for the  xorg-server and intel ddx devs thanks , for now the modesettting driver with glamor works fine with all the compositors EG, compton , mutter etc. closi

[2019-06-11 11:55] javashin commented on #183
bug report here https://bugs.freedesktop.org/show_bug.cgi?id=110894 to any people who want the intel ddx driver fixed join me

[2019-06-11 15:44] javashin commented on #183
Hi After Opening The Bug Everything Can Be Fixed Reverting The Commit
commit 87491ced98705a14be2bb5a3ce7e41cb5ffc11d0
Author: Michel Dänzer <michel.daenzer@amd.com>
Date:   Mon Mar 25 12:32:48 2019 +0100

    present/scmd: Check that the flip and screen pixmap pitches match

    If they don't, flipping will result in corrupted display.

    Test case:

    * Run Xorg at 1920x1080 with no window ma

[2019-06-11 15:58] rien333 commented on #183
Does that mean the X.org developers are going to incorporate a fix?

[2019-06-11 16:09] aufkrawall commented on #183
@rien333

I think we'll have to wait for further feedback from Chris Wilson. Probably the faulty xserver commit will just get reverted, but that's just a guess.

[2019-06-11 16:10] javashin commented on #183
i dont really know but , this affect directly the xf86-video-intel ddx directly and Chris Wilson is on it .

yes what @aufkrawall  says .

[2019-06-11 16:12] javashin commented on #183
for now

git clone https://gitlab.freedesktop.org/xorg/xserver -b server-1.20-branch xorg-server-stable ; cd xorg-server-stable ; git revert 87491ced98705a14be2bb5a3ce7e41cb5ffc11d0 ; and compile

[2019-06-12 17:21] yshui opened #191 "Improve window transparency detection"
Some wm (awesomewm) creates 32bit frame window for all client windows. This makes compton think all window is transparent.

We should look at the depth of the client window for transparency detection too.

[2019-06-13 07:20] #190 closed

[2019-06-13 07:21] yshui commented on #190
Fixed in `next`. Can you confirm?

[2019-06-14 07:55] yshui commented on #189
Triaged: resolution changed when compton is unredirected. `configure_root` didn't properly handle that case.

[2019-06-14 19:31] Ropid commented on #190
Yes, it's fixed and working fine now. Thank you.

[2019-06-15 22:06] #189 closed

[2019-06-15 22:07] yshui commented on #189
@aufkrawall  Should be fixed in `next`, can you confirm?

[2019-06-15 22:51] aufkrawall commented on #189
@yshui I can confirm it's fixed, thank you. I once reported supposedly the same issue with fullscreen games running in wine, will test this case tomorrow. But I'm really confident it's fixed too, which would make the new xrender backend 100% stable and also otherwise free of hassle for me. :)

[2019-06-16 00:19] yshui commented on #189
@aufkrawall good to hear

[2019-06-16 08:45] FrancescoCappio commented on #183
Thank you. Fixed following your instructions. I hope the upstream bug will be fixed in next release so that we don't need to continue compiling manually

[2019-06-16 09:38] aufkrawall commented on #189
@yshui The wine issue is fixed as well. :)

[2019-06-17 14:26] njoyard opened #192 "Weird screen update artifacts under mouse cursor with DisplayLink"
I know DisplayLink support on Linux is kind of flimsy, and I'd like to investigate the following issue to determine whether it is actually a compton issue or a driver issue.

This issue disappears when killing compton.

### Platform

arch

### GPU, drivers, and screen setup

Using a Thinkpad x270 with an integrated Intel HD Graphics 620 and a Dell D6000 docking station (DisplayLink over USB).  A s

[2019-06-17 14:37] njoyard commented on #192
Note: issue disappears when using `xrender` backend, but then everything is painfully slow.

[2019-06-18 00:08] aiguofer opened #193 "High temperature with electron apps"
### Platform
Ubuntu Desktop 19.04 amd64

### GPU, drivers, and screen setup
Lenovo UHD Graphics 620, i915, 2 external monitors through thunderbolt dock plus laptop monitor

[code]

### Environment
i3-gaps with compton
### Compton version

[code]

### Compton configuration:
I removed everything else just to make sure it wasn't a specific setting

[code]

### Steps of reproduction

1. Log in to i3 s

[2019-06-18 14:01] Ropid commented on #193
See what happens if you add a `use-damage = true;` option to your config. If I understood things right, compton will by default repaint the whole screen for any pixel change made in any window. With that option, it will only repaint the changed area.

[2019-06-18 17:01] aiguofer commented on #193
Awesome!! that alone totally fixes it. I'll re-activate the rest of my settings and see how it goes. Will report back in a few hours to see if I enocounter any other issues.

[2019-06-19 10:44] yshui commented on #193
@aiguofer did you know why the temperature is rising? Is is because of the CPU usage?

[2019-06-19 10:45] yshui commented on #192
Does this only happen over DisplayLink?

[2019-06-19 10:50] njoyard commented on #192
Yes, everything is fine with a direct HDMI connection.

[2019-06-19 13:04] yshui commented on #192
@njoyard Then this is probably a driver problem.

[2019-06-19 17:42] aiguofer commented on #193
No clue. CPU usage doesn't change too much... it hovers around 10% at idle with `use-damage = true` and bumps up to maybe 12% without it. However, when I don't have that flag enabled, I do see random CPU spikes (up to 40-50%) but they're very short lived and with long enough time in between that I wouldn't expect it to be the main cause.

[2019-06-19 17:50] aiguofer commented on #193
Btw, I did see this issue in their github: https://github.com/meetfranz/franz/issues/1317

[2019-06-21 16:11] CyberShadow commented on #178
I have not experienced this lately. I'm guessing I was seeing this because I was at the time using a version of compton before the bug was fixed in git. Thanks!

[2019-06-21 16:11] #178 closed

[2019-06-21 16:39] yshui commented on #178
@CyberShadow Glad to hear that. But if this do happen again please reopen.

[2019-06-21 18:51] vaskark opened #194 "Blur effect produces strange effects in terminal window"
Hi. I'm trying to get blurring to work for me. And it mostly does, except for some strange side-effects in terminal windows. I tried to include all relevant information.

### Platform

Ubuntu 19.04 x86_64

### GPU, drivers, and screen setup

[code]
### Environment
[code]

### Compton version
[code]

[code]

### Compton configuration:
[code]

### Steps of reproduction

`compton --experimental-backe

[2019-06-23 11:20] philippera opened #196 "i3lock on multiscreen leads to compton crash"
This crash only happens when I have an external screen connected to my laptop. It only happens when i3lock locks the screens.

### Platform
Arch Linux
hardware: Dell XPS 15 9530

### GPU, drivers, and screen setup
External screen: BenQ Ex3203R
Graphics drivers: bumblebee with Intel 4th Gen (i915 driver)/
Nvidia GeForce GT 750M (nvidia driver)
Configured side by side with xrandr
[code]

### Environ

[2019-06-23 18:15] dhensen commented on #132
How old is your system?
7 years

What hardware (CPU, GPU, etc) does your system have?
Intel Core i5-3570K
GeForce GTX 1060 6GB

Are you using up-to-date software on your system?
Yes. (Arch Linux which I keep up to date)
Is your graphic driver the latest?
I use nvidia 430.26-5 (build date: januari 19 2019)

Does your system require a more "advanced" setup? For example, does it use NVIDIA Optimus?
N

[2019-06-24 09:18] yshui commented on #196
Did you left compton running for a long time?

This is probably #184

[2019-06-24 09:20] philippera commented on #196
No it happens all the time no matter the scenario.

[2019-06-24 09:21] yshui commented on #194
Probably a duplicate of #50

[2019-06-24 09:22] yshui commented on #194
Does this happen if you set `use-damage = false`?

[2019-06-24 09:22] philippera commented on #196
As additional information: I don t get this problem with the upstream code from chjj/compton

[2019-06-24 09:38] yshui commented on #196
How long did you left the screen locked before this happens?

[2019-06-24 10:08] philippera commented on #196
Anytime. Can be 5 seconds or many hours. Compton crashes exactly at the moment the screen is being locked (I checked in the logs with timestamps).

[2019-06-24 15:52] vaskark commented on #194
I just changed it to false and it worked. Thank you so much.

[2019-06-24 23:20] resolritter opened #197 "HD videos lagging hard without sw-opti"
### Description
I want to make a case for keeping "sw-opti".

The story here is that I'm running a 120hz monitor plugged into a weak laptop for graphics and I can't have Compton's rate be that high, because it causes all sorts of lag and frankly I don't need it. **I do not want to refresh to my sync rate** or anything above 30FPS because I don't use blur, fading or other gradual fluff to make tran

[2019-06-25 14:48] vaskark commented on #194
Also, a question: is it just terminal windows that can experience the blurring effect? Just wondering about gtk windows, etc.

[2019-06-25 14:51] btstream opened #198 "Blur does not work on VSCode with opacity-rule"
// The template below is for reporting bugs. For feature requests and others, feel free to delete irrelevant entries.

### Platform
Archlinux

### GPU, drivers, and screen setup
Nvidia GTX750

### Environment
i3-gaps

### Compton version
v6-rc1-172-g387e247

### Compton configuration:
[code]

### Steps of reproduction
`compton --experimental-backends`

As attachment shows
![2019-06-25_22-35](https

[2019-06-26 14:46] yshui commented on #194
@vaskark all semi-transparent window should have a blurred background.

That's a workaround, I'm working on a proper fix right now.

[2019-06-26 14:57] vaskark commented on #194
Thanks, @yshui. Here's a shot of my desktop comparing blurring effects: [https://i.imgur.com/axx9dz7.png](url)

[2019-06-27 10:07] yshui commented on #197
Noted.

There are better ways to limit refresh rate. They will be implemented. `sw-opti` has to go.

[2019-06-27 10:34] reaysawa commented on #197
@yshui let me know if I can help or test-drive when the time comes ^ _ ^

[2019-06-27 13:31] yshui commented on #197
@reaysawa BTW, you should be able to just change your refresh rate using xrandr.

for example:

`xrandr --output HDMI-1 --rate 60`. You can read about xrandr here: https://wiki.archlinux.org/index.php/Xrandr

[2019-06-27 15:04] reaysawa commented on #197
@yshui right, but I don't want to cap myself out at 60. I want to keep the refresh rate at 120hz e.g. for the games I (used to) play or... Just general smoothness of scrolling and moving the mouse pointer around.

There's just no need to refresh compton that fast because I don't get any benefit by doing it. Like I said, for only dimming and opacity stuff, maybe even 30 is too much. I want to save

[2019-06-27 16:14] yshui commented on #197
@reaysawa compton draws everything on your screen. if you cap compton at 60hz everything on your screen besides your pointer will refresh at 60hz.

That being said, capping refresh rate with compton is slightly more convenient when you play games, since compton automatically unredirect your screen so you get 120hz automatically (compared to running `xrandr` every time before you start your game).

[2019-06-27 19:02] aufkrawall commented on #82
@yshui Perhaps the new xrender backend can be used by default instead of the old one with the next version? Can only judge my own situation, but it's just perfect here with both AMD & Intel (driver flaws not considered).

[2019-06-27 20:37] reaysawa commented on #197
@yshui oh my, the revelations! I'm a fool! I didn't know that was the case. I thought only the "effects" were applied at that rate... So it's not a "filter". Noted. : ^ )

That being the case I have no qualms about those previous thoughts, though I still of course need to limit the rate somehow below vsync.

Question: Is it possible to avoid drawing a single window/process within a non-blacklisted

[2019-06-27 20:43] javashin commented on #197
no problem here for me using compton --experimental-backends --backend glx   i been using this combination for a while and all the videos are fine using mpv youtube@chromium-vaapi vlc deepin-movie-reborn

[2019-06-27 20:49] reaysawa commented on #197
@javashin Ah, I did try setting `#backend = "glx";` but it didn't make a difference. I think it might be because I didn't enable the `--experimental-backends` flag. Hmmmm... I'll try it as soon as I can. Thanks for the tip.

[2019-06-27 21:41] javashin commented on #197
NP

[2019-06-28 01:10] SicariusNoctis commented on #134
Not sure if this is relevant, but this could be caused by `_NET_WM_WINDOW_OPACITY` being set to `0`.

See @airblader 's comment [here](https://www.reddit.com/r/i3wm/comments/7iqvau/tabbed_windows_become_fully_transparent_with/dr15d3w/?st=jxfef7tl&sh=6941307d):

[2019-06-28 09:19] yshui commented on #82
@aufkrawall I want to get more feedback on the `--experimental-backends` first before doing anything.

[2019-06-29 19:23] Baitinq opened #199 "Compton pauses my animated wallpaper"
Hi, I am using compton with dwm on arch linux.

For the last days I have been trying to implement an animated wallpaper on my desktop by using gifview (gifview --animate -w root wallpaper.gif) but I have noticed every I start compton the wallpaper freezes. Is there anyway to prevent this, I have looked in the manual page but I couldnt find anything regarding this. Thanks a lot.

[2019-06-30 17:32] Anarky commented on #32
@tryone144 If you are still planning to rebase your work, would it be possible to add an option to use the wallpaper/desktop as the blur instead of what's behind the application?
While it looks great on tiled applications, I usually use 3/4 windows in fullscreen and it doesn't look as pretty.
Thanks!

[2019-07-01 00:36] yshui commented on #134
@SicariusNoctis Thanks a lot for the information.

@freeqaz Does setting `detect-client-opacity = false;` solve your problem?

[2019-07-01 09:59] yshui commented on #199
compton cannot work with applications that draws on the root window.

[2019-07-01 10:12] Banbeucmas commented on #199
I used something similar, hope it helps

`#!/bin/bash

_screen() {
    xwinwrap -ov -g $1 -- mpv --fullscreen\
        --on-all-workspaces \
        --no-stop-screensaver \
        --loop-file --no-audio --no-osc --no-osd-bar -wid WID --quiet \
        "$2" --background="$3" --video-zoom="$4" &
}

killall xwinwrap

sleep 0.5

for i in $( xrandr -q | grep ' connected' | grep -oP '\d+x\d+\+\d+\+\d+'

[2019-07-03 11:20] Baitinq commented on #199
Thank you @Banbeucmas ive tried and it works, im just confused about the reasoning of why that script works but gifsicle doesnt. Doesnt compton simply not support working with applications that draw on the root window?

[2019-07-03 11:30] #199 closed

[2019-07-03 12:02] yshui commented on #199
@Baitinq gifsicle draws on the root window, which is not supported. xwinwrap puts a window into the background

[2019-07-06 08:21] perrin4869 opened #200 "Chromium under opaque windows does not rerender"
Screen capture of the problem:
https://youtu.be/IdjOYe7I4uA

### Platform
Slackware64-current

### GPU, drivers, and screen setup
NVidia GTX 760, nvidia-drivers 418.56
xf86-video-amdgpu-19.0.0-x86_64-1
xf86-video-apm-1.3.0-x86_64-1
xf86-video-ark-0.7.5-x86_64-11
xf86-video-ast-1.1.5-x86_64-5
xf86-video-ati-19.0.0-x86_64-1
xf86-video-chips-1.4.0-x86_64-1
xf86-video-cirrus-1.5.3-x86_64-5
xf86-video-

[2019-07-06 10:27] aufkrawall commented on #183
There is now a MR to revert the commit:
https://gitlab.freedesktop.org/xorg/xserver/merge_requests/225

[2019-07-07 17:10] jozuas opened #202 "[i3wm + compton] Background image flash on opening new window"
### Platform
Manjaro Linux x86_64

### GPU, drivers, and screen setup
ThinkPad T480s, built-in screen, no GPU
glxinfo -B:
[code]

### Environment
i3-wm 4.16.1-1

### Compton version
[code]

* Use Overlay: Yes

### Compton configuration:
[code]

### Steps of reproduction
In my case simply enabling fading with the settings presented causes the bug

### Expected behavior
I open a new window and don't

[2019-07-07 17:45] yshui commented on #202
That's a known driver problem.

As for the flashing, it might be fixed by a fix of #147

[2019-07-07 17:47] yshui commented on #200
I believe this is by the design of chromium. Does this happen with applications other than chromium?

If so, please consider report this issue to chromium.

[2019-07-07 17:53] perrin4869 commented on #200
I did not notice this happening with other apps, but I didn't try many either... however, under XFCE with either xfwm4 or compiz, I could use xfce4-terminal in opaque mode over any window, including chromium... So I guess the problem is with the compositor after all?

[2019-07-07 17:54] perrin4869 commented on #200
I should try compton on xfce sometime to see what happens

[2019-07-07 18:15] yshui commented on #200
@perrin4869 the way chromium detects if itself should rerender is weird, so it might be triggered by some WM but not others.

[2019-07-07 19:12] yshui commented on #196
Can you paste your compton configuration here? Thanks.

[2019-07-08 00:15] philippera commented on #196
I don t use any.

[2019-07-08 00:18] philippera commented on #196
I just pulled the latest code change and after rebuilding it is now working!

[2019-07-08 00:19] philippera commented on #196
Great thx a lot! Do you know what the problem could have been? :D

[2019-07-08 00:20] #196 closed

[2019-07-08 12:39] yshui commented on #196
@philippera oh, you were using v6.2.

I am not sure, a lot has changed since v6.2.

Glad it's fixed :)

[2019-07-09 16:22] rien333 commented on #183
I downgraded to Xorg 1.20.4 to avoid the tearing, but 1.20.4 is now incompatible with the other Arch Linux upstream packages. For anyone else having this problem, just add the following to the xorg-server-git `PKGBUILD` file:

[code]

This will revert the commit that is also mentioned in the Xorg merge request concerning this problem. Probably kinda obvious, but maybe I can help out a newbie.

[2019-07-10 13:56] rien333 commented on #43
Doing this properly would be incredibly useful for visually impaired users that want to use FoSS/non-bloaty solutions. To my knowledge, no software package does desktop-zooming in a nice way (I kinda like the macOS approach), so implementing this would be of great benefit to the community as a whole and to the continuing relevance of compton.

[2019-07-11 10:30] tryone144 commented on #32
This seems to be a good feature, but is not necessarily linked to the used blur-algorithm.
As such opening a new issue might be better. :wink:

[2019-07-12 10:24] meelkor commented on #198
Just want to add that it happens to all opaque applications that are made transparent with some compton rule (also happens with `inactive-opacity`). Here for example transparent terminal and transparency-enabled vscode works fine, but opaque apps like chromium or qgis do not have background blurred.
![image](https://user-images.githubusercontent.com/9664601/61121570-d3b32880-a49f-11e9-8d5a-c166578

[2019-07-13 09:25] yshui commented on #198
@meelkor i think the background _are_ blurred, they are just less obvious because they are blended in with (1 - window opacity).

You can use `--blur-background-fixed` to make blurs always blend in with 1 opacity, but that cause fading to seem more abrupt.

[2019-07-13 10:02] yshui commented on #134
@SicariusNoctis You have this problem because you have rules like this:
[code]

[2019-07-13 10:08] yshui commented on #134
So compton is working as intended here. compton set the opacity prop based on the rules, and when i3 restarts, compton have no way of knowing where the prop came from, so it just accepts it.

One solution is to not set the opacity prop. But compton has been working this way for a long time, and changing it might break things.

[2019-07-13 10:10] SicariusNoctis commented on #134
I'm not too sure what it means, but I believe those rules were copied from [here](https://github.com/Airblader/dotfiles-manjaro/blob/ebfa6ff4fd35f1fc3e7a23f2192a01209817f709/.compton.conf#L37).

[2019-07-13 10:12] yshui commented on #134
@SicariusNoctis they are there to make only the top window of the stack is visible. So if you have a transparent window on the top, the windows below won't be visible.

I think this is a valid use case.

[2019-07-13 11:38] #191 closed

[2019-07-14 21:05] freeqaz commented on #134
I'm glad to see this root-caused properly. Thank you for the help! I will test this fix out next time I experience the bug. Awesome to see this be solvable. :)

[2019-07-15 00:54] J-Reis commented on #132
### How old is your system?
5 year old Thinkpad > still my main personal computer
### What hardware (CPU, GPU, etc) does your system have?
i7-4702MQ, integrated Intel HD Graphics 4600
### Are you using up-to-date software on your system? Is your graphic driver the latest?
No. I run Debian Stable > the system is kept updated, but the software is not current.
### Does your system require a more "adv

[2019-07-15 01:12] zezic commented on #43
Actually, Compiz can do it almost perfectly, but it's heavy and it looks harder to maintain (so may be it is considered as a "bloaty solution"), this is why I'm also want to see this feature available in Compton.

_Should we try to create a $$ bounty for this issue? Maybe some other features are also possible to be supported by bakers, like, for example, "antialiased rounded corners"._

[2019-07-15 11:31] meelkor commented on #198
@yshui Cannot speak for OP (I just hope our issue is the same one) but I actually have already been using `blur-background-fixed = true`, so I assume the blur strength should be the same everywhere?
I changed the blur to be more radical, so it's easier to compare.
![image](https://user-images.githubusercontent.com/9664601/61213185-9ac7bd80-a704-11e9-9f37-1ca3f22b1522.png)

[code]

Full config:
[co

[2019-07-15 13:56] yshui commented on #132
@J-Reis Just FYI, `compton 0.1~beta2+20150922-1` is not built from this repo.

But thanks for your report anyway :)

[2019-07-15 19:04] J-Reis commented on #132
Indeed. Perhaps I mis-interpreted the purpose of this survey? I thought you were interested in how folks were using compton. In order to inform your development. As you say, the original repo is unmaintained, so this version, seems to be the de-facto future of Compton. As a user of Compton, I therefore have an interest in this. Besides it even says at the top:

I didn't think it mattered that I wa

[2019-07-16 04:00] btstream commented on #198
@meelkor Same here.

[2019-07-16 09:20] yshui commented on #132
@J-Reis I really do appreciate your report! Your understanding is correct. I just wanted to point out, in case you didn't know, that you are not using _this_ compton.

[2019-07-18 16:39] yshui commented on #198
@btstream @meelkor Ah, i didn't see you are using `--experimental-backend`.

`--blur-background-fixed` doesn't work yet on the experiemental backends.

[2019-07-18 16:44] yshui commented on #198
So, some backgrounds:

The blur is done with an opacity that is equal to the set opacity of the window, because when the window is fading out, you would want the blur to smoothly go away as well. Otherwise it would look jarring.

However, doing blur this way creates inconsistency between windows that are transparent themselves and windows that are made transparent by compton. `--blur-background-fi

[2019-07-18 19:48] yshui commented on #184
Cannot reproduce anymore.

[2019-07-18 19:48] #184 closed

[2019-07-19 15:01] lzutao opened #203 "A little high CPU usage"
### Platform

[code]

### GPU, drivers, and screen setup

- Intel(R) Core(TM) i7-4800MQ CPU @ 2.70GHz Integrated graphics, one monitor
- `xf86-video-*` version: None
- `mesa-utils` version: 8.4.0-1

[code]

### Environment

xfce4 v4.12.4

### Compton version

- `compton --version`: v7, commit d45ed14

[code]

### Compton configuration:

<details>
	<summary>compton.conf</summary>

[code]
</details>

[2019-07-21 14:00] Ropid commented on #54
With Firefox v68.0.1, the exclude rule for pop-ups has to change to the following:

    "class_g = 'firefox' && window_type = 'utility'"

Apparently they changed the window class name to lower-case `"firefox"`. Previously it was `"Firefox"`.

I want to document here how to research the window properties for pop-ups because how to do it is not obvious at all:

    sleep 5; pkill -STOP firefox; setx

[2019-07-22 20:34] dikiaap commented on #202
I also have this problem. By using the experimental backends will fix my issue

[2019-07-23 16:25] lzutao commented on #203
I ran back to v5. The CPU usage is fine again.

[2019-07-24 23:09] popcorn9499 opened #205 "weird glx backend segfault"
// The template below is for reporting bugs. For feature requests and others, feel free to delete irrelevant entries.

### Platform
// Example: Ubuntu Desktop 17.04 amd64
Arch Linux

### GPU, drivers, and screen setup
// Example: NVidia GTX 670, nvidia-drivers 381.09, two monitors configured side-by-side with xrandr
Nvidia GT 640 Nvidia drivers. Two monitors configed one below and one to the top a

[2019-07-25 02:26] yshui commented on #205
It crashed in `glXCreateContext`. It's probably a problem with your driver, or how your system is setup.

[2019-07-25 02:29] yshui commented on #203
@lzutao Did you build compton with `-Dbuildtype=release`?

`compton` uses negligible CPU here, so I don't know what to look at. Can you do a `perf`?

[2019-07-25 02:33] lzutao commented on #203
Thanks for the fast reply.

Yes, I did.

I will.

[2019-07-25 14:18] popcorn9499 commented on #205
Anything you recommend that I try?

[2019-07-25 15:25] lzutao commented on #203
Here is the [perf-data.zip](https://github.com/yshui/compton/files/3432229/perf-data.zip) that I run with `sudo perf record compton` for `v7`.
You could use `perf report` to view the data.

[2019-07-25 21:58] yshui commented on #203
@lzutao can you also attach the compton executable as well?

[2019-07-25 22:00] yshui commented on #205
@popcorn9499 even `glxinfo` doesn't work. you should probably consult the ArchWiki to setup your video driver properly.

I'm closing this.

[2019-07-25 22:00] #205 closed

[2019-07-25 22:08] popcorn9499 commented on #205
just for anyone that may have this issue in the future update your linux kernel and shit before causing a developer issues you feel like an entire idiot for bothering others when it was just one simple system update to fix all your issues. I wasnt even that out of date. I updated it like the day before so figured id throw this up for anyone else who may have this type of issue.

Sorry to bother yo

[2019-07-26 01:10] lzutao commented on #203
Here is it. GitHub doesn't support xz file so you might want to unzip first.
[compton_v7.tar.xz.zip](https://github.com/yshui/compton/files/3433794/compton_v7.tar.xz.zip)

[2019-07-26 01:34] #194 closed

[2019-07-26 01:34] yshui commented on #194
This should be fixed in `next`, if you use `--experimental-backends`

[2019-07-26 01:50] yshui commented on #205
No worries

[2019-07-26 02:11] yshui commented on #203
Hmm, I don't understand why paint_preprocess is taking that much time.

Do you have a lot of windows open?

[2019-07-26 02:17] lzutao commented on #203
I only had 5 windows opened.

[2019-07-26 02:45] yshui commented on #203
What does `xwininfo -root -children` say?

[2019-07-26 02:48] lzutao commented on #203
<details>
<summary>xwininfo -root -children</summary>

[code]

</details>

[2019-07-26 15:41] aufkrawall opened #208 "new GLX backend: stutter when snapping windows and on button press in Chromium"
Hello,
the issue once described in the xrender backend vsync thread unfortunately still is unchanged with latest commits.
New GLX also shows relatively bad performance in general on my slow Gemini Lake SoC (e.g. when scrolling via touchpad gesture in Firefox), unlike the new xrender backend. The old GLX backend works fine too.

[2019-07-26 21:29] #134 closed

[2019-07-26 21:31] yshui commented on #134
In the `next` branch, _NET_WM_WINDOW_OPACITY is not set by compton anymore.

Can you check if this fixes your problem?

[2019-07-26 22:44] #198 closed

[2019-07-26 22:44] yshui commented on #198
@btstream @meelkor This should be fixed in `next`.

[2019-07-28 05:47] sooqua opened #209 "Segfaults on SIGINT"
### Platform
Arch Linux x86_64 5.2.3-arch1-1-ARCH

### GPU, drivers, and screen setup
NVIDIA Quadro K1100M, NVIDIA 430.34, one monitor (laptop)

### Environment
Awesome WM. No DE.

### Compton version
v7

### Compton configuration:
<details><summary>compton.conf.example</summary>
<p>

[code]
</p>
</details>

### Steps of reproduction
1. `$ compton`
2. `<C-c>` or `pkill -2 compton`

### Expected be

[2019-07-28 21:24] yshui commented on #209
I cannot reproduce this locally.

Can you build compton with debug info so the stack trace can be more useful?

[2019-07-29 01:56] Ropid commented on #209
I see that bug here as well.

Here's my stack trace:

    Program terminated with signal SIGSEGV, Segmentation fault.
    #0  0x000055c6ea790e63 in discard_ignore (ps=0x0, sequence=5821) at ../src/compton.c:269
    269		while (ps->ignore_head) {
    [Current thread is 1 (Thread 0x7fce1561fdc0 (LWP 24681))]
    (gdb) bt
    #0  0x000055c6ea790e63 in discard_ignore (ps=0x0, sequence=5821) at ../src/

[2019-07-29 15:47] rien333 opened #210 "Using experimental backends and xr_glx_hybrid segfaults"
If I use the flags `--experimental-backends` and `--backend xr_glx_hybrid` together compton segfaults. I'm not sure if this combination is even supported, but it could be a bug.

### Platform
[code]
### GPU, drivers, and screen setup

Monitor: Laptop Monitor
GPU: Intel UHD Graphics 620 (Kabylake GT2)
Driver: ~~xf86-video-intel-git~~ Modesetting (for some reason my intel driver fails without error)

[2019-07-29 15:55] sooqua commented on #209
Sure, if you can tell me how to build with debug symbols. I'm building from AUR package, I tried changing `--buildtype=release` to `debug`, passing `CFLAGS`, `LDFLAGS`, and `CPPFLAGS` with `-g`, and modifying `meson.build` file with the same options, but it still generates `make-release.sh` file instead of debug and `objdump /usr/bin/compton --syms` shows `no symbols`.
Using the short gdb instruct

[2019-07-29 19:44] m-ou-se commented on #108
I also use `--glx-fshader-win`, to make my terminals semi-transparent: https://gist.github.com/m-ou-se/fe96f6a7e947cf2e37d46e9012869a06

[2019-07-29 20:51] aufkrawall commented on #210
Regarding failed loading of xf86-video-intel-git for you: Have you compiled xorg-server-git after compiling xf86-video-intel-git? When there is an ABI change, the driver needs to be compiled against that new xorg-server as well.

[2019-07-29 21:52] rien333 commented on #210
Yeah I did struggle with ABI versions initially, but I fixed it using the method you suggested. Turns out, I can't really get the intel driver to load properly (without a clear error), even after having matching ABI versions.

Anyway, Xorg.0.log shows that I fall back to modesetting, so it's highly likely that my initial observation that I was using xf86-video-intel-git was wrong. In the mean time

[2019-07-30 05:42] yshui commented on #209
@Ropid I pushed a change that should fix your crash.

@sooqua Can you try the latest `next` and see if it fix your problem as well?

[2019-07-30 05:44] yshui commented on #210
You are correct that xr_glx_hybrid is not supported. Nonetheless compton shouldn't crash.

[2019-07-30 07:53] Vladimir-csp opened #211 "v7 with experimental glx: blur only appears for maximized windows"
### Platform

Debian testing.
### GPU, drivers, and screen setup
`OpenGL renderer string: Mesa DRI Intel(R) HD Graphics 520 (Skylake GT2)`
modesetting driver
### Environment
Openbox
### Compton version
`v6-rc1-226-g6cb5f97` (buit from stable/v7)

### Compton configuration:
[code]

### Steps of reproduction

1. start `compton --experimental-backends`
2. start a transparent terminal (I've tested wit

[2019-07-30 08:00] Vladimir-csp opened #212 "v7 with experimental glx: window contents are not drawn beyond framebuffer size"
### Platform

Debian testing.
### GPU, drivers, and screen setup
`OpenGL renderer string: Mesa DRI Intel(R) HD Graphics 520 (Skylake GT2)`
modesetting driver
### Environment
Openbox
### Compton version
`v6-rc1-226-g6cb5f97` (buit from stable/v7)

### Compton configuration:
[code]

### Steps of reproduction

1. start `compton --experimental-backends`
2. stretch a window to be bigger than screen siz

[2019-07-30 17:09] yshui commented on #212
Cannot reproduce this on NVIDIA 1050M. Might be a driver problem?

[2019-07-30 18:59] sooqua commented on #209
`^C[1]    18549 segmentation fault (core dumped)  compton`
Nope

[2019-07-30 19:49] yshui commented on #209
@sooqua if you builds from AUR, you need to add `options=('!strip')` to your PKGBUILD

[2019-07-30 20:36] Ropid commented on #209
I'm now seeing this output here when I interrupt it:

    $ build/src/compton
    ^CX Error of failed request:  GLXBadPixmap
      Major opcode of failed request:  152 (GLX)
      Minor opcode of failed request:  23 (X_GLXDestroyPixmap)
      Serial number of failed request:  5633
      Current serial number in output stream:  5640

It does not crash, there's no segfault or anything. I'm just worr

[2019-07-30 21:48] sooqua commented on #209
[code]
It doesn't seem to crash under gdb, am I doing something wrong?
[code]

[2019-07-30 22:26] sooqua commented on #209
Okay, took some gdb courses. Here:
[code]
[render.c:1220](https://github.com/yshui/compton/blob/next/src/render.c#L1220)

[2019-07-31 14:21] tiritto opened #213 "Compton tells me to "expect troubles" while switching between workspaces"
I've tried to get some help on reddit and in some other places, but with no luck. Maybe I will get some hint here :D

### Platform
Ubuntu 19.04 x86_64

### GPU, drivers, and screen setup
NVIDIA GeForce GTX 1050 Ti
NVIDIA Driver Version: 418.56
[code]

### Environment
i3-gaps provided by Regolith Linux

### Compton version
0.1beta2 provided by Ubuntu

### Compton configuration:
[code]

### Steps of

[2019-07-31 15:54] aufkrawall commented on #213
Please try a recent version like 7 or git-next, Ubuntu ships a very old version which hasn't been maintained by yshui.

[2019-07-31 22:53] #209 closed

[2019-07-31 22:54] yshui commented on #209
@sooqua Thanks for your help.

Fixed in `next`.

[2019-08-01 08:35] Vladimir-csp commented on #212
Might be, but with standard glx backend this does not happen, only experimental.

[2019-08-01 12:58] zezic opened #214 "[$40] Antialiased Rounded Corners"
This is a feature request for the antialiased rounded corners on the compositor level. They should have radius setting and window exclude/include rules like it's already done for shadows and blur. They should be able to override the alpha channel of window by multiplying it with 0 on transparent areas and also they should be able to round the top corners of WM-powered window decoration (like decor

[2019-08-01 18:37] yshui commented on #212
experimental glx render things differently, probably that triggered the driver bug?

can you capture an apitrace of compton showing this problem?

thanks.

[2019-08-01 20:12] yshui commented on #214
Just to clarify: you want compton to cut off the corners of rectangular windows so they would have rounded corners?

[2019-08-01 20:15] yshui commented on #213
@tiritto I am closing this for now. If after you switched to a updated version and this still happens, feel free to leave a comment and I will reopen.

[2019-08-01 20:15] #213 closed

[2019-08-01 20:24] #210 closed

[2019-08-01 20:25] yshui commented on #210
@rien333 Fix pushed

[2019-08-01 20:54] kovasap opened #215 "Per window color filters"
Is it possible at all to have compton put color filters over specific windows?
 See discussion here: https://github.com/chjj/compton/issues/266.

[2019-08-01 21:20] rien333 commented on #210
Works fine!

[2019-08-01 21:25] rien333 commented on #210
Works okay, but note that the error is not visible when running compton with `-b`.

[2019-08-02 02:21] Elv13 commented on #214
(one of AwesomeWM dev here)

This is a common users complaint (including other WMs like BSPWM and the patched version of i3-gaps). The ideal scenario is that the compositor (compton) take the X11 bounding mask and use it for the shadow (and add anti-aliasing to it instead of being 1 bit per pixel). AwesomeWM users work around this by using an ARGB surface with "client side decoration" (aka, titleb

[2019-08-02 03:49] zezic commented on #214
@yshui Yes, exactly. Cut off corners of all windows with a radius regardless of the actual alpha mask provided by the clients behind those windows.

If window is already semi-transparet (examples: `xeyes` or terminal with transparency) it's mask must be used and cutted off with a radius at corners.

@Elv13 you are right about windows with non-rectangular shape, but at the moment, I think, we can f

[2019-08-02 04:25] Elv13 commented on #214
It was the most recent (24 hours ago) example on r/unixporn with holes in the bounding clip shape. There's about ~20 other in the [AwesomeWM screenshot issue](https://github.com/awesomewm/awesome/issues/1395) (click "load more" a few time). Including one by me near the top using Compton with visible artifacts.

But overall I came here to "warn" about these corner (pun intended) cases so people kno

[2019-08-02 04:51] zezic commented on #214
Sure, they will, but I hope, these two things can live side a side from each other.

@Elv13 Here is a preview to clarify this feature request:
![corners](https://user-images.githubusercontent.com/1945127/62345125-a7685600-b4f9-11e9-9d7c-454e79a7e979.png)

By the way it would be nice to make the "Zero the part of the shadow's mask behind the window." also know as `clear-shadow` option to work corre

[2019-08-02 04:57] zezic commented on #214
It will be almost perfect if there will be a feature to set the radius of each corner separately from the radius of other corners to make it usable for bottom/side docks.

[2019-08-02 22:11] yshui commented on #210
@rien333 that's expected. the error is not visible is because the error happens after the daemonization, the warnings you saw are generated before that.

to see all the errors when using `-b`, you have to use a `--log-file`.

[2019-08-02 22:15] yshui commented on #15
Closing because it's fixed upstream

https://github.com/mate-desktop/marco/pull/531

[2019-08-02 22:15] #15 closed

[2019-08-03 11:18] Vladimir-csp commented on #212
Here is the trace:
[compton.trace.zip](https://github.com/yshui/compton/files/3463595/compton.trace.zip)
I launched featherpad, moved window beyond upper left corner of the display, then stretched it down to bottom right corner.

Also apitrace spammed this to console:
[code]

[2019-08-04 11:20] rien333 commented on #128
Compton (HEAD version) still crashes when unplugging/plugging monitors for me. I'll post a stack strace and do some testing when I have access to my external monitor again.

[2019-08-04 15:51] yshui commented on #128
@rien333 likely to be a new bug. can you open a new issue instead of reusing the old one?

thanks.

[2019-08-04 16:44] kovasap commented on #215
FWIW, I have gotten that patch working on the original compton repo's latest revision (and love it!), but could not apply it to the latest revision of this repo.  I haven't dug into the code at all, so I'm not sure how tricky it will be to patch in.  Also not sure if you are interested in adding features like this to this repo (even though I think this one is amazing!).

[2019-08-05 00:02] lanrat opened #217 "Animation support"
[BlackCapCoder's Compton fork](https://github.com/BlackCapCoder/compton) has support for some simple animations.

Would it be possible to add something like this into this fork of compton?
BlackCapCoder's fork is hacky and should be written cleaner if so.

demo: https://www.youtube.com/watch?v=eKwPkiACqF0&feature=youtu.be

[2019-08-05 19:13] yshui commented on #217
I will not actively implement this feature myself, since I think it's out of the scope of compton. but pull requests are welcome if someone want to give this a go.

[2019-08-06 12:32] MR-Diamond opened #218 "Compton v7: transparent white overlay on logout"
Manjaro, XFCE 4.14, graphics intel i915 on Ivy Bridge.
When I logout  (the logout button calls xfce4-session-logout) for a pair of seconds I see a blank overlay on the screen, as if it were a 50% transparent white image. By tweaking compton.conf, I discovered theh if I set fading = false, this issue doesn't occurs: I don't want to completely disable fading: I guess that I should add something to f

[2019-08-06 12:52] MR-Diamond commented on #218
Sorry for the noise: I discovered that to fade-exclude list, to avoid the described issue, I had to add comtpon itself:
`fade-exclude = [
	 "name *= 'compton'"
];`

So, in this way I resolved the problem.

[2019-08-06 12:52] #218 closed

[2019-08-07 20:19] kurnevsky opened #219 "Dbus interface stopped working after 7.0 release"
### Platform

Arch Linux

### GPU, drivers, and screen setup

xf86-video-intel 2.99.917+865+g60022507
mesa 19.1.3

name of display: :0
display: :0  screen: 0
direct rendering: Yes
Extended renderer info (GLX_MESA_query_renderer):
    Vendor: Intel Open Source Technology Center (0x8086)
    Device: Mesa DRI Intel(R) Haswell Mobile  (0xa16)
    Version: 19.1.3
    Accelerated: yes
    Video memory:

[2019-08-08 10:06] yshui commented on #219
Use:

[code]
Please do note the dbus interface doesn't have a stable interface at the moment.

[2019-08-08 10:06] #219 closed

[2019-08-09 07:24] tiiiecherle opened #220 "Very bad performance and lag in VirtualBox"
### Platform
archlinux in virtualbox

### GPU, drivers, and screen setup
vboxvideo

### Environment
openbox

### Compton version
latest 7.1-1

### Compton configuration:
[code]

### Steps of reproduction
Login to a desktop environment and start compton &

### Expected behavior
no lag, no performance issues

### Current Behavior
the whole desktop gets almost unusable with a really bad lag. right cl

[2019-08-09 14:00] clort81 commented on #108
I also use it with black keycolor for terminal backgrounds and browser (with black css override) backgrounds.
I am wanting to figure out how to pass a time float to the shader for animated effects.

[2019-08-09 14:26] vn971 commented on #108
@m-ou-se sorry for unrelated question. I accidentally saw you're using Rust in Fusion Engineering, and it's located in Utrecht. Does the company by chance also look for new Rust devs?

I don't have professional experience with Rust, but I'm interested in the language (and have non-professional experience).

[2019-08-09 15:40] m-ou-se commented on #108
@vn971 Feel free to contact me at mara@fusion.engineering.

[2019-08-09 22:43] yshui commented on #220
Duplicate of #40

[2019-08-09 22:43] #220 closed

[2019-08-09 22:44] yshui commented on #40
Reopening this since it's reported again.

@tiiiecherle what has changed?

[2019-08-10 00:16] gmtrd opened #221 "100% opacity option is broken again"
### Platform
5.2.6-arch1-1-ARCH

### GPU, drivers, and screen setup
GeForce GTX 970, nvidia-drivers 430.40, one monitor

[code]

### Environment
Openbox with some XFCE4 components and Polybar

### Compton version
v7.1

### Compton configuration:
[code]

### Steps of reproduction
_opacity-rule = [ "100:class_g = 'kitty'" ];_ doesn't give 100% opacity to set window which still gets transparency, the

[2019-08-10 00:51] yshui commented on #221
Make sure your kitty doesn't have transparency itself.

[2019-08-10 01:37] gmtrd commented on #221
Actually yes, that was the problem but kitty was just an example, actually I tried with Firefox and was mistaken there too, while trying to fix some menus.

What deceived me is, some of them would seem to not be linked to their main software, also looking bad with weird borders, and I still did not solve that.

But the specific one I posted about was actually a non-issue

my bad.

[2019-08-10 14:21] yshui commented on #221
Thanks for clarifying

[2019-08-10 14:21] #221 closed

[2019-08-12 14:40] anesuc commented on #32
Hey, whats the progress on this? I am working on a project that heavily relies on this! Currently using the other fork, but would be good to use this version instead as the other one is behind by a bit

Thanks!

[2019-08-13 08:52] xyproto opened #222 "Rename"
Hi,

`yshui/compton` is a fork of `chjj/compton`, which is a fork of `xcompmgr-dana`, which in turn is a fork of `xcompmgr`. ([source](https://wiki.archlinux.org/index.php/Compton)).

Now that compton has been an active fork for a while, and is used for the [Arch Linux compton package](https://www.archlinux.org/packages/community/x86_64/compton/) (which I maintain), have you considered renaming it

[2019-08-13 10:01] yshui commented on #222
Yes, I have considered renaming as well, but I don't know if now is the best time to do it. Since keeping the name might help our discoverability for existing compton users.

[2019-08-13 10:21] xyproto commented on #222
I guess renaming it will be more confusing the longer you wait? But just keeping `compton` is also fully possible, of course.

This is just a suggestion, feel free to close this issue. Appreciate the work!

[2019-08-13 14:39] javashin commented on #183
This Being happening again on last tip of 1.20 branch from git
https://bugs.freedesktop.org/show_bug.cgi?id=110894

[2019-08-13 14:41] javashin commented on #183
but i discovered that happen with xfwm4 from xfce4 4.14 which uses opengl now is not just related to compton

[2019-08-13 15:28] aufkrawall commented on #183
Can't confirm, no tearing here with compton-git, xorg-git and xf86-video-intel-git. :)

[2019-08-13 15:46] yshui commented on #183
@javashin Present *_is_* implemented in the experiemental xrender backend.

this tearing is likely to be a xorg bug, but sounds like they already fixed the one introduced in 1.20.5, so i am not very sure.

[2019-08-13 16:25] rien333 commented on #183
I also haven't experienced any tearing as of late, using the same git packages as @aufkrawall .

[2019-08-13 16:41] javashin commented on #183
@aufkrawall  xorg-git git master or 1.20-branch ?

[2019-08-13 16:41] javashin commented on #183
im aloso using xf86-video-intel-git

[2019-08-13 16:52] javashin commented on #183
im compiling xorg-server master compton-git -b next and intel ddx git

[2019-08-13 16:52] aufkrawall commented on #183
Sorry, didn't read carefully enough and missed the branch part.

[2019-08-13 16:53] javashin commented on #183
ok

[2019-08-13 16:59] javashin commented on #183
yes gone with everything from git thanks

[2019-08-13 17:00] #183 closed

[2019-08-13 19:46] marioortizmanero opened #223 "Polybar wintype is detected as 'normal'"
### Platform
`OS: Arch Linux x86_64`
`Kernel: 5.2.8-arch1-1-ARCH `

### GPU, drivers, and screen setup
Most likely doesn't matter but `AMD ATI Radeon RX 470/480/570/570X/580/580X/590 ` (RX 480)

### Environment
`WM: bspwm`

### Compton version
[code]

[code]

The thing is that for some reason polybar is detected as a 'normal' wintype instead of dock. I was trying to exclude windows from casting a

[2019-08-13 19:54] #223 closed

[2019-08-13 21:59] dustinwilson commented on #40
I am getting this issue as well where the performance is terrible in virtualbox. Going through this thread I tried 683cda0, and it works just fine so something added between then and now has caused virtualbox to croak. I'll go through the commits from 683cda0 until I reach one that doesn't work anymore like @tiiiecherle did before and report back to you what I find.

[2019-08-14 04:18] javashin commented on #183
@aufkrawall  have you used wayland sway gnome etc ? Xwayland is all broken in xorg-server-git

[2019-08-14 04:53] javashin commented on #183
i was doing something wrong i cloned the xorg-server 1.20-branch  and compiled the code and now i got everything fine .

[2019-08-14 05:59] tiiiecherle commented on #40
@dustinwilson that's great, thanks a lot.

[2019-08-16 02:57] kgilmer opened #224 "Building a Release tarball"
Hello, I would like to build your v7 release.  The README mentions that git submodules need to be initialized (to pull in dependencies I'm assuming) but since it's a release tarball there is no git metadata.  Is there alternate instructions that will work for releases?

[2019-08-16 09:40] yshui commented on #224
@kgilmer You will have to manually clone https://github.com/yshui/test.h into `subprojects/test.h`

[2019-08-16 14:15] kgilmer commented on #224
That fixed me up, thank you @yshui .  Would you be interested in a minor PR to add this and the dependency list in Ubuntu/Debian format to the readme?

[2019-08-16 21:10] yshui commented on #224
@kgilmer Thanks, but I am planning to stop including `test.h` as a submodule in next release. Instead, it will be vendored as part of the compton repository. That should solve the release tarball problem.

Will close this as soon as that is done.

[2019-08-17 02:40] kgilmer commented on #224
Ok, sounds good @yshui .  Well, here are the Ubuntu deps in case anyone comes across this in the future:
[code]

[2019-08-17 13:04] yshui commented on #224
Thanks, I will add that to the README

[2019-08-17 15:27] kgilmer commented on #224
Glad it might be useful.  @yshui would you consider your v7 release, built with default flags, to be suitable to ship with a desktop environment?  I've been using it with https://regolith-linux.org for a few days now and haven't had any problems but thought I'd ask.

[2019-08-17 16:27] yshui commented on #224
@kgilmer it's already [part](https://www.archlinux.org/packages/community/x86_64/compton/) of Arch Linux. Don't know if that's good enought for you :)

[2019-08-17 16:57] kgilmer commented on #224
It certainly is. Thank you @yshui!

[2019-08-18 00:32] wxl commented on #224
@kgilmer you are a godsend. I just started sitting down to package this for Ubuntu and started out with Ye Olde Compton's depends and they're nearly all wrong. You saved me a ton of time. Only thing missing is `libev-dev`. Perhaps you already had it installed.

@yshui call me crazy but I was thinking of maybe sneaking this into 19.10, which is due in October. You think you'll have a release to pul

[2019-08-18 00:42] yshui commented on #224
@wxl Will do a release with `test.h` today or next week.

[2019-08-18 00:44] wxl commented on #224
@yshui that sounds great. Thanks a ton! If all goes well, not only will it be in the Ubuntu archive but Lubuntu will be shipping it. Squee!

[2019-08-18 16:47] kgilmer commented on #224
Hi @wxl , glad to help and thanks for the additional packages.  I'll use those if I opt to package this.  But, if you're working on it maybe I don't have to.  If you packaged, this, would it be available before the 19.10 release?

[2019-08-18 19:04] wxl commented on #224
@kgilmer I've got a functional but certainly not finished (I need to clean up some of the packaging) package in a [PPA](https://launchpad.net/~wxl/+archive/ubuntu/testy-testy) that you're welcome to test out. If all goes well, it will be in 19.10 before it's released, but I'm not currently targeting 19.04 or 18.04. I'm considering 18.04, but 19.04 is end of life in January, so it seems like it's n

[2019-08-18 21:43] yshui commented on #224
Closed by release v7.3

[2019-08-18 21:43] #224 closed

[2019-08-19 03:46] wxl opened #225 "compton-convgen needs a manpage"
It doesn't need to be particularly fancy, but a manpage for compton-convgen would be great and would keep Lintian from complaining about `binary-without-manpage`.

I'd drum something up based on the default arguments, but I'm not really qualified to write an adequate description.

---

BTW, an aside: Lintian also complains about the language-specific extension.  Since you have it shebanged, it's r

[2019-08-19 21:01] yshui commented on #225
compton-convgen is being phased out. If you use `--experimental-backends` you can use the much nicer blur configuration syntax as described [here](https://github.com/yshui/compton/blob/next/man/compton.1.asciidoc#blur)

[2019-08-19 21:01] #225 closed

[2019-08-20 11:37] aufkrawall opened #227 "Xorg performance breakdown with new blur and experimental xrender backend"
### Platform
Arch x64

### GPU, drivers, and screen setup

recent mesa-git, xorg-server-git and xf86-video-amdgpu-git, single screen

### Environment

Plasma

### Compton version

recent compton-git

### Compton configuration:
[code]

### Steps of reproduction

Start Compton with the blur config example you provided and experimental xrender backend.

### Expected behavior
Performance should be mai

[2019-08-20 14:17] yshui commented on #227
sadly this is expected. it's just impossible to have efficient blur on xrender in general (some of the drivers can do it, but most of them cannot). the blur should work though, just incredibly slow.

all i can do is to have compton print a warning when you try to do that.

[2019-08-20 14:39] yshui commented on #227
filed an upstream bug: https://gitlab.freedesktop.org/xorg/xserver/issues/872

[2019-08-20 14:56] dustinwilson commented on #40
Sorry about the wait. I could only test this on a computer I use at work. The first commit I found to cause a great deal of lag starting from 683cda0 is 94b1bc0. That means that the last commit to work (at least for me with Manjaro Xfce in Virtualbox) is 68873ef.

After I went up the tree from 683cda0 and found the first one to not work I tried each of the releases since then and none of them work

[2019-08-20 15:02] yshui commented on #40
@dustinwilson if that's the case, can you run `compton --diagnostics`?

[2019-08-20 17:55] dustinwilson commented on #40
**Version:** v4-rc1-54-g94b1bc0

### Extensions:

* Name Pixmap: Yes
* Shape: Yes
* XRandR: Yes
* Present: Present

### Misc:

* Use Overlay: Yes
* Config file used: /home/dw/.config//compton/compton.conf

[2019-08-20 17:59] yshui commented on #40
@dustinwilson perhaps you have a different config file at `/home/dw/.config//compton.conf` or `/etc/xdg/compton.conf`? because the config file at `/home/dw/.config//compton/compton.conf` will NOT be picked up before 94b1bc0

[2019-08-23 11:37] tim77 opened #228 "Packaging status"
Sorry if this duplicate but i didn't found global tracking packaging status or something like that. Just FYI: compton (new version) packaged for Fedora, but under new package name `compton-ng`.

- [Package start page](https://apps.fedoraproject.org/packages/compton-ng) (buggy, not showing at this time)
- [Source](https://src.fedoraproject.org/rpms/compton-ng)

How to install:

[code]

[2019-08-23 11:39] tim77 commented on #222
`compton-ng` maybe? 😊

https://github.com/yshui/compton/issues/228

[2019-08-23 14:24] yshui commented on #222
Huh, we got assigned a name. Maybe I should seriously start thinking of a new name now.

[2019-08-24 04:55] jtl999 commented on #222
`compton-reloaded`?

In the spirit in the title "The Matrix Reloaded". Oh wait. I ain't a movie buff, but I heard the original was better :)

[2019-08-25 12:43] yshui commented on #228
Alright, let's turn this into a packaging status ticket.

From what I know, this `compton` is also packaged in:
* [ArchLinux](https://www.archlinux.org/packages/community/x86_64/compton/)
* [VoidLinux](https://github.com/void-linux/void-packages/blob/master/srcpkgs/compton/template)
* [NixOS](https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/window-managers/compton/default.nix)
* [Net

[2019-08-25 13:44] vn-ki commented on #135
@ryshglene What was your solution? This is happening to me.

With vsync=on, I get tearing.
With sw-opti=on, I get tearing.

With vsync=off, tearing is much more pronounced.

With backend="xr_glx_hybrid", tearing is a bit less, but is still annoying.

[2019-08-26 11:29] jenav commented on #228
Well, I'm keeping personal builds of stable and git releases for openSUSE 15.0, 15.1 and Tumbleweed on OBS:

- [compton](https://build.opensuse.org/package/show/home:jenav/compton)
- [compton-git](https://build.opensuse.org/package/show/home:jenav/compton-git)

[2019-08-26 16:51] onodera-punpun commented on #228
I'm keeping personal builds (based on git master) for CRUX: https://github.com/onodera-punpun/crux-ports/tree/master/compton

[2019-08-28 21:42] ncmprhnsbl commented on #228
handy resource:
https://repology.org/projects/?search=compton
https://repology.org/project/compton/versions
https://repology.org/project/compton/packages

[2019-08-29 09:54] yshui commented on #228
@ncmprhnsbl that's very helpful, thanks

[2019-08-29 12:22] yshui commented on #222
I want a name that's short, pronounceable, and searchable. And it's quite hard to come up with a name like that. I have a couple candidates right now:

* `reXco` (revival of a X compositor): looks cool? but sounds like the name of some cooperation.
* `reXcom`, `reXcomp`: variants of the previous one
* `ncomp`, `rcomp`: look odd?
* `comppie`, `compi`, `comppi`, `comppy`: variants of trying to make

[2019-08-29 12:36] onodera-punpun commented on #222
Will the X be capitalized? seems a bit odd/out-of-place for binary names. As for ideas, I don't know if `compton` is actually named after the city, but if it is you could follow this trend, some other city?

[2019-08-29 13:41] yshui commented on #222
@onodera-punpun

not in the binary name

[2019-08-29 13:43] xyproto commented on #222
Leland is a neighborhood in Compton. How about `leland`?

It's also possible to pick a name from one of the famous composers, for instance Bainton after the London-born composer Edgar Bainton, whos name also ends with `ton`. How about `bainton`?

-- Phil Karlton

[2019-08-29 13:45] Clyybber commented on #222
Leland sounds like an appropriate name for a wayland fork/rebuild of compton :)
This site here lists a few cities containing `x`: https://enumerated.blogspot.com/2007/07/largest-us-cities-whose-name-contains.html

[2019-09-01 05:14] dsal3389 opened #230 "trying to make WM_STATE_FULLSCREEN opacity 100 when focused or not"
wm: i3-gaps
linux: arch linux

Hi I am currently trying to make windows in fullscreen state have full opacity when focused or unfocused and I cant make it work,
I can make the opacity lower but cant achieve full opacity
this is what I done

`opacity-rule = [ "100:_NET_WM_STATE@:a32 *= '_NET_WM_STATE_FULLSCREEN'" ]`
this is not changing the opacity at all but if I change the opacity (in the opacity

[2019-09-02 15:22] yshui commented on #230
can you attach your full configuration file? also a screenshot will be helpful.

[2019-09-02 20:35] dsal3389 commented on #230
[code]
![image](https://user-images.githubusercontent.com/22752469/64132692-41157280-cdda-11e9-9a7d-61dede0890db.png)
(this is on full screen while not focused )

[2019-09-03 09:43] yshui commented on #230
Looks like you are using [tryone144/compton](https://github.com/tryone144/compton), since you are using blur method kawase

[2019-09-03 12:51] gregorlarson commented on #138
I can apply a shader to some windows, for example:

compton --backend glx --glx-fshader-win "$(cat matrix_thirds.glsl)" --invert-color-include g:e:Firefox

- not sure if this is the scenario you we thinking of.
ref: https://github.com/gregorlarson/linux-color-inversion

[2019-09-03 13:01] gregorlarson commented on #108
I also use the fshader, similar to vn971/linux-color-inversion
It would be nice to have the shader come from a file or files instead of trying to put the entire shader on the command-line (which doesn't feel quite right, especially for longer programs).

[2019-09-05 13:10] TiZ-EX1 opened #231 "Windows sometimes disappear"
### Platform
Xubuntu 18.04 amd64

### GPU, drivers, and screen setup
Intel HD Graphics 530, two identical monitors both connected via displayport, side-by-side via xrandr.

[code]

### Environment
XFCE 4.12ish (Xubuntu 18.04 pulls some 4.13 components). xfwm4, with its own compositor of course disabled.

### Compton version
[code]

### Compton configuration:
I start compton with --experimental-bac

[2019-09-05 14:22] Vladimir-csp commented on #228
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=908533

[2019-09-06 23:47] ncmprhnsbl commented on #222
hitting the thesaurus:
here's a bunch of words vaguely related to what compton does:
[code]
just to stir the pot..