[2019-09-07 11:22] aufkrawall opened #232 "unredirect doesn't work for amdgpu upscaling resolutions"
### Platform

Arch

### GPU, drivers, and screen setup

Single screen 2560x1440 with single resolution defined in EDID (2560x1440 75Hz)

name of display: :0
display: :0  screen: 0
direct rendering: Yes
Extended renderer info (GLX_MESA_query_renderer):
    Vendor: X.Org (0x1002)
    Device: Radeon RX 570 Series (POLARIS10, DRM 3.32.0, 5.2.13-27-tkg-cfs, LLVM 10.0.0) (0x67df)
    Version: 19.3.0

[2019-09-07 18:25] #230 closed

[2019-09-07 18:31] yshui commented on #231
can you attach a log file captured when the problem happens? (remember to set `--log-level=debug`).

if you can somehow capture a apitrace of the problem it would be really helpful

[2019-09-07 18:31] yshui commented on #232
can you attach a debug log?

[2019-09-07 19:17] aufkrawall commented on #232
Here it is:
[compton.log](https://github.com/yshui/compton/files/3586948/compton.log)

[2019-09-08 19:21] sambazley opened #233 "Transparent background not clearing after running Steam on Wine"
### Platform
Arch Linux

### GPU, drivers, and screen setup
Vega 64
Two monitors (Primary: 1920x1080 144Hz, Secondary: 1280x1024 75Hz)
xf86-video-amdgpu 19.0.1-1
mesa-aco-git
[code]

### Environment
bspwm

### Compton version
Bisected to 426043baa7f4e2e8dc40d682d0e7d79222d7b570

### Compton configuration:
[code]
(Also tried `backend="glx"`)

### Steps of reproduction
1. Enable transparency with bl

[2019-09-08 22:23] yshui commented on #232
How does GPU upscaling work? Where can I find information about it?

Apparently it's different from xrandr since compton didn't get a notification about the root window changing size.

[2019-09-08 22:40] aufkrawall commented on #232
Good question, I haven't yet heard anything about it. Though I wouldn't be surprised if this wasn't mentioned anywhere.
It doesn't seem to do anything such as a modeline switch. When alt + tabbing out of an upscaled fullscreen application, I can observe how Plasma again scales the desktop wallpaper up to native size. And when switching back to the fullscreen application, it then continues running

[2019-09-09 00:46] sambazley commented on #233
I've just found that it also happens when I run `xdo above -t "$(xdo id -N Bspwm -n root | sort | head -n 1)" $(xdo id -n blockbar)`, which moves blockbar below all other windows, except the root window. If the bar on my secondary monitor is lower, I get the clearing problem on the bar on my primary monitor. If the bar on my primary monitor is lower, I don't get problem with either bar.

[2019-09-09 14:59] sambazley commented on #233
Managed to reproduce it on my laptop which has an integrated Vega GPU by running `xdo above -t "$(xdo id -N Bspwm -n root | sort | head -n 1)" $wid_of_bar_on_second_monitor`

[2019-09-09 16:11] yshui commented on #233
it's possible that the transparency detection in wrong for windows without a wm frame. i will investigate.

[2019-09-10 04:38] avindra commented on #222
if rename, please keep "compton" within reasonable edit distance. its the same code and hopefully the core usage of compton remains

[2019-09-10 19:11] baongoc124 commented on #108
I also use it every day to have a darkroom mode for using computer during the night.
So please don't remove it.

[2019-09-13 17:22] avindra commented on #228
This `-ng` pattern propagates itself in software causing unnecessary fragmentation. to truly represent the development of compton, we would have to be on `compton-ng-5` or something like that by now.

The package maintainers adding `-ng` are just following an odd convention that should be abandoned as it creates confusion amongst users and packagers alike.

[2019-09-13 17:25] avindra commented on #228
For the record, I'm looking into replacing the `compton` package in openSUSE with the builds that @jenav has been maintaining :  https://build.opensuse.org/request/show/729602

(i.e., no `-ng` prefix).

[2019-09-13 18:06] yshui commented on #228
@avindra I am aware, that's why there is #222

[2019-09-13 18:22] avindra commented on #228
Here you can see the spread of `compton` across distros:

https://repology.org/project/compton/versions

It seems that fedora is the only distribution so far that is using `compton-ng` thankfully.

https://repology.org/project/compton-ng/versions

If a new name comes out of #222 then we can all happily agree on that.

[2019-09-13 23:37] tim77 commented on #228
What a funny this guy @avindra :laughing: Indeed, because most of distros like Debian, Ubuntu and your openSUSE is still using old 0.1.0 version. What you trying to prove by posting this BS? You think someone will respecting you if you will continue posting you trash posts, thumbs down on every my post and hating Fedora and Fedora maintainers overall? Try spend your time to something useful, like

[2019-09-14 03:41] avindra commented on #228
@tim77 _I_ had no involvement in the spec file. Regardless of who authored what, perhaps you should consider that both RPM based distros may _naturally_ converge on the same solution?

this is a deluded view and perhaps a mental projection on your part. I have no qualms with Fedora, its users or community.

[2019-09-14 09:20] tim77 commented on #228
@avindra are you fine man? I should consult with you maybe before i push package in Fedora repos? And openSUSE **still** doesn't have this new forked copmton version in official repos.
Pushing this separate version of compton help Fedora users using new fork right now, in current Fedora release and not waiting for the next F31 because updating to major version is not allowed by updating policy. Ma

[2019-09-14 14:13] yshui commented on #228
@tim77 I really appreciate the effort you took to package this compton for Fedora.

I am not fond of the `-ng` suffix, but that's my own fault to not take the initiative and rename this fork sooner.

There's really no need to say such things about each other.

[2019-09-15 22:13] reaysawa commented on #222
I like Leland. However, is it such a huge departure in approach from the forked project that it deserves a totally different name?

I think "ycompton" (yshui compton) is simple, searchable and fits the bill in terms of representing the "next evolution" of the previous project.

[2019-09-16 04:48] baboomerang opened #234 "Max GPU Usage on Intel Graphics"
### Platform

Gentoo release 2.6 x86_64
### GPU, drivers, and screen setup

GPU: Intel HD Graphics 4000
Video drivers: xf86-video-intel & mesa
[code]
[code]
### Environment

i3-gaps and Polybar
[code]

### Compton version

[code]
### Compton configuration:
[code]

### Steps of reproduction

1. Use my provided config and make sure vsync is set to false, sw-opti set to false and xrender-sync-fence t

[2019-09-16 10:14] ScoreUnder commented on #132
Here are 3 systems I regularly use (work, home, laptop):

The home and work PCs are built from parts so it's hard to give an exact date.

Home: cpu/mobo are from around Dec 2017
Work: Apr 2012
Laptop: 2012 (Lenovo Thinkpad T430)

Home:
* AMD ThreadRipper 1950x
* MSI X399 SLI PLUS (MS-7B09)
* 32GB RAM (DDR4 clocked at 2800MHz)
* NVidia GeForce GTX 1060 6GB Rev. 2 (GP106)

Work:
* Intel i7-3770K
* G

[2019-09-16 15:39] tiiiecherle commented on #40
@dustinwilson thanks for looking into this,
@yshui I don't have another config file besides an empty one at `/etc/xdg/compton.conf` and the problem persits with the latest compton version. Thanks for looking into it in advance.

[2019-09-16 17:08] yshui commented on #40
@tiiiecherle that means, before 94b1bc0, the config file at `/etc/xdg/compton.conf` will be used, that could explain the performance change

[2019-09-16 22:31] avindra commented on #222
Are there any reason's the old name _shouldn't_ be kept? I was personally able to switch to yshui's version without having to change my config.... _and_ I'm using an Nvidia card.

[2019-09-17 01:23] reaysawa commented on #222
@avindra one of the reasons is so that package maintainers can differentiate between this and the other compton. Some distributions already come with a "compton" package but it's not this forked version,

[2019-09-17 05:31] xyproto commented on #222
Following the pattern of the xcompmgr fork, `compton-yshui` could also work.

[2019-09-17 07:00] tiiiecherle commented on #40
Just to avoid misunderstandings. Yesterday I tried the latest version of compton (7.3-1)
- with an empty config file at `/etc/xdg/compton.conf` (no other config files)
- with an empty config file at `/home/$USER/.config/compton/compton.conf` (no other config files)

In both setups the issue persists. Downgrading back to 5.1-1 and empty config file at `/etc/xdg/compton.conf` (no other config files)

[2019-09-17 16:06] dustinwilson commented on #40
Sorry about the lack of response on this. I haven't had a chance to test this at work as I haven't been at the computer I can test on. @yshui is right in that the config file at `/etc/xdg/compton.conf` is used then. Since it has no blurring it runs just fine. I plan on going through the commit list again and finding one where it does work so we can pinpoint where the issue starts.

[2019-09-18 05:52] Thorhian commented on #132
I'm new here, but after finding out that the original compton repo was dead, I found this one! Thank you yshui!

Anyways, on to the questions:

    How old is your system?
My system is basically brand new for the most part.

    What hardware (CPU, GPU, etc) does your system have?
I have a new AMD Ryzen 3700X on the X570 chipset. I got a used Vega 56 for cheap and it has treated me well except in

[2019-09-19 21:36] liskin opened #237 "damage tracking is racy, losing some (mainly border) updates"
### Platform
Debian testing amd64

### GPU, drivers, and screen setup
ThinkPad T25 (T470 equivalent), no external screen, just eDP display
<details><summary>package versions</summary>

[code]

</details>
<details><summary>glxinfo -B</summary>

[code]

</details>

### Environment
xmonad (configuration here: https://github.com/liskin/dotfiles/tree/home/.xmonad), for easier reproduction I killed xmob

[2019-09-20 08:30] aufkrawall commented on #208
Good news: The very latest row of changes has fixed the window snapping stutter.
The stutter in Chromium when pressing the keyboard's arrow keys remains.

[2019-09-20 09:27] liskin commented on #237
Just fyi, I can reproduce this at commit 5d654e687788253aa9f9c5b9fb528a98bb085c2d with `./compton --config /dev/null --backend glx --glx-swap-method buffer-age` and even with `--glx-copy-from-front`. So either my X server isn't reporting the damage, or this problem has been there almost forever.

[2019-09-20 09:43] aufkrawall commented on #208
@yshui I probably observed something interesting: When I make a window stay always on top via KWin (the window manager, not the compositor part), there is no more stutter in Chromium when I press the arrow keys. I can choose whatever window for this, also Chromium itself.

[2019-09-20 18:02] BurhanDanger commented on #177
I'm currently facing this issue. I noticed this with 2:1201_Next.73.gb38a5ae_2019.09.20-1. After downgrading to 2:1187_Next.59.gde5d5ca_2019.09.16-1 things play nicely.

[2019-09-21 04:13] yshui commented on #177
@BurhanDanger I pushed a potential fix to `next`, can you give it a try?

[2019-09-21 06:22] BurhanDanger commented on #177
That's quick. Looks fixed! Thanks.

[2019-09-21 08:00] baboomerang commented on #234
EDIT: Looks like I fixed my own issue. Turns out I also had extra vsync settings in my compton conf for intel graphics.

[code]
Having any combination of these items + your compton + transparency = terrible performance, high gpu load, terrible firefox performance, heavy visual tearing and artifacting.

Note for yshui: Make sure future users post their xorg.conf.d files when submitting new issues.

[2019-09-21 08:00] #234 closed

[2019-09-21 16:19] #177 closed

[2019-09-21 19:37] yshui commented on #234
@baboomerang If you have time, could you isolate which one of those options caused this problem? That could be helpful. I suspect it's probably `Option "DRI" "2"`.

[2019-09-22 11:54] aufkrawall commented on #189
@yshui The issue has reappeared with this commit:
https://github.com/yshui/compton/commit/eecee130b8d7f5b5e9bb735a1e7979c35177729f

[2019-09-22 23:57] baboomerang commented on #234
@yshui Okay, here are the results:
`Option "DRI" "2"` increases gfx load by a lot and iGPU core clock idles 950-1100mhz (max 1300)

1. When switching between workspaces, only half of the screen updates/draws. The other half of the screen still shows the previous workspace's content. (UNTIL the focused window/content redraws itself)
2. Idle temps jump from 57C to 75C

`Option  "AccelMethod" "uxa"`

[2019-09-23 08:12] yshui commented on #234
That's informative, thanks.

[2019-09-23 12:49] aufkrawall opened #239 "experimental xrender - unredir crash, the 2nd"
Hello yhsui,
as mentioned there, this issue is back since commit eecee130b8d7f5b5e9bb735a1e7979c35177729f
https://github.com/yshui/compton/issues/189

Attached is a debug log, crash dump and compton binary.
[compton.zip](https://github.com/yshui/compton/files/3642172/compton.zip)

[2019-09-23 14:39] yshui commented on #239
thanks.

this is related to getting a ShapeNotify in the same cycle the window is unmap, i haven't found the cause yet. if you can reproduce this with a debug build of compton, it would be helpful.

[2019-09-23 14:40] aufkrawall commented on #239
Yeah, I can reliably reproduce it simply by doing alt + tabbing out of vkquake.

[2019-09-23 14:45] yshui commented on #239
@aufkrawall can you attach the dump and binary from a debug build?

but i think i know where the problem is now, will fix once i get back to my computer.

[2019-09-23 14:50] aufkrawall commented on #239
Ah, yeah. I didn't enable debug build in meson.

[2019-09-23 19:45] yshui commented on #239
Can you create a debug build?

[2019-09-23 20:07] aufkrawall commented on #239
Of course, stay tuned.

[2019-09-23 20:14] aufkrawall commented on #239
Same content as above, but with debug build:
[compton2.zip](https://github.com/yshui/compton/files/3643959/compton2.zip)

[2019-09-23 20:56] yshui commented on #239
@aufkrawall should've been fixed, can you try the latest `next`?

[2019-09-23 21:02] aufkrawall commented on #239
@yshui Haven't tested with the same AMD GPU system, but on my Intel notebook it still crashes.

[2019-09-23 21:34] yshui commented on #239
that's odd, i cannot reproduce it anymore. could be a different crash?

can you attach the newer log/dump? thanks.

[2019-09-24 03:28] kgilmer commented on #228
I am not an official packager, however I have your variant of Compton here:

https://github.com/regolith-linux/speed-ricer
https://launchpad.net/~kgilmer/+archive/ubuntu/speed-ricer/

It is also shipped by default in Regolith Linux R1.2: https://regolith-linux.org

[2019-09-24 06:58] aufkrawall commented on #239
Here we go again:
[compton3.zip](https://github.com/yshui/compton/files/3645693/compton3.zip)

[2019-09-24 16:35] noobbuild opened #240 "Errors while building"
### Platform
Xubuntu 18.04 HWE Kernel 5.0.0.29 generic

### GPU, drivers, and screen setup
Intel integrated Graphics.

### Environment
Graphics:  Card: Intel Atom/Celeron/Pentium Processor x5-E8000/J3xxx/N3xxx Integrated
Display Server: x11 (X.Org 1.20.4 ) driver: modesetting Resolution: 1920x1080@60.00hz
OpenGL: renderer: Mesa DRI Intel HD Graphics 400 (Braswell)
version: 4.5 Mesa 19.0.8 Direct R

[2019-09-24 19:12] jenav commented on #240
I was gonna report this same issue I'm having on openSUSE Leap 15.1 and 15.0. It doesn't happen on Tumbleweed.

`../src/win.c:1156:15: error: initializer element is not constant`

It was introduced in commit eecee130b8d7.

According to my google search WIN_FLAGS_IMAGES_NONE is being used to initialize a static object and not every compiler implementation (or even implementation versions) supports

[2019-09-24 20:38] yshui commented on #239
i found the cause. it's because the window is unmapped the same cycle the screen is redirected, so it didn't get a chance to acquire the pixmap

solving this one will be a bit trickier

[2019-09-25 11:28] yshui commented on #240
@jenav that's what i would do too, can you open a PR for that?

[2019-09-25 13:33] #240 closed

[2019-09-26 06:53] noobbuild commented on #240
I still cannot compile the build. Am I doing something wrong (like unmet dependencies) or something else like I'm too stupid to build this?

[build-fail2.txt](https://github.com/yshui/compton/files/3656326/build-fail2.txt)

[2019-09-26 09:43] yshui commented on #240
@noobbuild did you remember to `git pull`?

[2019-09-26 11:35] noobbuild commented on #240
yes. I deleted the entire compton dir and downloaded it again to be sure.
maybe something is wrong in my system.

[2019-09-26 13:36] yshui commented on #240
@noobbuild that's odd, do you have this line:
https://github.com/yshui/compton/blob/0c7a19fda67c05ad09cf4930b0615938a780f1da/src/win_defs.h#L94

in your codebase?

what is your distro, and what is the version of your compiler?

[2019-09-26 14:25] noobbuild commented on #240
I deleted that old compton folder along with the logs.
I used git to download a new copy of the code here.

Yes, on line 94, i see this line in compton/src/win_defs.h:
`#define WIN_FLAGS_IMAGES_NONE (WIN_FLAGS_PIXMAP_NONE | WIN_FLAGS_SHADOW_NONE)`

Distro is Xubuntu 18.04.
codebase means? I only installed build-essential from software repository along with meson and ninja.

compiler versions:
gcc

[2019-09-26 14:32] noobbuild commented on #240
I tried installing with sudo and it worked. No errors now. Thanks yshui and jenav for the help.

[2019-09-26 16:31] yshui commented on #240
@noobbuild no problem

[2019-09-27 09:42] Giova84 commented on #132
`How old is your system?`
HP Probook 6470b from 2012

`What hardware (CPU, GPU, etc) does your system have?`
CPU: Intel Core i5-3210M - GPU: Intel HD Graphics 4000 - RAM 16 GB DDR3

`Are you using up-to-date software on your system? Is your graphic driver the latest?`
Manjaro Linux, rolling release, stable branch. Graphic driver xf86-video-intel  1:2.99.917+870+g6f4972d5-1  (i915, IvyBridge)

`Doe

[2019-09-27 17:28] Isopod opened #242 "Enable use-damage by default"
I don't know when exactly this started, but Compton became really laggy and stuttery for me over the last year or so. It had been bothering me for a while, but I didn't know what caused it. Yesterday I finally found the option that fixed it: Setting use-damage to true. Now I get the full 60 fps again, while before it must have been something like 30 and was very inconsistent. I think this option s

[2019-09-27 19:13] aufkrawall commented on #242
I agree. Even if there still were a few corner cases, having it enabled by default would surely be helpful to generate feedback for them.

[2019-09-28 01:21] tbodt opened #243 "Non-rectangular shadows"
Some windows aren't rectangular. For example, the Mathematica splash screen is a window in the shape of the logo. Compton renders a rectangular shadow being this window, which looks pretty weird. The shadow should ideally be the same shape as the window.

[2019-09-28 12:48] aufkrawall commented on #208
One further observation:
Without vsync, the Chromium scrolling bug doesn't appear either. However, the window snapping stutter with blur still does.

Funny: When moving windows with new GLX backend without vsync, GPU only power draw of my RX 570 explodes to more than 100W.

[2019-09-28 23:40] #239 closed

[2019-09-28 23:41] yshui commented on #239
@aufkrawall hopefully it's fixed now.

[2019-09-28 23:42] yshui commented on #242
OK, I don't have a strong objection for this.

[2019-09-28 23:52] #242 closed

[2019-09-28 23:56] yshui commented on #208
Kind of make sense. Since the window moving event is probably sent _very_ frequently, and the compositor is drawing as fast as possible.

[2019-09-29 04:42] tmpm697 opened #245 "[Discuss] Improved ver of 5.1?"
I have two machines, one comes with intel integrated card and one comes with nvidia 2060 gtx card.

Use experimental glx backend on nvida card works fine with latest version compton from github.

Use latest version compton with intel card, it works fine, give solid frames but also give `huge` lag, that the reason I still using ver 5.1 for intel card. But it wouldn't catch up with upstream.

I want

[2019-09-29 06:56] liskin commented on #242
I was just wondering, are none of you folks experiencing visual glitches with `use-damage`? Like https://github.com/yshui/compton/issues/237?

[2019-09-29 07:18] aufkrawall commented on #242
I haven't noticed such an issue inside my Plasma sessions yet. I can reproduce a "looks like tearing" issue in context menus when playing a video, but even Windows DWM show this.

[2019-09-29 07:20] aufkrawall commented on #239
@yshui Yep, issue's gone here.
Thanks once again. Having proper auto unredirect is really a great feature of Compton.

[2019-09-29 11:54] Isopod commented on #242
I have not experienced any glitches. But I am using a very basic config, no blurring or shadows or anything like that.

[2019-09-29 21:30] frebib opened #246 "initialize_backend: Assertion `w->state == WSTATE_MAPPED || w->state == WSTATE_UNMAPPED' failed."
### Platform
`Linux frebib-PC.nerdhouse.io 5.3.1-arch1-1-ARCH #1 SMP PREEMPT Sat Sep 21 11:33:49 UTC 2019 x86_64 GNU/Linux`

### GPU, drivers, and screen setup
Nvidia 1070, nvidia-dkms 435.21, 4 monitors in a 2x2 configuration

[code]

### Environment
i3-gaps, rounded corners fork: https://github.com/resloved/i3

### Compton version
compton-git AUR built at current HEAD: 93f0d80572e47a1297dbf1af18

[2019-09-29 21:50] yshui commented on #245
by lag do you mean input lag? does it go away if you disable vsync?

[2019-09-29 21:52] yshui commented on #246
Can you attach the core dump along with the matching `compton` binary?

[2019-09-30 15:12] aufkrawall commented on #237
@liskin Could you test with experimental xrender backend + vsync?
Afair the buffer-age code is shared among backends since yshui refactored it, but who knows.

[2019-09-30 15:16] liskin commented on #237
@yshui Yeah, it is weird, but I'm a magnet for weird bugs so I still believe the issue is somewhere out there, other people are just way luckier than me. I'll try to obtain the apitrace later today/this week.

@aufkrawall Oh, I did test the new backends as well, apparently I forgot to mention it here. And as I mentioned, I can reproduce without vsync, therefore without the buffer-age code being us

[2019-09-30 15:50] aufkrawall commented on #237
buffer-age also works without vsync: Without both, Compton renders as fast as possible and thus fully utilizes the GPU.
This is not the case with just buffer-age, even without vsync.

Apparently new `--no-use-damage` command must be used at run time, not in the config. At least I got tricked by it. ;)

[2019-09-30 15:54] liskin commented on #237
But without `--vsync`, there's no need for multiple buffers at all, is there?

[2019-09-30 17:03] yshui commented on #237
OpenGL still get its front/back buffers even if you disable vsync

[2019-09-30 18:38] yshui commented on #222
## picom

I am currently in favor of `picom` (pico + composite) as the new name.

You can thumb up/down this comment to let me know if you like it. I will make a decision in 2 weeks.

[2019-09-30 20:13] anowlcalledjosh commented on #222
"picom" sounds similar to "picons" and "picocom", both of which are (meta)packages in Debian, although there's no exact name collision as far as I know. The other potential for confusion is that it might sound like a package intended for use with a Raspberry Pi.

That's not to say it isn't a good name, though!

[2019-09-30 22:18] xyproto commented on #222
Picom is easy to write, easy to read, easy to say and easy to search for. It even ends with "com" which can be interpreted to be short for "composer". If it's too close to "picons" or "picocom", perhaps adding a "p" would differentiate it. But as long as there is no package name conflict, it shouldn't matter too much.

"picocom" is the only Arch Linux package that has a similar name.

I think "pic

[2019-10-01 04:12] tmpm697 commented on #245
Yes disable vsync improved, frames feeling more sane. But I got screenshot's flick at starting of xorg, do you have this issue?

I start X with xinit and use nitrogen --restore before start compton and `exec`.

I don't have `flick` issue with nvidia card.

[2019-10-01 09:38] yshui commented on #245
@tmpm697

hmm, can you capture trace of compton using apitrace? you can find how to use it here: https://github.com/apitrace/apitrace/blob/master/docs/USAGE.markdown

this can be different things. what does the flick look like? also, are you using DRI2 or DRI3? (if you don't know, you can run `LIBGL_DEBUG=verbose glxinfo` and post its output here)

[2019-10-01 19:30] frebib commented on #246
https://frebib.net/compton/
Binary and multiple dumps available there ^
There are multiple dumps, probably all the same. It's probably best to use the most recent one

Interestingly I noticed that when booting my computer up Compton was actually running and didn't crash straight away. Whatever is causing the crash is an application window that I launch after startup

[2019-10-01 19:39] yshui commented on #246
@frebib I got 403 forbidden when I tried to download the coredumps. I was able to download the binary.

Also your compton binary is stripped, which means I won't be able to get a usable stack trace. Can you use a binary that's not stripped? Preferably, you should use a debug build of compton.

[2019-10-01 19:46] frebib commented on #246
Permissions were restrictive, sorry about that.
That binary is from the AUR package and I think that strips by default.

I've built debug and updated the binary/coredump. Try now :)

[2019-10-01 20:20] TiZ-EX1 commented on #231
I haven't been able to reproduce this issue on either backend. Sorry about that.

[2019-10-01 20:20] #231 closed

[2019-10-01 21:12] yshui commented on #231
@TiZ-EX1 feel free to reopen if you start seeing it again.

[2019-10-02 03:00] bsdice commented on #237
Add me to the list of affected users. Running Arch+i3+compton on an Intel Pentium Silver N5000 with Intel UHD 605 GPU. The panel is running at 60 fps. I am on kernel 5.3.1 that has "automatic framebuffer compression" (fbc) already disabled by default, to eliminate the top of the screen artifacts.

The effects are as described, I open a console that has only slim blue default i3 borders and then I

[2019-10-05 09:00] frebib commented on #246
I reverted 3766aa2c793c1b529460410b942a293cd59da69f and the issue seems to have gone away, so it looks like a regression from that commit, which is probably obvious, but I can confirm that without that change there are no more crashes :)

[2019-10-08 03:57] 0pLuS0 opened #248 "Compton Fails To Complie"
### Platform
Slackware 14.2 x86_64

### Environment
Openbox 3.6.1

### Compton version
7.4

### Steps of reproduction
This is the build script I use in Slackware;

PRGNAM=compton
VERSION=${VERSION:-7.4}
BUILD=${BUILD:-1}
TAG=${TAG:-_foo}

if [ -z "$ARCH" ]; then
  case "$( uname -m )" in
    i?86) ARCH=i486 ;;
    arm*) ARCH=arm ;;
       *) ARCH=$( uname -m ) ;;
  esac
fi

CWD=$(pwd)
TMP=${TMP:-/

[2019-10-08 10:41] WorMzy commented on #248
Your build is failing because your render.h lacks the xcb_render_create_picture_value_list_t definition.

I can't figure out when xcb_render_create_picture_value_list_t was added to render.h -- the only mention I can find of it in the xcb patchwork [1] is from 2014, which predates libxcb 1.11.1 (released in 2015), but I dunno when it was merged. I can find references to it in logs from 1.12.0 buil

[2019-10-09 11:45] carlossancal opened #249 "Cannot compile compton"
### Platform
Ubuntu 18.04.03

### Description
I am trying to compile `compton`, I installed before all the dependencies listed for Ubuntu but still cannot get it. I think is because `meson` cannot find the `libev` library, I'll print the output of the command:

[code]

[2019-10-09 18:18] jenav commented on #249
As you mentioned, you seem to be missing the development libreries for libev. Can you try installing the 'libev-dev' package?

[2019-10-09 21:22] carlossancal commented on #249
It's already installed, that's the point :grimacing:

[2019-10-10 16:40] jenav commented on #249
Yes you are right. I just tried compiling it on a spare Ubuntu 18.04.3 (up-to-date) installation and was getting almost the same error.
In my case it was `Run-time dependency libev found: NO`, which isn't necessary at compile time so i just tried `ninja -C build` and it compiled and worked flawlessly.

Btw, my current meson version is 0.51.2

[2019-10-10 17:51] carlossancal commented on #249
Okey, nice! In the end it seems that was not needed at all :rofl:
Thank you for your time!

[2019-10-10 17:51] #249 closed

[2019-10-10 18:27] jenav commented on #249
No problem! Cheers

[2019-10-11 03:30] 0pLuS0 commented on #248
@WorMzy HI

render.h in libxcb?

Slackware 14.2 uses libxcb-1.11.1

hmm

[2019-10-11 04:00] freeqaz commented on #134
Looks like this bug is related. https://github.com/kovidgoyal/kitty/issues/1681

[2019-10-11 16:06] WorMzy commented on #248
Yup. I've looked at another 1.11.1 package (in this case from [Ubuntu](https://packages.ubuntu.com/xenial/libxcb-render0-dev)), and it doesn't have xcb_render_create_picture_value_list_t either, so I guess it wasn't included until 1.12.0. Unfortunately I guess this means you can't currently build yshui compton/picom on Slackware (at least, not without rolling your own xcb).

[2019-10-11 17:01] #246 closed

[2019-10-11 17:02] yshui commented on #246
@frebib i just pushed a fix to `next`. can you give it a try?

[2019-10-11 17:04] yshui commented on #248
Yes, your libxcb is too old.

I will put in a check in meson.build to catch that.

[2019-10-11 17:06] frebib commented on #246
Ah I suppose that would make a lot of sense. I have quite generous fade timings so it's probably quite reproducible with my config. I'll give this a crack, thank you

[2019-10-11 17:12] #248 closed

[2019-10-11 20:27] yshui commented on #246
@frebib shout if it doesn't work.

[2019-10-11 21:39] frebib commented on #246
Seems to be working fine so far, thanks!

[2019-10-12 04:48] 0pLuS0 commented on #248
Slack doesn't always used the latest, but anyhow, the original compton isn't giving me problems, BUT I thought I'd try out this fork, so much for that...

THANKS

[2019-10-13 00:39] trvv commented on #222
I know it's kinda edgy but IMO `lucid` sounds real good

[2019-10-13 15:40] yshui commented on #222
@trvv there is already a Lucid Widget Library, which is kept alive, and used by emacs, so a lot of people probably would think about that when you say "lucid".

Also, the word lucid is not very searchable (currently 97M results on Google)

[2019-10-14 09:00] scrouthtv opened #251 "Multiple shadows in fullscreen"
### drivers
Using
```Linux archlinux 5.3.5-arch1-1-ARCH #1 SMP PREEMPT x86_64 GNU/Linux```
with an Intel i5 M 520 (4) @ 2.4 GHz and integrated graphics
and drivers:
[code]
(which I'm pretty sure I should uninstall some)
[code]

### environment
 - ldm 1.30.0 / i3-gaps 4.17.1
 - compton ```vgit-04520``` (built it myself for the experimental backends):
[code]

### config
[code]

### bug
I've used com

[2019-10-14 09:42] yshui commented on #251
This should have already be fixed 2.5 months ago...

Can you try the glx backend?

[2019-10-14 13:09] scrouthtv commented on #251
I just noticed that I was calling compton using the ```--experimental-backends``` flag.

Tried compton v7.4 (the latest version in the arch linux repositories), I encountered the same bug, but **also in non fullscreen** mode.

Tried compton vgit-f227e (the latest dev version in the aur), I encountered the same bug, but **only** in fullscreen mode.

Disabling the experimental backends option & enab

[2019-10-14 13:26] yshui commented on #233
@sambazley sorry, i hadn't had much time to investigate this.

can you record a apitrace of this happening?

[2019-10-14 15:10] sambazley commented on #233
[compton.trace.xz.gz](https://github.com/yshui/compton/files/3725058/compton.trace.xz.gz)
Sorry for the .xz.gz. Github doesn't allow .xz files, and .gz alone was too big to upload.

[2019-10-14 16:55] yshui commented on #251
Can you test this config:

[code]

with `--experimental-backends`?

[2019-10-14 17:22] scrouthtv commented on #251
Using vgit-04520:
First config: visual glitch only in fullscreen

Using vgit-f227e:
First config: visual glitch only in fullscreen

Using glx crashes on both versions:
[code]

Which one of these even is the newer version / should I update my own build manually at some point?

Btw the experimental backends flag isn't documented in the man page

[2019-10-14 20:37] yshui commented on #251
Ah, my bad, didn't notice you don't have GL3.

I think this might be xrender specific, I will investigate when I got time.

[2019-10-14 20:52] yshui commented on #251
@scrouthtv There is still something you could do to help.If you can record your screen with `compton --experimental-backends --monitor-repaint` running, and this bug happening, that will help me narrow down the problem.

[2019-10-14 21:24] scrouthtv commented on #251
For some reason the bug isn't as visible using monitor-repaint. I once ran
```compton --experimental-backends --no-fading-openclose```
![woRepaint](https://user-images.githubusercontent.com/23227405/66783987-81880600-eed9-11e9-94b9-c185cf533847.gif)
and then - in the same fullscreen terminal emulator
```compton --experimental-backends --no-fading-openclose --monitor-repaint```
![wRepaint](https://

[2019-10-14 21:46] yshui commented on #251
OK, thanks.

[2019-10-15 13:23] yshui commented on #233
I can definitely see compton is doing something out of the ordinary here. Besides the not clearing issue, the text of the bar doesn't render quite right either, it gets thicker and thicker over time.

Can you record an apitrace of compton running with `--log-level=trace`? You might want to redirect the output since `trace` log level generates tons of output.

[2019-10-15 15:03] sambazley commented on #233
I think the text getting thicker is due to the antialiasing rendering over the previous render calls. I'll run apitrace when I get home.

[2019-10-15 16:16] yshui commented on #233
@sambazley you are right. but it's caused by compton, not because the bar itself has a bug.

[2019-10-15 16:57] mistiru opened #252 ""Failed to load a swap control extension" error when using "vsync = true" option in VirtualBox"
### Platform

Arch Linux 5.3.6-arch1-1-ARCH

### GPU, drivers, and screen setup

Inside Virtual Box 6.0.12r133076 running on Windows
One monitor
No xf86-video-* driver installed
Mesa 19.2.1

### Environment

Using awesomeWM

### Compton version

Compton 7.4
[code]

### Compton configuration:
[code]

### Steps of reproduction

1. Open terminal
2. Run `compton`

### Expected behavior

Compton is run

[2019-10-15 17:15] sambazley commented on #233
Yes, but surely that's the same bug? The alpha is adding with each render.

[2019-10-15 18:47] sambazley commented on #233
[compton.tar.xz.gz](https://github.com/yshui/compton/files/3730949/compton.tar.xz.gz)

[2019-10-15 18:52] sambazley commented on #233
To clarify my previous message, the text in the desktop selector does not become thicker because the bar is rendering behind it. ![image](https://user-images.githubusercontent.com/9405821/66860294-d6348b00-ef84-11e9-920b-9e3e0f575efe.png)

The text grows elsewhere on the bar because I've disabled the background rendering to emphasise the bug.

[2019-10-15 19:10] sambazley commented on #233
I start blockbar and compton with
[code]
However, it seems like blockbar usually starts before compton. If I add a `sleep 0.5` between the first two lines, the bug is triggered consistently. If I start blockbar first, `sleep 0.5`, then start compton, the bug is consistently not triggered.

[2019-10-15 19:25] yshui commented on #252
Can you paste full output of `glxinfo` here?

[2019-10-15 19:26] yshui commented on #252
Never mind, you are using VirtualBox, that's probably why.

You can try remove the `vsync = true` bit from your config file.

[2019-10-15 19:30] yshui commented on #233
@sambazley what do you mean by "disabled the background rendering" ?

[2019-10-15 19:34] sambazley commented on #233
Just setting the alpha to 0.

[2019-10-15 19:34] mistiru commented on #252
The error does not appear without the `vsync = true` line.

[2019-10-20 15:12] scrouthtv opened #253 "Experimental backends: Performance very bad in VirtualBox"
Using the ```--experimental-backends``` flag on the newest version in a VM, I get very bad performance:

![comptonlaggy](https://user-images.githubusercontent.com/23227405/67161960-c986ad00-f35f-11e9-8661-f6e73022ae72.gif)
(In this example I first try to move a window around with ```compton --experimental-backends```, in my tests after some time it would move around but not fast at all. Then I dis

[2019-10-20 16:26] yshui commented on #253
@scrouthtv try disabling the blur.

[2019-10-20 17:58] scrouthtv commented on #253
@yshui way better. the performance with kernel blur on glx backend is just as bad...

[2019-10-20 18:15] mighty9245 commented on #212
can reproduce with your config on archlinux running compton v7.4 in bspwm, can't reproduce with the default one.
`OpenGL renderer string: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2)`

[2019-10-20 20:13] yshui commented on #253
@scrouthtv which is not that surprising as VirtualBox probably doesn't have good 3D acceleration

[2019-10-20 20:20] #253 closed

[2019-10-23 19:28] yshui commented on #252
@mistiru So, as VirtualBox's OpenGL implementation doesn't have vsync support, the only option you have is to disable vsync.

compton cannot really pull vsync support out of thin air.

[2019-10-23 19:28] #252 closed

[2019-10-23 19:33] yshui commented on #222
Most of the rename has been done. I will rename the repository as well soon.

[2019-10-23 19:42] mistiru commented on #252
Sorry, I have only low knowledge and comprehension about these low-level aspects, I didn't know that.
As it is default configuration on Archlinux, I thought it should work, even in a VirtualBox.

Thank you for your time.
Best regards.

[2019-10-24 18:31] yshui commented on #233
@sambazley I pushed a fix attempt to `next`, can you test it?

[2019-10-24 19:07] sambazley commented on #233
[picom.tar.xz.gz](https://github.com/yshui/picom/files/3769085/picom.tar.xz.gz)
The bug is still happening.

[2019-10-24 19:49] yshui commented on #233
@sambazley I added extra debug prints. Can you run the `debug-233` branch, and attach the log and trace here?

Thanks.

[2019-10-24 20:25] sambazley commented on #233
[picom.tar.xz.gz](https://github.com/yshui/picom/files/3769338/picom.tar.xz.gz)

[2019-10-24 20:27] sambazley commented on #233
[picom.tar.xz.gz](https://github.com/yshui/picom/files/3769344/picom.tar.xz.gz)

[2019-10-25 20:26] julien-h commented on #108
same here

[2019-10-26 23:54] jbeich commented on #222
When `XDG_CONFIG_DIRS` is not defined `picom` still falls back to `~/.compton.conf` rather than `~/.picom.conf`:
 https://github.com/yshui/picom/blob/8e0d421ba6ab252c7e0a36fa582f7b9259ffd218/src/config_libconfig.c#L71

[2019-10-27 00:20] jbeich commented on #228
Given #222 and #207 should downstream package `v7.4` (pre-rename) as `compton` update or (wait for `v8`) as new `picom` package? From FreeBSD POV if `compton` package is left as is there's no need to worry how breaking changes may affect consumers (e.g., compton-conf, lumina-session).

[2019-10-28 16:16] yshui commented on #228
@jbeich I don't think there is a need to retroactively rename older packages. Newer packages should ideally be renamed right away (package managers with functionalities like pacman's replace, should use that to update user to the new name), but it's also OK as long as they complete the rename before v10

[2019-10-28 16:18] yshui commented on #108
I removed the deprecation message in 3e17f11d6, glx-fshader-win is no longer on the deprecation track.

I will close this issue when v8 is released.

[2019-10-29 01:38] jbeich commented on #228
The question is whether to inherit users from chjj's compton or not. Before this fork was renamed some distributions have already switched existing package to the new upstream. However, those that didn't can maintain both picom **and** compton. Once breaking changes land and things stabilize again (a la mplayer->mplayer2->mpv) the old package can be removed if no one wants to maintains it.

Curren

[2019-10-29 09:19] bakhtiyarneyman opened #255 "compton crashes with i3lock/i3lock-color and multiple monitors"
### Platform

NixOS 19.09

### GPU, drivers, and screen setup
NVidia GTX 950, proprietary drivers v435.21, two monitor configured side-by-side with xrandr.

name of display: :0
display: :0  screen: 0
direct rendering: Yes
Memory info (GL_NVX_gpu_memory_info):
    Dedicated video memory: 2048 MB
    Total available memory: 2048 MB
    Currently available dedicated video memory: 358 MB
OpenGL vendor

[2019-10-29 18:22] yshui commented on #228
Yes, that's one of the points of this rename. However, those distros that have already made this switch probably won't be able to go back to chjj's compton. They probably have to wait a period of time after renaming to `picom`, before they can reintroduce the `compton` package.

[2019-10-30 21:40] yshui commented on #255
Does it happen _immediately every time_ you start i3lock?

Can you run compton with `--log-level=debug` and attach the logs?

[2019-10-31 07:11] niobium0 commented on #255
Thanks for paying attention to this!

Yes.

Here you go.
[code]

[2019-10-31 10:40] yshui commented on #255
@niobium0 can you attach the _complete_ log file?

[2019-11-01 02:09] vikigenius opened #256 "Strange text editing issues with compton"
### Platform
Void Linux Desktop x86_64 (5.3.8 kernel)

### GPU, drivers, and screen setup
[code]

### Environment
i3-gaps,  rxvt-unicode terminal

### picom version
v7

### Configuration:
[code]

### Expected behavior
Text editing using terminal URXVT should work fine

### Current Behavior
Portions of text simply disappears while scrolling, and if I enable cursor blinking in urxvt portions of text

[2019-11-01 02:31] vikigenius commented on #256
Further debugging shows other weird behavior when compton is running.

1. When i am editing text in vim, say I am in line 221, if I press the down arrow key, part of the text goes blank but the line indicator says i am in line 2, now if press the down arrow key again I am in line 223 and the text reappears, this keeps happening almost every other line.

2. I tried using another terminal : https://

[2019-11-01 04:07] vikigenius commented on #256
After a few more hours of searching I found https://github.com/chjj/compton/issues/152.
Using the --xrender-sync-fence switch as suggested has solved the issue.

[2019-11-01 08:06] niobium0 commented on #255
[compton.log.txt](https://github.com/yshui/picom/files/3797086/compton.log.txt)

Here you go.

[2019-11-01 15:28] yshui commented on #256
@vikigenius Mmm, this should be automatic for NVIDIA drivers.

Can you post the output of `compton --diagnostics`?

[2019-11-01 19:56] yshui commented on #255
Hmm, I cannot really understand what is going on here.

I have a guess, so I added some debug prints to catch it. Can you build from the `debug-xid-failure` branch and attach the log here?

Thanks.

[2019-11-02 01:49] vikigenius commented on #256
Sure thing @yshui

[code]

[2019-11-03 02:23] yshui commented on #256
@vikigenius The driver is properly detected, so `--xrender-sync-fence` is automatically enabled.

Are you sure passing that flag does solve the problem?

[2019-11-03 03:25] vikigenius commented on #256
I am sure, it is now completely resolved after passing the flag, no more weirdness, it was not very subtle so it is easy to notice.

[2019-11-03 19:02] adberard opened #257 "color shadows"
I did a compton modification to add custom colored shadow for the focused window a while ago. I didnt submited a pr back then because it was experimental and that compton seemed unmaintained.
Now i found this fork and I would love to do the switch but I really prefer having borderless and colored shadow to show me which one is selected.

![compton](https://user-images.githubusercontent.com/2350891

[2019-11-03 20:20] skwerlman opened #258 "segfault with xr_glx_hybrid backend"
### Platform

Arch Linux 64bit
Linux 5.3.8-zen1

### GPU, drivers, and screen setup

RTX 2080ti
nvidia-dkms 435.21-15
dual 1080p monitors, one 60hz, one 144hz

mesa 19.2.2-1
xf86-video-vesa 2.4.0-2

glxinfo:
[code]

### Environment

i3-gaps 4.17.1-1

### picom version

**Version:** vgit-8e0d4

### Extensions:

* Shape: Yes
* XRandR: Yes
* Present: Present

### Misc:

* Use Overlay: Yes
* Config fi

[2019-11-04 09:33] mighty9245 commented on #212
investigated on this a little and looks like the `frame-opacity` option causes the issue, because commenting it out from the provided config makes the issue to disappear

[2019-11-05 08:57] niobium0 commented on #255
Sorry for the delay, here you go.

[compton.log.txt](https://github.com/yshui/picom/files/3808039/compton.log.txt)

[2019-11-05 09:12] niobium0 commented on #255
Sorry for the delay, here you go.

[compton.log.txt](https://github.com/yshui/picom/files/3808108/compton.log.txt)

[2019-11-08 12:34] yshui commented on #257
@adberard I can do this, but it will take me sometime to get around to do this.

OTOH if you could open a PR for this feature I would be really happy to review it. I think this is a useful feature too.

(This feature was in this repo at one point, but was lost due to some major refactoring work. And I didn't get time to port it again.)

[2019-11-08 17:23] adberard commented on #222
yacompton

[2019-11-09 18:57] Suavesito-Olimpiada opened #260 "Ussing multipass blur, reported"
I'm a manjaro architect user, my version of compton (now picom) is 7.4 and when tried using multipass it ask me to report an 'issue', so I'm here reporting that I use it.

The reason why I use multipass blur is because I can approximate a big gaussian kernel just using multipass of box filters, and because it allows me to experiment with custom blurs.

As a side note... I don't know how the kernel

[2019-11-09 20:00] yshui commented on #260
@Suavesito-Olimpiada You can get big gaussian kernels from v7.4 without manually specifying multiple kernels now:

[code]

[2019-11-10 01:31] niobium0 commented on #255
Is everything alright with the dump? Is there any other way I can help?

[2019-11-10 05:08] #258 closed

[2019-11-10 05:08] yshui commented on #258
@skwerlman should've been fixed in latest `next`

[2019-11-10 09:48] aufkrawall commented on #208
@yshui `--xrender-sync-fence` fixes the stutter issue in Chromium. So perhaps it should also be enabled with non-Nvidia drivers by default?

[2019-11-10 16:16] skwerlman commented on #258
using vgit-30e9e, it crashes with
[code]

[2019-11-10 18:13] yshui commented on #258
@skwerlman Oops, this is embarrassing. Should be _really_ fixed now!

[2019-11-10 19:59] skwerlman commented on #258
it doesnt crash!
i do however get an error:
[code]

[2019-11-10 21:55] yshui commented on #258
@skwerlman Yes, that error message is harmless. Though I should probably tune it down so it doesn't confuse people.

[2019-11-11 12:05] yshui commented on #208
@aufkrawall That's odd. I don't really understand what is really going on with this.

[2019-11-11 12:07] yshui commented on #255
@niobium0 It's alright. I just hadn't got the time to look at it, sorry about that.

Looks like we encountered a connection error with X, and this connection error is somehow triggered by i3lock. I will look into this.

[2019-11-11 15:13] javashin opened #262 "Picom Dont Compile/Link Anymore On FreeBSD."
https://gist.github.com/javashin/c01ca00938934f9875f01aca4aeef520    Build LOG

file_watch making troubles here
ld: error: undefined symbol: inotify_init1

ld: error: undefined symbol: inotify_add_watch

c++: error: linker command failed with exit code 1 (use -v to see invocation)
ninja: build stopped: subcommand failed.

i got last version of libn , whats going on ?

last time i compiled picom wa

[2019-11-11 15:18] javashin commented on #262
before this commit https://github.com/yshui/picom/commit/0e5be97f9456fcc6ed06699693b58dc4e61b9792

everything is OK.

tested on FREEBSD 13-CURRENT

[2019-11-11 15:20] javashin commented on #262
Thanks in Advance,

looks like file_watch is only going to work with linux .
may an option to disable this file_watch ?
i dont use any config file anyways . maybe other people are with me too

[2019-11-11 16:47] yshui commented on #262
@javashin I am aware of this issue. I will fix it as soon as I get off work.

[2019-11-11 16:49] yshui opened #263 "*BSD CI"
picom should be build-tested on at least some of the BSD variants. I wonder if there is a way to run the build test in a ?BSD environment, without me needing to setup and maintain a ?BSD machine? (e.g. something equivalent to docker)

[2019-11-11 16:59] yshui commented on #263
https://sr.ht seems to be a good candidate

[2019-11-11 20:47] #262 closed

[2019-11-11 20:47] yshui commented on #262
@javashin Can you check if it builds now?

[2019-11-11 21:00] mighty9245 commented on #263
unfortunately, looks like bsd ci is overall a problem in the open-source community. there is also a hack on how to setup freebsd environment in travis ci (basically via qemu) - https://www.freebsdnews.com/2016/10/07/running-freebsd-travis-ci/

also, @yshui, could you please read your e-mail? idk where to ping you about that :x

[2019-11-12 13:38] jemand2001 opened #264 "100% opacity not working"
### Platform

Linux 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2 (2019-08-28) x86_64

### GPU, drivers, and screen setup

NVidia GTX 745, driver 418.74-1, one screen
glxinfo:
[code]

### Environment

awesomewm

### picom version

vgit-42cd5 (just built)

### Configuration (relevant parts):
[code]
### Steps of reproduction

1. open a firefox window
2. open another window on the same workspace

### Expect

[2019-11-12 13:51] jemand2001 commented on #264
i actually only switched from compton to picom because of this.
After some experiments, it actually feels like picom is using a cached version of my config file? except i don't see how it would do that, since i'm running it with --config <myfile> every time

[2019-11-12 13:57] yshui commented on #264
@jemand2001 you can figure out which config is used by running `picom --diagnostics`

[2019-11-12 14:00] yshui commented on #264
@jemand2001 Looks like it's indeed a problem, I will investigate.

[2019-11-12 14:05] jemand2001 commented on #264
`picom --diagnostics` says it's using the right config file, but i can see that it's not (changes i make to other clients' opacity don't show up either)

[2019-11-12 17:05] mighty9245 commented on #264
@jemand2001, try to make a change that'll be definitely working and noticabe, e. g. enable shadows and configure them to be barely transparent. if the change doesn't appear then you probably have encountered a bug in the new configuration file watching mechanism (but i'm not sure that it is working and enabled by default, haven't tested it yet).

@yshui, if you'll work with opacity-related code, c

[2019-11-12 17:16] mighty9245 commented on #264
@jemand2001, try setting the `inactive-opacity-override` to false.

[2019-11-12 18:48] jemand2001 commented on #264
alright, i followed your advice (set shadows to 10 px and almost fully opaque) and it did show up -> file watcher seems to be working fine, and it does use my config file.
setting `inactive-opacity-override` to false did nothing. actually, it seems that pretty much only the transparency/opacity settings are frozen: i have a rule for a transparent discord client and changing that doesn't affect the

[2019-11-12 18:50] jemand2001 commented on #264
the discord rule worked perfectly under compton.

[2019-11-12 19:02] mighty9245 commented on #264
hm, setting `inactive-opacity-override` to false in the configuration file you provided (it's set to true there) worked for me and i got the behaviour you probably wanted to get: all unfocused window except firefox are transparent. in both cases the upper right window is focused.
![0](https://user-images.githubusercontent.com/52252283/68701575-23157c80-0598-11ea-8f73-9ebeeb7a82a2.png)
![1](https:/

[2019-11-12 19:07] mighty9245 commented on #264
i also tested setting `inactive-opacity-overrider` with experimental backends and with picom built from the latest commit, still works. is behaviour you wanted to get shown on my second screenshot in the previous message?

[2019-11-12 19:44] jemand2001 commented on #264
yes, that is the result i wanted. however, as you can see from the first screenshot, i do not get the same results.
Could i have an error somewhere else in my config file that is causing this? (remember, i only posted the parts of the file that i thought were relevant at the time.) However, testing just the minimal version i posted still does not give me the same result (second screenshot).
![scre

[2019-11-12 19:48] mighty9245 commented on #264
**--config**, not **-conf** (second screenshot)

[2019-11-12 19:50] jemand2001 commented on #264
good catch, still nothing
![image](https://user-images.githubusercontent.com/24275520/68705270-0bd19180-058e-11ea-87b7-b7a620bba5b5.png)

[2019-11-12 19:55] mighty9245 commented on #264
even with the minimal configuration file... weird. might be a driver problem?

could you try `xprop | grep WM_CLASS` on firefox window? just to be sure

[2019-11-12 19:59] jemand2001 commented on #264
thanks for the tip! apparently firefox' windows are of class "Firefox", not "firefox".
this doesn't explain why my discord is still transparent though, but at least now one of my problems is fixed.

[2019-11-12 20:04] mighty9245 commented on #264
oh, so the issue is fixed?

you may also try other selectors, such as `class_i` which is the first field of the `WM_CLASS` (`class_g` is the second)

[2019-11-12 20:16] jemand2001 commented on #264
well, the thing i opened this ticket for is fixed.
if i may ask, is there a list of selectors and what they look for?

[2019-11-12 20:17] #264 closed

[2019-11-12 20:21] mighty9245 commented on #264
of course there is, you can find them and their description on the compton's man page: `man compton`, "format of conditions" section. i highly recommend to read it because it also explains not so obvious match types and operators (`=`, `*=`, `^=` and so on...)

[2019-11-12 20:35] jemand2001 commented on #264
well then. thank you so much for your help and patience today, @mighty9245

[2019-11-14 21:45] javashin commented on #263
hi

[2019-11-14 21:46] javashin commented on #262
i would

[2019-11-15 10:29] yshui commented on #263
@javashin do you have something you want to suggest?

[2019-11-15 17:58] Anarky opened #265 "[Feature request] Do not show overlapped window as transparency"
Hello,

When the window transparency is enabled (hope the [kawase blur](https://github.com/yshui/picom/issues/32) comes soon), would it be possible to add an option to use the wallpaper/desktop as the background instead of what's directly behind the focused window?
While it looks great on tiled applications, I usually use 3/4 windows in fullscreen and it doesn't look as pretty because the transpar

[2019-11-17 13:39] xyproto commented on #222
Thanks for renaming. I renamed the Arch Linux package as well, in preparation for the next release.

[2019-11-17 13:39] #222 closed

[2019-11-18 12:05] Samuelfaure opened #266 "After update, "focused" is reversed"
### Platform
Arch

Intel graphics, no GPU, Lenovo T460S

### Environment
i3-gaps
Oh-my-zsh
Termite

### picom version
vgit-9a88d

### Configuration:

[code]

### Steps of reproduction

In my previous config I had the following :

[code]

I updated from Compton to Picom with pacman -Syu

Before update, config was working as intended.
After update, the opposite happened (low opacity only on focused

[2019-11-18 12:14] yshui commented on #266
@Samuelfaure what is the compton version you updated from?

[2019-11-18 12:22] andreacucci commented on #266
I am experiencing the same issue and i'd like to add that at the start it's not inverted.

I updated from compton 7.4-1.

[2019-11-18 12:38] Samuelfaure commented on #266
@yshui I'm not sure how to get this information*; but it was probably the latest version available on pacman. I upgrade my packages at least once a week.

*I wasnt able to find the compton package on the AUR since it got apparently deleted/replaced with picom

[2019-11-18 12:41] yshui commented on #266
If that is the case then this is really unexpected, since the compton -> picom update in Arch Linux should just be a simple rename?

Is my understanding incorrect, @xyproto?

[2019-11-18 12:51] steinex opened #267 "Support NET_WM_BYPASS_COMPOSITOR"
Wine, Proton, Lutris etc. can set a hint on a window (NET_WM_BYPASS_COMPOSITOR) for which compositing should be disabled. This helps especially for performance in games.

It would be really nice if picom could support this. I'm aware of --unredir-if-possible, however that only works for fullscreen windows and I think implementing this defacto-standard would be a good idea either way.

All other co

[2019-11-18 13:43] Samuelfaure commented on #266
@yshui I finally managed to check the version and it was 7.4-1 too, so your understanding was correct indeed

[2019-11-18 14:15] Samuelfaure commented on #266
Another weird bug that appeared at the same time :
If you `pkill picom && picom -b` the windows that were already present have no opacity at all.
To make the opacity appear on a window I need to focus and then unfocus it.

[2019-11-18 14:44] Gustavobb commented on #266
I had the same issue with focus opacity in version 7.4-1.

[2019-11-18 16:15] xyproto commented on #266
@yshui the rename involved creating a new package named `picom` which also `provides`, `replaces` and `conflicts` with `"compton"`. The package is still at version 7.4, but using commit 78b697fcc5f1c377b682cf2196683766b601a12ef61321291f1c7b875679c481, in lack of a release tag after the rename. Apologies if I renamed the Arch Linux package too soon, I thought it was ready, ref #222.

[2019-11-18 16:29] fuzunspm opened #268 "Some window titles and terminal outputs flashes"
### Platform

Linux 5.3.11-arch1-1

### GPU, drivers, and screen setup

Single 144hz 1440p Monitor on:

name of display: :0.0
display: :0  screen: 0
direct rendering: Yes
Memory info (GL_NVX_gpu_memory_info):
    Dedicated video memory: 8192 MB
    Total available memory: 8192 MB
    Currently available dedicated video memory: 7633 MB
OpenGL vendor string: NVIDIA Corporation
OpenGL renderer string

[2019-11-18 18:25] yshui commented on #268
Does this still happen if you run `picom --no-use-damage`?

[2019-11-18 18:44] fuzunspm commented on #268
i realized that picom is not using my config in /etc/xdg/picom.conf or ~/.config/picom.conf (these two are identical and correct config for me)

I manually ran picom --config /etc/xdg/picom.conf and it seems ok for now

[2019-11-18 19:37] xyproto commented on #266
@yshui I started packaging `stable/7` as a 7.5 release of the `picom` package, but then I noticed that the files are still called `compton*` on that branch. There is no official `compton` package anymore on Arch, just `picom`. Do you have a branch or tag, where the project has been renamed to `picom`, that I should rather use?

[2019-11-18 21:40] yshui commented on #266
@xyproto I am in the process of back porting it. After I am done, I will tag v7.5.

[2019-11-18 21:52] aufkrawall commented on #267
Gnome can't turn off compositing for non-fullscreen windows. KWin can do that, but that's probably rather for the silly reason that it lacks unredirect. Turning off compositing for non-fullscreen breaks vsync in every window if TearFree isn't used, how would that be beneficial?

[2019-11-18 22:00] steinex commented on #267
Aren't you a bit biased here? I mean this hint exists for a reason and it's a real use-case. Just brushing it off doesn't sound very constructive to me. It could be an opt-in option just like the others and a second (and probably proper) way of unredirecting instead of just looking for fullscreen windows.

Because why would I like to lose vsync just because I fullscreened a window?

[2019-11-18 22:05] yshui commented on #266
@xyproto I have tagged v7.5

[2019-11-18 22:07] aufkrawall commented on #267
Just stating my opinion, no need to get sensitive. It would make sense if Picom honored it by default for fullscreen windows, sure.

You btw. don't lose vsync for fullscreen windows in general, only of the compositor.

[2019-11-18 22:39] yshui commented on #268
Have you tried running with `--no-use-damage`?

[2019-11-18 22:40] xyproto commented on #266
@yshui I gave the `v7.5` a quick spin, everything looks fine to me. Updated the Arch package.

[2019-11-18 23:07] FaithLV commented on #267
This would be great! Playing any games while _picom_ with i3 is running is not a great experience, as I don't want **any** games running exclusive fullscreen. Also never had any luck with **`--unredir-if-possible`** even in fullscreen games.

Currently, my solution is [dynperf]( https://github.com/FaithLV/dynperf/) because killing/restoring _picom_ manually gets tiresome.

[2019-11-19 00:57] Oscillope commented on #251
I am also seeing this issue. After a little fiddling around, I disabled `use-damage`, which seems to have fixed the problem (though I'd prefer not to suffer the performance penalty that comes with that, especially since this is on my laptop).
I noticed that double-shadows were drawn around any window that floated over a terminal, in addition to around text lines on the terminal as OP reported. Dra

[2019-11-19 11:34] Azkellas commented on #266
The v7.5 fixed the focus issue. Thank you.

[2019-11-19 11:40] xyproto commented on #266
@Azkellas Great. :+1:

@yshui Thanks for creating the `v7.5` branch. :+1:

[2019-11-19 16:11] fuzunspm commented on #268
`picom: unrecognized option '--no-use-damage'`

[2019-11-19 18:50] yshui commented on #268
Can you remove `glx-swap-method` from the configuration file?

[2019-11-20 20:47] Ropid commented on #267
For the programs that use _NET_WM_BYPASS_COMPOSITOR to tell the compositor to keep redirection enabled for their fullscreen window, you can write a rule for the "unredir-if-possible-exclude" config entry:

[code]

Chrome/Chromium uses this. That's the program I tried to use to test that this rule here actually works.

[2019-11-22 07:59] pengux commented on #255
I too get this error `x_new_id FATAL ERROR ] We seems to have run of XIDs...` and I'm using bspwm. This problem seems to happen more often when I connect an external monitor.

[2019-11-22 21:18] clort81 commented on #265
I support this idea Anarky.
![how_we_should_composite](https://user-images.githubusercontent.com/51511737/69461088-0afee380-0d76-11ea-909a-62d854f3214c.png)

[2019-11-23 20:17] jbeich commented on #263
[CirrusCI](https://cirrus-ci.org/guide/FreeBSD/) may also work according https://wiki.freebsd.org/HostedCI

[2019-11-23 21:17] Safari77 opened #270 "picom: ../src/win.c:704: win_set_shadow: Assertion `w->flags & WIN_FLAGS_IMAGES_NONE' failed."
picom crashes immediately when I change workspace in Mate 1.23.2.
xorg-x11-server-Xorg-1.20.5-7.fc30

[code]

### Platform
Fedora 30, Mate 1.23 x86_64

### GPU, drivers, and screen setup

[code]

Using 3840x2160 with one display.

### picom version
[code]

### Configuration:
[code]

### Steps of reproduction
read above

[2019-11-23 21:24] Safari77 commented on #270
I don't need to switch the workspace, just pressing alt-tab to change to another mate-terminal crashes it.

[2019-11-23 22:15] Anarky commented on #265
Thanks for your mock-up, that's exactly what I had in mind :)

I would love to help but unfortunately I don't know anything about graphics programming.

[2019-11-24 04:56] creikey opened #271 "Lag when switching workspaces"
### Platform

Arch linux x86_64

### GPU, drivers, and screen setup

Nvidia GTX 1060

Most recent nvidia proprietary drivers from `nvidia`

glxinfo output:
[code]

### Environment

I'm running i3

### picom version

[code]

### Configuration:
[code]

[code]

### Steps of reproduction

1. Switch between workspaces

### Expected behavior
Should take less than 0.2 seconds to switch between workspaces

[2019-11-24 06:15] georgebush422 opened #272 "dde-file-manager shrinks on enabling picom"
### Platform
Arch Linux

### Environment
i3-gaps

### picom version
v7.5

### Configuration:
default

### Steps of reproduction

1. Install i3-gaps and deepin-file-manager from the official arch repositories.
2. Start i3-gaps using xinit or lightdm
3. Run dde-file-manager.
4. Now, start picom.

### Expected behavior
The gap size should be as expected.
### Current Behavior
current gap-size = expect

[2019-11-24 10:52] tmpm697 commented on #245
[code]

[code]

`~/.xinitrc`:
[code]

`/etc/X11/xorg.conf.d/20-intel.conf`:
[code]

`LIBGL_DEBUG=verbose glxinfo`:
[code]

`apitrace trace --api gl /usr/bin/picom --experimental-backends --config /etc/xdg/picom.conf`

The trace file is too big, I had to split it into smaller files and upload them to `pastebin.com`:
`split -d -b500000 --additional-suffix=.part picom.trace split`. Here the url list

[2019-11-24 15:28] saitaruninaganti commented on #272
Here's another comparision.

## Expected behavior
The window size, not the transparency (transparency works just fine).
![deepin_terminal_without_picom](https://user-images.githubusercontent.com/46247049/69496870-dcf7db80-0efc-11ea-8518-2dcb1f162b8b.png)
## Current behavior
![deepin_terminal_with_picom](https://user-images.githubusercontent.com/46247049/69496872-e2edbc80-0efc-11ea-95a1-f948af88f87

[2019-11-24 15:31] georgebush422 commented on #272
### Expected Behavior
![deepin_terminal_without_picom](https://user-images.githubusercontent.com/39475970/69496921-68716c80-0efd-11ea-9b4a-d0aa95ad8669.png)
### Current Behavior
![deepin_terminal_with_picom](https://user-images.githubusercontent.com/39475970/69496924-70311100-0efd-11ea-92ca-d77f1e5ddec0.png)

Application on the left: deepin terminal
Application on the right: deepin file manager

A

[2019-11-24 18:40] sambazley commented on #233
`win_client_has_alpha` returns true for blockbar windows. However, changing that function to return true for all windows causes blockbar to render correctly. Disabling blockbar's tray (either by modifying blockbar's source, or by killing all processes with a tray icon) also seems to cause blockbar to render correctly.

[2019-11-24 22:06] yshui commented on #270
Can you attach a `--log-level=trace` log?

[2019-11-25 14:27] Safari77 commented on #270
I could have attached it yesterday if I had know of that feature, -h doesn't list it.
But here it is:
[code]

[2019-11-25 15:52] Oscillope commented on #251
So, this issue has come back now that the Arch package has updated to `v7.5`, even with `--experimental-backends`.

[2019-11-28 12:30] yshui commented on #272
@georgebush422 the file manager probably behave differently depends on whether a compositor is present.

Can you raise this problem to the upstream?

[2019-11-28 12:33] yshui commented on #245
This looks normal to me.

[2019-11-28 18:20] mausworks commented on #132
First of all _thank you_, this is amazing :heart_eyes:

Most parts of my system (except my computer case) are less than two years old. Many parts are current-gen, or last-gen. There are some disks in there which are getting aged, but I don't think it matters for picom.

- CPU - AMD Ryzen 1800X
- GPU - AMD Radeon Vega 64 (using mesa)

I'm a chromic `yay -Syu` user, and I love breaking my system &md

[2019-11-29 10:16] mighty9245 commented on #272
@georgebush422, i guess @yshui meant the dde-file-manager upstream

[2019-11-29 14:03] yshui commented on #272
@mighty9245 yes.

@georgebush422 Sorry, I wasn't being clear. Can you raise this to dde-file-manager upstream?

[2019-11-30 21:29] #265 closed

[2019-11-30 21:30] yshui commented on #265
This is much easier than I originally anticipated. So here you go, set `--transparent-clipping` and have fun.

P.S. I struggled to come up with a name for this option, suggestions welcome.

[2019-12-02 10:51] noobbuild opened #273 "XFCE: Refresh Problem with GLX backend"
### Platform
Xubuntu Desktop 18.04 amd64

### GPU, drivers, and screen setup
Graphics:  Card: Intel Atom/Celeron/Pentium Processor x5-E8000/J3xxx/N3xxx Integrated Graphics Controller
           bus-ID: 00:02.0
           Display Server: x11 (X.Org 1.20.4 ) drivers: intel (unloaded: modesetting)
           Resolution: 1920x1080@60.00hz
           OpenGL: renderer: Mesa DRI Intel HD Graphics 400 (Br

[2019-12-04 21:50] sersorrel opened #274 "Running out of XIDs with a very large window"
### Platform

Ubuntu desktop 18.04 amd64

### GPU, drivers, and screen setup

Nvidia GTX 1050, proprietary drivers version 430.50

[code]

### Environment

i3wm 4.17-192-g237ceda4a

### picom version

**Version:** vgit-d4e76b2

### Extensions:

* Shape: Yes
* XRandR: Yes
* Present: Present

### Misc:

* Use Overlay: Yes
* Config file used: /home/josh/.config/compton.conf

### Drivers (inaccurate):

[2019-12-04 23:23] ReductoAdAbsurdum opened #275 "No fade out effect for some windows."
### Platform
Void Linux - amd64

### GPU, drivers, and screen setup
Intel iGPU HD 4600 , modesetting driver, dual monitor using xorg.conf

Linux Cauchy 5.3.11_1 #1 SMP PREEMPT Thu Nov 14 12:56:22 UTC 2019 x86_64 GNU/Linux

### Environment
i3-gaps

### picom version
picom 7.5

[ 12/04/2019 18:18:37.001 open_config_file_at WARN ] This compositor has been renamed to "picom", the old config file paths

[2019-12-05 14:09] yshui commented on #274
probably related to #255 #196 #190

[2019-12-08 04:18] kberkut opened #276 "Problem when resizing windows"
I'm have problem when resizing windows. Resizing is stepped. I'm saved small video for demonstrate it. [https://radikal.ru/video/esbxg32Ni9o](https://radikal.ru/video/esbxg32Ni9o)

### Platform
OS: Arch Linux x86_64
Kernel: 5.4.2-arch1-1

### GPU, drivers, and screen setup
CPU: AMD Ryzen 5 3500U with Radeon Vega Mobile Gfx (8) @ 2.100GHz
GPU: AMD ATI 04:00.0 Picasso
mesa 19.2.7-1
glu 9.0.1-1
xf86-

[2019-12-08 10:12] mighty9245 commented on #276
first, your link is broken
second, kill running picom instance first and then run `picom --diagnostics` (@yshui, unability to query diagnostics information when another picom instance is running seems to be a bug, isn't it?)
third, you should be able to use glx backend, so use it, because it's overall better than xrender one
fourth, does it happen with `--experimental-backends` aswell?

[2019-12-08 11:38] kberkut commented on #276
Added new screencast where you see:
1) runing "picom --experimental-backends" and resizing windows
2) showed error for one exemplar picom when run "picom --diagnostics"
3) showed resizing windows without picom

[https://radikal.ru/video/j3Vtk7WjvIL](https://radikal.ru/video/j3Vtk7WjvIL)

Resizing is stepped for each window.

picom --diagnostics

[code]

[2019-12-08 11:47] mighty9245 commented on #276
does it happen if you explicitly set glx backend? (no need to record screencast to prove this)
`picom --backend glx`
`picom --backend glx --experimental-backends`

[2019-12-08 12:14] kberkut commented on #276
Both options give the same result: the size of the windows change in steps.

PS: Despite this, it is much more pleasant to work with picom. Thanks for its development !!!

[2019-12-08 13:01] mighty9245 commented on #276
then wait for @yshui, i hope the information that we have collected will help him a bit.

can't reproduce btw, but i'm on bspwm and intel integrated graphics so it might be a driver bug

[2019-12-09 07:26] Rapiz1 commented on #32
Any progress?

[2019-12-09 11:58] Giova84 opened #277 "As the compositor starts, the xfce4-panel on the bottom is printed on the top for less than a second"
I’m using Compton v 7.4; I am waiting that Picom will hit the community repo of my distro: Manjaro Xfce ( xfce 4.14) x64, stable branch.

Some info of my system:
Video Driver: `xf86-video-intel  1:2.99.917+893+gbff5eca4-1`

Output of inxi:

[code]

glxinfo -B:

[code]

compton –diagnostics:

[code]

My compton.conf:

[code]
I start compton as `compton --experimental-backends --config /home/dave/.c

[2019-12-09 12:45] Giova84 commented on #277
I have noticed another interesting thing, about xrender backend, and this occurs if i start it as `--experimental-backends` or not:
When I mirror the screen on HDMI, the scrolling on FireFox become very choppy and sluggish: this doesn't occurs using glx (started or not with ` --experimental-backends` because as experimental doesn't consume too much RAM).

[2019-12-10 04:01] dougmaitelli opened #278 "Black boxes in the corner of the screen / Blur not working for backgrounds / openbox menu borders misaligned"
### Platform
Arch Linux

### GPU, drivers, and screen setup
NVidia RTX 2080, nvidia-drivers 440.36, one monitor

### Environment
lightdm -> openbox, tint2

### picom version
Arch picom-git AUR package
[code]

### Configuration:
[code]

### Steps of reproduction / Current Behavior
I was using picom from latest AUR "picom" package with no problems besides a very laggy experience by switching between

[2019-12-10 04:05] dougmaitelli commented on #278
Maybe it is worth mentioning. If I switch from glx to xrender the black boxes are gone and the frame blur starts to work again.
In that case the background will have it's blur working as well but will slowly fade to full black as well.
The border issue is persistent.

[2019-12-10 04:21] dougmaitelli commented on #278
Going back from "picom-git" to "picom" solves the black boxes for glx as well, but both issues 2 and 3 persist

[2019-12-10 10:08] tmpm697 commented on #245
Not so that normal, in ver5.1 I don't have that "blink" when startx with same system.

[2019-12-10 15:09] behollder commented on #268
I have the same issue and with --no-use-damage and removed glx-swap-method it appears in 2/10 cases.
But it only still present with my emacs which has own transparent and if it's turned on.

Thanks.

[2019-12-10 20:37] clort81 commented on #265
Very exciting yshui! +∞ THANKS!!!

picom built without problems on nvidia jetson nano (aarch64) but i get get segfaults.  I tried with old ~/.compton.conf and without.  Tried

./picom --refresh-rate 30  --glx-no-rebind-pixmap --use-damage --xrender-sync-fence --backend glx --experimental-backends --transparent-clipping

and just ./picom  from build/src...

with just ./picom and no ~/compton.conf,

[2019-12-11 12:36] yshui commented on #265
@clort81 there seems to be a problem with your OpenGL libraries. By all means, this is a separate issue. Please open a new issue for this problem.

[2019-12-12 11:56] Psykopear opened #282 "i3-gaps blur glitch"
### Platform
ArchLinux x86-64

### GPU, drivers, and screen setup
`glxinfo -B` output
[code]

### Environment
i3-gaps

### picom version
[code]

### Configuration:
I can reproduce it with this configuration
[code]

### Steps of reproduction
1. in i3-gaps, open one or more windows with a titlebar
2. run picom

_edit:_ The problem occurs only with tiled windows, floating ones works as expected

###

[2019-12-12 12:46] muhlinux opened #283 "After update, everything is slowed to a crawl when using glx backend"
### Platform
arch 5.4.2-arch1-1

### GPU, drivers, and screen setup
[code]
### Environment
i3-gaps

### picom version
[code]
### Configuration:
[code]

### Expected behavior
Compositing

### Current Behavior
Super slow spawning/moving of windows

### Stack trace

### Other details
running with `--show-all-xerrors`  doesn't print any info. Using xrender everything is back to speed.

[2019-12-12 12:49] Giova84 commented on #277
Sorry for the flood of messages: I'm further testing combinations of various options and I report them here to help you with the development.
Currently I removed `--experimental-backends` because I noticed that when I browse websites with a lot of contents (eg videos and animated images, like some pages on reddit) after a while the fan of cpu spinning like a crazy. I can say it for sure: I've trie

[2019-12-12 13:34] morgoth6 commented on #283
As I can see you are using 5.4.x with NVIDIA'a driver. This combination broke vsync (remove of gem_prime_res_obj callback which is used by NVIDIA driver) Easiest solution should be to downgrade to 5.3 kernel release.

I tried to revert gem_prime_res_obj removal and this seems to work (tested only on my machine) If someone fins it useful I attached patches (crude and not backward compatible as I gu

[2019-12-13 16:02] yshui commented on #283
@morgoth6 Thanks for the information.

@muhlinux Looks like a driver problem then. Will keep open until this is solved by NVIDIA

[2019-12-13 16:07] yshui commented on #277
Please try to have your issue report focus on a single issue, otherwise it's difficult for the dev to track problems.

As for the problem with xfce4-panel, I am not able to fully grasp what is happening exactly. It would help if you have video capture, and preferably also a `apitrace`. But I suspect it's just some xfce4 oddities.

Yes, you should always use DRI3, DRI2 has caused us lots of problem

[2019-12-13 16:09] yshui commented on #282
I suspect i3-gap is probably creating an invisible frame around the window?

[2019-12-14 09:47] horus-dot opened #284 "x_create_picture_with_pictfmt_and_pixmap ERROR: failed to create picture"
### Platform
Arch Linux x86-64 (up to date)

### GPU, drivers, and screen setup
Single screen monitor, 2560x1440, Asus 25" IPS screen.

[code]

### Environment
I'm in i3-gaps with wal managing my desktop wallpaper (started from the i3 config file).

### picom version
v7.5

### Configuration:
Default configuration. Changing the background to xrender doesn't help.

### Steps of reproduction
Start pi

[2019-12-14 13:40] Psykopear commented on #282
I think so, if I remove the blur on the frame with:
[code]

It works ok, the background is still blurred on the window, but the frame is not (and neither the background outside the window).

[2019-12-15 12:49] mighty9245 commented on #284
can you quickly install feh and set wallpaper with it to see if the issue remains?

[2019-12-15 17:26] horus-dot commented on #284
That resolves the issue. I don't even need to use feh directly. It seems that wal automatically uses it as a backend if available. Now everything seems to work fine, at least on initial testing.

Perhaps feh should be listed as a dependency of this on e.g. the Arch repository?

[2019-12-15 18:26] mighty9245 commented on #284
looks like an upstream issue, but i'm not sure. maybe picom could do something about this. let's see what @yshui will say about this.

would be good if you will determine what backend used by wal causes this issue.

[2019-12-16 16:56] yshui commented on #282
@Psykopear so problem solved?

[2019-12-16 16:58] yshui commented on #284
How does `wal` set the wallpaper when `feh` is not installed? Maybe we could add support for that.

[2019-12-16 17:56] mighty9245 commented on #284
@horus-dot, are you using `wal` provided by `python-pywal` package?

[2019-12-16 18:18] fuzunspm commented on #268
I'm using with the same config for a while and it looks like fixed at the moment. Do not know if updated nvidia drivers helped or not, but i keep my picom config without any modificaitons

[2019-12-16 18:30] mighty9245 commented on #284
@yshui, i looked through the source code of the `wal` provided by the `python-pywal` package. if desktop environment is not found, it tries `feh`, `nitrogen`, `bgs`, `hsetroot`, `habak` and `display` and i assume the last one was used since it's part of the `imagemagick` and most likely @horus-dot has it installed.

i tried to set a new wallpaper with `display` as `wal` does it: `display -backdrop

[2019-12-16 19:06] horus-dot commented on #284
I can confirm I was using 'display'.

[2019-12-17 10:52] Psykopear commented on #282
Well, I would like to be able to have the blur on the frame as it is on the rest of the window, without blurring the background outside, but if this is not a problem that should be solved here in Picom you can close the issue

[2019-12-17 12:34] akemrir opened #285 "https://imgur.com/a/ciZMGy2"
### Platform
Linux 5.4.1-arch1-1 #1 SMP PREEMPT Fri, 29 Nov 2019 13:37:24 +0000
Archlinux 64bit

### GPU, drivers, and screen setup
NVidia GTX 1070, nvidia-drivers 440.36, one monitor

### Environment
New installation of Qtile.

### picom version
v7.5

### Configuration:
[code]

### Expected behavior
Correct border color.

### Current behavior
https://imgur.com/a/ciZMGy2

As you can see windows pl

[2019-12-17 14:27] mighty9245 commented on #285
what are you trying to achieve? there is a lot of things in your configuration file so it will be better if you describe what behavior you expect and what behavior you get. and correct the issue title, please. it should briefly describe the issue.

[2019-12-17 14:44] akemrir commented on #285
I want to make terminal windows 5% transparent and borders 25% transparent.
Thats why I`ve set:
[code]

[2019-12-17 15:17] mighty9245 commented on #285
i assume that on your screenshot two windows on the right are inactive and have properly colored borders, the top left window is inactive too, but has not properly colored borders and the bottom left window is active and has properly colored borders? am i right?

[2019-12-17 16:14] akemrir commented on #285
top right - proper
bottom right - proper
top left - invalid completely
bottom left - invalid - hue is right, but is too bright

[2019-12-17 16:15] akemrir commented on #285
@mighty9245
https://github.com/chjj/compton/issues/240
maybe this one is related?

[2019-12-17 17:32] mighty9245 commented on #285
are you using experimental backends?

[2019-12-17 19:07] akemrir commented on #285
I`ve tested this on xrender and glx with same result

[2019-12-17 19:19] mighty9245 commented on #285
i mean, do you launch picom with `--experimental-backends`? probably no tho

[2019-12-17 20:16] akemrir commented on #285
Nope. I don't use experimental backends option,

[2019-12-18 10:56] mighty9245 commented on #285
well, i can't reproduce this behavior running bspwm and kitty, so this is probably a qtile thing: either an upstream issue or a thing in qtile that picom handles incorrectly. wait for @yshui response.
![image](https://user-images.githubusercontent.com/52252283/71080369-0d4e3500-219e-11ea-9b29-f1498a8d306f.png)

[2019-12-18 11:13] akemrir commented on #285
Listen to fun part. I tried with kitty and it worked.
But for xfce4-terminal not, check please this one exactly.

[2019-12-18 11:34] mighty9245 commented on #285
can't reproduce running xfce4-terminal too.
![image](https://user-images.githubusercontent.com/52252283/71083164-73898680-21a3-11ea-80db-82cc032a469b.png)

[2019-12-18 11:37] akemrir commented on #285
So it looks like problem with qtile not compositor.

[2019-12-18 11:43] mighty9245 commented on #285
i would recommend to keep this issue open because this may be a bug with how picom handles some things as well and we could do something about this.

[2019-12-18 11:50] noobbuild commented on #273
What backend does picom use by default if there is no user config file in the .config folder? xrender or glx?
I deleted my picom config file and the troubles stopped. I see tearing (like a horizontal z on top part of screen) similar to when using xrender backend.

[2019-12-18 12:33] akemrir commented on #285
So let's do that way. After that check eventually I will ping qtile programmers.

[2019-12-21 19:54] Viktini commented on #132
**What hardware (CPU, GPU, etc) does your system have?**
- CPU: AMD Ryzen 7 2700X
- GPU: AMD Radeon RX 480 8GB (drivers from AMDGPU, OpenGL provided by Mesa)

**Are you using up-to-date software on your system? Is your graphic driver the latest?**
- Linux version 4.19.86-gentoo (latest stable on Gentoo)
- XF86-video-amdgpu version 19.1.0 (latest stable on Gentoo)
- Mesa version 19.1.8

**Does your

[2019-12-23 18:13] m-kru opened #287 "vsync_opengl_swc_init ERROR ] Failed to load a swap control extension."
Fresh installation of Arch, kernel 5.4.5.

GPU: 00:02.0 VGA compatible controller: Intel Corporation Atom Processor D2xxx/N2xxx Integrated Graphics Controller (rev 09)
When trying to run picom I get:
[code]
I know that people had similar problem using VirtualBox, however I have this problem on host. Of course I have tried VirutalBox solution to remove `vsync = true` line, but in my case it results

[2019-12-26 17:47] kberkut commented on #276
I have problem with resize windows and suspend regime. When picom not loaded resize and suspend regime working perfectly.
When picom is loaded this process is have 100% load for processor:
/usr/lib/Xorg vt2 -displayfd 3 -auth /run/user/1000 /gdm/Xauthority -nolistentcp -backgroundnone -noreset -keeptty -verbose 3

[2019-12-29 01:54] HoshiYamazaki commented on #287
I have similar problem when using Vcxsrv with Arch on WSL1.
If I disable VSync, windows are not appearing at screen... So I must disable GLX backend.

[2019-12-30 03:09] Suavesito-Olimpiada commented on #260
@yshui thanks, I'll try it.

[2020-01-01 14:28] tryone144 opened #289 "dbus introspection reply does not reflect supported methods"
The static reply to a dbus introspection call here https://github.com/yshui/picom/blob/e1d9e9535ec4671d2a60638a41969701f119860a/src/dbus.c#L1174-L1218 does not properly reflect the supported methods. This causes `qdbus` to fail when calling non-listed methods like `opt_get` and `opts_set`. Using `dbus-send` like in the examples works, because they do not check for the existence of these methods pr

[2020-01-01 20:39] akemrir commented on #285
Ok. I`ve done some investigation on this case and changed source code of qtile.
I forced chosen color of window border, but in function which is responsible on lowest level.

Problem with weird border color appears only when picom is running.
I`ve experienced same problem with xcompmgr.

Without compositing manager borders looks fine and have same forced border color.

I`ve checked bspwm and dwm,

[2020-01-02 02:39] Sup3r-Us3r opened #290 "Opacity in all apps"
After I installed the proprietary drivers for my Nvidia video card, opacity has taken over all my apps, and what bothers me most is the Google Chrome browser, with transparency making content visibility impossible, can anyone help me? I just want to have opacity on my Termite terminal, and on my Polybar bar, that's all.

- OS: Arch Linux
- WM: i3wm
- Terminal: Termite
- Browser: Google Chrome
- Ba

[2020-01-02 17:06] mighty9245 commented on #290
so, before installing the proprietary drivers you was running picom with the same config fine without this issue? if yes, then it's probably a driver problem.

[2020-01-02 18:27] asparagii opened #291 "Help text percentages are not escaped correctly"
Help text has not been escaped correctly at least since 9880245200eb822ca53508d9dec3e2b481d90765

If you take a look at the help message, you will notice that memory addresses are being printed instead of '%'.

[code]

[2020-01-02 18:41] Sup3r-Us3r commented on #290
@mighty9245  Yes I was running without any problem, but I don't get any error when running picom, do you know what can solve this problem?

[2020-01-02 20:30] llitz commented on #270
I have the same error happening when I try to bring rofi up. Running on nvidia drivers.

[picom.conf.zip](https://github.com/yshui/picom/files/4017247/picom.conf.zip)

relevant logs
[code]

[2020-01-02 20:46] llitz commented on #270
@yshui this is something introduced on d4e76b271acd46b0587f739776efecf48d91553f

[2020-01-03 11:52] mighty9245 commented on #291
nice catch

[2020-01-03 11:55] mighty9245 commented on #290
then it's a driver problem. either picom is missing something, or it's an actual driver bug and requires either upstream report to be fixed or a workaround in picom.

[2020-01-04 22:47] frebib commented on #32
https://github.com/tryone144/compton/tree/feature/dual_kawase

[2020-01-04 23:02] tryone144 commented on #32
This branch is based on the current [next](https://github.com/yshui/picom/tree/next) branch and should implement the new *dual_kawase* blur algorithm with experimental-backends.

Beware that this is WIP and still needs a bit of cleanup. I am waiting on https://github.com/yshui/picom/pull/286 for the cli interface. Once this is complete and local testing doesn't reveal any significant problem, I'll

[2020-01-06 11:20] m-kru commented on #287
@HoshiYamazaki It works when I disable GLX backend. However, I get a feeling that the responsiveness is slower.

[2020-01-09 15:12] clort81 commented on #290
I confirm this problem on nvidia jetson nano.  Sddenly i can't get compton transparency.

[2020-01-09 18:29] kberkut opened #293 "shadow position"
1) Shadow position not work for zero coordinates:
- The left offset for shadows. (default -15)
shadow-offset-x = 0;
 - The top offset for shadows. (default -15)
shadow-offset-y = 0;
![2020-01-09_21-09](https://user-images.githubusercontent.com/57869227/72093968-76047980-3326-11ea-88ed-a70dc089f053.png)

2) How to make shadow visible only for active windows?

### Platform
OS: Arch Linux x86_64
Kern

[2020-01-10 02:54] kberkut commented on #293
If Shadow-radius=0 then position shadow same as coordinates.

![2020-01-10_05-45](https://user-images.githubusercontent.com/57869227/72121849-4dec3900-336d-11ea-86d8-68f1e6e2968b.png)
![2020-01-10_05-47](https://user-images.githubusercontent.com/57869227/72121859-52185680-336d-11ea-8146-0533ff6209f2.png)

If Shadow-radius not equil zero then position shadow not same as coordinates.
![2020-01-09_21

[2020-01-10 20:13] ckissane opened #294 "Using multipass blur, reported"
Using multipass blur, reported,

Also Kawase blur would be cool to have!

[2020-01-11 15:41] madand commented on #132
ThinkPad X220 from 2011 (9 years old).

* CPU: `Intel(R) Core(TM) i7-2620M CPU @ 2.70GHz`
* GPU: `Intel HD 3000`

Yes, it's an Arch Linux derivative, which I update weekly. GPU driver is `modesetting`.

No.

Latest git version from this repo ([picom-git](https://aur.archlinux.org/packages/picom-git/) form AUR).
Both work, but with `xrender` backend `vsync` doesn't work so I stick with `glx`.

None

[2020-01-12 23:28] clort81 opened #295 "A nice glsl shader for you all."
One thing that always bugged me about compositors on linux is they made everything transparent: enabling compositing dimmed your text and made things you wanted to see opaque transparent.

Thanks to compton and now picom and glsl, I don't have to suffer any longer!

[code]
compton.conf is simple - just use wmctrl -lx to find class id of the windows you want to keep opaque.  you can use names too,

[2020-01-13 15:17] Nobelix opened #296 "Artifacts when using some apps"
### Platform
Manjaro

### GPU, drivers, and screen setup
    NVidia GTX 1050, nvidia-drivers latest, one screen
[code]

### Environment
i3-gaps

### picom version
7.5

### Configuration:

[code]

### Steps of reproduction
1. Open Atom in i3 gaps

### Expected behavior
There should be no artifacts
### Current Behavior
It looks like this
![Screenshot_20200113_160913](https://user-images.githubuserco

[2020-01-13 21:24] d4h0 opened #297 "Glx / i3: Switching to uninitiated workspace shows content of previous workspace (not desktop background)"
Hi,

here is the requested information:

### Platform

Arch Linux (current) x86_64

### GPU, drivers, and screen setup

Intel HD 4600 + NVIDIA GeForce 730M (Optimus) – only the Intel GPU is used and configurated
mesa 19.3.2-2
xf86-video-intel 1:2.99.917+899+gf66d3954-1
One laptop monitor (I didn't configure anything, besides a few Xorg settings)

glxinfo -B:

[code]

### Environment

I use i3-gaps

[2020-01-13 23:47] xcbdz opened #298 "Shadow Problems On Blur"
### Platform

Arch Linux

### GPU, drivers, and screen setup

Intel Graphics, xf86-video-intel
[code]

### Environment

Awesome Window Manager

### picom version

`Picom vgit-e1d9e`

### Configuration:
[code]

### Steps of reproduction

1. Enable the blur using the blur:{ .. } just like in my config above.
2. Add opacity effect to terminals.
3. Remove gaps.
4. `shadow = false;`

### Expected behav

[2020-01-15 03:13] ghost opened #299 "terminals in floating scratchpads lose transparency after restarting i3"
### Platform
archlinux, fully up to date

### GPU, drivers, and screen setup

intel uhd 620, xf86-video-intel v1:2.99.917+899+gf66d3954-1

### Environment

i3 (without gaps)

### picom version

v7.5

### Configuration:
[code]

### Steps of reproduction

1. open a terminal in a floating scratchpad, the terminal may be either urxvtc or alacritty, i didn't test with others, but i think it happens in

[2020-01-15 03:15] treeshateorcs commented on #299
sometimes it happens to regular windows too (as opposed to floating scratchpads)

[2020-01-15 03:20] treeshateorcs commented on #299
this is the log when picom is ran from a terminal and i restart i3

[code]

also i just noticed that a config does not matter

[2020-01-15 03:24] treeshateorcs commented on #299
i found this #284, but it doesn't seem like my case. i set my wallpaper with feh

[2020-01-15 04:27] shantaram3013 opened #300 "Terminal text has weird glitchy box shadows around text even with all shadows disabled"
### Platform

Arch Linux x86_64
Kernel: 5.4.8-arch1-1
### GPU, drivers, and screen setup

GPU: NVIDIA GeForce GTX 750
Resolution: 1366x768
`$ glxinfo -b`
`36`

### Environment

WM: Openbox

### picom version

 $ picom --diagnostics
**Version:** v7.5

### Extensions:

* Shape: Yes
* XRandR: Yes
* Present: Present

### Misc:

* Use Overlay: Yes
* Config file used: /home/sid/.config/picom.conf

### D

[2020-01-15 12:29] xcbdz commented on #295
Thanks for sharing but I'm having some errors. Can you help me with this? Thanks:)

[code]

I'm also launching picom using:
[code]

[2020-01-15 16:55] delet-this commented on #300
I have this same issue on Arch, i3-gaps, GTX 750 ti (proprietary nvidia drivers) and also on Intel HD 4000 using glx backend. Looks like it doesn't happen when blur is disabled.

[2020-01-15 22:10] clort81 commented on #295
Hi xcbdz!  I don't understand what causes that, sorry.  If I find out I'll let you know!

[2020-01-16 08:40] pspslimboy commented on #283
This seems to have been fixed with the 440.48.02 Vulkan developer beta driver. I tested with this driver on Linux 5.5.0-rc6.
Can anyone else confirm?

[2020-01-16 09:18] xcbdz commented on #295
Thanks @clort81 ! I already fixed it by adding a `#version 130`(I have OpenGL 1.30) at the top of the shader.

[2020-01-16 09:26] xcbdz commented on #298
I found out that that is not actually a shadow. I think it's a blur effect in gaussian when two or more objects(docks, normal windows, etc) are next to each other. The darkening disappears when I add `gaps` or space in between. I just want to make it **flat** looking. Is there a way to disable it, @yshui ? Sorry for inconvenience.

[2020-01-17 13:33] mikeroll commented on #293
1. It's a bit hard to follow, but my guess is you want the shadow to poke out evenly from each of the four window sides. Set `shadow-offset-{x,y}` to `- shadow-radius`, e.g.:
[code]
When changing the radius, also adjust the other two.

2. Try adding `'!focused'` rule to your `shadow-exclude`:
[code]

[2020-01-17 13:54] kberkut commented on #293
Then adding
shadow-exclude = [
    ...
    **'!focused',**
]

I have error

`Error when reading configuration file "/home/user/.config/picom.conf", line 99: syntax error
[ 17.01.2020 16:51:45.463 main FATAL ERROR ] Failed to create new session.
`

[2020-01-17 14:15] yshui opened #301 "DamageNotify sometimes stops for a certain window (severe frame drop for a window, window disappearence)"
Sometimes picom will stop receiving _any_ DamageNotify events for a given window, causing the window only to get updates when some other window is updated.

Unmapping then mapping the window doesn't fix the problem, and will make the window disappear altogether.

Unsure if this is a picom bug or a xorg-server bug.

Unfortunately this is rare and cannot be produced reliably.

[2020-01-17 14:17] yshui commented on #300
This should've been fixed in the `next` branch, could you try it?

[2020-01-17 14:22] yshui commented on #299
This might be an i3 bug.

Please run this command:

[code]

, click on the window which has lost its transparency, then post the output here.

[2020-01-17 14:24] treeshateorcs commented on #299
@yshui
[code]

[2020-01-17 14:27] yshui commented on #298
@xcbdz yes, you are correct.

there is nothing to "disable" here, picom is just doing its job applying blur as it should.

if you want the blur to always blur your wallpaper, instead of what's underneath the window, then I could do something about it.

[2020-01-17 14:28] yshui commented on #297
Can you capture an apitrace of picom and attach it here?

[2020-01-17 14:29] yshui commented on #296
I am not sure what is the artifact i should be looking for. can you elaborate?

[2020-01-17 14:30] yshui commented on #299
Thanks.

does reapplying the wallpaper fix your problem?

[2020-01-17 14:31] yshui commented on #295
Thanks!

Maybe we should have a repository to collect window shaders.

[2020-01-17 14:32] treeshateorcs commented on #299
no

[2020-01-17 14:32] yshui commented on #294
Noted, thanks!

@tryone144 seems to be working on Kawase blur, see #32

[2020-01-17 14:34] yshui commented on #294
Duplicate of #260

[2020-01-17 14:34] #294 closed

[2020-01-17 14:36] #291 closed

[2020-01-17 14:46] delet-this commented on #300
Seems to still happen:
![](https://i.imgur.com/iqp0eJv.png)
[code]

[2020-01-17 15:39] xcbdz commented on #298
I see...so there's no way to remove the scatter effect... Thanks! I thought it was a shadow bug

Ooh, that is nice to have. And I think it is good to have rules for transparent clipping like exclude[].

Anyway thanks for maintaining picom. I'll close this issue now

[2020-01-17 15:39] #298 closed

[2020-01-17 16:44] yshui commented on #299
OK.

I need more information to figure out what this is. Can you capture an [apitrace](https://github.com/apitrace/apitrace)?

[2020-01-17 17:05] Crandel opened #302 "Laptop freeze with "Resetting chip for hang on rcs0""
### Platform
Arch Linux x64 on Lenovo Thinkpad L470

### GPU, drivers, and screen setup

Two monitors configured side-by-side with xrandr

[code]

### Environment
i3wm

### picom version

[code]

### Configuration:
[Here](https://github.com/Crandel/home/blob/master/.config/picom.conf)

### Steps of reproduction
Surfing on Firefox with WebRender

### Expected behavior
Everything works

### Current

[2020-01-17 17:16] jakubfijalkowski commented on #302
As far as I am aware (I have a also experienced this), this isn't picom-related - this is [a bug in the i915 driver](https://gitlab.freedesktop.org/drm/intel/issues/673).

[2020-01-17 17:19] Crandel commented on #302
@jakubfijalkowski Thank you for quick response

[2020-01-17 18:09] shantaram3013 commented on #300
![image](https://user-images.githubusercontent.com/22570968/72635220-56063300-3982-11ea-886a-e61b41593ae6.png)
I just installed the `next` branch, and it still seems to happen although the intensity of shadows is very much lessened.

My environment / config is the exact same, except for updating the picom version to `vgit-463bf`.

[2020-01-17 18:22] shantaram3013 commented on #300
OK, so, enabling the experimental backends seems to have fixed the problem completely for me! @delet-this Please confirm if this works for you and then devs can go ahead and close the issue.

Thanks.

[2020-01-17 19:43] clort81 commented on #295
Oh it's the great yshui!  Dude, i'm trying to figure out how to get compton / picom to pass a time float to the shader - to animate it.  Any thoughts?

Would be SOOO cool...

[2020-01-17 20:23] delet-this commented on #300
@shantaram3013 For me `--experimental-backends` didn't affect those artifacts, they were still there. But through trial and error I finally found that commenting `use-damage = true;` in my config got rid of them.

[2020-01-17 20:28] treeshateorcs commented on #299
okay so here's what it outputed in stdin
[code]

and
and this is the log [picom.trace.txt](https://github.com/yshui/picom/files/4078953/picom.trace.txt)

[2020-01-17 21:27] treeshateorcs commented on #299
btw this issue wasn't an issue when i used old compton. (i'm on arch)

[2020-01-17 21:40] yshui commented on #295
That shouldn't be too hard to add, depends on what kind of time you want.
Do you just need any kind of monotonic time? (or time since boot? unix
timestamp?)

[2020-01-18 02:25] clort81 commented on #295
Not sure what the ideal scale for the time would be.  Most shaders expect a float.

 I'll look what shadertoy sends.

Btw a bit more on topic - the trick to good backgrounds for transparent windows is to compress the dynamic range to max 50% intensity - and it helps if you pull up gamma so that not everything gets too dark.

Here's a sample.  I have a growing collection of background optimized ima

[2020-01-18 16:53] yshui commented on #302
@jakubfijalkowski Thanks for the pointer.

Closing as this seems to have been fixed upstream.

@Crandel if you still have this problem, i recommend reporting this upstream.

[2020-01-18 16:53] #302 closed

[2020-01-18 17:08] yochaigal commented on #16
Has anyone resolved this issue with compton or picom?
I'm experiencing flickering when changing workspaces on fullscreen windows only; see here:
https://i.imgur.com/5i7Nkwp.mp4

Also see [sister issue](https://github.com/chjj/compton/issues/314) on deprecated compton repo.

[2020-01-18 18:06] #267 closed

[2020-01-18 18:09] yshui commented on #267
I have implemented the _NET_WM_BYPASS_COMPOSITOR = 1 case.

@aufkrawall if you want picom to ignore this property, you can either not use `--unredir-if-possible`, or add this to your config:

[code]

[2020-01-18 18:15] yshui commented on #267
This should help i3/i3lock#204

[2020-01-19 10:26] yshui commented on #293
@kberkut

1. no matter what is shadow radius is, the top left corner of the shadow always align with the top left corner of the window. so this is working as expected.

2. @mikeroll meant adding `'!focused'` to your `shadow-exclude` array, you shouldn't put the ellipsis (`...`) there too.

[2020-01-19 10:26] yshui commented on #293
Closing as this is not a bug.

[2020-01-19 10:26] #293 closed

[2020-01-19 12:05] Nobelix commented on #296
When you look closer at the screenshot you can see for example the glitched fragments of the i3 bar at the top right. (My bar is at the bottom)

[2020-01-21 07:18] Admicos opened #303 "--frame-opacity with --experimental-backends causes flickering, completely unusable"
### Platform
Gentoo (fully up-to-date, with GentooLTO patches)

### GPU, drivers, and screen setup
[code]

### Environment
bspwm 0.9.9, no patches, nothing special

### picom version
[code]

### Configuration:
[code]

I was just copying from my config onto the command line to isolate the bug, most of these won't be needed

More minimal configuration: `picom --experimental-backends --config /dev/nu

[2020-01-21 17:00] lorecast162 opened #304 "Picom freezes everything on screen except the mouse cursor."
### Platform

Arch Linux ARM armv7h
### GPU, drivers, and screen setup

xf86-video-fbturbo-git 199.f9a6ed7-4
mesa 19.3.2-2
output from glxinfo -B:
[Here](https://pastebin.com/bnjHcHxc)

### Environment

i3-gaps with polybar
### picom version

v7.5
### Configuration:
[Here](https://pastebin.com/xNme4FRs)

### Steps of reproduction

1. Run `picom`

### Expected behavior
It should work and get me som

[2020-01-21 17:04] yochaigal opened #305 "Cannot build on Ubuntu 19.10 (pkgconfig/libpcre not found)"
### Environment

Kernel: 5.3.0-26-generic x86_64
Desktop: Xfce 4.14.1
Distro: Ubuntu 19.10 (Eoan Ermine)
Dependencies installed:
libxext-dev libxcb1-dev libxcb-damage0-dev libxcb-xfixes0-dev libxcb-shape0-dev libxcb-render-util0-dev libxcb-render0-dev libxcb-randr0-dev libxcb-composite0-dev libxcb-image0-dev libxcb-present-dev libxcb-xinerama0-dev libpixman-1-dev libdbus-1-dev libconfig-dev libxdg

[2020-01-22 11:10] geekofChangPing commented on #287
Emmm… I have the problem but I don‘t know How to disable GLX backend… By editing picom.conf?

[2020-01-22 16:02] d4h0 commented on #297
Yes, no problem.

Should I use "--api gl" or "--api egl"?

The command that I would run is `apitrace trace --api [gl|egl|d3d7|d3d8|d3d9|dxgi] /path/to/picom [args...]`, right?

[2020-01-25 20:37] tryone144 commented on #266
Sorry to hijack this issue, but I think I've found the  underlying problem:
The changes of https://github.com/yshui/picom/commit/79fc36b3e30989fd638aa0531588e02b564a906c in response to https://github.com/yshui/picom/issues/134 seem to have caused this.
The parent commit works as intended. This is the first commit where I can reproduce the issue.

[`win_calc_opacity_target()`](https://github.com/ys

[2020-01-26 17:33] bricewge opened #306 "SIGUSR1 frezzes picom"
### Platform

Guix 9bad3c x86_64

### GPU, drivers, and screen setup

xf86-video-intel 2.99.917-15.f66d395 with 1 or 2 monitors (doesn't matter).

### Environment
bspwm

### picom version
v7.5

### Configuration:
[code]

### Steps of reproduction
1. `picom`
2. `pkill -USR1 picom`

### Expected behavior
Picom should restart correctly as with other backends.

### Current Behavior
Nothing on the disp

[2020-01-27 05:51] mighty9245 commented on #303
frame opacity seems to be completely broken, see last comments in #212

[2020-01-27 16:43] jrwrigh commented on #132
I have two systems: A) and B). They are a laptop and desktop respectively

   A) 4 years old
   B) 5 years old

   A) Intel i5-6200U, Nvidia GeForce 940MX
   B) Intel Xeon E3-1200, Nvidia Quadro K600

   Yes for A) and B)

   A) Yes, the laptop uses Optimus through Bumblebee
   B) No

   Actually using picom now for both since Manjaro switched over to it

   Only consistently used `glx`, but switc

[2020-01-28 04:30] orangecza commented on #132
+ Thinkpad E595, about 6 month old
+ CPU&GPU: AMD Ryzen 7 3700U with Radeon Vega Mobile Gfx
+ Ubuntu 19.10 dev-branch with latest driver
+ picom, works well
    + glx with --experimental-backends works well. xrender works but so slow
+ OpenGL version string: 4.5 (Compatibility Profile) Mesa 19.2.4
+ OpenGL extensions :
[code]

[2020-01-28 14:18] VirajKanse opened #307 "vsync_opengl_swc_init ERROR"
### Platform
Arch Linux 86_64

### GPU, drivers, and screen setup
xf86-video-intel
mesa 19.3.2-2
glxinfo -B o/p : https://del.dog/ickanestow.txt

### Environment
i3-gaps

### picom version
7.5.2

### Configuration:
https://github.com/VirajKanse/dotfiles/blob/Dracula/.config/picom/picom.conf

### Steps of reproduction
1. open terminal & type
2. `picom`

### Expected behavior
picom should to run as

[2020-01-30 08:15] sudharshanavp commented on #307
I have the same problem, picom doesn't run when using modesetting drivers with AccelMethod "none". My picom config is the same

It looks like xorg is loading the modesetting drivers for you.

go to /etc/X11/xorg.conf.d and create a file called 20-intel.conf and add the following lines

[code]

[2020-01-30 10:05] manuher commented on #255
I have the same issue using betterlockscreen (i3lock-color). Also getting `x_new_id FATAL ERROR ] We seems to have run of XIDs...` the moment I lock the screen.

[2020-01-30 19:55] nkreer commented on #43
I'd like to give this a boost once more. Having a feature like compiz' ezoom would truly enhance my experience as a visually impaired linux user. Maybe I could even implement it myself, but I'd need some pointers as to where I should start looking and how exactly something like this could be handled here.

[2020-01-30 20:05] rien333 commented on #43
@yshui

[2020-01-30 22:00] sirtomato999 commented on #132
How old is your system? **~1.5ish years**
    What hardware (CPU, GPU, etc) does your system have? **Ryzen 3 1200, GTX 1050**
    Are you using up-to-date software on your system? Is your graphic driver the latest? **Proprietary NVIDIA driver 440.31 (latest from FreeBSD)**
    Does your system require a more "advanced" setup? For example, does it use NVIDIA Optimus? **No**
    What version of comp

[2020-01-31 02:44] licaon-kter opened #308 "Firefox flicker when typing in rxvt"
### Platform
Debian Sid 64bit x86_64

### GPU, drivers, and screen setup
nVidia GTX660Ti, 440.44

### Environment
i3

### picom version
HEAD

### Configuration:
Any

### Steps of reproduction
1. Have Firefox open
2. Open a transparent rxvt window and type

### Expected behavior
Nothing happens in Firefox

### Current Behavior
The Firefox page content flickers between all gray and content

### Othe

[2020-02-02 01:34] ilya-bystrov commented on #305
`apt-get install libpcre3-dev` solved similar issue for me (on Ubuntu 18.04)

[2020-02-02 20:34] elenapan commented on #296
This is a known i3-gaps issue and it happens sometimes when i3 draws window titlebars, regardless of having a compositor running or not.
https://github.com/Airblader/i3/issues/190

[2020-02-03 15:21] philippludwig commented on #270
I am experiencing this issue as well, with bspwm and nvidia drivers.

[2020-02-03 19:42] Nobelix commented on #296
Ah, Thanks for noticing. Sorry for the issue then, closing.

[2020-02-03 19:42] #296 closed

[2020-02-04 20:41] yochaigal commented on #305
Thanks, this resolved my issue.

[2020-02-04 20:41] #305 closed

[2020-02-06 08:39] czikus commented on #275
Same problem here. Also i3.

[2020-02-07 13:55] yshui commented on #303
Can you run picom with apitrace and attach the trace here? thanks.

[2020-02-07 15:18] yshui commented on #306
Do you have any logs?

[2020-02-07 15:22] yshui commented on #255
@pengux @manuher @bakhtiyarneyman can you also attach your Xorg logs as well?

[2020-02-07 15:24] yshui commented on #255
It would also be nice if you can run picom under [xtrace](https://github.com/yuq/xtrace) and attach the trace when this bug happens (beware: there will a lot of outputs)

[2020-02-07 16:43] bricewge commented on #306
Here you go!
Got the [log](https://github.com/yshui/picom/files/4171952/picom.log) by running `picom --log-level=trace --log-file=picom.log --config=./config`. It seems that the first time I ran the command the bug didn't triggered but the subsequent ones did; it may be some fluke from my part though.

The issues I referenced contains some logs too.

[2020-02-07 18:10] PandorasFox commented on #255
here's a ~4k line [gist](https://gist.github.com/PandorasFox/2eb0769651519c0ccdf6a54e8e4549b1) of my xtrace of picom. My specific invocation was `x11trace > /tmp/picom_xtrace & sleep 1; DISPLAY=:9 picom -b && ~/bin/xsecurelock.sh`.

I have a 3440x1440 primary display, and a 2160x3840 secondary portrait display. Invoking xsecurelock causes picom to immediately crash.

[2020-02-07 18:48] yshui commented on #306
Hmmm, i don't see anything particularly wrong in the logs. Do you know where picom is stuck at? e.g. a stack trace.

I tried repeatedly sending SIGUSR1 but i cannot reproduce this problem locally.

[2020-02-07 18:56] yshui commented on #255
BTW,
@PandorasFox @pengux @manuher What graphic cards do you use?

[2020-02-07 19:13] PandorasFox commented on #255
I'm using an AMD 5700XT

[2020-02-07 20:10] yshui commented on #255
Thanks, I can reproduce this locally now.

[2020-02-07 20:17] yshui commented on #255
Does disabling shadow help?

[2020-02-07 20:32] PandorasFox commented on #255
Yep, setting `shadow = false` in my config file makes it no longer crash. I'll be rolling with that for now.

[2020-02-07 20:51] yshui commented on #255
So the problem is the shadow image created by picom exceeded Xorg's maximum request length, causing the Xorg connection to shutdown.

The solution would be to send the shadow image piecemeal, shouldn't be hard.

[2020-02-07 21:37] #255 closed

[2020-02-07 21:38] yshui commented on #274
Should have been fixed in `next`.

[2020-02-07 21:38] #274 closed

[2020-02-07 21:38] yshui commented on #255
Should have been fixed in `next`.

[2020-02-08 01:29] #290 closed

[2020-02-08 08:33] bricewge commented on #306
I got you a [stacktrace](https://github.com/yshui/picom/files/4173937/gdb.txt) with its [log](https://github.com/yshui/picom/files/4173938/picom.log).

I'm here I you need more info.

[2020-02-08 15:15] yshui commented on #306
Can you get the stacktrace when picom is stuck, not when you sent the SIGUSR1? i.e. get the stacktrace when you send it SIGINT after it's stuck.

But looks like the top of the stack is `poll()`, so it's might be in `xcb_poll_for_event()`.

[2020-02-08 15:25] bricewge commented on #306
Ok, I think I got it this time: [gdb.txt](https://github.com/yshui/picom/files/4174522/gdb.txt), [picom.log](https://github.com/yshui/picom/files/4174524/picom.log).

[2020-02-08 15:44] yshui commented on #306
oh no, this looks like a driver problem. I will investigate, but it's possible that we might have to take this to the upstream.

[2020-02-08 15:59] bricewge commented on #306
Argh... That seems strange since #304 had the same issue but with a different driver: xf86-video-fbturbo-git 199.f9a6ed7-4.
If it's really a issue from xf86-video-intel, I'm dammed, the reason in the first place that I'm using `picom` is because this driver can't be used without tearing.

[2020-02-08 18:35] yshui commented on #304
Hi, can you get a stacktrace when picom freezes?

[2020-02-12 07:51] Airblader commented on #282
Titlebars are not supported / working well with gaps. This occurs because of how i3 renders the frame windows where for a split window it's actually the parent container that has the frame and the title bars of all children are drawn onto that one window. This is mostly done because of  stacked layouts and we have an open issue in i3 to try and resolve this (although not an active issue).

[2020-02-12 13:43] ndgnuh opened #309 "glGetUniformLocationChecked ERROR: Failed to get location of uniform 'opacity'. the compositor might not work correctly."
### Platform
Archlinux, I'm using `--experimental-backends`.

### GPU, drivers, and screen setup
Intel HD Graphics 620, 2 monitors side-by-side, using `xrandr` to config.
Video drivers: (`pacman -Qs xf86-video`)
[code]

Output of `glxinfo -B`:
[code]
### Environment
I'm using Awesomewm only.

### picom version
Version: latest commit
`picom --diagnostics`'s output:
[code]

### Configuration:
[code]

[2020-02-12 17:27] ghost opened #310 "Assertion failed: (!xcb_xlib_unknown_seq_number), function append_pending_request"
Simply running `picom` under i3 (from dmenu or terminal or xinitrc) aborts (almost always, sometimes it starts) with the the following:
[code]

### Platform
[code]

### Environment
[code]

### picom version
[code]

`picom --diagnostics` crashes as well

### Configuration:
Configuration file was not modified.

### Steps of reproduction
1. Just run picom.
2. See it crash (almost always).

### Stack

[2020-02-12 19:08] ypankov commented on #310
So I have tried what the error message suggests, i.e. added `XInitThreads()` call to `main()` before any other Xlib calls, and it seems to help.

[2020-02-13 09:47] Psykopear commented on #282
Ok, thank you @Airblader for the comment. I'm closing this issue then.

[2020-02-13 09:47] #282 closed

[2020-02-13 11:58] yshui commented on #309
This shouldn't have any ill effect. Is this causing any problems?

[2020-02-13 12:02] ndgnuh commented on #309
I've notice anything unusual. I opened an issue just because it tells me that it's an error and the compositor might not work correctly.

If this isn't a problem, sorry for the false alarm.

Sent from ProtonMail mobile

-------- Original Message --------
On Feb 13, 2020, 18:58, yshui wrote:

[2020-02-13 12:05] yshui commented on #309
No problem. This is not a very good error message anyway. I should probably make it less visible.

[2020-02-14 23:50] yyny opened #312 "Modular Feature-Set (Plugins) & Better Configurability"
The current method used by compton/picom is to hard-code certain important features and read their settings directly from the config file. Other features (Such as Kawase blur) can then be patched in. However, I've found that almost all features a compositor can provide can actually be reasonably rewritten in shader languages:

 * Transparency (`color.w *= opacity`)
 * Fading (`color.w *= opacity *

[2020-02-15 03:46] jransijn opened #313 "Move doc comments out of headers into source files"
This is a bit personal preference, but I can personally understand a codebase much quicker by looking at header prototypes than by compiling and reading documentation, or reading documentation comments themselves. I prefer documentation comments in source files right before function definitions. It removes clutter in header files and also means the explanation of the code is right above the code i

[2020-02-16 17:51] YoYoYonnY commented on #270
This only appears to be an issue in the old backend. Try `--experimental-backends` for now.

[2020-02-16 19:10] clort81 commented on #295
you can get nice animated shaders behind your keycolor transparent window with glslsandbox-player

I invoke the following shader:

[turblue.zip](https://github.com/yshui/picom/files/4210631/turblue.zip)

with command:
[code]
and it runs happy mellow clouds behind all my windows
https://clort.shell.ircnow.org/keycolor_compositing.mp4
https://clort.shell.ircnow.org/ascii_patrol_clouds.mp4

with very

[2020-02-16 19:24] yyny opened #314 "OOB array access in experimental backend."
I already fixed this in my local branch, but in case it doesn't go through:

`xd->alpha_pict[(int)(opacity * MAX_ALPHA)]` in the `blur` operation for the xrender back-end accesses the array out-of-bounds when `opacity < 0 || opacity > 1`.

This can happen when [`blur_opacity`](https://github.com/yshui/picom/blob/6a3d1354bed9d4c33227944a2331b0e5713668d3/src/backend/backend.c#L203) is changed.

The

[2020-02-16 19:48] YoYoYonnY commented on #313
More personal preference, but I dislike `Doxygen` and prefer separate tools for doc-comment extraction and markup/cross-referencing.

[2020-02-16 20:11] clort81 commented on #312
per-window glsl shaders would be good.

[2020-02-17 00:19] YoYoYonnY commented on #312
Another problem I am finding is that in the current code path, modules should be loaded after logging is initializer, but also before config/cli-arguments have been read. This means we can't log module initialization failure unless we use WARN log-level or higher, or if we 'preprocess' the entire argument list/config file to look for `--loglevel` which are both silly. Obvious solution is to parse

[2020-02-17 01:53] linhvng commented on #285
I observe the same behavior in my set up:
- freebsd 12.1
- picom v7.5
- cwm

The firefox's border has bright translucent border while xterm and pcmanfm has correct border color. I have tried picom, compton, and xcompmgr; all with default configuration.

incorrect border color in firefox

![2020-02-17-084333_1366x768_scrot](https://user-images.githubusercontent.com/8838571/74618049-0e60fb80-5128-11

[2020-02-17 03:29] phisch commented on #217
I have been working on a little proof of concept today to see if this is something that could work in picom, and this is the result:
![encoded](https://user-images.githubusercontent.com/1282767/74621474-6c4c0e00-513d-11ea-8122-901b5e7fee3b.gif)

I have only little c experience, and basically know nothing about how picom works, but that's what i could get after about a day of reading the code and t

[2020-02-17 04:02] YoYoYonnY commented on #312
**UPDATE**
[What I got so far](https://github.com/YoYoYonnY/picom/tree/modules)
I currently only implemented `dbus` as a module, to provide an example.
The other modules take significantly more work, since their implementation is scattered throughout the source tree.
I almost implemented the blur module locally, but it's still incomplete.

Additionally, there are still several design problems curr

[2020-02-17 04:05] YoYoYonnY commented on #43
@nkreer See #312, which should make this significantly easier (soon)

[2020-02-17 06:20] phisch commented on #217
I'm having an issue when a window shrinks or grows. When one of both happens, it seems like the content of the window is drawing in the new final size instantly. And i can't get the content to scale properly while the transition is running.

@yshui can you maybe give me a clue on how to force windows to redraw their content (during a transition).

[2020-02-17 07:48] Rapiz1 commented on #217
Good Job!

I doubt that it's necessary to have windows redraw during the transition. I have a look at the transition of KDE. It seems that windows just crossfade between two image.

[2020-02-17 08:46] phisch commented on #217
Even though it might not be necessary for quick transitions, i would still like to be able to re-render the content during the transition. For the beginning i would like this to happen as often as possible, and later on things like this could be changed with configuration.

For slow transitions, it looks pretty bad if a window goes from very large to very small or vice versa.
I have tried sending

[2020-02-17 12:09] yshui commented on #217
Unfortunately it's pretty much impossible to have window contents update smoothly during transition.

From the window's perspective, it's size change request is already acknowledged by the window manager, it's window is already updated to the new size, so it will render content at the new size. The compositor doesn't have a say in this process.

[2020-02-17 12:27] yshui commented on #312
This is quite interesting.

From my understanding I think there will be at least two kinds of modules: those related to rendering and those that do not.

Because of how the backends are currently architected, making the rendering/effects extensible is quite difficult. The system is (somewhat intentionally) not designed to allow the backend rendering to change the geometry or shape of a window.

OT

[2020-02-17 12:29] phisch commented on #217
@yshui so the only alternative i we have is to grab the pixmap from before the size update, the one after, and transition in between them?

[2020-02-17 13:46] Un1Gfn opened #315 "xset dpms force off: blank screen w/ mouse only after wakeup"
# `xset dpms force off`: blank screen w/ mouse only after wakeup

### Platform

[Thinkpad X200](http://www.thinkwiki.org/wiki/Category:X200)

Arch Linux

[code]
<details><summary>biosdecode</summary>

[code]
</details>

<details><summary>dmidecode -t bios</summary>

[code]
</details>

<details><summary>lspci &#124; grep -e 'VGA' -e 'Display' &#124; cut -d" " -f 1 &#124; xargs -i lspci -vvv -xxxx -

[2020-02-17 13:50] Un1Gfn commented on #315
![photo_2020-02-17_21-48-00](https://user-images.githubusercontent.com/28521292/74659514-728aca80-51cf-11ea-8924-b3e18c7df9ad.jpg)

[2020-02-17 14:01] Un1Gfn commented on #315
It seems that @Skibicki has a similar GPU, GMA 4500 (I'm GMA 4500MHD)
However SNA+TearFree+picom does not eliminate screen tearing for me. I have to switch to UXA.

https://github.com/yshui/picom/issues/132#issuecomment-480531044

[2020-02-17 17:16] yshui commented on #217
@phisch ideally, yes.

simple transition is probably enough, like scaling up the before pixmap for example.

[2020-02-17 19:17] clort81 commented on #295
3-layered shaders
![bakanim](https://user-images.githubusercontent.com/51511737/74680986-81b74b80-51c2-11ea-9b63-870afd1dce66.png)

[2020-02-18 10:03] Un1Gfn commented on #315
I switched to wayland+sway  :)

[2020-02-18 10:03] #315 closed

[2020-02-18 15:01] WillPower3309 opened #316 "[Feature Request] Option to ignore blur on fully transparent windows"
If picom were to have an option to not blur fully transparent window elements it allow it to present windows in the way that they were intended to be presented, while still allowing for a cool blur for partially transparent elements. Many applications have fully transparent elements intended to not appear to the user in order to shape the window (firefox menus, many game launchers, and any awesome

[2020-02-18 15:52] WillPower3309 commented on #316
Here is a screenshot illustrating the issue:
![dirty](https://user-images.githubusercontent.com/13266308/74752444-acde8100-523c-11ea-815f-32a9d2738929.png)

Th effect can be observed at the corners of the bar at the bottom of the desktop

[2020-02-18 20:03] WillPower3309 commented on #316
Closing the issue as ive realized that there is a solution in awesomewm, can't blame picom for doing what its being told to

[2020-02-18 20:03] #316 closed

[2020-02-20 05:47] OliverLew commented on #300
Confirming that `use-damage = false;` works for me.

[2020-02-20 17:59] GorrillaRibs opened #317 "Opacity rule for net_wm_state_hidden no longer works"
### Platform
Arch Linux (problem only appears in git master, repository package seems fine)

### GPU, drivers, and screen setup
Intel non-modesetting (integrated gpu), NVIDIA GTX 1050,  3840x2160 screen

### Environment
i3-gaps with xfce4-panel & other xfce bits

### picom version
latest git master

### Configuration:
[code]

### Steps of reproduction

1. Be running latest git master w/ i3wm (easi

[2020-02-21 10:28] yshui commented on #314
If you have a fix, can you open a PR for it so I don't have to re-do what you have already done?

Thanks!

[2020-02-21 16:06] jransijn commented on #314
The fix is currently in a branch that moves around a bunch of code, but it shouldn't be that hard to merge it into the `next` branch. I'll see what I can do.

[2020-02-21 16:49] jEsuSdA opened #319 "Extrange lines on transparent windows"
### Platform
Debian Testing 64bits

### GPU, drivers, and screen setup

Intel Haswell, two monitors configured side-by-side

Drivers: package xserver-xorg-video-intel 2:2.99.917+git20190815-1

glxinfo -B:

[code]

### Environment

XFCE 4.14

### picom version
v7

picom --diagnostics:
[code]

### Configuration:
[code]

### Steps of reproduction

1. Run xfce4-terminal configured with transparent bac

[2020-02-21 18:20] tbkr commented on #32
Hey, this probably isn't the right place to ask this but is there any possibility to darken the kawase_dual blur in a way that a transparent background of e.g. a terminal is a bit darker?

I have a lot of bright background images and it would be nice if there is an option which allows to additionally dim the blur. I'm currently not really happy with the contrast ratio. I know that there is an opti

[2020-02-21 20:04] jEsuSdA commented on #319
Another example:

![Peek 21-02-2020 21-02](https://user-images.githubusercontent.com/5833446/75067595-b0e4fa00-54ed-11ea-8cfd-45f214436654.gif)

[2020-02-21 20:10] SitiSchu commented on #32
@tbkr its offtopic but you can use a shadow to achieve that effect (for example with `shadow-opacity = 0.4;`)
![image](https://user-images.githubusercontent.com/18517178/75067991-90696f80-54ee-11ea-8c5a-fe0d103a2532.png)

[2020-02-22 13:12] jEsuSdA commented on #319
I don't know it is related, but I notice the transparency is lost in some cases in xfce4-terminal.
Here  you can find some black background under certain lines:

![imagen](https://user-images.githubusercontent.com/5833446/75092943-55624d00-557d-11ea-9564-177c6bb9b181.png)

[2020-02-22 14:17] tbkr commented on #32
@SitiSchu isn't the shadow only applied outside of a window? In my case the tint of a blurred background isn't really affected by the shadow. Also changing the alpha value only results in a darker or brighter shadow outside the window.

Even setting the opacity to 1 results in no additional darkening of the blurred window background.

Did I get you wrong?

[2020-02-22 22:20] jransijn opened #320 "Infinite reset loop when passing `--config /dev/null`"
The docs recommend `--config /dev/null` for not providing a config file, but the inotify interface can still create events for it, resulting in an infinite reset loop.

[2020-02-22 23:06] manilarome commented on #32
It can, check `full-shadow` in the manual.

[2020-02-23 15:54] yshui commented on #314
Reading through your PR, I realized there must be a deeper cause somewhere else.

If you want to investigate, I think you can remove the fix, but keep all the assertions, and see where the assertion is violated.

[2020-02-25 07:08] wachd opened #321 "How to disable animation"
Arch, Openbox

I don't know what are you doing but, it said I can't use compton from now.
if tried --no-fading-openclose but it still animates when I'm switching between workspaces

[2020-02-25 11:48] dylanaraps commented on #91
I've opened a PR for this here: #3322

[2020-02-25 15:25] tbkr commented on #32
@manilarome Thanks, that indeed did the trick.

[2020-02-25 16:58] jEsuSdA commented on #319
I found a workaround:
adding

`normal = { full-shadow = true;}; `

the strange lines dissapear, but the background transparency is too dark (cause the shadow).

So, could you help me to avoid artifacts without using full-shadow?
Thanks a lot!

[2020-02-25 18:19] jEsuSdA commented on #319
I finally discover that using:

`use-damage = false;`

solves the problem, but I feel disabling use-damage causes a bit of lag, so any new ideas are welcome. ;)

[2020-02-26 01:22] iletthedogsout69 opened #323 "Rules are not applying to notification-typed windows"
### Platforme
Archlinux

### GPU, drivers, and screen setup

Intel graphics

`glxinfo -B` output:
[code]

****

### Environment

AwesomeWM, XFCE4

### picom version

vgit-fe766

### Configuration:
[code]

### Steps of reproduction

1. Add a picom rules for notification typed window. For example:
[code]
2. Create a notification using notify-send.
3. Notice that the rules wasn't applied to the notif

[2020-02-26 05:16] resloved commented on #295
I've also been working on getting animated shaders working.

https://streamable.com/e0x7r

For now I've hardcoded a refresh with a delay, instead of using the benchmark flag. Saves a lot of cycles. I also had to remove the damage/staling for now as it doesn't take into account the resulting changes from the shader. I'm no expert in opengl or how picom functions so theres probably a better way to h

[2020-02-26 11:05] #91 closed

[2020-02-26 11:35] xzfc commented on #299
I can reproduce a similar problem with this minimal example:

0. Install [peek](https://github.com/phw/peek). Although, any other RGBA app would suffice, I think.

1. Run i3 with [this config](https://github.com/yshui/picom/files/4255285/i3-config.txt) in Xephyr:
[code]

2. You should see the `peek` window with a transparent border. [img1.png](https://user-images.githubusercontent.com/5121426/7533

[2020-02-26 21:12] #320 closed

[2020-02-27 15:23] yshui commented on #295
@resloved Did you export new variables to the shader?

[2020-02-27 17:22] resloved commented on #295
@yshui I added a new uniform which gets updated before being passed to the shader, if thats what you mean. For example this is the shader I used in the streamable:

[code]

Right now it just passes the number of times the shader has been drawn, but that easily could be swapped out with whatever method you want to use to get the time.

[2020-02-28 23:55] celynwalters opened #324 "Instant segfault unless config disabled"
It's my first time using picom (or compton).
I like bleeding edge, but should I be using a release on master branch instead?

### Platform

Ubuntu Desktop 18.04 amd64

### GPU, drivers, and screen setup

NVidia GTX 970, nvidia-drivers 440.33.01, three monitors configured side-by-side with xrandr

<details>
<summary><code>glxinfo -B</code></summary>

[code]

</details>

### Environment

Vanilla i3:

[2020-03-01 11:42] lyuben-todorov commented on #84
This is a really weird bug. Before AUR switched to picom I was getting it seemingly at random and it would apply to all fullscreen applications. On firefox developer edition I was able to 'un-freeze' the screen after switching fullscreen a few times. I'm currently getting this on popcorntime which is an electron-based torrent streamer. I was getting this with both the intel and nvidia gpu untill I

[2020-03-01 11:46] lyuben-todorov commented on #84
Forgot the picom config:
[code]

[2020-03-01 12:38] yshui commented on #84
@lyuben-todorov does the whole screen freeze? or just a single window? also, do you have the debug log at the time of freeze?

[2020-03-01 12:44] yshui commented on #324
What is your `$XDG_CONFIG_DIRS`?

[2020-03-01 12:47] yshui commented on #324
Never mind, I can reproduce it.

[2020-03-01 13:17] #324 closed

[2020-03-01 13:17] yshui commented on #324
@celynwalters Can you try the latest `next`, see if it's fixed?

[2020-03-01 13:19] bno1 opened #325 "FPS hit in fullscreen games when two displays are connected"
I get a 10-15% FPS hit in Starcraft 2 (running via Wine and DXVK) when I have picom running and two displays connected. The game runs in fullscreen on one display and the other display has no application running on it, not even the XFCE panel.

If I stop picom OR disconnect/disable the second display while keeping picom running I don't see this decrease in performance.

My theory is that picom doe

[2020-03-01 14:18] celynwalters commented on #324
Perfect, quick turnaround! Thanks

[2020-03-03 03:51] tmpm697 commented on #245
I find out that I have to run `picom/compton` with `-b` option in `.xinitrc` to eliminate splash issue as in above video. What a learn, I used to use `&` to run `picom` in background and it's not the way to use `picom`. Hope this help others.

[2020-03-03 03:51] #245 closed

[2020-03-03 03:52] tmpm697 commented on #245
After upgrade from `5.1` to `7.5`, speed of shell increase a lot. @yshui thanks for your effort in this repo.

[2020-03-03 04:37] Avi-D-coder opened #326 "Config regresion"
### Platform
Arch Linux up to date.

### GPU, drivers, and screen setup

name of display: :0
display: :0  screen: 0
direct rendering: Yes
Extended renderer info (GLX_MESA_query_renderer):
    Vendor: Intel Open Source Technology Center (0x8086)
    Device: Mesa DRI Intel(R) HD Graphics 620 (Kaby Lake GT2)  (0x5916)
    Version: 19.3.4
    Accelerated: yes
    Video memory: 3072MB
    Unified memor

[2020-03-03 09:34] lyuben-todorov commented on #84
This bug is so weird. I can no longer reproduce this. The only change is that I rebooted my PC after 5 days of uptime.
The whole screen freezes. Next time I get this I'll post a debug log

[2020-03-03 10:48] yshui commented on #326
Can you get a stack trace?

[2020-03-05 04:09] Avi-D-coder commented on #326
Is there an easy way of  getting it?

[2020-03-05 04:19] Avi-D-coder commented on #326
[code]

[2020-03-05 12:45] dtzWill commented on #326
Looks like the new `xdg_config_home` returned string from `getenv`, this patch fixes the issue here:

https://raw.githubusercontent.com/dtzWill/nixpkgs/6441a69cf536addab4c068abfae9f6d3197723c1/pkgs/applications/window-managers/picom/fix-xdg-config-home.patch

Hope this helps!

[2020-03-05 17:03] yshui commented on #326
@dtzWill can you open a PR?

[2020-03-06 05:45] #326 closed

[2020-03-06 09:16] yshui commented on #295
@resloved nice. can you open a PR for your changes?

[2020-03-06 13:22] yshui commented on #211
I think you have disabled blur on all window that has a gtk frame.

Can you try removing this line:

[code]

[2020-03-06 13:23] yshui commented on #323
If you just use only this few lines as your config:

[code]

does it still not work?

[2020-03-06 15:48] aromanro opened #328 "Tearing with rotated screen"
### Platform
Raspbian on a compute module 3, output of uname -a
`Linux raspberrypi 4.19.97-v7+ #1294 SMP Thu Jan 30 13:15:58 GMT 2020 armv7l GNU/Linux`

### GPU, drivers, and screen setup
vc4-kms-v3d
a custom DSI panel that starts in 800x1280 mode
rotated display to landscape (1280x800) with `xrandr --output DSI-1 --rotate left`

### Environment
I tried this with several different setups, it behav

[2020-03-06 17:02] Vladimir-csp commented on #211
No change without this line.
In particular I use Sakura terminal, which does not have CSD. Also I have window decorations disabled for all windows by default in Openbox (only 1 pixel border on all sides is present). If I enable decoration for a Sakura window, then it does not have blur even if maximized.

[2020-03-06 19:18] yshui commented on #211
@Vladimir-csp I see. Is the sakura terminal window of a type which you have the blur disabled for?

i.e. is it a dock/desktop/dnd?

[2020-03-07 02:31] iletthedogsout69 commented on #323
Yes. This image below is the notification from xfce4 while running picom with only these rules:

[code]

![1234](https://user-images.githubusercontent.com/61376039/76135029-33c59300-605e-11ea-8f28-73a024a8e994.png)

Btw, I also tried the old, unmaintained compton by chjj and I noticed that it has the same issue.

[2020-03-07 11:45] yshui commented on #323
Ah, right.

Notification window type is called "notify" since the old compton. So this should work:
[code]

This is unfortunate. I will see what I can do.

[2020-03-07 12:15] #323 closed

[2020-03-07 12:16] yshui commented on #328
You are not using `picom`.

[2020-03-07 12:48] aromanro commented on #328
No, I'm not.

But I understand that Compton development ceased and this is where the development effort moved. I was hoping that somebody would be kind enough try to rotate the screen and confirm or infirm this issue for picom. Especially one that has it compiled for Raspbian.

[2020-03-07 13:38] yshui commented on #328
@aromanro You can try picom and see if it helps. Building instructions are listed in the README.

[2020-03-07 13:41] aromanro commented on #328
Probably I'll do that, but I was hoping somebody already knows about such behavior.
Thank you!

[2020-03-07 14:38] iletthedogsout69 commented on #323
Thank you for fixing it! And thanks for maintaning this!

[2020-03-07 16:29] Vladimir-csp commented on #211
Removing the section I can see conky (desktop) and tint2 (dock) are blurred, but not sakura.
xprop for a sakura winow:
[code]

[2020-03-07 16:50] yshui commented on #211
That's very odd. Without blur exclusion everything should have blur, unless somehow the sakura window is not considered transparent by picom?

[2020-03-07 17:33] yshui commented on #309
Resolved by 4247d4cf78269c143728fd7b9017d72beb4b9b9d

[2020-03-07 17:33] #309 closed

[2020-03-07 19:50] #197 closed

[2020-03-07 19:52] yshui commented on #303
@Admicos sorry but the link to your video is broken

[2020-03-07 19:53] yshui commented on #303
I couldn't reproduce this bug locally.

[2020-03-07 20:08] yshui commented on #306
@bricewge Can you try the latest `next`? I tried to make sure the GL context is really destroyed when picom resets, maybe that will fix the problem.

[2020-03-07 20:14] yshui commented on #304
I have to put this on low priority as this problem manifest on a uncommon setup (ARM with fbturbo).

In the mean time, as you don't have hardware accelerated OpenGL anyway (mesa is using llvmpipe), you could try using the xrender backend instead of glx, that might give you better outcome.

[2020-03-07 20:16] yshui commented on #275
Can you record a video showing this problem?

[2020-03-07 20:28] yshui commented on #211
I was trying to reproduce this in awesome and I couldn't. Now I tried openbox and the problem is indeed there.

I also narrowed the problem to `frame-opacity`, as the problem goes away if I remove that option.

[2020-03-07 20:52] bricewge commented on #306
Looks like we're good here.
I really wasn't expecting this issue to be fixed, thank you so much @yshui! (:

[2020-03-07 20:52] #306 closed

[2020-03-07 23:33] ReductoAdAbsurdum commented on #275
https://youtu.be/AoVnbr85-e0

[2020-03-08 02:34] OliverLew commented on #319
I think this is a duplicate of #50

[2020-03-08 10:36] yshui commented on #275
I would say they _do_ fade out, but as the other window rushes in the cover the space that was occupied by the closed window, it looks like they don't.

You can kind of see it if you frame step through the video.

[2020-03-09 00:50] ReductoAdAbsurdum commented on #275
anyway to fix it ?

[2020-03-09 02:07] TRSx80 opened #329 "No transparency when starting picom for the first time after boot"
First off, thanks for picking up the torch on the maintainership of this project! :beers:

Second, I am but a low level wizard, and very new to tiling WMs and etc., so I am probably doing something wrong in the way I am launching picom. But I will make my report anyhow.

### Platform

Debian Stable/Testing (happens on both) amd64

### GPU, drivers, and screen setup

Radeon R9 290, 3 monitors in a

[2020-03-09 02:13] resloved commented on #295
@yshui Done. See https://github.com/yshui/picom/pull/330

[2020-03-09 05:15] OliverLew opened #331 "Shadow does not respect opacity settings with experimental backends if window size is small enough"
**Update** Apr 2: See a few comments below for a more accurate description of this issue. In short, the opacity setting is violated when the window size goes under twice the shadow radius.

### Platform

Archlinux linux-lts
### GPU, drivers, and screen setup

AMD ATI Radeon Vega 8 (integrated)
local/mesa 19.3.4-2
local/xf86-video-amdgpu 19.1.0-1 (xorg-drivers)
local/xf86-video-vesa 2.4.0-2 (xorg-d

[2020-03-09 08:57] yshui commented on #275
@ReductoAdAbsurdum there is nothing to fix.

[2020-03-09 13:57] aromanro commented on #328
picom exhibits the same issue.
It took me a while, since I needed to cross compile it, but I have it working now.

I'll do more tests and provide more info later.

[2020-03-09 15:47] yshui commented on #313
doc comments should be in both the header and the source file.

We aren't using doxygen at the moment, it's a vestige.

[2020-03-09 15:47] #313 closed

[2020-03-09 15:48] yshui commented on #329
do you have any log files from the failed start?

[2020-03-09 16:14] aromanro commented on #328
I'll add only the things different from the first comment here:

### picom version
Output of `picom --diagnostic` is:
[code]

### Configuration:

Currently is:
`/usr/local/bin/picom --backend glx --vsync`

But I tried various flags, with similar issues. For example, I tried --experimental-backends, also not only the glx backend but xrender, too. I also tried --no-use-damage but it does not seem to

[2020-03-09 16:19] TRSx80 commented on #329
This is reliably repeatable for me on a cold boot, so if you give me a hint as to how to generate logs (or where to find them), I am sure I could get you some.

[2020-03-09 17:23] TRSx80 commented on #329
https://paste.debian.net/hidden/81950f69/

OK, well, if I am reading this log correctly I guess `picom` *is* actually starting(?). I can't make much sense of it, maybe you can.

But none of the windows that the startup script open have any transparency. I also put `sleep 2` in the startup script after `picom` to try and give it more time to load, but that didn't seem to help. Maybe it has somethin

[2020-03-09 19:02] mighty9245 commented on #321
what do you mean under "it said I can't use compton from now"? you probably encountered a deprecation message since this fork of compton is now called picom.

this animation on opening/closing windows and on switching workspaces is called fading and if you want to disable it probably setting `fading` option to `false` will be enough.

[2020-03-10 07:31] yshui opened #332 "Time uniform of glsl shaders"
It is implemented in #330 for old glx backend. Implement it for the new one as well.

[2020-03-10 07:38] yshui commented on #329
Yes, picom was started and running. If you have problem getting transparency, it's more likely a problem with your window manager. Can you maybe report this to i3-gaps and see what they say?

[2020-03-10 08:58] yshui commented on #328
Does vsync work when the screen is not rotated?

[2020-03-10 10:12] aromanro commented on #328
Yes.

[2020-03-10 10:42] aromanro commented on #328
I suspect this is not an issue in picom, but something originating somewhere else in xorg.

Does it work ok on other platforms, when the screen is rotated?

[2020-03-10 11:23] yshui commented on #328
Not on Intel :(

what picom does is simply ask OpenGL to do vsync, when it broke, it's almost always the drivers' fault, and there is nothing much picom can do. It's better to report this bug upstream.

[2020-03-10 12:13] aromanro commented on #328
I'm not sure that would explain why wayland does not exhibit the same issue, though. Isn't is using the same video driver and opengl lib?

[2020-03-10 12:45] yshui commented on #328
@aromanro I was more talking about the driver in Xorg, instead of the underlying kernel video driver.
Yes, they are using the same underlying kernel drm driver, but there are code in Xorg that talks to the drm driver, which can also be considered a driver (the xf86-video-* stuff).

As for opengl, the higher level stuff is the same, but the platform dependent part (EGL, GLX) is different

[2020-03-10 12:47] yshui commented on #328
I would suggest opening a bug report against xserver, as I assume you are using the modesetting driver? I can see the same problem with the modesetting driver on Intel graphics as well.

[2020-03-10 13:14] yshui commented on #307
You don't have your drivers properly installed, as you are not getting hardware accelerated opengl. Probably missing intel dri?

[2020-03-10 14:23] aromanro commented on #328
I think I also see the issue in Ubuntu with gnome, although it's not so bad since the difference in speed is huge, but I perceive a difference between the 'normal' and rotated screen. I also suspected something in xorg but I cannot pinpoint it. I have a feeling that it might be something to do with something using the wrong display dimensions when the display is rotated. And it wouldn't be the fir

[2020-03-10 15:00] yshui commented on #328
I think you should just go ahead a report the bug to xorg.

After you've done reporting this problem to xorg, please remember to link to it here.

[2020-03-10 15:52] yshui commented on #321
switching between workspaces is not open or close, so it's not affected by the `--no-fading-openclose` option.

[2020-03-10 15:52] #321 closed

[2020-03-10 15:54] yshui commented on #287
@m-kru you don't have proper hardware support for opengl.

[2020-03-10 16:02] yshui commented on #273
Were you using the experimental backends?

[2020-03-10 16:04] yshui commented on #295
I've opened a page in wiki: https://github.com/yshui/picom/wiki/Shader-Shop, if you want you can put your shaders there. You should have permission to change the page, if not, let me know.

I am going to close this issue after a while.

[2020-03-10 16:04] yshui commented on #295
ping @clort81 @resloved

[2020-03-10 16:12] yshui commented on #285
@akemrir sorry, with the setup in your original post, what does it look like if you don't run picom?

[2020-03-10 16:13] resloved commented on #295
Great idea! I was thinking of making a repo to host my stuff, but having it directly in the wiki is a better idea.

Also, I can probably get around to https://github.com/yshui/picom/issues/332 sometime this week, but I'm not too familiar with the experimental backend changes so it might take me a bit.

[2020-03-10 16:13] yshui commented on #310
that's odd, as picom is not threaded. maybe the nvidia driver uses threads on FreeBSD?

[2020-03-10 16:20] yshui commented on #310
Can you list the threads by doing `info threads` in gdb?

[2020-03-10 16:21] yshui commented on #310
Can you list the threads by doing `info threads` in gdb?

[2020-03-10 16:25] yshui commented on #310
I can only see one thread in the gdb output. This _might_ be a xcb v xlib incompatibility.

As the reporter has deleted their account, I will close this issue until it resurface.

[2020-03-10 16:26] #310 closed

[2020-03-10 16:29] yshui commented on #297
@d4h0 `gl`, you can just run `apitrace trace /path/to/picom`

[2020-03-10 16:32] yshui commented on #278
Might be related to #297

Can you capture a trace of picom using `apitrace` when this is happening? Do you have the logs produced by picom?

[2020-03-10 16:34] yshui commented on #331
Can you capture a trace of picom with `apitrace`?

[2020-03-10 16:35] yshui commented on #268
@behollder is the issue fixed for you as well?

[2020-03-10 16:36] yshui opened #333 "--diagnostics doesn't work when picom is already running"
It fails with

[code]

[2020-03-10 16:40] yshui commented on #276
@kberkut what if you disable shadow?

[2020-03-10 16:41] yshui commented on #308
Do you use `/dev/null` as config file? Is this fixed in the latest `next` branch?

[2020-03-10 16:42] yshui commented on #319
@jEsuSdA can you try the latest git version of picom? It might have already been resolved.

[2020-03-10 17:14] kberkut commented on #276
After some updating of archlinux, resizing windows using picom works fine, shadows is enabled.
Thank you for create of picom!

------------------------
picom v7.5

OS: Arch Linux x86_64
Kernel: 5.5.7-arch1-1
CPU: AMD Ryzen 5 3500U with Radeon Vega Mobile Gfx (8) @ 2.100GHz
GPU: AMD ATI 04:00.0 Picasso

[2020-03-10 17:21] mighty9245 commented on #276
@kberkut, you can close the issue if it's resolved

[2020-03-10 17:23] kberkut commented on #276
Resolved.

[2020-03-10 17:23] #276 closed

[2020-03-10 17:59] yshui commented on #276
@kberkut did you upgrade your GPU in between? as I suspect this is a driver related issue

[2020-03-10 18:26] kberkut commented on #276
Perhaps in the process of some update, the GPU driver was updated. I use a standard driver.
Now the system has installed:
glu 9.0.1-1
mesa 19.3.4-2
xf86-video-amdgpu 19.1.0-1

[2020-03-10 18:41] yshui commented on #276
@kberkut Ok. Glad your problem is solved.

[2020-03-10 21:12] altaway opened #334 "GLX issue"
### Platform
Fedora 31

### GPU, drivers, and screen setup
Mesa:
[code]
xf86:
[code]

### Environment
bspwm

### picom version
v7.5

### Configuration:
Pretty much the default.
[code]

### Steps of reproduction

SImply install picom + bspwm on fedora server.

### Expected behavior
Work as usual. The same version works well on archlinux.

### Current Behavior
Exits with error code 1. I'm probably m

[2020-03-10 21:55] altaway commented on #334
I found out I had to restart the session, which I didn't.

[2020-03-10 21:55] #334 closed

[2020-03-10 23:27] licaon-kter commented on #308
That was on text HEAD at that time, but appears fixed in next HEAD now, thanks. ;)

[2020-03-10 23:27] #308 closed

[2020-03-11 07:13] OliverLew commented on #331
@yshui Sorry I'm not really familiar with using these debug tools, I can't get `apitrace` working with picom. I ran `apitrace trace /usr/bin/picom [arguments]` and quit picom with Ctrl+C or `pkill`. Ctrl+C ends up with  core dump (I don't know which one it is, picom or apitrace) and `pkill` ends up with a really small trace file with 0 frames.
However I can generate a trace file for mpv with no pr

[2020-03-11 08:41] kuba-orlik opened #335 "Desaturation"
I use a grayscale filter on my android phone to keep it from being addictive. My eyes pretty much adjusted to it and now every "normal" screen seems like it has its saturation pushed to 200%. I've been looking for a way to decrease saturation on my desktop, as well. The only way I've found was to use Compiz and enable its "Opacity, Brightness and Saturation" plugin. I use it to desaturate windows

[2020-03-11 08:50] yshui commented on #331
@OliverLew Ah, I see, you are using the xrender backend. Does this same problem happen if you use the glx backend? If it does, you can get a trace from the glx backend, as apitrace works with opengl.

Sorry for not noticing that.

[2020-03-11 09:34] behollder commented on #268
@yshui I didn't build src with new changes. Today I can't do this. On my manjaro in package manager it have version 7.5.3 with build date 02/24/2020, and this issue not fixed. But for me it cares only for emacs program and only when mouse moves through menu bar, in others program which I use I cannot see this issue. Thank you.

[2020-03-11 09:36] OliverLew commented on #331
@yshui Silly me, I actually know apitrace is for opengl apps that's why I tested with mpv :) but I forgot the default backend is not glx.
This is my trace file [picom.trace.tar.gz](https://github.com/yshui/picom/files/4317219/picom.trace.tar.gz) with the following command. I opened the menu on top left corner and triggered the tooltip on the top right. It still ends with core dump though so not su

[2020-03-11 10:27] yshui commented on #295
@resloved the new glx backend doesn't support custom shaders at the moment, that issue is more a placeholder.

[2020-03-11 10:34] yshui commented on #335
This can be easily achieved by using a shader.

For example:

[code]

[2020-03-11 10:37] #335 closed

[2020-03-11 10:50] geekofChangPing commented on #287
thank you!

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "yshui"<notifications@github.com&gt;;
发送时间: 2020年3月10日(星期二) 晚上11:55
收件人: "yshui/picom"<picom@noreply.github.com&gt;;
抄送: "杂毛小鸡"<1844913392@qq.com&gt;; "Comment"<comment@noreply.github.com&gt;;
主题: Re: [yshui/picom] vsync_opengl_swc_init ERROR ] Failed to load a swap control extension. (#287)

@m-kru you don't have proper hardwar

[2020-03-11 11:27] yshui commented on #283
@muhlinux can you confirm if this has been fixed in the new driver?

[2020-03-11 12:10] aromanro commented on #328
Done: https://gitlab.freedesktop.org/xorg/xserver/issues/996

Let's hope they'll figure it out and fix it.

[2020-03-11 12:59] akemrir commented on #285
@yshui borders have valid colors when picom is not running.
When picom is running they look somewhat like they were rendered in addition mode in gimp.

[2020-03-11 13:25] mighty9245 commented on #285
hey, `frame-opacity` is known to be broken on some setups, but i assume without it you can't achieve your idea?

[2020-03-11 14:09] akemrir commented on #285
@mighty9245 yes, exactly

[2020-03-11 14:24] yshui commented on #285
@akemrir thanks. can i have a screenshot for reference?

[2020-03-11 15:45] resloved commented on #295
@yshui I was pretty confused about that, but I did get a custom shader working with a pretty small change. I think with a couple fixes it might be worth looking at.

[2020-03-11 15:49] TRSx80 commented on #329
I haven't gotten around to reporting to i3-gaps yet, hopefully soon.

But I just wanted to report back that in the case where transparency doesn't work (what I opened this ticket for) the logging stops at ~ 80-90 kB and never gets any bigger.

Then if I exit and log back in through lightdm (and transparency works) I just noticed today that the log file continues to grow and grow. Looking at it in

[2020-03-11 15:49] mighty9245 commented on #329
newbie :)
this is a task for you package manager (as i can see it's apt/dpkg and you're running debian). i didn't used apt-based distros for a while, but iirc one of ways to do this is `dpkg -l <query>`: `dpkg -l xf86` will return all packages matching xf86 with their versions and `dpkg -l mesa` is for mesa

you can make sure that picom is starting by configuring noticable visuals like big dark sh

[2020-03-11 15:54] TRSx80 commented on #329
@mighty9245,

Thanks for the tip!

[code]

[2020-03-11 17:12] yshui commented on #270
Can one of you send me a coredump of this crash, along with the `picom` binary? Thanks.

[2020-03-11 17:20] yshui commented on #329
@TRSx80 hmm, thanks for the additional information.

In the not working case, can you maybe attach `gdb` to picom and see where it's at? maybe `strace` too.

[2020-03-11 21:01] #211 closed

[2020-03-11 21:01] #333 closed

[2020-03-11 21:02] yshui commented on #211
@Vladimir-csp should have been fixed in latest `next`, can you confirm?

[2020-03-11 21:11] yshui commented on #295
@resloved if you are willing to look into implementing it, it will be great.

we should be a bit careful here, as I want the glsl shader support in the new backends to have a usable, stable, and well documented interface, that people could depend on.

a couple considerations:

* the new glx backend uses shader for opacity, inverted colors, etc. if custom shader is used, does it have to reimplement

[2020-03-11 23:35] resloved commented on #295
@yshui I would probably try to apply it after all the other postprocessing. The work being done in https://github.com/yshui/picom/issues/312 is probably ideal, but I just want to setup a simple/barebones way to use an external shader.

By backward compatibility do you just mean that `--glx-fshader-win` should function the exact same in the old and new backend or do you have something else in mind?

[2020-03-12 06:05] Vladimir-csp commented on #211
It's fixed. Thanks!

[2020-03-12 06:17] Vladimir-csp commented on #303
I can confirm this. If frame-opacity < 1, after some time picom stops refreshing the screen and those messages are spammed in console:
[code]
I have to move and switch windows a bit to trigger it.

Also frames are completely opaque even if frame-opacity is set to 0.1.

Openbox 3.6.1, Mesa 19.3.3, Intel(R) HD Graphics 520 (Skylake GT2)

[picom.trace.gz](https://github.com/yshui/picom/files/4322574/

[2020-03-12 07:01] linhvng commented on #285
I think the cause of my issue is probably a different one, but not sure if I should open a new ticket... I found that only when I enable webrender in firefox, the border has invalid color. Disabling webrender makes firefox border color normal again. Just for fun, I installed [alacritty](https://github.com/alacritty/alacritty) and the invalid border color shows up for this one as well. Since both o

[2020-03-12 07:50] akemrir commented on #285
@yshui here it is
https://imgur.com/a/6zdaThl

On this screenshot I am using gnome-terminal. But on alacritty and xfce-terminal result is same.

[2020-03-12 08:15] aromanro commented on #328
A maintainer confirmed it in modesetting.

[2020-03-12 08:15] #328 closed

[2020-03-12 09:44] yshui commented on #295
@resloved For backward compatibility I was more talking about from this point forward. Ideally existing shaders should keep working, but it's not that big of a problem.

[2020-03-12 09:48] yshui commented on #285
I think I might know what the problem is.

Looks like the RGB color is not properly pre-multiplied with the alpha value.

[2020-03-12 09:58] yshui commented on #303
@Vladimir-csp thanks for the trace.

[2020-03-12 11:32] kuba-orlik commented on #335
That works, thanks!

[2020-03-12 11:45] kuba-orlik commented on #335
I have trouble putting the shader in the `.conf` file. What's the correct way to do that?

[2020-03-12 11:51] yshui commented on #335
@kuba-orlik See https://www.hyperrealm.com/libconfig/libconfig_manual.html#String-Values

[2020-03-12 15:01] kuba-orlik commented on #335
I did set up the .conf file according to the libconf documentation:

[code]

But the shader isn't loaded and there's no warnings when starting picom. I think I'm missing something?

[2020-03-12 15:38] yshui commented on #335
@kuba-orlik Ah, sorry, I made a bad assumption. `--glx-fshader-win` is actually only available as a command line option, not a config file one.

[2020-03-12 18:18] #270 closed

[2020-03-12 18:19] yshui commented on #270
I think I fixed the problem. Can someone try the latest `next` branch and confirm?

[2020-03-12 18:21] yshui commented on #285
@akemrir BTW, does `--experimental-backends` have the same problem?

[2020-03-12 18:33] philippludwig commented on #270
I tested it and can confirm that it’s fixed for my case.

[2020-03-12 20:47] mighty9245 commented on #335
@yshui, we could change behavior of `--glx-fshader-win` to wait for path to a file containing shader instead of the shader itself and make it available through configuration file, i think this behavior is better than current.

[2020-03-13 06:15] kuba-orlik commented on #335
That'd be very useful!

12 Mar 2020 21:47:27 mighty9245 <notifications@github.com>:

[2020-03-13 11:24] feider opened #336 "[Feature Request] Remove saturation as an alternative or additional to blurring"
### Expected behavior

Currently, there is the option to blur the background of windows.
Additionally, it would be nice if you could set the saturation of the background of windows to a value between 0 and 1. 0 means, the background is converted to gray values (summing up all color channels, then dividing by 3), 1 means, the background colors are left as they are. Values inbetween mean $saturation

[2020-03-13 11:51] Clyybber commented on #336
Since this is possible with https://github.com/yshui/picom/wiki/Shader-Shop#grayscale-filter, maybe its a good idea to make it possible to have different shaders apply to different classes of windows (transparent, unfocused, etc.).

[2020-03-13 13:07] akemrir commented on #285
@yshui same problem
This could relate to this problem?
[code]

[2020-03-13 13:45] feider commented on #336
Thank you for the link, I will use that for now. But I agree that it would be nice to be able to apply it for certain windows.

[2020-03-13 14:25] Clyybber commented on #336
I don't think its possible right now, but with shaders specific to window classes it would.

[2020-03-13 14:40] jEsuSdA commented on #319
It still happens. :_(

![Peek 13-03-2020 15-37](https://user-images.githubusercontent.com/5833446/76630813-ef943000-6540-11ea-9421-d7695b3c3f92.gif)

[2020-03-13 16:41] unai-ndz commented on #217
@phisch Any updates on this? I will gladly help with testing, looks amazing so far.

[2020-03-13 18:22] jenav opened #337 "Grayscale filter shader not working with the experimental backend"
### Summary
The Grayscale filter from the [wiki](https://github.com/yshui/picom/wiki/Shader-Shop) is not working with the GLX experimental backends. Picom keeps running but windows don't go black and white.
It does work if I use the old GLX backend.

### Platform
Debian 10 amd64

### GPU, drivers, and screen setup
Intel HD Graphics 530. 2 monitors side-by-side.
modesetting driver
xserver-xorg-core

[2020-03-13 20:55] mighty9245 commented on #337
`[ 03/13/2020 23:54:20.766 get_cfg WARN ] --glx-fshader-win is being deprecated, and might be removed in the future. If you really need this feature, please report an issue to let us know`

looks like `--glx-fshader-win` isn't implemented in experimental backends at all and there is only deprecation message stub

[2020-03-13 21:02] mighty9245 commented on #337
ok, i just build picom from the commit you linked and now nothing really happens. probably deprecation message was removed but feature wasn't implemented yet?

[2020-03-13 21:35] yshui commented on #337
Yes, custom shaders are only supported in the old backends currently. There is plan to add it to the new ones.

[2020-03-13 21:35] #337 closed

[2020-03-14 00:38] Aaahh opened #338 "[Feature Request] Selective Opacity"
### Environment
i3-gaps

It would be nice to have opacity selective, as in

full opacity:
![2](https://user-images.githubusercontent.com/3966556/76671036-7e697280-656a-11ea-9698-bddf7c067448.jpg)
90 opacity:
![3](https://user-images.githubusercontent.com/3966556/76671038-7f020900-656a-11ea-97d8-c7fc9624e793.jpg)

90 opacity on black:
![1](https://user-images.githubusercontent.com/3966556/76671060-

[2020-03-14 00:41] Aaahh commented on #338
somewhat similar https://github.com/yshui/picom/issues/336

[2020-03-14 00:43] Aaahh commented on #297
what are you using as a background image setter, are you using any programs that draw to the root window?

[2020-03-14 20:22] mighty9245 commented on #338
i guess it will be hard to implement this in a way it will work good. i mean no matter what algorithm or strategy you will use for this, sometimes (or often) you'll get a load of glitches and artifacts

[2020-03-14 20:24] Aaahh commented on #338
I was thinking some kind of glgx filer but I also have no idea how windows
are drawn with pic ok

On Sat, Mar 14, 2020 at 4:22 PM mighty9245 <notifications@github.com> wrote:

[2020-03-14 20:28] mighty9245 opened #339 "question about dbus"
so we have dbus heritage... a src/dbus.c file and dbus-examples folder, but what's the point of it? what dbus does? do we really need it here?

[2020-03-14 21:10] dougmaitelli commented on #278
I don't see anything wrong with the logs on picom.

How can I attach the trace file?

[2020-03-14 21:18] dougmaitelli commented on #278
So, I just updated picom to 7.5-3 and now I can't even start picom anymore and it gives this error message:
[ 03/14/2020 07:17:16.747 glx_init ERROR ] Failed to get GLX context.

It was working before update, but had the blur and menu border issues I mentioned above.

[2020-03-15 10:11] yshui commented on #339
https://en.wikipedia.org/wiki/D-Bus

Basically dbus allows you to change configurations and change how windows are rendered by picom on-the-fly. It's not very well documented, but it's useful and people uses it.

[2020-03-15 10:11] #339 closed

[2020-03-15 10:14] yshui commented on #338
@Aaahh I am not sure what you are asking for? How is this opacity selective?

[2020-03-16 18:20] d4h0 commented on #297
@yshui: Thanks, I have used the following command:

`apitrace trace /usr/bin/picom --experimental-backends`

I have attached a zip archive with the trace file.

I started apitrace, moved to an empty i3 workspace (were the above-described problem happened), and then went back to the workspace with apitrace and exited it with ctrl-c.

[picom.zip](https://github.com/yshui/picom/files/4339728/picom.zi

[2020-03-16 18:24] d4h0 commented on #297
@Aaahh: I'm not using any background image, my background is black. Maybe I defined that color somewhere, but I don't remember where (otherwise, this would be the default configuration. Probably of i3).

Should I try to find out where the background color is defined?

[2020-03-16 19:57] llitz commented on #270
I can test it later today and confirm

[2020-03-16 20:48] TRSx80 commented on #329
OK, so the other day I installed `strace` and got some more logs. I start `picom` via `dbus-launch` and so I ran `strace` both before and after the `dbus-launch` as I wasn't sure what would be relevant.

If I understand correctly, whatever command you put immediately following `strace` is the one that gets traced. So essentially, the first command I did below should trace `dbus-launch` and the sec

[2020-03-17 00:18] llitz commented on #270
working without issues for me so far (=

[2020-03-17 01:17] llitz commented on #270
Actually....
I crashed twice with
[code]
Rofi works now. Perhaps there can be edge cases where flags aren't set?

I have also found this message on my xconsole (didn't show up when running from the command line, weird)

[code]

[2020-03-17 05:16] TRSx80 commented on #329
I am very pleased to report that I found the problem. There was some sort of conflict with `xfsettingsd` (the xfce x settings manager daemon) which I was using to handle setting GTK dark theme and some other things, for those applications that need it.

I needed a break from stack traces and trying (unsuccessfully thus far) to get `gdb` to work non-interactively, so I was playing around with `rofi

[2020-03-17 05:16] #329 closed

[2020-03-17 10:30] yshui commented on #270
@llitz how to trigger that crash?

[2020-03-17 13:50] aspieln3r opened #341 "high I/O on experimental backend"
Platform: Arch linux amd64

GPU, drivers, and screen setup: Intel UHD Graphics 620, laptop

picom version: 7.5-3

picom configuration: https://pastebin.com/drbGcGry

### Steps of reproduction
run picom with --experimental-backends
see iotop
picom is frequently on top
issue is not present without --experimental-backends

### Expected behavior
no changes on io load on both run modes

### Current Beh

[2020-03-17 14:21] yshui commented on #341
Why do you think this is problematic? Looks like it's not doing any disk reads or writes.

[2020-03-17 15:39] mighty9245 commented on #341
@yshui, take a look at io percentage

i noticed that it really constantly on top but uses only 0.3%, but when performing some actions it jumps to 20-30%. i tried to capture a screenshot and launched maim and io percentage increased to 20%. it also increases when moving/resizing windows. i think it could be a false positive since picom (compositor) is kinda... proxying? a lot of information (textur

[2020-03-17 16:09] llitz commented on #270
@yshui still trying to figure that one out.

I had the computer idle for a couple hours and simply switching windows made it crash (after a couple hours). Whenever I restarted picom it crashed again after 30 seconds.

Can't exactly put my finger on what, trying to understand if it was some application I had open.

[2020-03-17 16:15] mighty9245 commented on #341
ok, i did a little test what old backends do most and what new backends do most. i created two script with only difference:
[code]

then i analyzed both logs with a quickly written script to see call statistics:
[code]

as you can see new backends call getpid a lot. could this cause io percentage to grow?

[2020-03-17 17:30] yshui commented on #270
@llitz do you use `--experimental-backends`?

[2020-03-17 17:32] yshui commented on #270
@llitz I pushed changes that should fix this crash. Let me know if you see it again.

[2020-03-17 18:35] yshui commented on #285
@akemrir I think I fixed this problem in `--experimental-backends`, still investigating the old backends.

[2020-03-17 18:43] yshui commented on #285
@linhvng Can you capture a trace of picom showing the invalid border color, with [apitrace](https://github.com/apitrace/apitrace) ?

[2020-03-17 19:32] llitz commented on #270
@yshui Testing the new one, I will report back tomorrow and let you know if it crashed at all.
I am not running experimental btw (=

[2020-03-17 19:56] yshui commented on #303
@Admicos Can you try the latest `next`? might have been fixed now.

[2020-03-17 19:58] yshui commented on #266
I effectively moved the opacity update logic in `win_update_focused` into `win_on_factor_change`, this should fix you problem @Samuelfaure

[2020-03-17 20:00] yshui commented on #317
@GorrillaRibs Can you try the latest `next` and see if that fixes your problem.

[2020-03-17 20:04] yshui commented on #317
For posterity: I think the problem is related to #266. Here, when user switches away from a window in i3, it becomes HIDDEN and loses focus _simultaneously_. The code handles focus updates the opacity_target _before_ the opacity rules are applied, therefore even if the opacity rules are applied later, the opacity_target is not changed to reflect it.

[2020-03-17 20:04] Admicos commented on #303
Seems to work fine now!

(sorry for not being that active here, I saw the notification mails come in, but always had something else to do)

(also my domain the video was on expired recently, that was why it wasn't working, edited the OP with a newer link, though it's probably not any use at it seems to be fixed)

[2020-03-17 20:06] #303 closed

[2020-03-17 21:46] linhvng commented on #285
I'm not sure if I have done the tracing correctly... the trace file was empty...

_github does not allow me to upload .trace file so I just appended .zip to the end_
[24975.trace.zip](https://github.com/yshui/picom/files/4345959/24975.trace.zip)

![2020-03-17-174104_1366x768_scrot](https://user-images.githubusercontent.com/8838571/76904854-b2110900-6898-11ea-8223-73f8d99e0d74.png)

[2020-03-17 21:56] mighty9245 opened #342 "frame opacity doesn't work with experimental xrender backend"
picom built from last commit
`picom --experimental-backends --backend xrender --frame-opacity 0.5`

frame changes it's color but there is no opacity
hmu if you can't reproduce this and need additional info on my setup

[2020-03-18 07:56] yshui commented on #342
Cannot reproduce:

![a](https://user-images.githubusercontent.com/366851/76938148-02ff1c80-68ee-11ea-9114-c6329faaf7f8.png)

[2020-03-18 08:20] mighty9245 commented on #342
ok, i'll post additional info and screenshots when i'll be at home. could it be a driver issue since it's xrender, not glx?

[2020-03-18 10:09] yshui commented on #342
@mighty9245 my screenshot is from xrender.

[2020-03-18 10:11] mighty9245 commented on #342
@yshui, hey, can you please test with opaque terminal? i mean you probably have terminal background opacity configured somewhere. what if you make terminal background opaque?

[2020-03-18 10:51] yshui commented on #342
@mighty9245

still works.

[2020-03-18 11:19] mighty9245 commented on #342
weird... well, that's what i have
![image](https://user-images.githubusercontent.com/52252283/76955295-f5b05500-6922-11ea-8824-16f83e30ea00.png)

you can see how the picom was launched and the results: two instances of kitty have background_opacity set to 1.0 (which means opaque background) and the third one has background_opacity set to 0.95 (which means barely transparent) but in this case frame

[2020-03-18 11:24] yshui commented on #285
@linhvng ah, perhaps you are using the xrender backend? Does the glx backend work?

[2020-03-18 11:51] yshui commented on #342
@mighty9245 and the glx background doesn't have this problem?

[2020-03-18 11:56] mighty9245 commented on #342
@yshui, yeah, running the same command but setting backed to glx works just fine, every window got it's transparent frame.

[2020-03-18 12:57] linhvng commented on #285
![](https://media.giphy.com/media/xT5LMzIK1AdZJ4cYW4/giphy.gif)

`apitrace trace picom --backend glx` did the trick, here is the trace file :smile:
[33430.trace.zip](https://github.com/yshui/picom/files/4349021/33430.trace.zip)

here is the output of `apitrace dump 33430.trace > 33430.trace.txt`
[33430.trace.txt](https://github.com/yshui/picom/files/4349027/33430.trace.txt)

here is the output of

[2020-03-18 13:31] zenitraM commented on #274
I'm getting the same crash on https://github.com/yshui/picom/commit/33a5cc604fb1dcca0abcad7c6b308973021440a2. Can reproduce this with a maximized Firefox window on a 5760x3240 viewport (3840x2160 display with 1.5 scale)

[code]

[2020-03-18 13:49] mighty9245 commented on #212
hey, update on this: my issue with misplaced transparent lines on window instead of it's border is fixed with some commit.

but the main issue is still here: `picom --experimental-backends --backend glx --config /dev/null --frame-opacity 0.5` and stretch window to be bigger than the screen size and you'll see that right part of the window isn't drawn.

this seems to be not a driver bug because i'v

[2020-03-18 14:11] aspieln3r commented on #341
can this cause high power consumption?
because I noticed this while trying to find whom to blame for eating my battery and powertop was not helping much with per process power consumption data. It was giving me false data.

[2020-03-18 14:32] Aaahh commented on #297
@d4h0 try killing picom when it happens, does it go away? then restart picom
I'm having it happen to me now as well. I am fairly certain it is due to a setting in the options but I haven't narrowed it down.

[2020-03-18 15:08] yshui commented on #274
@zenitraM are you using the experimental backends?

[2020-03-18 15:11] yshui commented on #341
@aspieln3r `powertop` is the best tool for this in my knowledge, if that's not helping you figuring out the power consumption, it is even less likely `iotop` will.

[2020-03-18 15:17] yshui commented on #285
@linhvng it appears your window manager is rendering the frame in a weird way...

The frame has an alpha value of 0 (completely transparent).

Can you also get a trace with frame-opacity set to 1?

[2020-03-18 15:52] llitz commented on #270
@yshui it seems stable, I haven't crashed with experimental-backends or xrender so far (glx instantly freezes my system, not sure why and I am not worried about that for now).

In one specific case, I had Microsoft Teams extremely slowed down while trying to use hardware acceleration on it as well. This only happened once and in the latest build, I will keep an eye out for that.

I believe the fix

[2020-03-18 16:01] zenitraM commented on #274
@yshui oh, you're right, I wasn't :sweat_smile: Seems to work with those indeed. Thanks!

[2020-03-18 16:09] yshui commented on #274
np. I don't intend to fix this problem in the old backends, as we will eventually make the new backends the default.

[2020-03-18 16:28] yshui commented on #270
Glad to hear that

[2020-03-18 17:34] linhvng commented on #285
output of `apitrace trace picom --backend glx --frame-opacity=1`
[58224.trace.zip](https://github.com/yshui/picom/files/4350412/58224.trace.zip)

output of `apitrace dump 58224.trace > 58224.trace.txt`
[58224.trace.txt](https://github.com/yshui/picom/files/4350422/58224.trace.txt)

@yshui if I have not mentioned yet, thank you for your quick response and for looking into this issue :pray:

[2020-03-19 03:23] aspieln3r commented on #341
@yshui see attached powerstat data with and without picom , picom --experimental-backends
when total consumption was around 4W, powertop was blaming my mouse for consuming 3W and unplugging mouse didnt make a dent in total consumption and powertop choose to shift blame to backlight. I have seen users reporting similar issues in archlinux forums and probably it is a laptop issue. anyways,

measurem

[2020-03-19 11:28] yshui commented on #341
@aspieln3r Thanks for the additional information. Hearing the actual problem that led you to report an issue is much useful for me. I change the title to reflect your real problem.

Could you post you configuration file? That will help me investigate.

[2020-03-19 11:37] yshui commented on #341
Can you enable/disable these features and see how they affect the power usage?

* shadow
* blur
* use-damage

[2020-03-19 11:47] mighty9245 commented on #341
i never thought about power usage caused by picom running in the background... decided to test the thing with maim that i noticed:

nothing happens, picom running in the background, idling for several polls:
![image](https://user-images.githubusercontent.com/52252283/77064276-404bd300-69f0-11ea-80b9-7a1b471e6206.png)

pressed prtsc button which is bound to `maim -qsu | xclip -selection clipboard -

[2020-03-19 15:58] aspieln3r commented on #341
@mighty9245 can you test using powerstat and see how it goes?

[2020-03-19 16:37] aspieln3r commented on #341
attaching config with all three disabled : https://pastebin.com/2e9QD8Hd
toggling them didn't make any difference.
[code]
[code]
Result is same when kitty is ran with transparency=1 in fullscreen mode.
@yshui small another thing I noticed- when `e-damage=false` is used instead of `use-damage`(accidentally) picom didn't report any syntax error.

[2020-03-19 17:02] mighty9245 commented on #212
jesus christ i managed to fix this
![image](https://user-images.githubusercontent.com/52252283/77093798-959dd980-6a1c-11ea-9aff-2becae2f2164.png)

[2020-03-19 17:15] yshui commented on #212
@mighty9245 what fixed it?

[2020-03-19 17:16] yshui commented on #341
picom won't complain about extraneous options set in the config file.

[2020-03-19 17:17] yshui commented on #341
it did, didn't it? in your previous report, the system uses 7.7W, now it uses 6.9W.

[2020-03-19 17:19] mighty9245 commented on #212
@mighty9245, some code modifications: basically you need to set viewports when dealing with framebuffers and also projection matrices for shaders if you're using them.

i want to make my code look tidy and upload it in forked repository cuz i'm too shy to make a pull request since i'm not sure if my actions are right and there is no way to do the same in a better way.

[2020-03-19 17:35] aspieln3r commented on #341
@yshui true.Total is low but this time but std deviation is high. It actually varied from 10w to 4w at times. Change is there for sure but not a significant one like I expected 😕

[2020-03-19 18:23] jfrob commented on #132
1-2 year-ish for the most components

- ASUS Prime x470-Pro
- Ryzen 7 2700x
- Radeon RX 580

Yes.

Nope.

7.5, fine otherwise but greets me with black screen after login and after DPMS display poweroff.

Haven't tried really

No options.. yet. Need to try something due to black screen issues.

[pylly.txt](https://github.com/yshui/picom/files/4356322/pylly.txt)

[2020-03-19 20:26] mighty9245 commented on #212
@yshui, fix: f14bf3f542634ab2b5087ed55d706fb24b1f62ce

[2020-03-19 22:15] mighty9245 commented on #332
wait, but first you need to implement custom window shaders for new glx backend :thinking:

[2020-03-20 02:38] thezealousfool commented on #32
@tryone144  Updates on Kawase blur?

[2020-03-20 16:52] Hippo0o opened #344 "picom considerably slower than xcompmgr"
# Platform
Platform: Arch linux amd64 kernel 5.4

### GPU, drivers, and screen setup
Radeon RX 580, amdgpu
`xrandr --output DisplayPort-2 --primary --mode 5120x1440 --rate 120 --pos 0x0 --rotate normal --set TearFree on`
[code]

### Environment
i3-gaps 4.18

### picom version
[code]

### Configuration:
[code]
### Expected behavior
xcompmgr like performance

### Current Behavior
slower & stuttering

[2020-03-20 20:03] Hippo0o commented on #344
On nvidia i get similar results.
xcompmgr gives me shadows and transparency while it isn't slower than no compositor.
picom is noticebly slower in some cases compared to no compositor.

[2020-03-20 21:27] mighty9245 commented on #344
so you have two 2k 120hz monitors?

[2020-03-21 00:32] Hippo0o commented on #344
Its 1 ultrawide monitor. I can't test the rx580 setup for the next few days since its my pc at work.
But i can say that i testet all of those 4 options and got same results for my above mentioned problems. Especially the resizing lag/stuttering/freezing of said floating window didn't change.
While randomly testing `--backend xrender --benchmark 1000` and `--backend glx  --benchmark 1000` the time

[2020-03-21 00:53] Hippo0o commented on #344
https://www.youtube.com/watch?v=PYXiw7ivUa8 testing picom and xcompmgr.
Idk why obs stutters with xcompmgr tho.
https://www.youtube.com/watch?v=Z3Uh0wj8gtA i made a cheap phone recording to prove xcompmgr being smooth compared to picom.

[2020-03-21 11:41] aruhier commented on #325
It was fixed for me with that: https://github.com/yshui/picom/pull/187
But it doesn't work anymore (I don't know since when, I didn't do the bisect).

[2020-03-21 12:06] yshui commented on #344
This could be a bug rather than a performance problem. Unfortunately I don't have a high refresh rate monitor to reproduce this problem.

Can you turn on `trace` logging and attach a log file? I will have a look, but don't hold your breath.

[2020-03-21 12:28] bno1 commented on #325
@aruhier I tried the `next` branch just now and I don't see any performance loss when using 2 displays, so I think it's working for me. Thanks for pointing this out!

[2020-03-21 12:28] #325 closed

[2020-03-21 13:03] Aire-One commented on #32
Sorry for the "stack overflow style" question, but I'm genuinely wondering:

Wouldn't glsl shaders be a better way to implement dual kawase? Or is there some limitation I'm not aware to?

Regarding firsts post in #295, it seems to fit the use case to me.

[2020-03-21 13:21] Sorixelle opened #345 "blur-background-frame has no effect"
### Platform
NixOS

### GPU, drivers, and screen setup
AMD RX 5700, xf86-video-amdgpu 19.0.1, single 1920x1080@60hz monitor
Output of `glxinfo -B`:
[code]

### Environment
Using awesomewm

### picom version
**Version:** v7

### Extensions:

* Shape: Yes
* XRandR: Yes
* Present: Present

### Misc:

* Use Overlay: No (Another compositor is already running)
* Config file used: None

### Drivers (inac

[2020-03-21 13:29] tryone144 commented on #32
@Aire-One The dual-kawase algorithm needs more than just a single glsl shader.

The blur itself consist of two glsl shaders that are called for multiple times in succession to "downscale" and "upscale" the blurred image. This is not possible with the glx-fshader-win option.

[2020-03-21 13:41] Aire-One commented on #32
Thanks for the quick answer @tryone144 :)

[2020-03-21 14:48] Hippo0o commented on #344
[logs.tar.gz](https://github.com/yshui/picom/files/4363136/logs.tar.gz)
i did:
`strace picom &> picom.strace`
`apitrace trace picom`
`picom --log-level=debug &> picom.log`
just dragging a floating glxgears

[2020-03-21 14:49] yshui commented on #345
Can you try the latest `next` branch? I have recently fixed a similar problem, which might have fixed this as well.

[2020-03-21 14:49] yshui commented on #344
Can you do `--log-level=trace`?

[2020-03-21 14:50] Hippo0o commented on #344
[code]

[2020-03-21 14:52] Hippo0o commented on #344
i did try 1 monitor 60hz but results where the same.

[2020-03-21 14:53] mighty9245 commented on #32
@tryone144, so what's up with implementing dual kawase blurring algorithm? this night i tried to port your first implementation, but when things were mostly done i found this issue and that you already have done this :)

@yshui, a question to you that has been asked but not answered before: once we have dual kawase blurring algorithm, can we make things simpler and get rid of other blurring algori

[2020-03-21 14:54] mighty9245 commented on #344
please, upload your log to pastebin/hastebin/whateverbin and edit your comment to include link to log instead the log itself.

[2020-03-21 15:00] yshui commented on #344
@Hippo0o I added some more logs, and you fetch the latest `next` branch, and attach the `--log-level=trace` log again?

[2020-03-21 15:02] yshui commented on #32
@mighty9245

_maybe_. I don't really think removing other blur algorithm will make things that simpler.

[2020-03-21 15:03] Hippo0o commented on #344
using picom-git aur:
[code]
the lag is better but till there

[2020-03-21 15:05] yshui commented on #344
@Hippo0o you are 1 commit behind. can you rebuild and get the `trace` log again?

[2020-03-21 15:09] Hippo0o commented on #344
[picom.log](https://github.com/yshui/picom/files/4363155/picom.log)
its performing a lot better

[2020-03-21 15:20] yshui commented on #344
@Hippo0o

How much better? Is this still a problem? If it's find with you, can you upload a new video?

[2020-03-21 15:30] Hippo0o commented on #344
@yshui idk why but its as worse as before again with newer version
 https://www.youtube.com/watch?v=OfDWSq8d8qU
i will reboot and try again i guess.

[2020-03-21 15:33] Hippo0o commented on #344
@yshui idk why but its as worse as before again with newer version
 https://www.youtube.com/watch?v=OfDWSq8d8qU
i will reboot and try again i guess.

[2020-03-21 15:36] Hippo0o commented on #344
@yshui i found out why
i have to install the picom-git package from aur to have better performance with newest build from git?

[2020-03-21 16:02] mighty9245 opened #347 "gaussian blur causes gl_create_blur_context() has failed to allocate memory when no parameters specified"
[code]

i think it's related to @tryone144's pr for blur cli interface? probably default options aren't set? i'll probably investigate later, but just noted here

[2020-03-21 16:07] Hippo0o commented on #344
when i remove `/etc/xdg/picom.conf` which isnt included in the picom-git package it works better

[2020-03-21 16:16] yshui commented on #344
Can you upload a video of the "good" version?

[2020-03-21 16:18] Hippo0o commented on #344
removing
[code]
from the `shadow-exclude` list makes the freezes go away but the window still lags behind the cursor
im sure tho that it is the performance increase i mentioned

[2020-03-21 16:19] Hippo0o commented on #344
@yshui https://youtu.be/R-LoozLQRNg?t=41

[2020-03-21 16:31] Hippo0o commented on #344
i did another comparision to xcompmgr https://www.youtube.com/watch?v=3YxxiQUsHwU

[2020-03-21 17:01] #347 closed

[2020-03-21 17:01] yshui commented on #347
Thanks for reporting, fixed.

[2020-03-21 17:26] yshui commented on #266
Closing.

[2020-03-21 17:26] #266 closed

[2020-03-21 23:24] Sorixelle commented on #345
Issue still seems to exist on latest commit at time of writing (`0fa0c352307f1a34f261419ce4a2f2a45a9ba85d`).

[2020-03-22 00:00] TiZ-EX1 opened #348 "Suggestions for sample config blur/shadow/etc exclusions"
Hiya. I've found out some blur/shadow exclusions that make various applications work better. I figured I ought to submit them here as suggestions to include in the sample config.

I'm on Xubuntu 18.04, and a pretty underrated feature is xfce4-find-cursor. However, it looks like booty unless you exclude it from blur and shadow. Here's the condition: `class_g = 'Xfce4-find-cursor'`

As a tech at my

[2020-03-22 02:34] yshui commented on #317
I cannot seem to reproduce this problem locally with i3-gaps. If this is still a problem, feel free to leave comment.

[2020-03-22 02:34] #317 closed

[2020-03-22 02:39] yshui commented on #285
@linhvng The border still looks transparent even when you set `--frame-opacity=1`?

[2020-03-22 02:46] yshui commented on #285
It is definitely weird how the border doesn't have the correct alpha value. I wonder if this is a bug in Xorg.

[2020-03-22 02:53] yshui commented on #285
@akemrir What window manager do you use? Can you also capture an apitrace so we could figure out if you have the same problem as @linhvng .

[2020-03-22 06:25] manilarome commented on #345
I'm also having this issue. Glad I found a workaround. I add an opacity rule for the window_types so picom can apply the blur.

[code]

[2020-03-22 07:39] linhvng commented on #285
yessir

[2020-03-22 10:15] mighty9245 commented on #348
we probably could devote a wiki page for sample rules and configs, but we need to figure out better grouping/sorting algorithm for easy navigation

[2020-03-22 10:21] mighty9245 commented on #345
what if you set `frame-opacity` to a value less than 1, e. g. 0.5?

[2020-03-22 10:26] manilarome commented on #345
So I commented this `"99:window_type = 'normal'",` in my opacity rule and set `frame-opacity = 0.5;` The blur works.

[2020-03-22 10:36] mighty9245 commented on #345
but i have other problem - frame of transparent window (e. g. terminal with transparent background set in terminal's config` is blurred when blur-background-frame is not enabled :thinking:

need to investigate on this a little

[2020-03-22 11:45] Sorixelle commented on #345
Setting `frame-opacity` to a value less than 1 does cause the titlebar to be blurred, but also (obviously) reduces the overall opacity of the titlebar, which isn't what I want.

@mighty9245 It is a wm trick, awesomewm allows full control over basically every aspect of the window manager, background colour (and, hence, transparency) of titlebars included. I've created a "minimal" (ie. barely modifi

[2020-03-22 11:54] manilarome commented on #345
@Sorixelle set it to `0.99`, then. That 0.01 transparency is unnoticeable.

![image](https://user-images.githubusercontent.com/40349590/77248768-edd01800-6c76-11ea-80af-285dae9cb091.png)

[2020-03-22 13:17] mighty9245 commented on #345
i guess picom incorrectly determines window mode? @yshui

kitty with opaque background with awesomewm's transparent frame
[code]

kitty with transparent background with awesomewm's transparent frame
[code]

[2020-03-22 14:06] sam-lunt opened #350 "Can no longer match _NET_WM_STATE_FULLSCREEN on _NET_WM_STATE"
I had used an entry in `focus-exclude` to detect when `_NET_WM_STATE_FULLSCREEN` was part of `_NET_WM_STATE`, which allowed videos to played in full-screen without becoming opaque. At some point, this stopped working.

### Platform
Arch Linux 5.5.10-arch1-1 amd64

### GPU, drivers, and screen setup
AMD RX 590, admgpu from mesa 19.3.4-2, two monitors configured side-by-side
xf86-video-amdgpu 19.1.0

[2020-03-22 14:11] mighty9245 commented on #345
investigated on this a litte: blurring routine is the same no matter frame_opacity value, but extra routine when frame_opacity is set to a value less than 1 makes blur to be visible/to render :thinking:

[2020-03-22 14:17] mighty9245 commented on #350
recently there was a commit that *should* fix *similiar* issue. could you please try to build picom from latest commit and see if issue is still here?

[2020-03-22 14:33] sam-lunt commented on #350
Thanks for the quick reply.

I tried using the [picom-git](https://aur.archlinux.org/packages/picom-git/) package from the AUR, which builds the `next` branch (most recent commit 2523829f4c3281cfdc8629ca7a7cf9298bc3090a from earlier today). The behavior is the same, however.

Do you think it could be a change to the way that _NET_WM_STATE is matched? The other `focus-exclude` entries work. For exa

[2020-03-22 14:43] mighty9245 commented on #350
what if you change your rule a little to `"_NET_WM_STATE@:32a *= '_NET_WM_STATE_FULLSCREEN'"`

unfortunately i don't have a second monitor to test your scenario

[2020-03-22 15:40] yshui opened #351 "Frame blurring inconsistency between transparent/non-transparent windows"
A transparent windows titlebar is always blurred even without `--blur-background-frame`, which is inconsistent with non-transparent windows.

[2020-03-22 15:47] yshui opened #352 "Artifacts when blur-background-frame is enabled on old backends"
Moving windows in this setup leaves a trail is the frame region. Only happens to non-transparent windows.

Example of this problem:

https://imgur.com/MVKp41q

[2020-03-22 15:49] sam-lunt commented on #350
I had originally had it like that, but I also tried `"_NET_WM_STATE@:16a *= '_NET_WM_STATE_FULLSCREEN'"` and `"_NET_WM_STATE@:8a *= '_NET_WM_STATE_FULLSCREEN'"`. Both of those options caused a warning to be printed, while `32` didn't, so I assumed that the `32` was redundant.

Anyway, I'm now having trouble reproducing it. The original config works with both `picom` and `picom-git`. Removing the `

[2020-03-22 15:49] #350 closed

[2020-03-22 16:25] mighty9245 commented on #352
should we even care about old backends?

[2020-03-22 16:45] mighty9245 commented on #351
so transparent windows titlebar shouldn't be blurred if `blur-background-frame` is not set?

[2020-03-22 16:55] #345 closed

[2020-03-22 16:56] yshui commented on #345
@Sorixelle @manilarome Should have been fixed in `next`.

[2020-03-22 18:21] yshui commented on #352
Depends on how complex is the fix.

[2020-03-22 19:10] Aaahh opened #353 "Shadows appear ontop other windows"
### Platform

### GPU, drivers, and screen setup

### Environment

### picom version

### Configuration:
[code]

### Steps of reproduction

1.
2.

### Expected behavior

### Current Behavior

### Stack trace

### Other details

[2020-03-22 19:22] Aaahh commented on #341
I can confidently say that blur causes an increase in power usage.
As a heads up I noticed powertop has trouble showing power usage of my GPU.

[2020-03-22 19:34] Aaahh commented on #338
@yshui the images in the website are not make transparent like the rest of the window. What I want is similar to  https://github.com/yshui/picom/issues/295 so I guess I'll close this.

[2020-03-22 19:34] #338 closed

[2020-03-22 19:45] Aaahh commented on #265
Shadows still overlap over each other. Attached are images to show what I mean.
![2020-03-22-1584906112_screenshot_1920x1080](https://user-images.githubusercontent.com/3966556/77258907-172b7c80-6c54-11ea-8f11-b0832ce0e3af.jpg)
![2020-03-22-1584906108_screenshot_1920x1080](https://user-images.githubusercontent.com/3966556/77258908-18f54000-6c54-11ea-8c4d-a82f6db7f5ac.jpg)

Great work btw picom is a

[2020-03-22 20:19] mighty9245 commented on #342
@yshui, hey, looks like i found the root cause. if window doesn't have any transparent parts it has 24bit depth, adding transparent parts to it (e. g. changing background opacity in terminal) changes it's depth to 32bit. as a workaround i changed xrender's copy method to set visual to 0x1b3 and depth to 32 for every window and the issue is gone. however, i don't know how to fix this in a decent wa

[2020-03-22 20:23] Aaahh commented on #297
Here's a picture describing the problem (I think)
I can recreate it by activating my hdmi on xrandar while picom is running (or deactivating if it's active) (happens even on xrender so I think this is another bug but related)
![2020-03-22-1584907530_screenshot_4480x1080](https://user-images.githubusercontent.com/3966556/77259665-7a6bdd80-6c59-11ea-9fa7-28ab8c004647.jpg)

[2020-03-22 21:36] GorrillaRibs commented on #317
Sorry for the late confirmation, but it is indeed fixed on my end too - thanks!

[2020-03-22 23:43] Sorixelle commented on #345
Yep, that fixed it. Thanks!

[2020-03-23 00:39] manilarome commented on #345
Thanks!

[2020-03-23 11:32] yshui commented on #344
@Hippo0o is there any difference between the `xrender` and the `glx` backends? And does toggling `--experimental-backends` make any difference?

[2020-03-23 19:04] Hippo0o commented on #344
@yshui for all the problems i described there is no difference between those options.
I also tested the same scenarios on my intel(modesetting) gpu laptop and there were no such problems at all. It runs really well.

[2020-03-24 05:59] vtdmhd opened #354 "Is there a way to disable fading when switching workspace?"
This is a duplicate of https://github.com/chjj/compton/issues/314

--no-fading-openclose still doesn't prevent the fading during desktop switching

[2020-03-24 10:28] yshui commented on #354
Not possible.

Switching desktop is basically your window manager hiding all the windows from one desktop and showing you windows from another. No window is being opened or closed, so of course `--no-fading-openclose` won't affect this.

And there is no way to distinguish between switching desktops and "normal" window hiding.

[2020-03-24 10:28] #354 closed

[2020-03-24 12:07] mighty9245 commented on #285
i could look into this. y'all using qtile? can you provide sample qtile config and a small guide on how to install it and get started?

[2020-03-24 16:04] akemrir commented on #285
@yshui These problems are from qtile wm.

[2020-03-24 16:42] ghost opened #355 "Wrong shadow-exclude names"
Picom did not exclude the shadows on Plank and Conky. So I opened up **picom.conf** and changed **Conky** to **conky** (lowercase) as well as **Plank** to **plank** (also lowercase).

After restarting picom everything works as expected.

I'm on newest Arch + XFCE4.

[2020-03-24 20:00] jrwrigh opened #356 "Stacked Windows disappear on i3 restart"
### Platform
Manjaro i3 19.0.2

### GPU, drivers, and screen setup
Note: This issue occurs on two different computers running the same OS, but different hardware and drivers (one open-source, the other proprietary). I'll give specs for one machine for now.

iGPU and dGPU laptop, using a build in screen and external monitor via HDMI port.
[code]
[code]

[code]

### Environment
i3 with gaps (I think

[2020-03-24 22:04] mighty9245 commented on #32
let me explain my point

* as a user:

dual kawase should be more efficient and cpu-/gpu-friendly than other blurring algorithms. i don't have any proofs and haven't done any benchmarks, but alex47, who integrated this blurring algorithm into kde (and as far as i know it replaced the existing one), claims that.

dual kawase overall produces better looking blur than other blurring algorithms. never

[2020-03-25 10:15] tryone144 commented on #32
@mighty9245
Dual-filter kawase blur is significantly easier on computations at high blur-strengths compared to a plain gauss-kernel blur.

With my patch, there are effectively **two** different blur algorithms. And this only holds true for the new experimental gl/glx backend. The xrender backend only has support for blur-kernels. Adding support there would require a fast CPU-based implementation o

[2020-03-25 14:17] valeriangalliat commented on #356
I'm having the same issue, [this comment on Reddit](https://www.reddit.com/r/i3wm/comments/cqtu6t/i3_transparency/ex0v4hp/) gives a workaround that worked for me!

I made a shell script based on that that I call `i3-picom-restart`:

[code]

And in my i3 config I replaced `bindsym $mod+Shift+r restart` with `bindsym $mod+Shift+r exec i3-picom-restart`