[2022-09-17 18:31] BachoSeven commented on #775
@yshui Was this fixed by https://github.com/yshui/picom/pull/881?

[2022-09-17 19:41] yshui commented on #775
@BachoSeven yep! thanks for reminding me! 🙂

[2022-09-17 19:41] #775 closed

[2022-09-17 23:25] mike-lloyd03 opened #892 "Memory leak with xrender and experimental backends"
### Platform
Linux 5.19.4-arch1-1

### GPU, drivers, and screen setup

GPU: Nvidia GTX2070 Super Mobile Max-Q
Driver: 515.65.01
Monitor: Internal monitor, 1920x1080 @ 240 FPS

### Environment
WM: Left-WM

### picom version
<details>
<summary>Diagnostics</summary>

**Version:** vgit-f2970

### Extensions:

* Shape: Yes
* XRandR: Yes
* Present: Present

### Misc:

* Use Overlay: Yes
* Config file us

[2022-09-18 03:44] yshui commented on #892
Hmm, I can't reproduce this at all. I would need some help from you.

A good start would be building with `-Db_sanitize=address` and see if that report any leaks.

[2022-09-18 17:48] BuddhiLW opened #893 "Round corners mentioned at #775 solved, now gives display a black square at borders"
I use XMonad, Archlinux, and installed picom by:
[code]

![maim-region-20220918-143945](https://user-images.githubusercontent.com/59554283/190921258-5964b2a1-19a3-4c83-bc83-3982fae23607.png)

[2022-09-18 18:15] yshui commented on #893
`picom` in the Arch repository doesn't yet have the round corner fix.

[2022-09-18 18:15] #893 closed

[2022-09-19 22:17] yshui commented on #863
Not sure. Does picom use more CPU while you move a window?

[2022-09-19 23:54] BaigHack3rss opened #894 "Picom not blurring gnome apps on xfce"
### Platform
Arch Linux x86_64

### GPU, drivers, and screen setup

Using Core i5-3550 integrated graphics with mesa-git with 2 side by side screens

name of display: :0
display: :0  screen: 0
direct rendering: Yes
Extended renderer info (GLX_MESA_query_renderer):
    Vendor: Intel (0x8086)
    Device: Mesa Intel(R) HD Graphics 2500 (IVB GT1) (0x152)
    Version: 22.3.0
    Accelerated: yes
    Vi

[2022-09-20 04:06] mike-lloyd03 commented on #892
Okay I built with `b_sanitize=address` but I'm not sure how to see if leaks are being reported. I tried to figure this out but came up dry.

However, the debug log does show a constant error message like so:

[code]
These errors don't appear when I run with `--legacy-backends`.

[2022-09-20 04:19] mike-lloyd03 commented on #892
Full log:
https://pastebin.com/sRCw0At9

[2022-09-20 10:56] yshui commented on #892
I see, there could be a memory leak in the error handling path. I am curious what's causing so many PIXMAP errors though :thinking:

[2022-09-21 03:50] Utagai commented on #863
@yshui Great question, but no. It was one of the first things I looked into. My method of testing this was notably 'low-tech' though, I just spun up `htop` and kept an eyeball on it. Nothing major.

[2022-09-21 12:23] yshui commented on #863
Do you also have a NVIDIA card?

[2022-09-22 09:25] #84 closed

[2022-09-22 10:01] Monsterovich commented on #863
I did a little research when moving the window started to lag. I'm not sure, but it seems to me that picom is somehow slowing down the X server, maybe I'm mistaken.

https://user-images.githubusercontent.com/3750982/191718232-7c2c9997-766c-4661-83fc-e6e0adbfe8d2.mp4

However, when I closed thunderbird, the lags disappeared. The situation is the same if I just turn off the compositor.

[2022-09-22 14:54] yshui commented on #894
It's in your blur exclude:

[code]

[2022-09-22 18:40] Utagai commented on #863
@yshui I can't comment for @Monsterovich but I personally do have a Nvidia card. GFX 2070 Super.

I can confirm that what I saw in CPU usage is similar to what @Monsterovich is showing in their demo. Slight increases in CPU when dragging, but nothing immense. I didn't think much of it, dragging windows was something I figured wasn't trivially cheap.

I can't quite yet test out the suggestion you j

[2022-09-22 23:51] tim77 opened #895 "FR: Please port pcre dependency to pcre2. Pcre has been deprecated."
### Platform

Fedora Linux
36 (Workstation Edition)
x86_64

### picom version

v9.1

### Summary

Upstream stopped the support for the old 'pcre' package. It only supports the new 'pcre2' version, so Fedora should deprecate it so it could later be retired and removed from Fedora entirely.

### Rationale

Pcre has been deprecated since Fedora 38. Please consider porting to the new pcre2 version.

F

[2022-09-23 01:26] yshui commented on #895
Thanks for bringing this to my attention!

I did a quick check, looks like we don't use any of the advanced pcre stuff so it should be simple to replace. Only concern I have is pcre2's syntax is not 100% compatible with pcre's, so this could break someone's config file.

[2022-09-23 17:43] mike-lloyd03 commented on #892
I don't know. Is there something else I could provide to help understand the issue?

[2022-09-24 00:01] yshui commented on #892
what applications were running when the leak happens?

[2022-09-25 04:25] mike-lloyd03 commented on #892
I can get it to happen with just Alacritty running.

[2022-09-25 04:29] yshui commented on #892
Do you have any background applications, auto-starts, etc.?

[2022-09-25 04:42] mike-lloyd03 commented on #892
I just killed every user process I could get away with and tried it and same effect.

[2022-09-25 19:36] Monsterovich commented on #863
Disabling the parameter in the code, broke the update time of the widget, is this normal?

[2022-09-25 20:08] yshui commented on #863
@Monsterovich

But does it fix the lag?

[2022-09-25 20:11] Monsterovich commented on #863
Let me see another day or two, if nothing happens, it means that disabling the parameter fixed the lags.

[2022-09-25 20:41] yshui commented on #863
wait! :sweat_smile:

this is for investigation, not a solution! I wonder if sync fence collectively took too long, of if it's just one sync fence that took absurdly long to complete. if you can, can you measure how long does `x_fence_sync` took to complete?

[2022-09-26 04:35] mike-lloyd03 commented on #892
So I just tried my picom config with i3 and didn't get any PIXMAP errors or memory growth. I also tried to kill any processes running under LeftWM that weren't running on i3 and the problems still occur under LeftWM. I think the problem may lie there.

[2022-09-26 05:34] yshui commented on #892
Likely an issue with LeftWM then, I will find some time to try and reproduce this.

[2022-09-26 05:40] mike-lloyd03 commented on #892
Thank you. I looked around in the issues page in LeftWM but I don't see anyone else having this issue. I'll report back here if I find anything. Thank you for you help and responsiveness.

[2022-09-26 09:22] Monsterovich commented on #863
How can I do this?

I think the lags are gone.

[2022-09-26 09:40] yshui commented on #863
@Monsterovich so get current time before and after the call and print the difference. i can quickly do that and give you a branch.

[2022-09-26 16:51] fime-space opened #896 "No shadows ..."
### Platform
Debian LXQT v0.16.0

### GPU, drivers, and screen setup
Radeon RX570,  driver : radeon xf86-video-ati 19.1.0 , Mesa 20.3.5, a basic vga monitor from the window vista era (1200x900).

[code]

### Environment

I'm using openbox with the lxqt desktop. I launched picom on the gnome terminal and i've used the qterminal to test if picom acted in a same way.

### picom version
[code]
(I buil

[2022-09-27 17:37] fengwk commented on #885
its resolved

[2022-09-27 17:57] Monsterovich commented on #863
@yshui I finally managed to catch the lags. Usually the time for x_fence_sync takes less than 0.001 ms, but when you move the window, the time to execute the function increases significantly.

https://user-images.githubusercontent.com/3750982/192600946-ffdf6d11-4cd9-4e46-9bfe-2dd6ef269d6d.mp4

[2022-09-27 18:33] yshui commented on #863
@Monsterovich is this with thunderbird running? i didn't see the kind of lag you had in your original report.

[2022-09-27 21:23] FilipNajj opened #897 "Cannot run picom on Ubuntu (Err: Another composite manager is already running)"
When typing `picom -b` in the terminal, I get the following:
`Another composite manager is already running`

### Steps I followed for installing picom:
1. git clone https://github.com/yshui/picom.git
2. sudo apt install libxext-dev libxcb1-dev libxcb-damage0-dev libxcb-xfixes0-dev libxcb-shape0-dev libxcb-render-util0-dev libxcb-render0-dev libxcb-randr0-dev libxcb-composite0-dev libxcb-image0-dev

[2022-09-27 22:00] tryone144 commented on #897
This is to be expected on your platform:

picom is an *X* compositor and only works with window managers running in *X11*. By design, it does not work with Wayland (Wayland's design, not that of picom).
Furthermore, Gnome does not support running an external compositor like picom, IIRC — at least not with its gnome-shell.

[2022-09-27 22:00] #897 closed

[2022-09-27 23:05] FilipNajj commented on #897
so there is no way to make it work in Ubuntu? Because if it doesn't work with Gnome then I can't do anything about it?

[2022-09-28 09:45] seqizz commented on #663
I'm closing this since it seems like it's fixed now. At least it doesn't break anymore on my system neither with flameshot nor maim anymore (using latest master build).

[2022-09-28 14:59] wael444 commented on #620
sorry to notify literally any one associated with this thread, but just a question:
Is xrender better than GLX backend on nvidia propietary drivers?
and what can i do to lower latency for both backends?
i have disabled Flipping which made it much smoother,
[code]
for me picom can take up to 20% cpu (i use animations) and gpu takes 70% with 70W average.

[2022-09-28 15:32] tryone144 commented on #897
Unfortunately there is no way to make it work under Gnome. I am not sure if there is a gnome-specific way of blurring your terminal's background.
Alternatively you can try out another window manager or desktop environment that either supports a standalone compositor (like xfce), or supports blurring on its own (like kde).

[2022-09-28 15:37] tryone144 commented on #896
Have you tried enabling the shadows with `-c`? The `-r` and `-o` options only set shadow parameters.

[2022-09-28 17:46] Monsterovich commented on #863
Maybe not on the video, but the lags are very noticeable on the 144hz screen and over time the lags only get worse.

[2022-09-28 19:12] Spaxly opened #898 "Animations Request"
Will animations be ported to the main branch of picom?

[2022-09-29 03:02] yshui commented on #898
Duplicate of #217. See also #862, and #772

[2022-09-29 03:02] #898 closed

[2022-09-29 03:09] yshui commented on #863
@Utagai What's you driver version?

[2022-09-29 04:49] SIMULATAN commented on #897
There are [gnome-shell-extensions](https://extensions.gnome.org/) that add a lot of the features gnome doesn't have out of the box, blurring extensions are one of these things. For example, I found the [blur-provider](https://extensions.gnome.org/extension/3607/blur-provider/) extension, which seems to be doing what you want. Alternatively, just search for "blur" on the extension website.

[2022-09-29 10:05] fime-space commented on #896
sights ... i did't used that ...
actually, i tested picom on another computer and it was enabled by default so i did'nt thought it could change anything ... thanks you very much

[2022-09-29 16:45] #896 closed

[2022-09-29 19:36] Monsterovich commented on #839
@yshui Same crash in wine when I played Warcraft 3 and switched windows via Alt+Tab.

[2022-09-29 20:51] tryone144 commented on #839
Sounds like a problem in the backend destruction / re-creation when unredirecting the screen for fullscreen applications. A workaround might be to use `unredir-if-possible = false` (which keeps picom running for fullscreen windows). Not a proper fix for this issue though.

[2022-09-29 22:29] Monsterovich commented on #839
This is not the solution, otherwise picom will seriously decrease fps in fullscreen apps.

[2022-09-30 12:42] FilipNajj commented on #897
I have tried a couple extension including the one you mentioned. Unfortunately most of them do not support gnome 42 & higher for blurring effects

[2022-09-30 18:13] heapbytes opened #899 "picom freezes my system on --experimental-backends"
### Platform
Arch linux (archlabs)

### GPU, drivers, and screen setup
AMD RX5000
[code]

### Environment
bspwm

### picom version
❯ picom --version
vgit-71072

[code]

### Configuration:
[code]

### Expected behavior

### Current Behavior

[code]

- My system freezes everytime i run picom with experimental-backends

[2022-10-01 21:02] FilipNajj commented on #897
I finally found it! I can't believe it actually works! I downloaded the extension "blur my shell". They now have the option to blur applications such as terminals.

[2022-10-03 14:01] okwellok commented on #899
I notice that your  picom version is ```vgit-71072```. On archlinux  it should be the ```picom-git```. The git version no longer needs to add parameters ```--experimental-backends```.

[2022-10-03 17:54] heapbytes commented on #899
Ohh okay thanks, btw I installed another fork with yay (animations) for windows animations which works completely fine..... But when I change my resolution with xrandr picom crashes ;( , why's that?

[2022-10-03 20:58] bitterhalt opened #900 "Picom dumps core when I logout using lightdm"
### Platform

### GPU, drivers, and screen setup

### Environment

### picom version

<details>
Picom crashes when I logout on lightdm or reboot.

</details>
[ 03.10.2022 23:49:54.088 parse_config_libconfig WARN ] The refresh-rate option has been deprecated. Please remove it from your configuration file. If you encounter any problems without this feature, please feel free to open a bug report
**Ve

[2022-10-03 20:58] DeeeeLAN opened #901 "Firefox menu opacity not following dropdown_menu or popup_menu rules"
### Platform
Arch

### GPU, drivers, and screen setup
Nvidia 3060ti
nvidia 515.76-3

### Environment
qtile 0.22.2.dev5+g419e3418

### picom version
vgit-7e568

<details>
<summary>Diagnostics</summary>
[ 10/03/2022 13:56:14.554 get_cfg WARN ] Dual-kawase blur is not implemented by the legacy backends, you must use the `experimental-backends` option.
[ 10/03/2022 13:56:14.683 init_render WARN ] Old

[2022-10-03 21:06] #900 closed

[2022-10-03 21:14] bitterhalt opened #902 "Picom dumps core and crashes when I log out i3 using lightdm"
### Platform

### GPU, drivers, and screen setup

### Environment

### picom version

<details>
<summary>Diagnostics</summary>

</details>
picom --diagnostics
[ 04.10.2022 00:08:41.539 parse_config_libconfig WARN ] The refresh-rate option has been deprecated. Please remove it from your configuration file. If you encounter any problems without this feature, please feel free to open a bug report
**V

[2022-10-03 22:13] tryone144 commented on #901
`opacity-rules` have a higher precedence than the `wintype` options. Furthermore, the first matching rule in `opacity-rules` is applied. I am pretty sure, firefox's menu windows also have a name property set to "Firefox" (and therefore match the first two rules). Please try if putting the `window_type` rules to the top fixes the behaviour.

[2022-10-03 22:16] tryone144 commented on #899
You are using software rendering for OpenGL (i.e. missing hardware acceleration). Please check if the drivers for your GPU are correctly installed.

This is likely the reason for the error regarding vsync and related to the apparent freeze.

[2022-10-03 22:22] tryone144 commented on #902
Can you please provide the stacktrace with a debug build of picom?

To do so, please follow the [build instructions](https://github.com/yshui/picom#build), but replace the command `$ meson --buildtype=release . build` with `$ meson --buildtype=debug . build` ([wiki](https://github.com/yshui/picom/wiki/Reporting-issues#get-a-stack-trace)).

[2022-10-04 00:41] DeeeeLAN commented on #901
Thanks, that works perfectly. I didn't realize it matched top to bottom.

[2022-10-04 00:41] #901 closed

[2022-10-04 05:28] bitterhalt commented on #902
Apitrace trace picom:
picom: symbol lookup error: /usr/bin/../lib/apitrace/wrappers/glxtrace.so: undefined symbol: __libc_dlsym, version GLIBC_PRIVATE

picom --log-level=trace:
https://pastebin.com/R0c4kVVd

I can try that build thing later.

[2022-10-04 10:49] bitterhalt commented on #902
Can you provude some instructions? I an not very familar with this kind of debugking.

[2022-10-04 14:53] FT-Labs commented on #856
I think this is handled, should be closed

[2022-10-04 19:42] dement6d commented on #856
yeah it seems to have been fixed which is great but im seeing a new issue, might be because of my dwm borders but heres a screenshot

![image](https://user-images.githubusercontent.com/93228501/193910904-a971ffd9-879a-44c0-bdd4-d1f4c1f78f4e.png)

[2022-10-05 20:10] FT-Labs commented on #856
Yes Ive just noticed that, transparency applies to non focused window borders

[2022-10-07 18:45] heiytor opened #904 "picom + plank blocking clicks on the bottom of my screen"
picom version

[code]

my picom.conf
[code]

[2022-10-07 19:48] Algorhythm-sxv commented on #892
I am also finding a memory leak with picom, it's not as fast as @mike-lloyd03 is reporting, but rather slowly eats up my RAM. I only started noticing it after I upgraded my RAM to 24GB from 8GB, but that could just be coincidental.

Running picom with `--show-all-xerrors` has the following errors start showing up:
[code]

I am running on linux 5.19.13.arch1-1 using picom version vgit-71072, nvidia

[2022-10-07 20:35] mike-lloyd03 commented on #892
@Algorhythm-sxv what WM/DE are you running?

[2022-10-07 21:21] Algorhythm-sxv commented on #892
Ah shoot I meant to include it, I am running i3 (via the AUR package i3-gap-rounded-git, version 4.20.1.r107.g3e63a999-1), I've added it to the initial comment

[2022-10-08 19:24] Monsterovich opened #905 "Picom memory leaks when the window is resized"
About 3 gigabytes have leaked in a few days.

### Platform
Linux Mint 20.3

### GPU, drivers, and screen setup
[code]

### Environment
xfce4

### picom version
next

</details>

### Configuration:
<details>
    <summary>Configuration file</summary>

[code]
</details>

<details>
<summary>Video</summary>
https://www.youtube.com/watch?v=RvaElnrqH7o
</details>

Valgrind logs:
[leak.txt](https://github

[2022-10-09 14:09] TrunksAO commented on #892
Greetings, I believe I also encountered the same here, though I noticed it via my full swap memory usage and slowed down my spinning drive performance and everything else.
Vaguely, I believe multiple instances of this happened after I switched my backend from 'glx' to 'xrender'. I copied the bug report template and added my information there, though in plaintext with some markups left behind in ca

[2022-10-10 11:21] #899 closed

[2022-10-10 12:40] heapbytes commented on #899
Well, I am not sure about graphic drivers as well, bcuz it's working perfectly fine with the default small screen on virtualbox, it doesn't work when I change the resolution ;(

[2022-10-10 12:44] yshui commented on #904
picom creates no windows that accept input. is this really a picom bug?

[2022-10-10 12:46] yshui commented on #856
@dement6d can you open a new issue regarding the border blur problem? thanks.

[2022-10-10 12:46] #856 closed

[2022-10-10 12:53] yshui commented on #905
One leak in your log does stand out, but it's only 60k, the 3gb memory usage is probably something else.

[2022-10-10 13:14] Monsterovich commented on #905
This is only one minute of analysis. If I ran longer, the leaks would be higher.

[2022-10-10 13:57] heiytor commented on #904
i think so. if i close picom, everything works fine.

[2022-10-10 14:01] Monsterovich commented on #905
@yshui Did you watch the video?

https://www.youtube.com/watch?v=RvaElnrqH7o

[2022-10-10 16:35] yshui commented on #905
@Monsterovich ah, ok. if that's the case can you test if the newest commit fixed the problem?

[2022-10-12 09:16] Monsterovich commented on #905
Not entirely.

[code]

The previous picom release doesn't show any leaks in asan.

[2022-10-12 09:29] yshui commented on #905
@Monsterovich I can't reproduce this leak with AMD driver, maybe it's a leak in NVIDIA's driver?

[2022-10-12 18:45] vincentbernat commented on #796
I am running Qt 6.3.1 and there are still menus that do not set the right window type. Do you have a reference of this bug on the Qt side?

[2022-10-13 09:36] bitterhalt commented on #902
Sory for the late reply. I was not able to make trace. But good news is that my crashes were gone after launching Picom using --experimental-backends

[2022-10-15 08:06] GnikDroy commented on #728
I do not have this issue anymore.

I suspect it is fixed in the latest mesa driver (22.1.7-1 -> 22.2.1-1)

@rbreaves @lombervid,  can you confirm?

[2022-10-15 18:17] Inu90 opened #906 "Fade out not working on qt applications in KDE plasma"
### Platform
Arch Linux x64
AMD Vega 8 (integrated from a Ryzen 5 3550H laptop apu) latest stable mesa
[glxinfo -B, picom --diagnostics and config file](https://pastebin.com/3wWwbhxZ)
### Environment
KDE plasma 5.26
### picom version
9.1 according to pacman, vgit-7e568 according to --version
### Details
As per the title Dolphin, qbittorrent, Clementine, etc. dont fade out, on the other hand GTK ap

[2022-10-15 23:07] akinokonomi commented on #796
@vincentbernat No, not really. It's very tricky.

Mostly, transparency works only for some of the dropdown menus, not all of them at once.
Sometimes, like, few seconds later, when I close and open them again, those same semi-transparent menus become opaque.
It looks very random to me.

[2022-10-16 06:45] vincentbernat commented on #796
Looking at Qt source code, it seems that `_NET_WM_WINDOW_TYPE` is set, but maybe it is not set before mapping the window, which would explain the randomness? I have very few applications impacted by this (Calibre), so I hope it will be fixed once Qt6 is more common.

[2022-10-17 01:06] ikinoiky commented on #733
how if i need include app for corner?

[2022-10-19 16:36] KnightWhoSaysNeeeowWumPing opened #907 "popup_menu has clipping border when using --experimental-backends"
### Platform

OS: Arch Linux
Kernel: 5.15.74-1-lts

### GPU, drivers, and screen setup

[code]

### Environment

i3wm

### picom version

[code]
[code]

<details>
<summary>Diagnostics</summary>

[code]
</details>

### Configuration:
<details>
    <summary>Configuration file</summary>

[code]
</details>

### Steps of reproduction

1. Starting picom as described below (using `--experimental-backends

[2022-10-19 20:56] yshui commented on #663
@DarkReaper231 there is a pull request: #738

[2022-10-19 21:17] DarkReaper231 commented on #663
Would you mind merging? Having self built packages in arch can be quite tricky when you for example release new bug fixes.

[2022-10-20 00:51] Inu90 commented on #906
So after a second of clarity I realized the futility of reporting this on stable. Tried git version and still happens, same symptoms.
[code]

[2022-10-23 15:38] temcher0 opened #908 "Cannot build picom"
Installed all libraries, by following the installation guide. However, every time I trying to build picom by using ` meson --buildtype=release . build`, this problem appears:

`Run-time dependency xcb-renderutil found: NO (tried pkgconfig and cmake)`

[code]
Had the same issue for x11 and x11-xcb libs, but solved it by searching and installing them manually. As for the xcb-renderutil, even after s

[2022-10-23 21:48] yshui commented on #907
This unfortunately is not easy to solve on our side. Many firefox menus windows are slightly bigger than what's visible, with a transparent margin around the visible part. firefox either needs to stop doing this, or setup the shape of the window properly.

Meanwhile, there is #738 which can be used to conditionally disable transparent-clipping, which can be used to workaround this.

[2022-10-24 03:20] yshui commented on #908
what's your distro?

[2022-10-24 16:51] temcher0 commented on #908
Ubuntu 22.04.1 LTS x86_64

[2022-10-24 19:32] yshui commented on #908
did you install `libxcb-render-util0-dev`? it's listed in the README

[2022-10-25 05:40] WhiteBlackGoose opened #909 "Is it possible to cache blurred background for gaussian/box?"
First of all - thanks for this amazing compositor!

The problem is, I'm on a laptop from 2011, and the DRM module doesn't work for its gpu, so all graphics are made on a weak CPU.

So... gaussian and box methods for blurring work very slowly. Which is, I guess, expected - but it's due to the fact, that it renders blurring all the time, right?

So my question is. Can it somehow cache the blurred ba

[2022-10-26 15:31] yshui commented on #908
You are using `pkg-config` from linuxbrew, not the system one. You need to figure out how to install xcb-renderutil with that.

[2022-10-26 15:31] #908 closed

[2022-10-26 16:20] KnightWhoSaysNeeeowWumPing commented on #907
Thank you very much for this workaround!

I can confirm that the following config setting works on a fresh master build of picom:
[code]
The strange border is gone.

*For reference:*
[code]

I'm looking forward to the next release containing this :smile:

[2022-10-26 16:20] #907 closed

[2022-10-26 17:40] DarkReaper231 commented on #663
![unknown](https://user-images.githubusercontent.com/38611351/198097663-8fcd44dc-d21c-49e7-9742-351767eef54f.png)

Works like a charm with latest commit

[2022-10-26 21:57] yshui commented on #663
@DarkReaper231 thanks for confirming!

[2022-10-26 21:57] #663 closed

[2022-10-27 23:15] vince6794 commented on #304
Me too. Frozen desktop.
I'm going to investigate if picom is the problem because sometimes I can interact in some way with the i3wm: I can write some command to the already opened terminal, but without receiving any response.

I'll try disabling picom for several days to see what happens.
I've observed that screen sharing also crashes the app (skype, teams, etc.) or completely freezes the system (

[2022-10-28 02:09] kchibisov opened #910 "Add support for `_NET_WM_FRAME_DRAWN`"
It's supported by at least mutter and allows clients like GTK to sync to compositor.
The documentation on this option could be a bit vague, but an implementation of client
side is present inside a gtk, and for server side in mutter.

If it's not desired and worth it feel free to close the issue.

https://fishsoup.net/misc/wm-spec-synchronization.html

[2022-10-30 01:00] Tokariew commented on #863
I would say, that graphic happen whenever something using "gpu more heavily". For me it's most noticeable when i play back movie on another screen or have some game open in window

[2022-10-30 17:30] r0-zero opened #911 "[Feature Request] Adding animations"
Hello,

I just want to ask a quick question about animations. I have succesfully implemented animations and fully upstreamed to yshui picom/next . However, I made this for phyOS (dwm) only and with a few tweaks I can probably get all the animations to work on any window manager.

It supports more than 10 unique animations (including open/close window also fading in/out when switching workspaces).

[2022-10-30 17:49] yshui commented on #911
Is your change based on #772 ? Can you coordinate with @dccsillag? Do you want to take over that PR?

[2022-10-30 17:57] r0-zero commented on #911
Yeap it is. Sure! If you are okay with it.

[2022-10-30 18:12] yshui commented on #911
I am not the one who needs to be okay with it :slightly_smiling_face:

@dccsillag, I am sure you are busy but can you have a look?

[2022-10-30 19:26] dccsillag commented on #911
Yup, sure can.

I took a quick look (https://github.com/dccsillag/picom/compare/implement-window-animations...FT-Labs:picom:next), it looks like there are just 10 commits (none of which is particularly massive) other than work on yshui/picom. @FT-Labs, does this sound right, or am I not understanding Github's UI?

Also, it would be nice if you could point out more or less what makes it exclusive t

[2022-10-30 20:05] r0-zero commented on #911
@dccsillag

I will clean the commit history if you guys seem okay with it, shadow issues have bugged me so I made some unnecessary commits.
About that animation progress, the issue is that whenever a window is resized (if you check picom logs) or destroyed, since the window is destroyed but animation is still going on, it will pop up lots of errors that window flags cleared and reset. There should

[2022-10-30 20:07] r0-zero commented on #911
[code]

This is the temporary solution for alpha blending with transparent applications. Also handles flashing issue when spawning new windows.

[2022-10-30 20:28] dccsillag commented on #911
Go for it! :smile:

Oh yeah, I'm all for checking the `animation_progress` value for stuff like that. What I meant, though, is that checking if it's `!= -1` or `== -1` is generally bad because it's a floating point number, and it can get really close to -1 (e.g., 10^-7, perhaps?) for a while before it actually gets to -1. It's better to check `abs(w->animation_progress - (-1)) <= EPS` (for some `E

[2022-10-30 21:37] NicTanghe opened #912 "Picom not rendering after spawn or move."
### Platform
Rocky linux 9

### GPU, drivers, and screen setup

 NVidia GTX 3070, mesa drivers two monitors configured side-by-side
[code]

### Environment

### picom version
v9.1

not actually running because then windows don't work.
[code]

### Configuration:
<details>
    <summary>Configuration file</summary>

[code]
</details>

### Steps of reproduction

1.
2.

### Expected behavior

### Curre

[2022-10-30 22:10] yshui commented on #912
[code]

You need to install your driver properly

[2022-10-30 22:10] #912 closed, assigned to nobody

[2022-10-30 22:37] x70b1 commented on #736
With the new release `glx` needs to run with `--legacy-backends`.

It seems like a lot of issues are fixable with `--transparent-clipping` and the newer `--transparent-clipping-exclude=`.
Unfortunately I have not found a way to resolve this issue with it.

[2022-10-31 14:05] r0-zero commented on #911
All right, I'll handle those. If you can mark where needs to be fixed/what needs to be done, I'll be glad to implement your ideas. Thanks!

[2022-10-31 14:09] dccsillag commented on #911
Of course :)

I think having a PR would be great for that, because then I can just leave the comments inline with the code and you can respond to them directly. So (unless you want to try some other scheme?) once we have a PR (no rush) I'll start adding comments to specific pieces of code about stuff like that.

[2022-10-31 14:22] r0-zero commented on #911
Of course, I'll send a PR when I handle that ewmh atoms and remove pdwm specific code.

By the way, there is a small issue on multi monitor setups:
For example on desktop switching animation, I have added minimize and maximize for it. (Minimized windows go from edges to center, incoming desktop goes from center to edges of the screen), however to handle it I wrote an atom in pdwm to fetch current

[2022-10-31 22:19] cor commented on #293
I'm having the exact same issue. It is preventing me from creating macOS-like shadows.

@yshui why should the top left corner of the window always be aligned with the top left corner of the shadow? This is quite limiting

[2022-11-01 03:36] yshui commented on #293
@cor did you try the suggestion in https://github.com/yshui/picom/issues/293#issuecomment-575627428

[2022-11-01 10:07] #911 closed, assigned to nobody

[2022-11-01 23:24] NicTanghe commented on #912
Hmm well that is how it was installed out of the box,
I later switched OS

[2022-11-02 19:03] raven2cz commented on #911
I will now speak for a lot of users on awesomewm, that we are **very** happy that the animations have finally been successfully added to the original picom. Fingers crossed!

I would like to ask about one of the critical points of the implementation. Will the animations be disabled when manually move and resize the window? I.e. in floating layout / floating window will the animations be turned off

[2022-11-03 06:19] m3t4f1v3 opened #915 "How is window-shader-fg used?"
Trying to use the example fake transparency shader code only gives me "Failed to link program: error: function `main' is multiply defined"

The shader code works with older versions using glx-fshader-win.

[2022-11-03 07:49] WhiteBlackGoose commented on #887
hey, where should this line be? I tried added it to the beginning and end of picom.conf but no effect

[2022-11-03 12:44] yshui commented on #915
See: https://github.com/yshui/picom/blob/next/man/picom.1.asciidoc#shader-interface

Hope this answers your question!

[2022-11-03 12:44] #915 closed, assigned to nobody

[2022-11-03 14:48] brovoca commented on #905
I've got big issues myself. Version vgit-d59ec on i3-gaps 4.19.1 @ Ubuntu 22.04. I've tested resizing a window back and forth for a minute or so and the cache usage increased by 1 GB over 30 seconds. Killing picom freed it immediately.

[2022-11-03 14:57] brovoca commented on #905
I just installed [v9.1](https://github.com/yshui/picom/releases/tag/v9.1), and I didn't face the same issue.

[2022-11-05 17:39] Monsterovich opened #916 "The shadows on the sides of the window look unsmooth"
This PR probably broke it https://github.com/yshui/picom/pull/882.

**Before:**

 ![Снимок экрана_2022-11-05_19-33-51](https://user-images.githubusercontent.com/3750982/200133646-4546e17a-c5de-4c40-bf31-1e415da1bb78.png)
**After:**

 ![Снимок экрана_2022-11-05_19-32-36](https://user-images.githubusercontent.com/3750982/200133657-74b1eb9c-9f46-42a8-81f2-923554148688.png)

### Platform
Linux Mint 20

[2022-11-06 23:47] harrypunk opened #917 "Picon freezes screen while playing full screen video"
### Problem
Full screen video freezes system after few minutes. Audio is still playing but video blurs and stops. Can't switch between windows or workspaces. I could only restart system with power button.

### Platform
Linux mdd 5.15.76-1-MANJARO #1 SMP PREEMPT x86_64 GNU/Linux
### GPU, drivers, and screen setup
Extensions:

* Shape: Yes
* XRandR: Yes
* Present: Present

Misc:

* Use Overlay: No

[2022-11-07 02:57] harrypunk commented on #917
Duplicate of https://github.com/yshui/picom/issues/358, also https://github.com/chjj/compton/issues/494

[2022-11-07 02:58] harrypunk commented on #917
Duplicate of https://github.com/yshui/picom/issues/358, also https://github.com/chjj/compton/issues/494

[2022-11-07 02:58] #917 closed, assigned to nobody

[2022-11-07 21:46] lombervid commented on #728
Hello.
Sorry for the late reply.

I have updated the system and I did some testing. And, yeah, I can confirm, at least for me, it seems to be working well now. 👍

[2022-11-08 11:19] yshui commented on #728
Thanks for confirming!

[2022-11-08 11:19] #728 closed

[2022-11-11 09:21] username24532 commented on #890
Another thing that might be nice to have is selected window properties being passed as a uniform? Like `picom --property-uniforms=saturation,inverted` which passes _SATURATION and _INVERTED are numeric properties set by the WM, so it can set effects on specific windows.

[2022-11-11 10:36] yshui commented on #863
@Monsterovich nvidia 525.53 fixed a "stutter while moving windows" problem for GNOME, maybe that fixes our problem as well?

[2022-11-11 11:42] Monsterovich commented on #863
I can't check, this driver is not in the repositories.

[2022-11-11 15:43] yshui commented on #916
Looks like blur somehow lost precision, but only along the X axis. weird.
![a](https://user-images.githubusercontent.com/366851/201374837-530da74d-9ec4-42ae-bdbe-5ea09bd93105.png)

[2022-11-11 15:47] yshui commented on #916
I think I didn't set up the min filter properly, and since the vertical pass is performed from a different texture, it didn't have this problem.

[2022-11-11 15:57] #916 closed, assigned to nobody

[2022-11-12 16:38] SIMULATAN opened #919 "Feature Request: Blur Rules"
# Description
It would be great to have something like `opacity-rule` but for the blur strength.

# Example use case
Applications that take up a lot of screen space, like your Browser or Terminal, look good with a bigger blur radius than something rather small, like dunst.

With `blur-strength` set to, say, `6`, decently sized applications look nicely blurred, but the background is still fairly re

[2022-11-12 22:07] Utagai commented on #863
@yshui A tremendously late response to your question here, I haven't been on my `picom` system to check in a while. I just ran `nvidia-smi` after a _huge_ upgrade of the system: my driver version is `520.56.06`.

It seems however, with the upgrade (and that of Thunderbird) the lagging has gone away and I can no longer reproduce it... :thinking:

[2022-11-14 08:40] Freed-Wu opened #920 "[feature] Shell completion"
[code]

[2022-11-14 12:03] MrIvanPlays opened #921 "Memory leak?"
### Platform
Arch Linux

### GPU, drivers, and screen setup
Nvidia GTX 1050Ti, nvidia-drivers 520.56.06, two monitors configured side-by-side with xrandr
[code]

### Environment: BSPWM

### picom version: vgit-7d0d6

<details>
<summary>Diagnostics</summary>
**Version:** vgit-7d0d6

### Extensions:

* Shape: Yes
* XRandR: Yes
* Present: Present

### Misc:

* Use Overlay: No
  (Another compositor is

[2022-11-14 12:08] MrIvanPlays commented on #304
I'm experiencing this at random.

[2022-11-14 13:14] emilBeBri commented on #304
It stopped happening to me after i uograded to Linux kernel 5.19 instead of default  manjaro 5.15

[2022-11-14 15:08] yshui commented on #304
Original issue is related to missing hardware accelerated graphics. If you are experiencing this with a proper gpu driver installed, please open a new issue.

[2022-11-14 15:08] #304 closed

[2022-11-14 15:12] yshui commented on #921
You mean the memory consumption of picom?

[2022-11-14 15:14] MrIvanPlays commented on #921
memory consumption of picom was around 4GB whilst normally it is no more than 2-300MB

[2022-11-15 12:46] Monsterovich commented on #921
@MrIvanPlays Could you please enable sanitizer in meson_options.txt and rebuild?

Releated issue: https://github.com/yshui/picom/issues/905

[2022-11-15 12:48] Monsterovich commented on #905
The driver 520.56.06 also has this issue.

[code]

[2022-11-15 12:52] MrIvanPlays commented on #921
905 is not related issue since I did not resize the window.

I have no idea on how to do this. I use `paru` to download stuff from the AUR.

[2022-11-15 13:31] Monsterovich commented on #921
It doesn't matter. Memory leaks can be caused by completely different things.

[2022-11-15 13:56] Monsterovich commented on #921
https://github.com/yshui/picom#to-build

[2022-11-15 14:52] totallyez123 commented on #906
Facing a similar  issue ,wherein windows does fade out on destroy/migration to different workspaces ,according to a raised github issue it is a bug,hoping it gets fixed in the next patch as it is a bit off putting. for context im running i3-gaps and im using nvidia drivers with the glx backend but i doubt that has to do anything with it

[2022-11-15 15:18] yshui commented on #906
@Inu90 did you disable fade out on close?

[2022-11-15 16:35] Monsterovich commented on #905
@yshui Shall we report this bug to NVidia?

[2022-11-15 17:37] yshui commented on #905
Well now your stack trace shows a leak that hasn't been seen before. I will have a look.

[2022-11-15 18:04] yshui commented on #905
@Monsterovich can you run latest `next` and see if it crashes for you?

[2022-11-15 18:15] Inu90 commented on #906
@yshui No, like I said this only happens with qt apps, GTK apps fade out correctly.
Updated earlier today to `vgit-9d7cb`

[2022-11-15 18:16] Monsterovich commented on #905
I got the same asan output, no crashes so far.

[2022-11-15 21:18] yshui commented on #906
@Inu90 can you upload your config file please.

[2022-11-16 08:23] Freed-Wu opened #922 "[TYPO] wether should be whether"
And `everytime` should be `every time`

[2022-11-16 15:40] #922 closed, assigned to nobody

[2022-11-16 17:52] roghed opened #923 "Graphical artifacts in chromium browser"
### Platform
Ubuntu 22.10 (Kinetic Kudu) amd64

### GPU, drivers, and screen setup
`lspci -k | grep -EA3 'VGA|3D|Display'`

[code]

### Environment
LXQt Release 1.1.0 with Openbox 3.6.1
Qt 5.15.6

### picom --diagnostics output:

[code]

### Configuration:

[code]

I've tried enabling/disabling different options:
detect-client-leader - no effect
detect-transient - no effect
use-ewmh-active-win - n

[2022-11-16 19:05] yshui commented on #923
Probably a bug in the intel driver.

Can you try `backend = "glx"`?

[2022-11-16 21:43] OriginCode opened #924 "Window shadow disappears after resuming from suspend/sleep"
### Platform

AOSC OS 9.1.4 amd64

### GPU, drivers, and screen setup

NVIDIA GeForce RTX 2060 Mobile, nvidia driver 515.65.01.

[code]

### Environment

i3-gaps

### picom version

v10
<details>
<summary>Diagnostics</summary>

**Version:** v10

### Extensions:

* Shape: Yes
* XRandR: Yes
* Present: Present

### Misc:

* Use Overlay: No
  (Another compositor is already running)
* Config file used:

[2022-11-16 22:43] roghed commented on #923
Yeah as I've written above, I've tried all three options for backend: glx, xrender and hybrid. They all produce the artifacts. If it's a bug in the intel driver, how come the artifacts only occur:
a) in chromium browser
b) with compton/picom compositor running

[2022-11-16 23:00] yshui commented on #923
Can you run with environment variable `LIBGL_DEBUG=verbose` and post the output here?

[2022-11-16 23:02] yshui commented on #924
Maybe picom crashed after resuming from sleep? Did you check if picom is still running?

[2022-11-16 23:21] roghed commented on #923
picom:
[code]

chromium:
[code]

[2022-11-17 00:12] OriginCode commented on #924
Yep, picom is still running. And after I resize or move the window, the shadow would come back

[2022-11-17 10:10] rncar opened #925 "Dim only Chromium window"
Hi, picom works like a charm in my crappy integrated gpu at 4K!!

But I cant find a way to do this. The browser are killing my eyes and I want to low his brightness.
I cant use the maximun brightness option because the glx backend is too heavy.

Would be great to dim only the Chromium window or only a especific desktop,
I always open the browser in the desktop 9.

Any way to do it ?

Thanks a lot.

[2022-11-17 10:12] yshui commented on #923
Ah, DRI2 strikes again.

Did you configure your X server to use DRI2?

[2022-11-17 10:34] yshui commented on #925
hmm, we don't have a `dim-rule` yet. could be a good idea.

in the mean time you can write a shader and use it with `window-shader-fg-rule`

[2022-11-17 10:36] rncar commented on #925
The `dim-rule` would be great.

I think I cant use `window-shader-fg-rule` because I am using the `xrender` backend.
(less heavy than `glx` in my gpu)

[2022-11-17 10:54] yshui commented on #925
@rncar that's surprising. what's your hardware? i won't expect glx to be more heavy unless you enabled fancy effects.

`xrender` uses the same hardware acceleration as opengl nowadays.

[2022-11-17 11:01] rncar commented on #925
It's the Intel Core i5-12600 integrated gpu (Intel Alderlake_s Gen12).
`OpenGL renderer string: Mesa Intel(R) UHD Graphics 770 (ADL-S GT1)`

[2022-11-17 11:07] yshui commented on #925
That should be enough to run picom

[2022-11-17 11:28] rncar commented on #925
Yes, picom runs great in both, but the difference is in opengl/vulkan.
For example, ~55% gpu usage in `glxgears` for `xrender`, ~85% in `glx`.

`xrender` backend feels more snappy for this kind of applications for this gpu/driver combination.
I am a graphics programmer, I am running opengl apps all day long ; )

[2022-11-17 12:07] rncar commented on #925
In any case, I think to add a `dim-rule` could be a good idea.
And thanks for your prompt responses.

[2022-11-17 12:25] Monsterovich commented on #905
@yshui What about leaks in the NVidia OpenGL library? We don't have a full stack trace.

[2022-11-17 13:56] shasherazi opened #926 "picom: unrecognized option '--experimental-backends'"
### Platform
Arch Linux x86_64

### GPU, drivers, and screen setup
GPU: Intel UHD Graphics 620
xf86-video-intel 1:2.99.917+916+g31486f40-2
mesa 22.2.3-1

glxinfo -B output
[code]

### Environment
I'm using bspwm

### picom version
picom 10-1
<details>
<summary>Diagnostics</summary>
**Version:** vgit-5d150

### Extensions:

* Shape: Yes
* XRandR: Yes
* Present: Present

### Misc:

* Use Overlay: Ye

[2022-11-17 14:03] roghed commented on #923
I've added `Option "DRI" "3"` to my xorg.conf, now I don't notice the artifacts anymore. I assume DRI3 needs to be enabled for picom/compton to work correctly?

[2022-11-17 14:08] yshui commented on #923
DRI3 is widely enabled by default unless it's disabled, or DRI2 is force enabled somewhere in your config.

[2022-11-17 14:09] yshui commented on #926
See release note https://github.com/yshui/picom/releases/tag/v10 and https://github.com/yshui/picom/releases/tag/v10-rc1

[2022-11-17 14:09] #926 closed, assigned to nobody

[2022-11-17 19:39] vikigenius opened #927 "Segmentation Fault: Failed to compile shader with type 35632"
### Platform

Void Linux (6.0.8_1)

### GPU, drivers, and screen setup

[code]

### Environment

### picom version
v10

<details>
<summary>Diagnostics</summary>
**Version:** v10

### Extensions:

* Shape: Yes
* XRandR: Yes
* Present: Present

### Misc:

* Use Overlay: Yes
* Config file used: None

### Drivers (inaccurate):

Intel

### Backend: glx

* Driver vendors:
 * GLX: Mesa Project and SGI
 *

[2022-11-17 19:43] Crystal4276 opened #928 "Opacity rule for fullscreen video run by chromium not taken into account"
### Platform
Arch Linux amd64

### GPU, drivers, and screen setup
NVidia RTX 280, nvidia-drivers 520.56.06, three monitors configured side-by-side with xorg.conf
Mesa: 22.2.3-1
[code]
### Environment
Qtile + Qtile-extra.
No window transparency set in qtile.

### picom version
picom-git : 1781_9.rc1.103.g7233601_2022.11.16-1
<details>
       <summary>Diagnostics</summary>

[code]

</details>

### C

[2022-11-17 20:12] vikigenius commented on #927
Obviously switching from glx backend to xrender works. But I want to get glx working

[2022-11-17 20:56] REALERvolker1 commented on #846
Bumping this, because I don't understand why this isn't already a thing

[2022-11-17 21:01] roghed commented on #923
According to [this](https://bugs.launchpad.net/ubuntu/+source/xserver-xorg-video-intel/+bug/1401784) bug report it's disabled by default for Intel i8xx, i9xx drivers which is what I'm using. Is there any obvious reason for why picom would produce those artifacts without DRI3?

[2022-11-17 21:52] yshui commented on #923
@roghed the bug you linked is from 8 years ago.

Because the DRI2 codepath in mesa is not as actively maintained as the DRI3 one - because it's _old_ - so there will be bugs. And mesa when running on DRI2 doesn't interact well with application using libxcb, one of which is picom.

Close as won't fix

[2022-11-17 21:52] #923 closed, assigned to nobody

[2022-11-17 21:54] yshui commented on #923
Please check your config - if you really don't have DRI2 explicitly enabled, then your distro might be doing it - report it to them.

I have older intel GPUs with DRI3 enabled by default, and it was years ago.

[2022-11-17 21:55] yshui commented on #927
~The shader interface changed, see changelog: https://github.com/yshui/picom/releases/tag/v10-rc1~

Disregard above comment.

The new shadow code can't handle `shadow-radius = 0`

[2022-11-17 22:17] #927 closed, assigned to nobody

[2022-11-18 22:39] passthesh3ll commented on #921
I have the same issue
![image](https://user-images.githubusercontent.com/63223659/202814782-7e279336-d07e-4dab-9434-7b134fb1f63d.png)

[2022-11-18 23:01] Monsterovich commented on #863
@yshui I'm working on a new project, my system monitor - [conqie](https://gitlab.com/Monsterovich/conqie). Here I encountered the same problem when moving windows, and in xfwm4 compositor there is no problem.

This is a demo:
https://youtu.be/hdZPe3mzTv8

Update: Windows start to lag if you move the transparent terminal window over the widget or move the widget itself. It also affects all windows.

[2022-11-19 00:19] Monsterovich commented on #863
@Utagai  I think the Mozilla Thunderbird update fixed the bug in this particular case, but the bug is still there.

[2022-11-19 00:28] Inu90 commented on #906
[code]

[2022-11-19 01:08] yshui commented on #863
@Monsterovich did you manage to update your nvidia driver?

[2022-11-19 01:37] Monsterovich commented on #863
My current driver is 520.56.06.

[2022-11-19 01:51] Monsterovich commented on #863
Disabling [vsync](https://gitlab.com/Monsterovich/conqie/-/commit/4eb1bbeed5992d8f43930c9fb4d6b2e3696d8d26) in my application fixed the problem. But I don't understand why this problem is not present in xfwm4 compositor.

[2022-11-19 09:30] smol-cat commented on #921
I have the same issue, memory keeps ramping up when opening and closing windows.

[2022-11-19 18:20] chrishoage opened #931 "Realitive @include path no long works in v10 when symlinks are used"
### Platform

Arch Linux

### GPU, drivers, and screen setup

Nvidia 2070 Super, 1440p 144hz and 1650p 60hz

### Environment

bpswm https://github.com/chrishoage/dotfiles

### picom version

[code]
<details>
<summary>Diagnostics</summary>
**Version:** vgit-5d150

### Extensions:

* Shape: Yes
* XRandR: Yes
* Present: Present

### Misc:

* Use Overlay: No
  (Another compositor is already running)
*

[2022-11-19 22:11] SfyMantissa commented on #921
I think I am having a similar issue.
I hope this information will be valuable.
Thank you in advance!

### GPU, drivers, and screen setup

One monitor, laptop:

[code]

GPU and drivers:

[code]

`glxinfo -B` output:

[code]

### Environment

bspwm + sxhkd + picom + polybar + feh + alacritty + rofi

[code]
### picom version

[code]
<details>
<summary>Diagnostics</summary>

[code]
</details>

### Con

[2022-11-20 00:41] Monsterovich commented on #921
@SfyMantissa I have similar iGPU on my laptop, but no memory leaks. I thought this is NVidia-only issue.

[code]

[2022-11-20 03:32] Shamaoke opened #932 "Symbol lookup error: undefined symbol: glEGLImageTargetTexStorageEXT"
After the update to version 10 the program no longer starts. The previous version worked without any problems on the same graphic driver.

### Platform
Arch Linux

### GPU, drivers, and screen setup
NVidia GeForce 410M; nvidia-340xx-dkms; mesa 22.2.3; Sony Vaio Laptop, 2011 production year

<details>
<summary>`glxinfo -B`</summary>

[code]
</details>

### Environment
Openbox 3.6.1

### picom versi

[2022-11-20 04:13] negativeExponent opened #933 "Frame drops when running fullscreen videos"
### Platform
`archlinux`

### GPU, drivers, and screen setup
[code]

### Environment
minimal bspwm

### picom version
[code]

### Configuration:
<details>
    <summary>Configuration file</summary>

[code]
</details>

### Steps of reproduction

run picom (picom repo or picom-git), run video fullscreen. i use youtube for example, enabling stats for nerds. see frame drops steadily increasing.

Meanwh

[2022-11-20 05:08] Utagai commented on #863
@Monsterovich Yes, that's my theory too, since Thunderbird (for me at least) recently got a fairly big update, it likely changed something that no longer triggers this issue.

[2022-11-20 13:19] sin-ack opened #934 "The damage region has shadow drawn below it with use-damage = true"
### Platform

Gentoo 17.1 amd64

### GPU, drivers, and screen setup

AMD Ryzen 5700U (Lucienne) / mesa 22.1.7 / xf86-video-amdgpu 22.0.0

<details>
<summary><code>glxinfo -B</code></summary>

[code]

</details>

### Environment

i3-gaps 4.20.1

### picom version

v9.1

<details>
<summary>Diagnostics</summary>

**Version:** v9.1

### Extensions:

* Shape: Yes
* XRandR: Yes
* Present: Present

### M

[2022-11-20 13:22] sin-ack commented on #934
I suppose the problem has to do with the `xfce4-terminal` itself being translucent and therefore displaying a shadow layer that's usually hidden by the opaque parts of regular windows.

[2022-11-20 16:11] Minetest-j45 opened #935 "Memory leak"
### Platform
Arch 6.0.9-arch1-1 x86_64

### GPU, drivers, and screen setup
card: AMD RX 6600XT
driver: amdgpu
setup: 2 monitors, side by side with xrandr
[code]
</details>

### Configuration:
<details>
    <summary>Configuration file</summary>

[code]
</details>

### Steps of reproduction
I recently updated picom to the latest version on pacman (released 2022-11-15)
I started experiencing frequent

[2022-11-20 17:49] Monsterovich commented on #935
@Minetest-j45 Could you please compile picom with address sanitizer enabled (in meson_options.txt)?

[2022-11-20 18:41] yshui commented on #935
When you say the memory usage increases, what's the time frame? An hour? A day? Several days?

[2022-11-20 18:52] yshui commented on #935
Also, what is your window manger?

[2022-11-20 18:53] yshui commented on #935
I think all these memory leaks are the same problem, the annoying thing is I can't reproduce the problem myself, which makes debugging harder.

[2022-11-20 18:54] yshui commented on #935
I will close this issue as duplicate, if you have answers to my questions, please reply in #892 , thanks.

Duplicate of #892

[2022-11-20 18:54] #935 closed, assigned to nobody

[2022-11-20 18:55] yshui commented on #905
Duplicate of #892

[2022-11-20 18:56] yshui commented on #905
Let's continue the discussion in #892

[2022-11-20 18:56] #905 closed

[2022-11-20 18:56] yshui commented on #921
Duplicate of #892

[2022-11-20 18:56] #921 closed, assigned to nobody

[2022-11-20 18:58] yshui commented on #892
can someone run picom with `apitrace trace`, wait until they see the memory leak, then upload the resulting trace file?

if it's an opengl resource leak, i should be able to see it in the trace.

[2022-11-20 18:59] yshui commented on #892
Also remember to enable `--log-level=trace`

[2022-11-20 19:33] Monsterovich commented on #892
Memory leaks accumulate slowly, but there you go.

https://www.mediafire.com/file/srtwm3rcfh3mgp5/picom.trace.7z/file

[code]
[code]

[code]

[2022-11-20 21:10] Minetest-j45 commented on #892
hey there @yshui once the vram was fully used up, the ram usage would increase by roughly 3% per second
the window manager i use is awesomewm

[2022-11-20 21:53] yshui commented on #892
@Monsterovich did you remember to add `--log-level=trace`?

[2022-11-20 22:20] Monsterovich commented on #892
@yshui I did apitrace again, now with this flag.

https://www.mediafire.com/file/cfyd1byyvyyy16d/trace.7z/file

The compositor takes about an hour to eat up 600mb of memory, on a computer without this problem the compositor consumes 80mb.

[2022-11-20 22:52] yshui commented on #892
Thank you

[2022-11-20 23:58] yshui commented on #892
~the trace have some non-ascii data which is breaking apitrace, i can get around it but it'd helpful if you try to make sure all the window titles, etc. are in ascii.~

this is fixed upstream, so never mind.

[2022-11-21 00:27] yshui commented on #933
@TotallyARobot did you use `--experimental-backends` before? if so, does `--legacy-backends` change anything?

[2022-11-21 00:37] yshui commented on #933
yeah looks like the newer backends are causing the problem. people have been testing it more >1 year, but i did expect to see more problems surfacing now it's enabled by default

[2022-11-21 00:38] yshui commented on #933
it's hard to grasp exactly what the symptom is, are you able to maybe record a video ?

[2022-11-21 02:46] negativeExponent commented on #933
updated post, some notes were hidden by some "hidden" tags.
youtube's simple frame drop counter would be a simple method to see frame drops. run video on fullscreen, enable stats for nerds

also, running picom with "--legacy-backend" are smoother than not having it but this disables blur methods

[2022-11-21 15:21] yshui commented on #892
I managed to identify a memory leak, not sure if I caught all of them. can you test?

[2022-11-21 16:23] Monsterovich commented on #892
After almost an hour picom was only consuming 80 MB. Much better, but it seems to me that resizing the window allocates memory, but doesn't free it. Perhaps this is a specific "feature" of the NVidia driver.

[2022-11-21 16:50] Monsterovich commented on #892
Almost 2 hours: 124mb.

[2022-11-21 23:35] Anarky opened #936 "dual_kawase with transparent-clipping creates inner shadow"
### Platform
Archlinux

### GPU, drivers, and screen setup
[code]

### Environment
Awesome WM

### picom version
vgit-98a5c

<details>
<summary>Diagnostics</summary>
**Version:** vgit-98a5c

### Extensions:

* Shape: Yes
* XRandR: Yes
* Present: Present
### Misc:

* Use Overlay: No
  (Another compositor is already running)
* Config file used: /home/anarky/.config/picom.conf

### Drivers (inaccurat

[2022-11-22 15:11] #932 closed, assigned to nobody

[2022-11-22 16:26] yshui commented on #895
@tim77 hey, can you maybe have a look at #937 ?

[2022-11-23 09:52] mochaaP commented on #892
[code]

I'm experiencing this now. Latest master, Fedora 36, XFCE.

[2022-11-23 10:40] yshui commented on #892
@mochaaP which commit are you on? can you upload a trace with `--log-level=trace` as well, using apitrace.

and can you post your stack trace.

[2022-11-23 11:27] mochaaP commented on #892
Hmm, I'm not able to reproduce it in an hour since then. I have trace enabled now, when it crashes later I will post the trace here.

[2022-11-23 13:27] rayshabh opened #938 "Severe CPU Consumption"
### Platform

Arch Linux
Kernel: <code>5.15.79-1-lts</code>
### GPU, drivers, and screen setup

<details>
<summary><code>$ lspci|grep -i vga</code></summary>
VGA compatible controller: Intel Corporation HD Graphics 5500
</details>

<details>
<summary><code>$ lspci|grep -i display</code></summary>
Display controller: Advanced Micro Devices, Inc. [AMD/ATI] Sun XT [Radeon HD 8670A/8670M/8690M / R5 M3

[2022-11-23 14:15] majalcmaj commented on #437
Hi @yshui it just happened to me.
I'm running Arch:
`Linux mc 5.15.79-1-lts #1 SMP Wed, 16 Nov 2022 11:03:21 +0000 x86_64 GNU/Linux`
But the problem happened on different kernels as well.

The problem started happening when I picom was updated:
`[2022-11-18T14:38:33+0100] [ALPM] upgraded picom (9.1-3 -> 10-1)`

[pacman-2022-11-18.log](https://github.com/yshui/picom/files/10076249/pacman-2022-11-18

[2022-11-23 14:39] yshui commented on #437
@majalcmaj see #892

[2022-11-23 14:40] yshui commented on #938
looks like your are repeatedly trying to start picom while one is already running, maybe a problem with your i3 config?

[2022-11-23 14:41] Hippo0o commented on #344
@asklow I would suggest using the vsync setting from your graphics driver

[2022-11-23 14:45] Monsterovich commented on #892
After 20 hours of uptime, 192mb consumed.

[2022-11-23 15:18] rayshabh commented on #938
[code]
This is my configuration for picom.

[2022-11-23 16:32] Monsterovich commented on #892
@yshui There may be extra memory leaks. Could you please take a look? I can help.

[2022-11-23 18:45] blockhead100 opened #939 "config error"
![image](https://user-images.githubusercontent.com/55167737/203623378-1eaccf5c-c81a-4848-b2c4-984d0db2d7ec.png)
I dont see any thing bad with:
![image](https://user-images.githubusercontent.com/55167737/203623545-610517fc-268a-477f-82f3-62bd08759a91.png)

### Platform
Pop!_OS 22.04 LTS

### GPU, drivers, and screen setup
no gpu one screen

### Environment
i3-gaps and poly bar

### picom version
V9

[2022-11-23 18:49] blockhead100 commented on #939
my config did not attach for a bad file type error. here:
[picom.txt](https://github.com/yshui/picom/files/10078317/picom.txt)

[2022-11-23 19:04] r0-zero commented on #939
Hello

Popos is debian based and use ubuntu packages. In apt, unfortunately libconfig package is old and that is why you have errors. If you download and make the libconfig from github, your issue will get resolved

[2022-11-23 19:45] rayshabh commented on #938
Hey @yshui the problem is fixed! ☺ Actually, I wasn't aware of the presence of `picom.desktop` in `/etc/xdg/autostart` that was introduced in version `v10-rc1`.
My i3 config had both Picom Compositor exec command and XDG Autostart `dex` command, which was causing the issue. Since both commands trying to invoke the execution of the program. Now that I've removed the Picom exec command, the problem

[2022-11-23 19:45] #938 closed, assigned to nobody

[2022-11-23 20:21] yshui commented on #892
@Monsterovich does the apitrace leak script, or asan report anything?

[2022-11-23 22:04] yshui commented on #939
My guess is you have to remove the extra comma?

[2022-11-24 01:12] tim77 commented on #895
Hey, i've built `picom` with pcre2 patch for [Rawhide](https://koji.fedoraproject.org/koji/taskinfo?taskID=94474551) so these who interesting in testing please do. Also built for F37 in [Copr](https://copr.fedorainfracloud.org/coprs/atim/playground/).

[2022-11-24 02:00] r0-zero commented on #939
Oh in 89, yeah you are right. I used to have this issue on ubuntu jumped without reading :D

[2022-11-24 16:50] Minetest-j45 commented on #892
the leak is still happening to me, same as before
vram leak, which then starts using GTT when vram is 100% and gtt is just the graphics card using your ram as vram when the vram is full, from my understanding
version: vgit-98a5c

[2022-11-24 17:11] yshui commented on #892
@Minetest-j45 can you do what @Monsterovich did and upload a trace? i can't magically figure out where the leak this without any information.

[2022-11-24 18:04] Minetest-j45 commented on #892
will do, most likely tomorrow

[2022-11-24 21:37] Anarky commented on #936
Very small update: I was using an old version, it is now up-to-date but the issue is still the same.
I updated `picom --version` and `picom --diagnostics` on the first comment, if it helps.

[2022-11-25 14:13] mochaaP commented on #892
I am able to 100% reproduce this now.

- WM: i3 4.21.1 non-git
- Picom: vgit-a9db7

Steps to reproduce:

- Ensure rounded corners is on
- Open two window in a single workspace
- Switch i3 to tabbed/stacked mode
- Change window focus
- See SIGABRT

Attachements:

[picom.log](https://github.com/yshui/picom/files/10093397/picom.log)
[apitrace.log](https://github.com/yshui/picom/files/10093402/apitrac

[2022-11-25 14:14] mochaaP commented on #892
cc @yshui

[2022-11-25 16:53] Minetest-j45 commented on #892
hmm, odd, after running `sudo pacman -Syu` and reinstalling picom, to the same version as before (vgit-98a5c), i seem to be unable to reproduce the bug

incase it helps, here are the packages upgraded:
[code]

good that it doesnt happen anymore but i imagine it is frustrating for you as it will make debugging harder... :/

[2022-11-25 22:17] yshui commented on #892
@Minetest-j45 i guess it's fixed then :laughing:

please keep an eye on it if you can, in case it happens again.

[2022-11-26 00:48] lukiiimohh opened #941 "Picom conflict with Xorg"
**### Platform**
Arch 64

**### GPU, drivers, and screen setup**
VMWare GPU Drivers

**### Environment**
BSPWM

**### picom version and diagnostic**

[code]
### Configuration:
~/.config/picom/picom.conf

[code]

**### Steps of reproduction**
Dunno

**### Expected behavior**
As it does but without having a 90% on CPU usage with the process Xorg
### Current Behavior
Fatal behavior with a 90% CPU Usa

[2022-11-26 01:14] #820 closed

[2022-11-26 05:09] tm512 opened #943 "Glitchy screen tearing artifacts in ffmpeg's x11grab screen capture"
### Platform
Void Linux x86_64 w/ kernel 6.0.9

### GPU, drivers, and screen setup
GTX 750 Ti w/ nvidia proprietary 515.86.01

`glxinfo -B`:
[code]

relevant `xorg.conf` section:
[code]

### Environment
I'm using an old patched build of dwm from ca. 2015 on top of X.org Server 21.1.4. I could try making a new build of dwm, if that would make a meaningful difference here. I've just put it off for t

[2022-11-26 11:32] OopsYao commented on #435
For me, adding `_GTK_FRAME_EXTENTS@:c` in the shadow and blur excluding rules fixes this, which comes from the sample config file.
https://github.com/yshui/picom/blob/0141bfb3a7424f365538c988dfb5b93d92a50d85/picom.sample.conf#L51
Picom version: vgit-98a5c.

[2022-11-26 13:36] lukiiimohh commented on #941
I already checked #446 and my output from
`glxinfo -B` is the same as him, I dunno on how to change from "Device: llvmpipe" to te correct OpenGL device.

[2022-11-26 13:57] yshui commented on #943
hmm are you positive that this does not happen if picom is not running?

nonetheless, i think it's a good idea to report this to nvidia as well.

[2022-11-26 14:20] yshui commented on #941
Your gpu driver isn't properly set up. Look up how to install drivers in VMWare maybe? I am not even sure if VMWare supports 3D acceleration.

[2022-11-26 14:20] #941 closed, assigned to nobody

[2022-11-26 15:12] lukiiimohh commented on #941
Yes VMWare supports 3D acceleration and it is enabled, check this:
![image](https://user-images.githubusercontent.com/118058029/204095723-3339ec39-f973-4e3c-a87c-9d065a0d5d59.png)
And VMWare drivers are "VMWare tools"? because I have them updated and working.

[2022-11-26 16:05] Monsterovich commented on #892
@yshui I was able to catch !w->mask_image assertion.

[2022-11-26_17-59-35.mkv.zip](https://github.com/yshui/picom/files/10096579/2022-11-26_17-59-35.mkv.zip)

[log.txt](https://github.com/yshui/picom/files/10096581/log.txt)

[picom.trace.zip](https://github.com/yshui/picom/files/10096582/picom.trace.zip)

Could you please check what happened?

[2022-11-26 16:12] Monsterovich commented on #892
How to reproduce this:

1. Open firefox.
2. Go to https://bugs.winehq.org/
3. Type "vulkan" or anything into search (do it multiple times).
4. Crash.

[2022-11-26 22:14] Monsterovich commented on #943
@tm512 Why not use OBS, which has support for nvenc and recording individual windows?

[2022-11-26 22:16] Monsterovich commented on #892
@yshui Can you just delete this assert if it's not so important?

[2022-11-26 23:48] mochaaP commented on #892
If an assertion fails it means something definitely goes wrong. I don't think it's a good  idea

[2022-11-27 00:03] Monsterovich commented on #863
@yshui Even if I move the window over the regular conky widget, I notice a slight lag on the 144hz screen when the conky widget updates. There is no such thing on the Intel GPU.

[2022-11-27 00:22] tm512 commented on #943
@yshui I haven't really done much testing without, as my desktop is pretty much intolerable to use without picom running. The ever-present screen tearing that results from picom not running could also make it harder to spot this issue. I suppose I could test with "Force Composition Pipeline" enabled, and picom disabled, but the last time I tried FCP/FFCP, back on driver 470.x or so, it had a bruta

[2022-11-27 01:54] jayache80 opened #945 "picom: symbol lookup error: picom: undefined symbol: eglCreateImage"
### Platform

Arch Linux

### GPU, drivers, and screen setup

* Using NVidia driver 340.108 (provided by nvidia-340xx-dkms package) for NVidia 9400M on mid-2009 Macbook pro 5,5
* Using Mesa 22.2.3

<details>
<summary><code>glxinfo -B</code> output</summary>

[code]
</details>

<details>
<summary><code>eglinfo</code> output</summary>

[code]
</details>

### Environment

Using i3

### picom version

[2022-11-27 03:49] yshui commented on #945
what's the output of `glxinfo -B`? and maybe `eglinfo` as well.

[2022-11-27 03:50] yshui commented on #943
i don't see enough evidence suggesting this is a picom issue. maybe report to nvidia first and see what they say?

once you report back i can reopen this.

[2022-11-27 03:50] #943 closed, assigned to nobody

[2022-11-27 06:35] jayache80 commented on #945
Oops, forgot that. Orignial post edited, and here as well:

<details>
<summary><code>glxinfo -B</code> output</summary>

[code]
</details>

<details>
<summary><code>eglinfo</code> output</summary>

[code]
</details>

[2022-11-27 07:38] jayache80 commented on #945
Oh I think I know what's going on. 5a72b57 adds use of `eglCreateImage`. However, `eglCreateImage` simply didn't exist yet in this old nvidia-340xx libEGL implementation.

Per https://github.com/obsproject/obs-studio/issues/5302 a workaround is to run `picom` with `LD_PRELOAD=/usr/lib/libEGL.so` which will force it to use Mesa's libEGL implementation which has that symbol. Is this what you would r

[2022-11-27 11:17] Monsterovich commented on #863
And when the widget updates, x_fence_sync takes a lot to complete which lags the terminal window.

![изображение](https://user-images.githubusercontent.com/3750982/204132317-8300be65-8ccf-46d4-bca2-fd007fdfefe8.png)

[2022-11-27 14:56] yshui commented on #945
No I will work around it on my end.

[2022-11-27 18:03] #945 closed, assigned to nobody

[2022-11-28 06:52] efylan opened #946 "Feature Request: Allow corner-radius setting to specify separate corner rounding"
And have something like

`
corner-radius=["top-left=0","top-right=0", "bottom-left=4", "bottom-right=4"]
`

and/or

`
corner-radius=["top=0", "bottom=4"]
`

In addition to the way that it's specified presently.

[2022-11-28 10:19] yshui commented on #946
Duplicate of #918

[2022-11-28 10:20] #946 closed, assigned to nobody

[2022-11-28 17:55] blockhead100 commented on #939
where is this extra comma?

[2022-11-28 18:40] yshui commented on #939
line 89

[2022-11-28 18:40] #939 closed, assigned to nobody

[2022-11-28 20:52] yshui commented on #602
@tryone144 i just thought of this, i think before we do any dithering, we should try using 16bit textures to store the intermediary results

Edit: never mind, didn't help.

[2022-11-28 23:15] yshui commented on #602
Did some research on dithering algorithms. Ordered dithering looks... poor, and error-diffusion is tricky to implement on GPU.

mpv is using a compute shader for error diffusion, maybe we could consider requiring OpenGL >= 4.3 for dithering.

[2022-11-29 00:30] absolutelynothelix commented on #602
@yshui, maybe you don't remember me already, but you've awakened me :D

i resurrected my arch installation that i haven't booted for about two years and maybe i'll try to play with this since i had some experience with dithering (floyd-steinberg in particular, but afaik there are issues with implementing it as a shader) and i'm interested in this issue (at least for now, so no promises + i don't h

[2022-11-29 03:08] absolutelynothelix commented on #602
the first, dumb and pretty straightforward, approach is to apply some noise. it won't get rid of color banding completely, but i can see the difference (and it adds kinda aesthetic effect). it could be a fallback for old devices (if mpv's approach will be used and opengl >=4.3 will be required).
![zzz](https://user-images.githubusercontent.com/52252283/204429136-f4834f34-5344-462f-96a7-fff5108b6eb

[2022-11-29 05:42] mikejzx commented on #602
While that approach may seem dumb/naïve at first glance, I think it probably would be one of the better ways to go about doing it.

Unordered dithering algorithms such as Floyd-Steinberg will probably not produce good results because of "jittering" artifacts that are a result of the unpredictable error diffusion.  The addition or movement of a single pixel will cause a large region of the image to

[2022-11-29 05:55] absolutelynothelix commented on #602
@mikejzx, yep, i did some research on this topic overnight and it's generally a bad idea to do real-time dithering based on image contents (due to performance issues and artifacts, as you mentioned), it's better to apply some random noise. from what i've found blue noise is a good source of non-distracting noise for dithering.

[2022-11-29 06:17] absolutelynothelix commented on #602
i'm not that good at glsl, but here is a snippet i used on shadertoy to demonstrate noise applying:
[code]

and the "texture" i used to test it on (load with [https://www.shadertoy.com/view/lsGGDd](https://www.shadertoy.com/view/lsGGDd)):
[https://i.ibb.co/PC3x3Sr/bands.png](https://i.ibb.co/PC3x3Sr/bands.png)

[(source, i've adapted and simplified it a bit)](https://shader-tutorial.dev/advanced/c

[2022-11-29 23:15] tryone144 commented on #602
@yshui

That's what I expected. The banding occurs when drawing the final image to the screen. Doesn't matter if we have higher precision internally.

@mikejzx already mentioned the relevant points. :smile:
- Dithering either produces visible artifacts (ordered) or visual unrest (error distribution)
- Distributed noise is "simple" and sufficiently disturbs the regular pattern of the color bands
-

[2022-11-30 03:03] yshui commented on #602
I did say I don't like how ordered dithering looks, but I will try to see if I can put something together quickly to see what it looks like in practice.

Computationally ordered dithering should be pretty cheap.

[2022-11-30 04:20] yshui commented on #602
Actually, I was wrong, it looks pretty decent. See the dither branch.

The approach I've taken is using a 16-bit intermediary back buffer (the `->back_texture`), and apply dither at the final step. Otherwise, if I only use dither in blur shaders, other composition work would still cause precision loss (like alpha blending, etc.), and banding would still be visible.

With this approach I don't see

[2022-11-30 04:38] yshui commented on #602
fun side effect: i can use this to emulate a low color depth screen! :smile:

(this is what blur looks like on a 8-color screen, i turned up dither grain size as well)
![a](https://user-images.githubusercontent.com/366851/204709729-d0f47c7a-827a-40ff-9f4a-180bd9c6bdf8.png)

[2022-11-30 05:51] yshui commented on #602
hmm, btw, why do blur textures have an alpha channel?

[2022-11-30 12:36] notwidow opened #948 "question"
Hi, picom apply transparency to my alacritty terminal but it also applies while opening neovim in alacritty as well. how to make it to not transparent neovim when i run nvim in alacritty.

[2022-11-30 13:40] #948 closed, assigned to nobody

[2022-11-30 19:21] #895 closed